In [1]:
import os
import FinanceDataReader as fdr
from tqdm import tqdm
import pandas as pd

# pycaret 이용

## 삼성전자(005930) 테스트

* 종가와 상관계수 높은 특성 : KOSPI(0.79), KOSDAQ(0.87), DOW(0.58), NASDAQ(0.50), S&P500(0.56)
* 예측 순서(종가와 상관계수 높은 특성 먼저 예측)
    * 날짜로 종가 예측
    * 종가로 KOSDAQ 예측(종가와 상관계수 0.87)
    * 종가와 KOSDAQ으로 NASDAQ 예측(KOSDAQ과 상관계수 0.68)
    * 종가, KOSDAQ, NASDAQ으로 S&P500 예측(NASDAQ과 상관계수 0.93)
    * 종가, KOSDAQ, NASDAQ, S&P500으로 DOW 예측(S&P500과 상관계수 0.95)
    * 종가, KOSDAQ, NASDAQ, S&P500, DOW로 KOSPI 예측
    * 종가, 5가지 특성으로 다른 종가 예측

In [2]:
# 외부 데이터 가져오기
df = pd.read_csv('../data/20210104_20211119_data_interpolate.csv')
df.head()

,Date,exchange_rate,kospi,kosdaq,kospi100,dow,nasdaq,sp500,미국채10년-2년,BTC,Gold,Oil,US10Y,US2Y
0,2021-01-04,1086.48,2944.45,977.62,3052.74,30223.89,12698.4,3700.65,0.8009,36499000.0,37.10,32.38,0.918,0.1171
1,2021-01-05,1086.42,2990.57,985.76,3099.42,30391.60,12819.0,3726.86,0.8320,37962000.0,37.18,33.94,0.955,0.1230
2,2021-01-06,1087.93,2968.21,981.39,3070.05,30829.40,12740.8,3748.14,0.9002,40731000.0,36.60,34.11,1.039,0.1388
3,2021-01-07,1094.28,3031.68,988.86,3139.48,31041.13,13067.5,3803.79,0.9402,44575000.0,36.48,34.53,1.081,0.1408
4,2021-01-08,1092.93,3152.18,987.79,3293.96,31097.97,13202.0,3824.68,0.9821,47241000.0,35.26,35.43,1.119,0.1369

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           230 non-null    object
 1   exchange_rate  230 non-null    float64
 2   kospi          230 non-null    float64
 3   kosdaq         230 non-null    float64
 4   kospi100       230 non-null    float64
 5   dow            230 non-null    float64
 6   nasdaq         230 non-null    float64
 7   sp500          230 non-null    float64
 8   미국채10년-2년      230 non-null    float64
 9   BTC            230 non-null    float64
 10  Gold           230 non-null    float64
 11  Oil            230 non-null    float64
 12  US10Y          230 non-null    float64
 13  US2Y           230 non-null    float64
dtypes: float64(13), object(1)
memory usage: 25.3+ KB

In [4]:
# 종목 정보 가져오기
path = '../data'
list_name = 'Stock_List.csv'
stock_list = pd.read_csv(os.path.join(path,list_name))
stock_list.head()

        종목명    종목코드   상장시장
0      삼성전자    5930  KOSPI
1    SK하이닉스     660  KOSPI
2     NAVER   35420  KOSPI
3       카카오   35720  KOSPI
4  삼성바이오로직스  207940  KOSPI

In [5]:
# 종목 코드 6자리로 맞추기
stock_list['종목코드'] = stock_list["종목코드"].astype(str).str.zfill(6)
stock_list.head()

        종목명    종목코드   상장시장
0      삼성전자  005930  KOSPI
1    SK하이닉스  000660  KOSPI
2     NAVER  035420  KOSPI
3       카카오  035720  KOSPI
4  삼성바이오로직스  207940  KOSPI

In [6]:
start_date = '20210104'
end_date = '20211119'

In [7]:
Business_days = pd.DataFrame(pd.date_range(start_date,end_date,freq='B'), columns = ['Date'])
code = '005930'
data = fdr.DataReader(code, start = start_date, end = end_date)[['Close']].reset_index()
data = pd.merge(Business_days, data, how = 'outer')
data['weekday'] = data.Date.apply(lambda x : x.weekday())
data['weeknum'] = data.Date.apply(lambda x : x.strftime('%V'))
data.Close = data.Close.interpolate()

data['Date'] = data['Date'].astype('str')
data = pd.merge(data, df, on='Date')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 230 entries, 0 to 229
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           230 non-null    object
 1   Close          230 non-null    float64
 2   weekday        230 non-null    int64
 3   weeknum        230 non-null    object
 4   exchange_rate  230 non-null    float64
 5   kospi          230 non-null    float64
 6   kosdaq         230 non-null    float64
 7   kospi100       230 non-null    float64
 8   dow            230 non-null    float64
 9   nasdaq         230 non-null    float64
 10  sp500          230 non-null    float64
 11  미국채10년-2년      230 non-null    float64
 12  BTC            230 non-null    float64
 13  Gold           230 non-null    float64
 14  Oil            230 non-null    float64
 15  US10Y          230 non-null    float64
 16  US2Y           230 non-null    float64
dtypes: float64(14), int64(1), object(2)
memory usage: 32.3+ KB

### 데이터 셋 만들기

In [9]:
mod_data = data[['Date','Close','weekday','weeknum','kospi','kosdaq','dow','nasdaq','sp500']]
mod_data.head()

,Date,Close,weekday,weeknum,kospi,kosdaq,dow,nasdaq,sp500
0,2021-01-04,83000.0,0,01,2944.45,977.62,30223.89,12698.4,3700.65
1,2021-01-05,83900.0,1,01,2990.57,985.76,30391.60,12819.0,3726.86
2,2021-01-06,82200.0,2,01,2968.21,981.39,30829.40,12740.8,3748.14
3,2021-01-07,82900.0,3,01,3031.68,988.86,31041.13,13067.5,3803.79
4,2021-01-08,88800.0,4,01,3152.18,987.79,31097.97,13202.0,3824.68

In [10]:
train_data = mod_data.loc[mod_data['weeknum'].astype(int) < 44]
train_data

,Date,Close,weekday,weeknum,kospi,kosdaq,dow,nasdaq,sp500
0,2021-01-04,83000.0,0,01,2944.45,977.62,30223.89,12698.4,3700.65
1,2021-01-05,83900.0,1,01,2990.57,985.76,30391.60,12819.0,3726.86
2,2021-01-06,82200.0,2,01,2968.21,981.39,30829.40,12740.8,3748.14
3,2021-01-07,82900.0,3,01,3031.68,988.86,31041.13,13067.5,3803.79
4,2021-01-08,88800.0,4,01,3152.18,987.79,31097.97,13202.0,3824.68
...,...,...,...,...,...,...,...,...,...
210,2021-10-25,70200.0,0,43,3020.54,994.31,35743.78,15226.7,4566.48
211,2021-10-26,71100.0,1,43,3049.08,1011.76,35755.83,15235.7,4574.79
212,2021-10-27,70100.0,2,43,3025.49,1008.95,35491.48,15235.8,4551.68
213,2021-10-28,70700.0,3,43,3009.55,1000.13,35729.89,15448.1,4596.42
214,2021-10-29,69800.0,4,43,2970.68,992.33,35819.59,15498.4,4605.38

In [11]:
val_data = mod_data.loc[mod_data['weeknum'].astype(int) == 44]
val_data

,Date,Close,weekday,weeknum,kospi,kosdaq,dow,nasdaq,sp500
215,2021-11-01,69900.0,0,44,2978.94,998.57,35913.68,15595.9,4613.67
216,2021-11-02,71500.0,1,44,3013.49,1009.44,36053.09,15649.6,4630.65
217,2021-11-03,70400.0,2,44,2975.71,1005.00,36157.02,15811.6,4660.57
218,2021-11-04,70600.0,3,44,2983.22,1001.43,36124.66,15940.3,4680.06
219,2021-11-05,70200.0,4,44,2969.27,1001.35,36329.07,15971.6,4697.53

In [12]:
val_x = val_data[['Date','weekday','weeknum']]
val_y = val_data[['Date','Close']]

In [13]:
test_data = mod_data.loc[mod_data['weeknum'].astype(int) == 44]
test_data

,Date,Close,weekday,weeknum,kospi,kosdaq,dow,nasdaq,sp500
215,2021-11-01,69900.0,0,44,2978.94,998.57,35913.68,15595.9,4613.67
216,2021-11-02,71500.0,1,44,3013.49,1009.44,36053.09,15649.6,4630.65
217,2021-11-03,70400.0,2,44,2975.71,1005.00,36157.02,15811.6,4660.57
218,2021-11-04,70600.0,3,44,2983.22,1001.43,36124.66,15940.3,4680.06
219,2021-11-05,70200.0,4,44,2969.27,1001.35,36329.07,15971.6,4697.53

In [14]:
test_x = test_data[['Date','weekday','weeknum']]
test_y = test_data[['Date','Close']]

# 종가 예측

#### 1. kosdaq 예측
* 2. nasdaq
* 3. sp500
* 4. dow
* 5. kospi
* 6. 종가

In [15]:
from pycaret.regression import *

In [16]:
# setup
ex = setup(train_data, target='kosdaq', ignore_features=['Close','kospi','dow','nasdaq','sp500'])

In [17]:
# 모델 비교
compare_models()

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=-1, oob_score=False,
                      random_state=1191, verbose=0, warm_start=False)

In [18]:
# 모델 생성
rf = create_model('rf')

In [19]:
# 모델 튜닝
tuned_rf = tune_model(rf)

In [20]:
# 모델 훈련 완료
kosdaq_prediction_rf = finalize_model(tuned_rf)

In [21]:
# kosdaq 예측
kosdaq_pred = predict_model(kosdaq_prediction_rf, val_x)
kosdaq_pred

           Date  weekday weeknum        Label
215  2021-11-01        0      44  1013.014999
216  2021-11-02        1      44  1013.014999
217  2021-11-03        2      44  1013.014999
218  2021-11-04        3      44  1013.014999
219  2021-11-05        4      44  1013.014999

In [22]:
# val_x에 예측한 kosdaq 값 추가
val_x['kosdaq'] = kosdaq_pred['Label']
val_x

           Date  weekday weeknum       kosdaq
215  2021-11-01        0      44  1013.014999
216  2021-11-02        1      44  1013.014999
217  2021-11-03        2      44  1013.014999
218  2021-11-04        3      44  1013.014999
219  2021-11-05        4      44  1013.014999

* 1. kosdaq 예측
#### 2. nasdaq
* 3. sp500
* 4. dow
* 5. kospi
* 6. 다른 종가

In [23]:
# setup
ex = setup(train_data, target='nasdaq', ignore_features=['Close','kospi','dow','sp500'])

In [24]:
# 모델 비교
compare_models()

In [25]:
# 모델 생성
et = create_model('et')

In [26]:
# 모델 튜닝
tuned_et = tune_model(et)

In [27]:
# 훈련 완료
nasdaq_prediction_ef = finalize_model(tuned_et)

In [28]:
# nasdaq 예측
nasdaq_pred = predict_model(nasdaq_prediction_ef, val_x)
nasdaq_pred

           Date  weekday weeknum       kosdaq         Label
215  2021-11-01        0      44  1013.014999  14882.280630
216  2021-11-02        1      44  1013.014999  14878.714132
217  2021-11-03        2      44  1013.014999  14895.620934
218  2021-11-04        3      44  1013.014999  14897.983528
219  2021-11-05        4      44  1013.014999  14895.800864

In [29]:
# val_x에 예측 nasdaq 열 추가
val_x['nasdaq'] = nasdaq_pred['Label']
val_x

           Date  weekday weeknum       kosdaq        nasdaq
215  2021-11-01        0      44  1013.014999  14882.280630
216  2021-11-02        1      44  1013.014999  14878.714132
217  2021-11-03        2      44  1013.014999  14895.620934
218  2021-11-04        3      44  1013.014999  14897.983528
219  2021-11-05        4      44  1013.014999  14895.800864

* 1. kosdaq 예측
* 2. nasdaq
#### 3. sp500
* 4. dow
* 5. kospi
* 6. 다른 종가

In [30]:
# setup
ex = setup(train_data, target='sp500', ignore_features=['Close','kospi','dow'])

In [31]:
# 모델 비교
compare_models()

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=5035, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [32]:
# 모델 생성
gbr = create_model('gbr')

In [33]:
# 모델 튜닝
tuned_gbr = tune_model(gbr)

In [34]:
# 훈련 완료
sp500_prediction_gbr = finalize_model(tuned_gbr)

In [35]:
# nasdaq 예측
sp500_pred = predict_model(sp500_prediction_gbr, val_x)
sp500_pred

           Date  weekday weeknum       kosdaq        nasdaq        Label
215  2021-11-01        0      44  1013.014999  14882.280630  4461.974317
216  2021-11-02        1      44  1013.014999  14878.714132  4466.044291
217  2021-11-03        2      44  1013.014999  14895.620934  4469.903961
218  2021-11-04        3      44  1013.014999  14897.983528  4478.601341
219  2021-11-05        4      44  1013.014999  14895.800864  4478.818720

In [36]:
# val_x에 예측 nasdaq 열 추가
val_x['sp500'] = sp500_pred['Label']
val_x

           Date  weekday weeknum       kosdaq        nasdaq        sp500
215  2021-11-01        0      44  1013.014999  14882.280630  4461.974317
216  2021-11-02        1      44  1013.014999  14878.714132  4466.044291
217  2021-11-03        2      44  1013.014999  14895.620934  4469.903961
218  2021-11-04        3      44  1013.014999  14897.983528  4478.601341
219  2021-11-05        4      44  1013.014999  14895.800864  4478.818720

* 1. kosdaq 예측
* 2. nasdaq
* 3. sp500
#### 4. dow
* 5. kospi
* 6. 종가

In [37]:
# setup
ex = setup(train_data, target='dow', ignore_features=['Close','kospi'])

In [38]:
# 모델 비교
compare_models()

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=8276,
      selection='cyclic', tol=0.0001, warm_start=False)

In [39]:
# 모델 생성
ridge = create_model('ridge')

In [40]:
# 모델 튜닝
tuned_ridge = tune_model(ridge)

In [41]:
# 훈련 완료
dow_prediction_ridge = finalize_model(tuned_ridge)

In [42]:
# dow 예측
dow_pred_ridge = predict_model(dow_prediction_ridge, val_x)
dow_pred_ridge

,Date,weekday,weeknum,kosdaq,nasdaq,sp500,Label
215,2021-11-01,0,44,1013.014999,14882.280630,4461.974317,34982.164062
216,2021-11-02,1,44,1013.014999,14878.714132,4466.044291,35036.757812
217,2021-11-03,2,44,1013.014999,14895.620934,4469.903961,35057.343750
218,2021-11-04,3,44,1013.014999,14897.983528,4478.601341,35165.890625
219,2021-11-05,4,44,1013.014999,14895.800864,4478.818720,35160.136719

In [43]:
# val_x에 dow 열 추가
val_x['dow'] = dow_pred_ridge['Label']
val_x

,Date,weekday,weeknum,kosdaq,nasdaq,sp500,dow
215,2021-11-01,0,44,1013.014999,14882.280630,4461.974317,34982.164062
216,2021-11-02,1,44,1013.014999,14878.714132,4466.044291,35036.757812
217,2021-11-03,2,44,1013.014999,14895.620934,4469.903961,35057.343750
218,2021-11-04,3,44,1013.014999,14897.983528,4478.601341,35165.890625
219,2021-11-05,4,44,1013.014999,14895.800864,4478.818720,35160.136719

* 1. kosdaq 예측
* 2. nasdaq
* 3. sp500
* 4. dow
#### 5. kospi
* 6.  종가

In [45]:
# setup
ex = setup(train_data, target='kospi', ignore_features=['Close'])

In [47]:
# 모델 비교
compare_models()

In [48]:
# 모델 생성
cat = create_model('catboost')

In [49]:
# 모델 튜닝
tuned_cat = tune_model(cat)

In [50]:
# 훈련 완료
kospi_prediction_cat = finalize_model(tuned_cat)

In [51]:
# kospi 예측
kospi_pred_cat = predict_model(kospi_prediction_cat, val_x)
kospi_pred_cat

,Date,weekday,weeknum,kosdaq,nasdaq,sp500,dow,Label
215,2021-11-01,0,44,1013.014999,14882.280630,4461.974317,34982.164062,3109.411832
216,2021-11-02,1,44,1013.014999,14878.714132,4466.044291,35036.757812,3108.417746
217,2021-11-03,2,44,1013.014999,14895.620934,4469.903961,35057.343750,3106.819014
218,2021-11-04,3,44,1013.014999,14897.983528,4478.601341,35165.890625,3069.184414
219,2021-11-05,4,44,1013.014999,14895.800864,4478.818720,35160.136719,3066.742507

In [52]:
# val_x에 kospi 열 추가
val_x['kospi'] = kospi_pred_cat['Label']
val_x

,Date,weekday,weeknum,kosdaq,nasdaq,sp500,dow,kospi
215,2021-11-01,0,44,1013.014999,14882.280630,4461.974317,34982.164062,3109.411832
216,2021-11-02,1,44,1013.014999,14878.714132,4466.044291,35036.757812,3108.417746
217,2021-11-03,2,44,1013.014999,14895.620934,4469.903961,35057.343750,3106.819014
218,2021-11-04,3,44,1013.014999,14897.983528,4478.601341,35165.890625,3069.184414
219,2021-11-05,4,44,1013.014999,14895.800864,4478.818720,35160.136719,3066.742507

* 1. kosdaq 예측
* 2. nasdaq
* 3. sp500
* 4. dow
* 5. kospi
#### 6.  종가

In [53]:
# setup
ex = setup(train_data, target='Close')

In [54]:
# 모델 비교
compare_models()

In [55]:
# 모델 생성
cat = create_model('catboost')

In [56]:
# 모델 튜닝
tuned_cat = tune_model(cat)

In [58]:
# 훈련 완료
close_prediction_cat = finalize_model(tuned_cat)

In [59]:
# close 예측
close_pred_cat = predict_model(close_prediction_cat, val_x)
close_pred_cat

,Date,weekday,weeknum,kosdaq,nasdaq,sp500,dow,kospi,Label
215,2021-11-01,0,44,1013.014999,14882.280630,4461.974317,34982.164062,3109.411832,74553.642920
216,2021-11-02,1,44,1013.014999,14878.714132,4466.044291,35036.757812,3108.417746,74602.552563
217,2021-11-03,2,44,1013.014999,14895.620934,4469.903961,35057.343750,3106.819014,74356.379211
218,2021-11-04,3,44,1013.014999,14897.983528,4478.601341,35165.890625,3069.184414,71646.465879
219,2021-11-05,4,44,1013.014999,14895.800864,4478.818720,35160.136719,3066.742507,71707.955498

In [61]:
# val_x에 close 열 추가
val_x['Close'] = close_pred_cat['Label']
val_x

,Date,weekday,weeknum,kosdaq,nasdaq,sp500,dow,kospi,Close
215,2021-11-01,0,44,1013.014999,14882.280630,4461.974317,34982.164062,3109.411832,74553.642920
216,2021-11-02,1,44,1013.014999,14878.714132,4466.044291,35036.757812,3108.417746,74602.552563
217,2021-11-03,2,44,1013.014999,14895.620934,4469.903961,35057.343750,3106.819014,74356.379211
218,2021-11-04,3,44,1013.014999,14897.983528,4478.601341,35165.890625,3069.184414,71646.465879
219,2021-11-05,4,44,1013.014999,14895.800864,4478.818720,35160.136719,3066.742507,71707.955498

In [70]:
stock_close = {}
stock_close['Date'] = val_x['Date']
stock_close[code] = val_x['Close']

In [71]:
stock_close

{'Date': 215    2021-11-01
 216    2021-11-02
 217    2021-11-03
 218    2021-11-04
 219    2021-11-05
 Name: Date, dtype: object,
 '005930': 215    74553.642920
 216    74602.552563
 217    74356.379211
 218    71646.465879
 219    71707.955498
 Name: Close, dtype: float64}

In [72]:
all_stock_close = pd.DataFrame(stock_close)
all_stock_close

           Date        005930
215  2021-11-01  74553.642920
216  2021-11-02  74602.552563
217  2021-11-03  74356.379211
218  2021-11-04  71646.465879
219  2021-11-05  71707.955498

# 평가

In [65]:
def evaluation_index(pred, y):
    y_mean = y.mean()
    
    # MSE
    mse = ( (y - pred) ** 2 ).sum() / len(pred)
        
    # RMSE
    rmse = mse ** (1/2)
    
    # MAE
    mae = ( abs( y - pred ) ).sum() / len(pred)
    
    # R2
    y_mean = y.mean()
    upper = ( (y - pred) ** 2 ).sum()
    lower = ( (y - y_mean) ** 2 ).sum()
    fraction = upper / lower
    r2 = 1 - fraction
    
    #NMAE(Normalized Mean Absolute Error)-정규화 평균 절대 오차 척도
    nmae = ( abs( y - pred ) / y ).sum() / len(pred)
    
    # 평가지표 출력
    print(f"R2 = {r2}")
    print(f"MSE = {mse}")
    print(f"RMSE = {rmse}")
    print(f"MAE = {mae}")
    print(f"NMAE = {nmae}")
    print(f"NMAE * 100 = {nmae*100}")

In [66]:
evaluation_index(val_x['Close'], val_y['Close'])

R2 = -33.26715389361069
MSE = 10060836.383164098
RMSE = 3171.882151525195
MAE = 2853.3992142376082
NMAE = 0.040493988724138494
NMAE * 100 = 4.04939887241385