In [2]:
!pip install finance-datareader

Collecting finance-datareader
  Downloading finance_datareader-0.9.31-py3-none-any.whl (17 kB)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.62.3)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (1.1.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.2.6)
Collecting requests-file
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2.10)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.31 requests-file-1.5.1

In [65]:
import FinanceDataReader as fdr
from tqdm import tqdm
import pandas as pd

In [6]:
!pip install pycaret

Collecting pycaret
  Downloading pycaret-2.3.5-py3-none-any.whl (288 kB)
     |████████████████████████████████| 288 kB 5.3 MB/s
Requirement already satisfied: yellowbrick>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.3.post1)
Requirement already satisfied: textblob in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.15.3)
Collecting mlxtend>=0.17.0
  Downloading mlxtend-0.19.0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 42.3 MB/s
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.7/dist-packages (from pycaret) (7.6.5)
Requirement already satisfied: scipy<=1.5.4 in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.4.1)
Collecting Boruta
  Downloading Boruta-0.3-py3-none-any.whl (56 kB)
     |████████████████████████████████| 56 kB 4.5 MB/s
Collecting mlflow
  Downloading mlflow-1.21.0-py3-none-any.whl (16.9 MB)
     |████████████████████████████████| 16.9 MB 215 kB/s
Collecting pyLDAvis
  Downloading pyLDAvis-3.3.1.tar.gz (1.7 MB)
     |████████████████████████████████| 1.7 MB 36.5 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
    Preparing wheel metadata ... done
Collecting scikit-learn==0.23.2
  Downloading scikit_learn-0.23.2-cp37-cp37m-manylinux1_x86_64.whl (6.8 MB)
     |████████████████████████████████| 6.8 MB 43.6 MB/s
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.11.2)
Collecting imbalanced-learn==0.7.0
  Downloading imbalanced_learn-0.7.0-py3-none-any.whl (167 kB)
     |████████████████████████████████| 167 kB 51.8 MB/s
Requirement already satisfied: plotly>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from pycaret) (4.4.1)
Collecting kmodes>=0.10.1
  Downloading kmodes-0.11.1-py2.py3-none-any.whl (19 kB)
Collecting pandas-profiling>=2.8.0
  Downloading pandas_profiling-3.1.0-py2.py3-none-any.whl (261 kB)
     |████████████████████████████████| 261 kB 43.7 MB/s
Requirement already satisfied: cufflinks>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.17.3)
Requirement already satisfied: spacy<2.4.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (2.2.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.1.5)
Requirement already satisfied: wordcloud in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.5.0)
Requirement already satisfied: gensim<4.0.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.6.0)
Requirement already satisfied: numpy==1.19.5 in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.19.5)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.2.5)
Collecting lightgbm>=2.3.1
  Downloading lightgbm-3.3.1-py3-none-manylinux1_x86_64.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 28.1 MB/s
Collecting scikit-plot
  Downloading scikit_plot-0.3.7-py3-none-any.whl (33 kB)
Collecting umap-learn
  Downloading umap-learn-0.5.2.tar.gz (86 kB)
     |████████████████████████████████| 86 kB 5.8 MB/s
Requirement already satisfied: IPython in /usr/local/lib/python3.7/dist-packages (from pycaret) (5.5.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.1.0)
Collecting pyod
  Downloading pyod-0.9.5.tar.gz (113 kB)
     |████████████████████████████████| 113 kB 44.2 MB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.2.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.23.2->pycaret) (3.0.0)
Requirement already satisfied: colorlover>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from cufflinks>=0.17.0->pycaret) (0.3.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from cufflinks>=0.17.0->pycaret) (1.15.0)
Requirement already satisfied: setuptools>=34.4.1 in /usr/local/lib/python3.7/dist-packages (from cufflinks>=0.17.0->pycaret) (57.4.0)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim<4.0.0->pycaret) (5.2.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (5.1.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (2.6.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (1.0.18)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (0.8.1)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (3.5.2)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (4.10.1)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (5.1.3)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (0.2.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (1.0.2)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (5.3.5)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (5.1.1)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (from lightgbm>=2.3.1->pycaret) (0.37.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (3.0.6)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (4.9.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (2.6.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pycaret) (2018.9)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (2.11.3)
Collecting phik>=0.11.1
  Downloading phik-0.12.0-cp37-cp37m-manylinux2010_x86_64.whl (675 kB)
     |████████████████████████████████| 675 kB 36.3 MB/s
Collecting pydantic>=1.8.1
  Downloading pydantic-1.8.2-cp37-cp37m-manylinux2014_x86_64.whl (10.1 MB)
     |████████████████████████████████| 10.1 MB 35.0 MB/s
Collecting joblib
  Downloading joblib-1.0.1-py3-none-any.whl (303 kB)
     |████████████████████████████████| 303 kB 43.0 MB/s
Requirement already satisfied: markupsafe~=2.0.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (2.0.1)
Collecting htmlmin>=0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
Requirement already satisfied: tqdm>=4.48.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (4.62.3)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.5.0)
Collecting tangled-up-in-unicode==0.1.0
  Downloading tangled_up_in_unicode-0.1.0-py3-none-any.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 31.0 MB/s
Collecting requests>=2.24.0
  Downloading requests-2.26.0-py2.py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 805 kB/s
Collecting PyYAML>=5.0.0
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |████████████████████████████████| 596 kB 36.2 MB/s
Collecting visions[type_image_path]==0.7.4
  Downloading visions-0.7.4-py3-none-any.whl (102 kB)
     |████████████████████████████████| 102 kB 11.3 MB/s
Collecting multimethod>=1.4
  Downloading multimethod-1.6-py3-none-any.whl (9.4 kB)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling>=2.8.0->pycaret) (21.2.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling>=2.8.0->pycaret) (2.6.3)
Collecting imagehash
  Downloading ImageHash-4.2.1.tar.gz (812 kB)
     |████████████████████████████████| 812 kB 43.1 MB/s
Requirement already satisfied: Pillow in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling>=2.8.0->pycaret) (7.1.2)
Collecting scipy<=1.5.4
  Downloading scipy-1.5.4-cp37-cp37m-manylinux1_x86_64.whl (25.9 MB)
     |████████████████████████████████| 25.9 MB 37.8 MB/s
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.4.1->pycaret) (1.3.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->IPython->pycaret) (0.2.5)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pydantic>=1.8.1->pandas-profiling>=2.8.0->pycaret) (3.10.0.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2021.10.8)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.0.5)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (2.0.6)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (0.4.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (3.0.6)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.0.0)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (0.8.2)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (7.4.0)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.1.3)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.0.6)
Requirement already satisfied: importlib-metadata>=0.20 in /usr/local/lib/python3.7/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy<2.4.0->pycaret) (4.8.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy<2.4.0->pycaret) (3.6.0)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets->pycaret) (5.3.1)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (5.6.1)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.12.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.8.0)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets->pycaret) (22.3.0)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.1->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.7.0)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.7/dist-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling>=2.8.0->pycaret) (1.2.0)
Requirement already satisfied: sqlparse>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (0.4.2)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (7.1.2)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.3.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (0.3)
Collecting querystring-parser
  Downloading querystring_parser-1.2.4-py2.py3-none-any.whl (7.9 kB)
Collecting docker>=4.0.0
  Downloading docker-5.0.3-py2.py3-none-any.whl (146 kB)
     |████████████████████████████████| 146 kB 44.6 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (21.3)
Collecting alembic<=1.4.1
  Downloading alembic-1.4.1.tar.gz (1.1 MB)
     |████████████████████████████████| 1.1 MB 36.4 MB/s
Requirement already satisfied: Flask in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.1.4)
Collecting databricks-cli>=0.8.7
  Downloading databricks-cli-0.16.2.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 4.9 MB/s
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.4.27)
Collecting gitpython>=2.1.0
  Downloading GitPython-3.1.24-py3-none-any.whl (180 kB)
     |████████████████████████████████| 180 kB 34.6 MB/s
Collecting gunicorn
  Downloading gunicorn-20.1.0-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 7.9 MB/s
Collecting prometheus-flask-exporter
  Downloading prometheus_flask_exporter-0.18.6-py3-none-any.whl (17 kB)
Requirement already satisfied: protobuf>=3.7.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (3.17.3)
Collecting Mako
  Downloading Mako-1.1.6-py2.py3-none-any.whl (75 kB)
     |████████████████████████████████| 75 kB 4.2 MB/s
Collecting python-editor>=0.3
  Downloading python_editor-1.0.4-py3-none-any.whl (4.9 kB)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.7/dist-packages (from databricks-cli>=0.8.7->mlflow->pycaret) (0.8.9)
Collecting websocket-client>=0.32.0
  Downloading websocket_client-1.2.1-py2.py3-none-any.whl (52 kB)
     |████████████████████████████████| 52 kB 1.4 MB/s
Collecting gitdb<5,>=4.0.1
  Downloading gitdb-4.0.9-py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.6 MB/s
Collecting smmap<6,>=3.0.1
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->mlflow->pycaret) (1.1.2)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask->mlflow->pycaret) (1.1.0)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask->mlflow->pycaret) (1.0.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.5.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.7.1)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.8.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (4.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.7/dist-packages (from prometheus-flask-exporter->mlflow->pycaret) (0.12.0)
Collecting pyLDAvis
  Downloading pyLDAvis-3.3.0.tar.gz (1.7 MB)
     |████████████████████████████████| 1.7 MB 22.7 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
    Preparing wheel metadata ... done
  Downloading pyLDAvis-3.2.2.tar.gz (1.7 MB)
     |████████████████████████████████| 1.7 MB 35.6 MB/s
Requirement already satisfied: numexpr in /usr/local/lib/python3.7/dist-packages (from pyLDAvis->pycaret) (2.7.3)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from pyLDAvis->pycaret) (0.16.0)
Collecting funcy
  Downloading funcy-1.16-py2.py3-none-any.whl (32 kB)
Requirement already satisfied: numba>=0.35 in /usr/local/lib/python3.7/dist-packages (from pyod->pycaret) (0.51.2)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from pyod->pycaret) (0.10.2)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.35->pyod->pycaret) (0.34.0)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from statsmodels->pyod->pycaret) (0.5.2)
Collecting pynndescent>=0.5
  Downloading pynndescent-0.5.5.tar.gz (1.1 MB)
     |████████████████████████████████| 1.1 MB 32.5 MB/s
Building wheels for collected packages: htmlmin, imagehash, alembic, databricks-cli, pyLDAvis, pyod, umap-learn, pynndescent
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27098 sha256=b601214edb58d3295f6dae058bd0ce676526ff676c451169eadc815f88265350
  Stored in directory: /root/.cache/pip/wheels/70/e1/52/5b14d250ba868768823940c3229e9950d201a26d0bd3ee8655
  Building wheel for imagehash (setup.py) ... done
  Created wheel for imagehash: filename=ImageHash-4.2.1-py2.py3-none-any.whl size=295207 sha256=5463bf0e4abc91050366504876f5d323daecbfb5ae874da5f6f30f80a8a1859d
  Stored in directory: /root/.cache/pip/wheels/4c/d5/59/5e3e297533ddb09407769762985d134135064c6831e29a914e
  Building wheel for alembic (setup.py) ... done
  Created wheel for alembic: filename=alembic-1.4.1-py2.py3-none-any.whl size=158172 sha256=63774189638c65e7e6e67abbb9e90bcf84a6d19669c9fd96e7b28cc4ddee9ba8
  Stored in directory: /root/.cache/pip/wheels/be/5d/0a/9e13f53f4f5dfb67cd8d245bb7cdffe12f135846f491a283e3
  Building wheel for databricks-cli (setup.py) ... done

In [7]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.0.3-cp37-none-manylinux1_x86_64.whl (76.3 MB)
     |████████████████████████████████| 76.3 MB 1.4 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.5.4)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.6)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-1.0.3

# Pycaret 이용

## 모든 종목 예측

* 종가와 상관계수 높은 특성 : KOSDAQ(0.87), KOSPI(0.79), DOW(0.58), NASDAQ(0.50), S&P500(0.56)
* 예측 순서(종가와 상관계수 높은 특성 먼저 예측)
    * weekday, weeknumdm로 KOSDAQ 예측(종가와 상관계수 0.87)
    * weekday, weeknum, KOSDAQ으로 NASDAQ 예측(KOSDAQ과 상관계수 0.68)
    * weekday, weeknum, KOSDAQ, NASDAQ으로 S&P500 예측(NASDAQ과 상관계수 0.93)
    * weekday, weeknum, KOSDAQ, NASDAQ, S&P500으로 DOW 예측(S&P500과 상관계수 0.95)
    * weekday, weeknum, KOSDAQ, NASDAQ, S&P500, DOW로 KOSPI 예측
    * weekday, weeknum, KOSDAQ, NASDAQ, S&P500, DOW, KOSPI로 다른 종가 예측

In [4]:
# 제출 점수 :
# 자체 평가 점수 : 140.8549

In [1]:
from pycaret.regression import *

# 데이터 불러오기(첫번째 주)
* 훈련 : 10.04 ~ 10.29
* 예측 : 11.01 ~ 11.05

In [ ]:
start_date = '2021-10-04'
end_date = '2021-10-29'

In [ ]:
Business_days = pd.DataFrame(pd.date_range(start_date,end_date,freq='B'), columns = ['Date'])

### train set

In [29]:
all_train1 = pd.read_csv('20211004_29_all_train.csv')

In [30]:
# 20일 * 370종목 = 7400
all_train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7400 entries, 0 to 7399
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     7400 non-null   object
 1   weekday  7400 non-null   int64
 2   weeknum  7400 non-null   int64
 3   kosdaq   7400 non-null   float64
 4   nasdaq   7400 non-null   float64
 5   sp500    7400 non-null   float64
 6   dow      7400 non-null   float64
 7   kospi    7400 non-null   float64
 8   code     7400 non-null   int64
 9   Close    6660 non-null   float64
dtypes: float64(6), int64(3), object(1)
memory usage: 578.2+ KB

In [31]:
all_train1.head()

,Date,weekday,weeknum,kosdaq,nasdaq,sp500,dow,kospi,code,Close
0,2021-10-04,0,40,969.285,14255.5,4300.46,34003.58,2990.675,5930,NaN
1,2021-10-05,1,40,955.370,14433.8,4345.72,34315.99,2962.170,5930,72200.0
2,2021-10-06,2,40,922.360,14501.9,4363.55,34417.98,2908.310,5930,71300.0
3,2021-10-07,3,40,953.430,14654.0,4399.76,34754.15,2959.460,5930,71600.0
4,2021-10-08,4,40,953.110,14579.5,4391.36,34746.71,2956.300,5930,71500.0

In [32]:
# 종목 코드 6자리로 맞추기
all_train1['code'] = all_train1['code'].astype(str).str.zfill(6)

In [33]:
all_train1.head()

,Date,weekday,weeknum,kosdaq,nasdaq,sp500,dow,kospi,code,Close
0,2021-10-04,0,40,969.285,14255.5,4300.46,34003.58,2990.675,005930,NaN
1,2021-10-05,1,40,955.370,14433.8,4345.72,34315.99,2962.170,005930,72200.0
2,2021-10-06,2,40,922.360,14501.9,4363.55,34417.98,2908.310,005930,71300.0
3,2021-10-07,3,40,953.430,14654.0,4399.76,34754.15,2959.460,005930,71600.0
4,2021-10-08,4,40,953.110,14579.5,4391.36,34746.71,2956.300,005930,71500.0

### test set

In [34]:
all_test1 = pd.read_csv('20210104_1029_pred_1101_05_all_test.csv')

In [35]:
# 5일 * 370 종목 = 1850
all_test1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1850 entries, 0 to 1849
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1850 non-null   int64
 1   Date        1850 non-null   object
 2   weekday     1850 non-null   int64
 3   weeknum     1850 non-null   int64
 4   kosdaq      1850 non-null   float64
 5   nasdaq      1850 non-null   float64
 6   sp500       1850 non-null   float64
 7   dow         1850 non-null   float64
 8   kospi       1850 non-null   float64
 9   code        1850 non-null   int64
dtypes: float64(5), int64(4), object(1)
memory usage: 144.7+ KB

In [36]:
all_test1.head()

,Unnamed: 0,Date,weekday,weeknum,kosdaq,nasdaq,sp500,dow,kospi,code
0,0,2021-11-01,0,44,972.09940,14971.576678,4483.7295,35186.918,2974.4010,5930
1,1,2021-11-02,1,44,972.51996,14975.816364,4484.8213,35193.470,2974.6333,5930
2,2,2021-11-03,2,44,971.22910,14958.857623,4480.5170,35167.760,2972.5112,5930
3,3,2021-11-04,3,44,973.40875,14980.056049,4485.9893,35200.984,2977.3590,5930
4,4,2021-11-05,4,44,973.42645,14980.056049,4486.3213,35205.234,2974.0273,5930

In [37]:
all_test1['code'] = all_test1['code'].astype(str).str.zfill(6)

In [38]:
all_test1.head()

,Unnamed: 0,Date,weekday,weeknum,kosdaq,nasdaq,sp500,dow,kospi,code
0,0,2021-11-01,0,44,972.09940,14971.576678,4483.7295,35186.918,2974.4010,005930
1,1,2021-11-02,1,44,972.51996,14975.816364,4484.8213,35193.470,2974.6333,005930
2,2,2021-11-03,2,44,971.22910,14958.857623,4480.5170,35167.760,2972.5112,005930
3,3,2021-11-04,3,44,973.40875,14980.056049,4485.9893,35200.984,2977.3590,005930
4,4,2021-11-05,4,44,973.42645,14980.056049,4486.3213,35205.234,2974.0273,005930

## 8가지 특성으로 종목별 첫번째 주 종가 예측

In [39]:
model1=setup(
    all_train1, target = 'Close',ignore_features=['weeknum'], silent=False,
    categorical_features=['code'], fold=4, fold_shuffle=True, use_gpu=True
    )

tuned_model1 = tune_model(
    compare_models(sort='MAPE', n_select=1, exclude=['knn','huber','llar','omp','par'])
)

final_model1 = finalize_model(tuned_model1)

pred1 = predict_model(final_model1, all_test1.drop('weeknum',axis=1))

             MAE           MSE        RMSE      R2   RMSLE    MAPE
0     49630.8086  6.895561e+09  83039.5121  0.6357  1.0756  1.5094
1     55259.9513  9.205546e+09  95945.5374  0.5054  1.0686  1.2758
2     50725.6417  7.689041e+09  87687.1750  0.6572  1.0553  1.3737
3     51853.9754  7.930925e+09  89055.7431  0.5879  1.0561  1.3171
Mean  51867.5943  7.930268e+09  88931.9919  0.5965  1.0639  1.3690
SD     2110.4228  8.299315e+08   4622.6622  0.0583  0.0086  0.0882

In [40]:
save_model(final_model1, 'pred_model1')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=['code'],
                                       display_types=True,
                                       features_todrop=['weeknum'],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='Close',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 num...
                  RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                        criterion='mae', max_depth=10,
                                        max_features=1.0, max_leaf_nodes=None,
                                        max_samples=None,
                                        min_impurity_decrease=0.0005,
                                        min_impurity_split=None,
                                        min_samples_leaf=3, min_samples_split=5,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=110, n_jobs=-1,
                                        oob_score=False, random_state=8287,
                                        verbose=0, warm_start=False)]],
          verbose=False), 'pred_model1.pkl')

In [41]:
pred1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1850 entries, 0 to 1849
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1850 non-null   int64
 1   Date        1850 non-null   object
 2   weekday     1850 non-null   int64
 3   kosdaq      1850 non-null   float64
 4   nasdaq      1850 non-null   float64
 5   sp500       1850 non-null   float64
 6   dow         1850 non-null   float64
 7   kospi       1850 non-null   float64
 8   code        1850 non-null   object
 9   Label       1850 non-null   float64
dtypes: float64(6), int64(2), object(2)
memory usage: 144.7+ KB

In [42]:
pred1.tail(20)

      Unnamed: 0        Date  weekday  ...      kospi    code         Label
1830           0  2021-11-01        0  ...  2974.4010  064260  43205.113636
1831           1  2021-11-02        1  ...  2974.6333  064260  43095.200000
1832           2  2021-11-03        2  ...  2972.5112  064260  43060.268182
1833           3  2021-11-04        3  ...  2977.3590  064260  43282.131818
1834           4  2021-11-05        4  ...  2974.0273  064260  42908.545455
1835           0  2021-11-01        0  ...  2974.4010  287410  43205.113636
1836           1  2021-11-02        1  ...  2974.6333  287410  43095.200000
1837           2  2021-11-03        2  ...  2972.5112  287410  43060.268182
1838           3  2021-11-04        3  ...  2977.3590  287410  43282.131818
1839           4  2021-11-05        4  ...  2974.0273  287410  42908.545455
1840           0  2021-11-01        0  ...  2974.4010  110790  43205.113636
1841           1  2021-11-02        1  ...  2974.6333  110790  43095.200000
1842           2  2021-11-03        2  ...  2972.5112  110790  43060.268182
1843           3  2021-11-04        3  ...  2977.3590  110790  43282.131818
1844           4  2021-11-05        4  ...  2974.0273  110790  42908.545455
1845           0  2021-11-01        0  ...  2974.4010  099320  43205.113636
1846           1  2021-11-02        1  ...  2974.6333  099320  43095.200000
1847           2  2021-11-03        2  ...  2972.5112  099320  43060.268182
1848           3  2021-11-04        3  ...  2977.3590  099320  43282.131818
1849           4  2021-11-05        4  ...  2974.0273  099320  42908.545455

[20 rows x 10 columns]

# 데이터 불러오기(두번째 주)
* 훈련 : 10.25 ~ 11.19
* 예측 : 11.29 ~ 12.03

### train set2

In [46]:
all_train2 = pd.read_csv('20211025_1119_all_train.csv')

In [47]:
# 20일 * 370종목 = 7400
all_train2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7400 entries, 0 to 7399
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     7400 non-null   object
 1   weekday  7400 non-null   int64
 2   weeknum  7400 non-null   int64
 3   kosdaq   7400 non-null   float64
 4   nasdaq   7400 non-null   float64
 5   sp500    7400 non-null   float64
 6   dow      7400 non-null   float64
 7   kospi    7400 non-null   float64
 8   code     7400 non-null   int64
 9   Close    7397 non-null   float64
dtypes: float64(6), int64(3), object(1)
memory usage: 578.2+ KB

In [48]:
all_train2.head()

         Date  weekday  weeknum   kosdaq  ...       dow    kospi  code    Close
0  2021-10-25        0       43   994.31  ...  35743.78  3020.54  5930  70200.0
1  2021-10-26        1       43  1011.76  ...  35755.83  3049.08  5930  71100.0
2  2021-10-27        2       43  1008.95  ...  35491.48  3025.49  5930  70100.0
3  2021-10-28        3       43  1000.13  ...  35729.89  3009.55  5930  70700.0
4  2021-10-29        4       43   992.33  ...  35819.59  2970.68  5930  69800.0

[5 rows x 10 columns]

In [49]:
all_train2['code'] = all_train2['code'].astype(str).str.zfill(6)

In [50]:
all_train2.head()

         Date  weekday  weeknum   kosdaq  ...       dow    kospi    code    Close
0  2021-10-25        0       43   994.31  ...  35743.78  3020.54  005930  70200.0
1  2021-10-26        1       43  1011.76  ...  35755.83  3049.08  005930  71100.0
2  2021-10-27        2       43  1008.95  ...  35491.48  3025.49  005930  70100.0
3  2021-10-28        3       43  1000.13  ...  35729.89  3009.55  005930  70700.0
4  2021-10-29        4       43   992.33  ...  35819.59  2970.68  005930  69800.0

[5 rows x 10 columns]

### test set2

In [51]:
all_test2 = pd.read_csv('20211025_1119_pred_1129_1203_all_test.csv')

In [52]:
# 5일 * 370종목 = 1850
all_test2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1850 entries, 0 to 1849
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     1850 non-null   object
 1   weekday  1850 non-null   int64
 2   weeknum  1850 non-null   int64
 3   kosdaq   1850 non-null   float64
 4   nasdaq   1850 non-null   float64
 5   sp500    1850 non-null   float64
 6   dow      1850 non-null   float64
 7   kospi    1850 non-null   float64
 8   code     1850 non-null   int64
dtypes: float64(5), int64(3), object(1)
memory usage: 130.2+ KB

In [53]:
all_test2.head()

         Date  weekday  weeknum  ...        dow        kospi  code
0  2021-11-29        0       48  ...  35954.460  2971.095891  5930
1  2021-11-30        1       48  ...  36125.670  3003.252271  5930
2  2021-12-01        2       48  ...  35941.957  2971.845081  5930
3  2021-12-02        3       48  ...  35830.055  2977.736577  5930
4  2021-12-03        4       48  ...  35812.945  2977.736577  5930

[5 rows x 9 columns]

In [54]:
all_test2['code'] = all_test2['code'].astype(str).str.zfill(6)

In [55]:
all_test2.head()

         Date  weekday  weeknum  ...        dow        kospi    code
0  2021-11-29        0       48  ...  35954.460  2971.095891  005930
1  2021-11-30        1       48  ...  36125.670  3003.252271  005930
2  2021-12-01        2       48  ...  35941.957  2971.845081  005930
3  2021-12-02        3       48  ...  35830.055  2977.736577  005930
4  2021-12-03        4       48  ...  35812.945  2977.736577  005930

[5 rows x 9 columns]

### 2. 8가지 특성으로 종목별 두번째 주 종가 예측

In [56]:
model2 = setup(
    all_train2, target = 'Close',ignore_features=['weeknum'], silent=False,
     categorical_features=['code'], fold=4, fold_shuffle=True, use_gpu=True
     )

tuned_model2 = tune_model(
    compare_models(sort='MAPE', n_select=1, exclude=['knn','huber','llar','omp','par'])
)

final_model2 = finalize_model(tuned_model2)

pred2 = predict_model(final_model2, all_test2.drop('weeknum',axis=1))

             MAE           MSE        RMSE      R2   RMSLE    MAPE
0     56079.0564  6.326679e+09  79540.4226  0.6438  1.2394  2.5563
1     56164.9100  6.926200e+09  83223.7967  0.6278  1.1823  2.2456
2     56282.0915  6.962635e+09  83442.4034  0.6503  1.2260  2.5019
3     55789.8165  6.506909e+09  80665.4117  0.6738  1.2427  2.6250
Mean  56078.9686  6.680606e+09  81718.0086  0.6489  1.2226  2.4822
SD      181.8335  2.717039e+08   1665.1408  0.0165  0.0241  0.1434

In [57]:
save_model(final_model2, 'pred_model2')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=['code'],
                                       display_types=True,
                                       features_todrop=['weeknum'],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='Close',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 num...
                  RandomForestRegressor(bootstrap=False, ccp_alpha=0.0,
                                        criterion='mse', max_depth=10,
                                        max_features=1.0, max_leaf_nodes=None,
                                        max_samples=None,
                                        min_impurity_decrease=0.2,
                                        min_impurity_split=None,
                                        min_samples_leaf=6, min_samples_split=5,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=280, n_jobs=-1,
                                        oob_score=False, random_state=5334,
                                        verbose=0, warm_start=False)]],
          verbose=False), 'pred_model2.pkl')

In [58]:
pred2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1850 entries, 0 to 1849
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     1850 non-null   object
 1   weekday  1850 non-null   int64
 2   kosdaq   1850 non-null   float64
 3   nasdaq   1850 non-null   float64
 4   sp500    1850 non-null   float64
 5   dow      1850 non-null   float64
 6   kospi    1850 non-null   float64
 7   code     1850 non-null   object
 8   Label    1850 non-null   float64
dtypes: float64(6), int64(1), object(2)
memory usage: 130.2+ KB

In [59]:
pred2.head(20)

          Date  weekday       kosdaq  ...        kospi    code         Label
0   2021-11-29        0   994.300008  ...  2971.095891  005930  88129.581694
1   2021-11-30        1  1009.960002  ...  3003.252271  005930  89028.107124
2   2021-12-01        2   997.817456  ...  2971.845081  005930  88143.734759
3   2021-12-02        3   997.817456  ...  2977.736577  005930  88106.852790
4   2021-12-03        4  1000.700012  ...  2977.736577  005930  88107.890193
5   2021-11-29        0   994.300008  ...  2971.095891  000660  88129.581694
6   2021-11-30        1  1009.960002  ...  3003.252271  000660  89028.107124
7   2021-12-01        2   997.817456  ...  2971.845081  000660  88143.734759
8   2021-12-02        3   997.817456  ...  2977.736577  000660  88106.852790
9   2021-12-03        4  1000.700012  ...  2977.736577  000660  88107.890193
10  2021-11-29        0   994.300008  ...  2971.095891  035420  88129.581694
11  2021-11-30        1  1009.960002  ...  3003.252271  035420  89028.107124
12  2021-12-01        2   997.817456  ...  2971.845081  035420  88143.734759
13  2021-12-02        3   997.817456  ...  2977.736577  035420  88106.852790
14  2021-12-03        4  1000.700012  ...  2977.736577  035420  88107.890193
15  2021-11-29        0   994.300008  ...  2971.095891  035720  88129.581694
16  2021-11-30        1  1009.960002  ...  3003.252271  035720  89028.107124
17  2021-12-01        2   997.817456  ...  2971.845081  035720  88143.734759
18  2021-12-02        3   997.817456  ...  2977.736577  035720  88106.852790
19  2021-12-03        4  1000.700012  ...  2977.736577  035720  88107.890193

[20 rows x 9 columns]

# 제출 파일 만들기

In [61]:
sub = pd.read_csv('sample_submission.csv')
sub

          Day  000060  000080  000100  ...  352820  357780  363280  950130
0  2021-11-01       0       0       0  ...       0       0       0       0
1  2021-11-02       0       0       0  ...       0       0       0       0
2  2021-11-03       0       0       0  ...       0       0       0       0
3  2021-11-04       0       0       0  ...       0       0       0       0
4  2021-11-05       0       0       0  ...       0       0       0       0
5  2021-11-29       0       0       0  ...       0       0       0       0
6  2021-11-30       0       0       0  ...       0       0       0       0
7  2021-12-01       0       0       0  ...       0       0       0       0
8  2021-12-02       0       0       0  ...       0       0       0       0
9  2021-12-03       0       0       0  ...       0       0       0       0

[10 rows x 371 columns]

In [62]:
all_pred = pd.concat([pred1, pred2])

In [63]:
all_pred = all_pred.reset_index()
all_pred = all_pred.drop(['index','Unnamed: 0'], axis=1)
all_pred

            Date  weekday       kosdaq  ...        kospi    code         Label
0     2021-11-01        0   972.099400  ...  2974.401000  005930  43205.113636
1     2021-11-02        1   972.519960  ...  2974.633300  005930  43095.200000
2     2021-11-03        2   971.229100  ...  2972.511200  005930  43060.268182
3     2021-11-04        3   973.408750  ...  2977.359000  005930  43282.131818
4     2021-11-05        4   973.426450  ...  2974.027300  005930  42908.545455
...          ...      ...          ...  ...          ...     ...           ...
3695  2021-11-29        0   994.300008  ...  2971.095891  099320  88129.581694
3696  2021-11-30        1  1009.960002  ...  3003.252271  099320  89028.107124
3697  2021-12-01        2   997.817456  ...  2971.845081  099320  88143.734759
3698  2021-12-02        3   997.817456  ...  2977.736577  099320  88106.852790
3699  2021-12-03        4  1000.700012  ...  2977.736577  099320  88107.890193

[3700 rows x 9 columns]

In [66]:
for code in tqdm(sub.columns.values):
  temp = all_pred[all_pred['code']==code]['Label']
  temp = temp.reset_index()
  sub[code] = temp['Label']

100%|██████████| 371/371 [00:00<00:00, 404.60it/s]

In [67]:
date1 = pd.DataFrame(pd.date_range(start='2021-11-01', end='2021-11-05'), columns=['Day'])
date1

         Day
0 2021-11-01
1 2021-11-02
2 2021-11-03
3 2021-11-04
4 2021-11-05

In [68]:
date2 = pd.DataFrame(pd.date_range(start='2021-11-29', end='2021-12-03'), columns=['Day'])
date2

         Day
0 2021-11-29
1 2021-11-30
2 2021-12-01
3 2021-12-02
4 2021-12-03

In [69]:
day = pd.concat([date1, date2])
day = day.reset_index()
day = day.drop('index', axis=1)
day

         Day
0 2021-11-01
1 2021-11-02
2 2021-11-03
3 2021-11-04
4 2021-11-05
5 2021-11-29
6 2021-11-30
7 2021-12-01
8 2021-12-02
9 2021-12-03

In [70]:
sub['Day'] = day['Day']
sub

         Day        000060  ...        363280        950130
0 2021-11-01  43205.113636  ...  43205.113636  43205.113636
1 2021-11-02  43095.200000  ...  43095.200000  43095.200000
2 2021-11-03  43060.268182  ...  43060.268182  43060.268182
3 2021-11-04  43282.131818  ...  43282.131818  43282.131818
4 2021-11-05  42908.545455  ...  42908.545455  42908.545455
5 2021-11-29  88129.581694  ...  88129.581694  88129.581694
6 2021-11-30  89028.107124  ...  89028.107124  89028.107124
7 2021-12-01  88143.734759  ...  88143.734759  88143.734759
8 2021-12-02  88106.852790  ...  88106.852790  88106.852790
9 2021-12-03  88107.890193  ...  88107.890193  88107.890193

[10 rows x 371 columns]

In [71]:
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Columns: 371 entries, Day to 950130
dtypes: datetime64[ns](1), float64(370)
memory usage: 29.1 KB

In [72]:
sub.to_csv('No_sub03_pycaret02_2.csv', index=False)