In [6]:
import pandas as pd

# train 파일 확인

In [7]:
# d_l_match_yn :  속성 D 대분류 매칭 여부
# d_m_match_yn :  속성 D 중분류 매칭 여부
# d_s_match_yn :  속성 D 소분류 매칭 여부
# h_l_match_yn :  속성 H 대분류 매칭 여부
# h_m_match_yn :  속성 H 중분류 매칭 여부
# h_s_match_yn :  속성 H 소분류 매칭 여부
# person_attribute_a :  회원 속성 A
# person_attribute_a_1 :  회원 속성 A 하위 속성 1
# person_attribute_b :  회원 속성 B
# person_prefer_c :  회원 선호 속성 C
# person_prefer_d_1 :  회원 선호 속성 D 1번
# person_prefer_d_2 :  회원 선호 속성 D 2번
# person_prefer_d_3 :  회원 선호 속성 D 3번
# person_prefer_e :  회원 선호 속성 E
# person_prefer_f :  회원 선호 속성 F
# person_prefer_g :  회원 선호 속성 G
# person_prefer_h_1 :  회원 선호 속성 H 1번
# person_prefer_h_2 :  회원 선호 속성 H 2번
# person_prefer_h_3 :  회원 선호 속성 H 3번
# contents_attribute_i :  컨텐츠 속성 I
# contents_attribute_a :  컨텐츠 속성 A
# contents_attribute_j_1 :  컨텐츠 속성 J 하위 속성 1
# contents_attribute_j :  컨텐츠 속성 J
# contents_attribute_c :  컨텐츠 속성 C
# contents_attribute_k :  컨텐츠 속성 K
# contents_attribute_l :  컨텐츠 속성 L
# contents_attribute_d :  컨텐츠 속성 D
# contents_attribute_m :  컨텐츠 속성 M
# contents_attribute_e :  컨텐츠 속성 E
# contents_attribute_h :  컨텐츠 속성 H
# person_rn :  사용자번호
# contents_rn :  컨텐츠번호
# contents_open_dt :  컨텐츠 열람 일시
# target :  컨텐츠 사용 여부 (라벨)

In [8]:
train = pd.read_csv('../data/train.csv')
train.head()

,id,d_l_match_yn,d_m_match_yn,d_s_match_yn,h_l_match_yn,h_m_match_yn,h_s_match_yn,person_attribute_a,person_attribute_a_1,person_attribute_b,...,contents_attribute_k,contents_attribute_l,contents_attribute_d,contents_attribute_m,contents_attribute_e,contents_attribute_h,person_rn,contents_rn,contents_open_dt,target
0,0,True,True,True,False,False,False,1,4,3,...,2,1608,275,1,4,139,618822,354805,2020-01-17 12:09:36,1
1,1,False,False,False,True,True,False,1,3,4,...,2,1608,275,1,4,133,571659,346213,2020-06-18 17:48:52,0
2,2,False,False,False,True,False,False,2,0,3,...,1,1600,94,1,4,53,399816,206408,2020-07-08 20:00:10,0
3,3,False,False,False,True,False,False,2,0,2,...,2,1608,275,5,3,74,827967,572323,2020-01-13 18:09:34,0
4,4,True,True,True,False,False,False,1,3,4,...,2,1608,275,1,4,74,831614,573899,2020-03-09 20:39:22,0

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 35 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      501951 non-null  int64
 1   d_l_match_yn            501951 non-null  bool
 2   d_m_match_yn            501951 non-null  bool
 3   d_s_match_yn            501951 non-null  bool
 4   h_l_match_yn            501951 non-null  bool
 5   h_m_match_yn            501951 non-null  bool
 6   h_s_match_yn            501951 non-null  bool
 7   person_attribute_a      501951 non-null  int64
 8   person_attribute_a_1    501951 non-null  int64
 9   person_attribute_b      501951 non-null  int64
 10  person_prefer_c         501951 non-null  int64
 11  person_prefer_d_1       501951 non-null  int64
 12  person_prefer_d_2       501951 non-null  int64
 13  person_prefer_d_3       501951 non-null  int64
 14  person_prefer_e         501951 non-null  int64
 15  person_prefer_f         501951 non-null  int64
 16  person_prefer_g         501951 non-null  int64
 17  person_prefer_h_1       501951 non-null  int64
 18  person_prefer_h_2       501951 non-null  int64
 19  person_prefer_h_3       501951 non-null  int64
 20  contents_attribute_i    501951 non-null  int64
 21  contents_attribute_a    501951 non-null  int64
 22  contents_attribute_j_1  501951 non-null  int64
 23  contents_attribute_j    501951 non-null  int64
 24  contents_attribute_c    501951 non-null  int64
 25  contents_attribute_k    501951 non-null  int64
 26  contents_attribute_l    501951 non-null  int64
 27  contents_attribute_d    501951 non-null  int64
 28  contents_attribute_m    501951 non-null  int64
 29  contents_attribute_e    501951 non-null  int64
 30  contents_attribute_h    501951 non-null  int64
 31  person_rn               501951 non-null  int64
 32  contents_rn             501951 non-null  int64
 33  contents_open_dt        501951 non-null  object
 34  target                  501951 non-null  int64
dtypes: bool(6), int64(28), object(1)
memory usage: 113.9+ MB

In [10]:
train.shape

(501951, 35)

In [13]:
len(train.columns), train.columns

(35,
 Index(['id', 'd_l_match_yn', 'd_m_match_yn', 'd_s_match_yn', 'h_l_match_yn',
        'h_m_match_yn', 'h_s_match_yn', 'person_attribute_a',
        'person_attribute_a_1', 'person_attribute_b', 'person_prefer_c',
        'person_prefer_d_1', 'person_prefer_d_2', 'person_prefer_d_3',
        'person_prefer_e', 'person_prefer_f', 'person_prefer_g',
        'person_prefer_h_1', 'person_prefer_h_2', 'person_prefer_h_3',
        'contents_attribute_i', 'contents_attribute_a',
        'contents_attribute_j_1', 'contents_attribute_j',
        'contents_attribute_c', 'contents_attribute_k', 'contents_attribute_l',
        'contents_attribute_d', 'contents_attribute_m', 'contents_attribute_e',
        'contents_attribute_h', 'person_rn', 'contents_rn', 'contents_open_dt',
        'target'],
       dtype='object'))

# test 파일 확인

In [11]:
test = pd.read_csv('../data/test.csv')
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      46404 non-null  int64
 1   d_l_match_yn            46404 non-null  bool
 2   d_m_match_yn            46404 non-null  bool
 3   d_s_match_yn            46404 non-null  bool
 4   h_l_match_yn            46404 non-null  bool
 5   h_m_match_yn            46404 non-null  bool
 6   h_s_match_yn            46404 non-null  bool
 7   person_attribute_a      46404 non-null  int64
 8   person_attribute_a_1    46404 non-null  int64
 9   person_attribute_b      46404 non-null  int64
 10  person_prefer_c         46404 non-null  int64
 11  person_prefer_d_1       46404 non-null  int64
 12  person_prefer_d_2       46404 non-null  int64
 13  person_prefer_d_3       46404 non-null  int64
 14  person_prefer_e         46404 non-null  int64
 15  person_prefer_f         46404 non-null  int64
 16  person_prefer_g         46404 non-null  int64
 17  person_prefer_h_1       46404 non-null  int64
 18  person_prefer_h_2       46404 non-null  int64
 19  person_prefer_h_3       46404 non-null  int64
 20  contents_attribute_i    46404 non-null  int64
 21  contents_attribute_a    46404 non-null  int64
 22  contents_attribute_j_1  46404 non-null  int64
 23  contents_attribute_j    46404 non-null  int64
 24  contents_attribute_c    46404 non-null  int64
 25  contents_attribute_k    46404 non-null  int64
 26  contents_attribute_l    46404 non-null  int64
 27  contents_attribute_d    46404 non-null  int64
 28  contents_attribute_m    46404 non-null  int64
 29  contents_attribute_e    46404 non-null  int64
 30  contents_attribute_h    46404 non-null  int64
 31  person_rn               46404 non-null  int64
 32  contents_rn             46404 non-null  int64
 33  contents_open_dt        46404 non-null  object
dtypes: bool(6), int64(27), object(1)
memory usage: 10.2+ MB

In [ ]:
# d_l_match_yn :  속성 D 대분류 매칭 여부
# d_m_match_yn :  속성 D 중분류 매칭 여부
# d_s_match_yn :  속성 D 소분류 매칭 여부
# h_l_match_yn :  속성 H 대분류 매칭 여부
# h_m_match_yn :  속성 H 중분류 매칭 여부
# h_s_match_yn :  속성 H 소분류 매칭 여부
# person_attribute_a :  회원 속성 A
# person_attribute_a_1 :  회원 속성 A 하위 속성 1
# person_attribute_b :  회원 속성 B
# person_prefer_c :  회원 선호 속성 C
# person_prefer_d_1 :  회원 선호 속성 D 1번
# person_prefer_d_2 :  회원 선호 속성 D 2번
# person_prefer_d_3 :  회원 선호 속성 D 3번
# person_prefer_e :  회원 선호 속성 E
# person_prefer_f :  회원 선호 속성 F
# person_prefer_g :  회원 선호 속성 G
# person_prefer_h_1 :  회원 선호 속성 H 1번
# person_prefer_h_2 :  회원 선호 속성 H 2번
# person_prefer_h_3 :  회원 선호 속성 H 3번
# contents_attribute_i :  컨텐츠 속성 I
# contents_attribute_a :  컨텐츠 속성 A
# contents_attribute_j_1 :  컨텐츠 속성 J 하위 속성 1
# contents_attribute_j :  컨텐츠 속성 J
# contents_attribute_c :  컨텐츠 속성 C
# contents_attribute_k :  컨텐츠 속성 K
# contents_attribute_l :  컨텐츠 속성 L
# contents_attribute_d :  컨텐츠 속성 D
# contents_attribute_m :  컨텐츠 속성 M
# contents_attribute_e :  컨텐츠 속성 E
# contents_attribute_h :  컨텐츠 속성 H
# person_rn :  사용자번호
# contents_rn :  컨텐츠번호
# contents_open_dt :  컨텐츠 열람 일시

In [14]:
test.shape

(46404, 34)

In [15]:
test.head()

,id,d_l_match_yn,d_m_match_yn,d_s_match_yn,h_l_match_yn,h_m_match_yn,h_s_match_yn,person_attribute_a,person_attribute_a_1,person_attribute_b,...,contents_attribute_c,contents_attribute_k,contents_attribute_l,contents_attribute_d,contents_attribute_m,contents_attribute_e,contents_attribute_h,person_rn,contents_rn,contents_open_dt
0,0,True,False,False,True,True,True,1,1,2,...,1,2,1147,839,1,5,263,393790,236865,2020-12-01 02:24:18
1,1,False,False,False,True,False,False,2,0,2,...,1,2,1611,278,1,4,263,394058,236572,2020-12-17 05:42:53
2,2,True,False,False,True,True,True,2,3,2,...,1,2,1817,490,3,4,177,1002061,704612,2020-12-10 23:33:41
3,3,True,False,False,True,True,True,1,2,2,...,1,2,101,150,5,3,177,1000813,704652,2020-12-03 19:44:55
4,4,True,False,False,True,False,False,1,6,4,...,1,1,985,1097,1,4,177,111146,704413,2020-12-11 21:24:34