In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('20210104_20211119_data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           230 non-null    object
 1   exchange_rate  230 non-null    float64
 2   kospi          219 non-null    float64
 3   kosdaq         219 non-null    float64
 4   kospi100       219 non-null    float64
 5   dow            224 non-null    float64
 6   nasdaq         224 non-null    float64
 7   sp500          224 non-null    float64
 8   미국채10년-2년      230 non-null    float64
 9   BTC            219 non-null    float64
 10  Gold           213 non-null    float64
 11  Oil            213 non-null    float64
 12  US10Y          219 non-null    float64
 13  US2Y           219 non-null    float64
dtypes: float64(13), object(1)
memory usage: 25.3+ KB

In [4]:
df = df.interpolate()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           230 non-null    object
 1   exchange_rate  230 non-null    float64
 2   kospi          230 non-null    float64
 3   kosdaq         230 non-null    float64
 4   kospi100       230 non-null    float64
 5   dow            230 non-null    float64
 6   nasdaq         230 non-null    float64
 7   sp500          230 non-null    float64
 8   미국채10년-2년      230 non-null    float64
 9   BTC            230 non-null    float64
 10  Gold           230 non-null    float64
 11  Oil            230 non-null    float64
 12  US10Y          230 non-null    float64
 13  US2Y           230 non-null    float64
dtypes: float64(13), object(1)
memory usage: 25.3+ KB

In [7]:
df.to_csv('20210104_20211119_data_interpolate.csv', index=False)