# 데이콘 점수

In [ ]:
# Best_score
  # target 1 개수 : 36081
  # self_score : 0.708871
  # date : 2022-01-13 11:08:38
  # score : 0.701834167

In [ ]:
# Submit_score
  # target 1 개수 : 36274
  # self_score : -
  # date : 2022-01-28 14:30:58
  # score : 0.7015564398

# top3 제출 파일 불러오기

In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('../03_모델선정및개선/제출파일/sub_ver4.6.csv')
df2 = pd.read_csv('../03_모델선정및개선/제출파일/sub_ver6.1.csv')
df3 = pd.read_csv('../03_모델선정및개선/제출파일/sub_ver5.9.csv')

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      46404 non-null  int64
 1   target  46404 non-null  int64
dtypes: int64(2)
memory usage: 725.2 KB

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      46404 non-null  int64
 1   target  46404 non-null  int64
dtypes: int64(2)
memory usage: 725.2 KB

In [6]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      46404 non-null  int64
 1   target  46404 non-null  int64
dtypes: int64(2)
memory usage: 725.2 KB

# 평균

In [7]:
mean_target = ( df1['target'] + df2['target'] + df3['target'] ) / 3
mean_target

0        1.0
1        0.0
2        1.0
3        0.0
4        0.0
        ...
46399    1.0
46400    1.0
46401    1.0
46402    1.0
46403    1.0
Name: target, Length: 46404, dtype: float64

In [9]:
mean_target.value_counts()

1.000000    35917
0.000000     9801
0.666667      357
0.333333      329
Name: target, dtype: int64

In [11]:
pred = (mean_target > 0.5)
pred = pred.astype(int)
pred

0        1
1        0
2        1
3        0
4        0
        ..
46399    1
46400    1
46401    1
46402    1
46403    1
Name: target, Length: 46404, dtype: int32

In [12]:
pred.value_counts()

1    36274
0    10130
Name: target, dtype: int64

# 제출 파일 불러오기

In [13]:
sub = pd.read_csv('../data/sample_submission.csv')
# sub = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/sample_submission.csv')
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      46404 non-null  int64
 1   target  46404 non-null  int64
dtypes: int64(2)
memory usage: 725.2 KB

In [14]:
sub['target'] = pred
sub['target'].value_counts()

1    36274
0    10130
Name: target, dtype: int64

In [15]:
sub.head()

   id  target
0   0       1
1   1       0
2   2       1
3   3       0
4   4       0

# 제출 파일 생성

In [18]:
file_ver = '0.1'
sub.to_csv(f'results_ver{file_ver}.csv', index=False)
# sub.to_csv(f'/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/03_모델선정및개선/results_ver{file_ver}.csv', index=False)