# 라이브러리 로드 및 기본 세팅

In [1]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.0.4-cp37-none-manylinux1_x86_64.whl (76.1 MB)
     |████████████████████████████████| 76.1 MB 1.3 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.6)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-1.0.4

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from catboost import CatBoostClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, classification_report, precision_recall_curve

# 데이콘 점수

In [4]:
# Best_score
  # target 1 개수 : 36081
  # self_score : 0.708871
  # date : 2022-01-13 11:08:38
  # score : 0.701834167

In [5]:
# Submit_score
  # target 1 개수 : 40028
  # self_score : 0.7202
  # date : 2022-01-25 20:09:42
  # score : 0.6866195513

# 설정

In [6]:
# cat
# 총 특성 개수 : 62개(타겟 특성 제외)
# 총 제거된 특성 개수 : 7
# 활용 특성 : 55
# 매칭 경우의 수 별로 훈련/예측
# one_hot_max_size = 5
# random_state : 5(range(10, 60, 10))
# iterations = 1000
# early_stopping_rounds = 50
# 순서형 특성 설정(4개)
# probability_threshold 설정

In [7]:
# 순서형 특성 (4개)
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [8]:
# 기본 제거 특성(5개)
# 'id',
# 'contents_open_dt',
# 'person_prefer_f',
# 'person_prefer_g',
# 'contents_rn',

In [9]:
# 특성 중요도 낮은 특성(2개)
# 'h_m_match_yn',
# 'h_s_match_yn'

# 데이터 불러오기

In [10]:
# train = pd.read_csv('../data/df_train.csv')
# test = pd.read_csv('../data/df_test.csv')
train = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_train.csv')
test = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_test.csv')

# 데이터 확인

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 63 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      501951 non-null  int64
 1   d_l_match_yn            501951 non-null  bool
 2   d_m_match_yn            501951 non-null  bool
 3   d_s_match_yn            501951 non-null  bool
 4   h_l_match_yn            501951 non-null  bool
 5   h_m_match_yn            501951 non-null  bool
 6   h_s_match_yn            501951 non-null  bool
 7   person_attribute_a      501951 non-null  int64
 8   person_attribute_a_1    501951 non-null  int64
 9   person_attribute_b      501951 non-null  int64
 10  person_prefer_c         501951 non-null  int64
 11  person_prefer_d_1       501951 non-null  int64
 12  person_prefer_d_2       501951 non-null  int64
 13  person_prefer_d_3       501951 non-null  int64
 14  person_prefer_e         501951 non-null  int64
 15  person_prefer_f         501951 non-null  int64
 16  person_prefer_g         501951 non-null  int64
 17  person_prefer_h_1       501951 non-null  int64
 18  person_prefer_h_2       501951 non-null  int64
 19  person_prefer_h_3       501951 non-null  int64
 20  contents_attribute_i    501951 non-null  int64
 21  contents_attribute_a    501951 non-null  int64
 22  contents_attribute_j_1  501951 non-null  int64
 23  contents_attribute_j    501951 non-null  int64
 24  contents_attribute_c    501951 non-null  int64
 25  contents_attribute_k    501951 non-null  int64
 26  contents_attribute_l    501951 non-null  int64
 27  contents_attribute_d    501951 non-null  int64
 28  contents_attribute_m    501951 non-null  int64
 29  contents_attribute_e    501951 non-null  int64
 30  contents_attribute_h    501951 non-null  int64
 31  person_rn               501951 non-null  int64
 32  contents_rn             501951 non-null  int64
 33  contents_open_dt        501951 non-null  object
 34  target                  501951 non-null  int64
 35  person_prefer_d_1_n     501951 non-null  int64
 36  person_prefer_d_1_s     501951 non-null  int64
 37  person_prefer_d_1_m     501951 non-null  int64
 38  person_prefer_d_1_l     501951 non-null  int64
 39  person_prefer_d_2_n     501951 non-null  int64
 40  person_prefer_d_2_s     501951 non-null  int64
 41  person_prefer_d_2_m     501951 non-null  int64
 42  person_prefer_d_2_l     501951 non-null  int64
 43  person_prefer_d_3_n     501951 non-null  int64
 44  person_prefer_d_3_s     501951 non-null  int64
 45  person_prefer_d_3_m     501951 non-null  int64
 46  person_prefer_d_3_l     501951 non-null  int64
 47  contents_attribute_d_n  501951 non-null  int64
 48  contents_attribute_d_s  501951 non-null  int64
 49  contents_attribute_d_m  501951 non-null  int64
 50  contents_attribute_d_l  501951 non-null  int64
 51  person_prefer_h_1_m     501951 non-null  int64
 52  person_prefer_h_1_l     501951 non-null  int64
 53  person_prefer_h_2_m     501951 non-null  int64
 54  person_prefer_h_2_l     501951 non-null  int64
 55  person_prefer_h_3_m     501951 non-null  int64
 56  person_prefer_h_3_l     501951 non-null  int64
 57  contents_attribute_h_m  501951 non-null  int64
 58  contents_attribute_h_l  501951 non-null  int64
 59  contents_attribute_l_n  501951 non-null  int64
 60  contents_attribute_l_s  501951 non-null  int64
 61  contents_attribute_l_m  501951 non-null  int64
 62  contents_attribute_l_l  501951 non-null  int64
dtypes: bool(6), int64(56), object(1)
memory usage: 221.2+ MB

In [12]:
train.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1605                    2016
1   1         False  ...                    1605                    2016
2   2         False  ...                    1572                    2016
3   3         False  ...                    1605                    2016
4   4          True  ...                    1605                    2016

[5 rows x 63 columns]

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 62 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      46404 non-null  int64
 1   d_l_match_yn            46404 non-null  bool
 2   d_m_match_yn            46404 non-null  bool
 3   d_s_match_yn            46404 non-null  bool
 4   h_l_match_yn            46404 non-null  bool
 5   h_m_match_yn            46404 non-null  bool
 6   h_s_match_yn            46404 non-null  bool
 7   person_attribute_a      46404 non-null  int64
 8   person_attribute_a_1    46404 non-null  int64
 9   person_attribute_b      46404 non-null  int64
 10  person_prefer_c         46404 non-null  int64
 11  person_prefer_d_1       46404 non-null  int64
 12  person_prefer_d_2       46404 non-null  int64
 13  person_prefer_d_3       46404 non-null  int64
 14  person_prefer_e         46404 non-null  int64
 15  person_prefer_f         46404 non-null  int64
 16  person_prefer_g         46404 non-null  int64
 17  person_prefer_h_1       46404 non-null  int64
 18  person_prefer_h_2       46404 non-null  int64
 19  person_prefer_h_3       46404 non-null  int64
 20  contents_attribute_i    46404 non-null  int64
 21  contents_attribute_a    46404 non-null  int64
 22  contents_attribute_j_1  46404 non-null  int64
 23  contents_attribute_j    46404 non-null  int64
 24  contents_attribute_c    46404 non-null  int64
 25  contents_attribute_k    46404 non-null  int64
 26  contents_attribute_l    46404 non-null  int64
 27  contents_attribute_d    46404 non-null  int64
 28  contents_attribute_m    46404 non-null  int64
 29  contents_attribute_e    46404 non-null  int64
 30  contents_attribute_h    46404 non-null  int64
 31  person_rn               46404 non-null  int64
 32  contents_rn             46404 non-null  int64
 33  contents_open_dt        46404 non-null  object
 34  person_prefer_d_1_n     46404 non-null  int64
 35  person_prefer_d_1_s     46404 non-null  int64
 36  person_prefer_d_1_m     46404 non-null  int64
 37  person_prefer_d_1_l     46404 non-null  int64
 38  person_prefer_d_2_n     46404 non-null  int64
 39  person_prefer_d_2_s     46404 non-null  int64
 40  person_prefer_d_2_m     46404 non-null  int64
 41  person_prefer_d_2_l     46404 non-null  int64
 42  person_prefer_d_3_n     46404 non-null  int64
 43  person_prefer_d_3_s     46404 non-null  int64
 44  person_prefer_d_3_m     46404 non-null  int64
 45  person_prefer_d_3_l     46404 non-null  int64
 46  contents_attribute_d_n  46404 non-null  int64
 47  contents_attribute_d_s  46404 non-null  int64
 48  contents_attribute_d_m  46404 non-null  int64
 49  contents_attribute_d_l  46404 non-null  int64
 50  person_prefer_h_1_m     46404 non-null  int64
 51  person_prefer_h_1_l     46404 non-null  int64
 52  person_prefer_h_2_m     46404 non-null  int64
 53  person_prefer_h_2_l     46404 non-null  int64
 54  person_prefer_h_3_m     46404 non-null  int64
 55  person_prefer_h_3_l     46404 non-null  int64
 56  contents_attribute_h_m  46404 non-null  int64
 57  contents_attribute_h_l  46404 non-null  int64
 58  contents_attribute_l_n  46404 non-null  int64
 59  contents_attribute_l_s  46404 non-null  int64
 60  contents_attribute_l_m  46404 non-null  int64
 61  contents_attribute_l_l  46404 non-null  int64
dtypes: bool(6), int64(55), object(1)
memory usage: 20.1+ MB

In [14]:
test.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1021                    2010
1   1         False  ...                    1605                    2016
2   2          True  ...                    1810                    2020
3   3          True  ...                      99                    2006
4   4          True  ...                     954                    2009

[5 rows x 62 columns]

# 필요 데이터 추출

## 훈련에 의미가 적은 열 제거

In [15]:
# 제거된 특성(7개)
# 'id',
# 'contents_open_dt',
# 'person_prefer_f',
# 'person_prefer_g',
# 'contents_rn',
# 'h_m_match_yn',
# 'h_s_match_yn'

In [16]:
# 삭제할 특성
pop_col = ['id', 'contents_open_dt', 'contents_rn', 'person_prefer_f', 'person_prefer_g',
           'h_m_match_yn', 'h_s_match_yn']
len(pop_col)

7

In [17]:
train = train.drop(pop_col, axis=1) 
test = test.drop(pop_col, axis=1)

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 56 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   d_l_match_yn            501951 non-null  bool
 1   d_m_match_yn            501951 non-null  bool
 2   d_s_match_yn            501951 non-null  bool
 3   h_l_match_yn            501951 non-null  bool
 4   person_attribute_a      501951 non-null  int64
 5   person_attribute_a_1    501951 non-null  int64
 6   person_attribute_b      501951 non-null  int64
 7   person_prefer_c         501951 non-null  int64
 8   person_prefer_d_1       501951 non-null  int64
 9   person_prefer_d_2       501951 non-null  int64
 10  person_prefer_d_3       501951 non-null  int64
 11  person_prefer_e         501951 non-null  int64
 12  person_prefer_h_1       501951 non-null  int64
 13  person_prefer_h_2       501951 non-null  int64
 14  person_prefer_h_3       501951 non-null  int64
 15  contents_attribute_i    501951 non-null  int64
 16  contents_attribute_a    501951 non-null  int64
 17  contents_attribute_j_1  501951 non-null  int64
 18  contents_attribute_j    501951 non-null  int64
 19  contents_attribute_c    501951 non-null  int64
 20  contents_attribute_k    501951 non-null  int64
 21  contents_attribute_l    501951 non-null  int64
 22  contents_attribute_d    501951 non-null  int64
 23  contents_attribute_m    501951 non-null  int64
 24  contents_attribute_e    501951 non-null  int64
 25  contents_attribute_h    501951 non-null  int64
 26  person_rn               501951 non-null  int64
 27  target                  501951 non-null  int64
 28  person_prefer_d_1_n     501951 non-null  int64
 29  person_prefer_d_1_s     501951 non-null  int64
 30  person_prefer_d_1_m     501951 non-null  int64
 31  person_prefer_d_1_l     501951 non-null  int64
 32  person_prefer_d_2_n     501951 non-null  int64
 33  person_prefer_d_2_s     501951 non-null  int64
 34  person_prefer_d_2_m     501951 non-null  int64
 35  person_prefer_d_2_l     501951 non-null  int64
 36  person_prefer_d_3_n     501951 non-null  int64
 37  person_prefer_d_3_s     501951 non-null  int64
 38  person_prefer_d_3_m     501951 non-null  int64
 39  person_prefer_d_3_l     501951 non-null  int64
 40  contents_attribute_d_n  501951 non-null  int64
 41  contents_attribute_d_s  501951 non-null  int64
 42  contents_attribute_d_m  501951 non-null  int64
 43  contents_attribute_d_l  501951 non-null  int64
 44  person_prefer_h_1_m     501951 non-null  int64
 45  person_prefer_h_1_l     501951 non-null  int64
 46  person_prefer_h_2_m     501951 non-null  int64
 47  person_prefer_h_2_l     501951 non-null  int64
 48  person_prefer_h_3_m     501951 non-null  int64
 49  person_prefer_h_3_l     501951 non-null  int64
 50  contents_attribute_h_m  501951 non-null  int64
 51  contents_attribute_h_l  501951 non-null  int64
 52  contents_attribute_l_n  501951 non-null  int64
 53  contents_attribute_l_s  501951 non-null  int64
 54  contents_attribute_l_m  501951 non-null  int64
 55  contents_attribute_l_l  501951 non-null  int64
dtypes: bool(4), int64(52)
memory usage: 201.1 MB

In [19]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   d_l_match_yn            46404 non-null  bool
 1   d_m_match_yn            46404 non-null  bool
 2   d_s_match_yn            46404 non-null  bool
 3   h_l_match_yn            46404 non-null  bool
 4   person_attribute_a      46404 non-null  int64
 5   person_attribute_a_1    46404 non-null  int64
 6   person_attribute_b      46404 non-null  int64
 7   person_prefer_c         46404 non-null  int64
 8   person_prefer_d_1       46404 non-null  int64
 9   person_prefer_d_2       46404 non-null  int64
 10  person_prefer_d_3       46404 non-null  int64
 11  person_prefer_e         46404 non-null  int64
 12  person_prefer_h_1       46404 non-null  int64
 13  person_prefer_h_2       46404 non-null  int64
 14  person_prefer_h_3       46404 non-null  int64
 15  contents_attribute_i    46404 non-null  int64
 16  contents_attribute_a    46404 non-null  int64
 17  contents_attribute_j_1  46404 non-null  int64
 18  contents_attribute_j    46404 non-null  int64
 19  contents_attribute_c    46404 non-null  int64
 20  contents_attribute_k    46404 non-null  int64
 21  contents_attribute_l    46404 non-null  int64
 22  contents_attribute_d    46404 non-null  int64
 23  contents_attribute_m    46404 non-null  int64
 24  contents_attribute_e    46404 non-null  int64
 25  contents_attribute_h    46404 non-null  int64
 26  person_rn               46404 non-null  int64
 27  person_prefer_d_1_n     46404 non-null  int64
 28  person_prefer_d_1_s     46404 non-null  int64
 29  person_prefer_d_1_m     46404 non-null  int64
 30  person_prefer_d_1_l     46404 non-null  int64
 31  person_prefer_d_2_n     46404 non-null  int64
 32  person_prefer_d_2_s     46404 non-null  int64
 33  person_prefer_d_2_m     46404 non-null  int64
 34  person_prefer_d_2_l     46404 non-null  int64
 35  person_prefer_d_3_n     46404 non-null  int64
 36  person_prefer_d_3_s     46404 non-null  int64
 37  person_prefer_d_3_m     46404 non-null  int64
 38  person_prefer_d_3_l     46404 non-null  int64
 39  contents_attribute_d_n  46404 non-null  int64
 40  contents_attribute_d_s  46404 non-null  int64
 41  contents_attribute_d_m  46404 non-null  int64
 42  contents_attribute_d_l  46404 non-null  int64
 43  person_prefer_h_1_m     46404 non-null  int64
 44  person_prefer_h_1_l     46404 non-null  int64
 45  person_prefer_h_2_m     46404 non-null  int64
 46  person_prefer_h_2_l     46404 non-null  int64
 47  person_prefer_h_3_m     46404 non-null  int64
 48  person_prefer_h_3_l     46404 non-null  int64
 49  contents_attribute_h_m  46404 non-null  int64
 50  contents_attribute_h_l  46404 non-null  int64
 51  contents_attribute_l_n  46404 non-null  int64
 52  contents_attribute_l_s  46404 non-null  int64
 53  contents_attribute_l_m  46404 non-null  int64
 54  contents_attribute_l_l  46404 non-null  int64
dtypes: bool(4), int64(51)
memory usage: 18.2 MB

## 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경

In [20]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
train = train.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
train = train.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
train.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0          True          True  ...                    1605                    2016
1         False         False  ...                    1605                    2016
2         False         False  ...                    1572                    2016
3         False         False  ...                    1605                    2016
4          True          True  ...                    1605                    2016

[5 rows x 56 columns]

In [21]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
test = test.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
test = test.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
test.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0          True         False  ...                    1021                    2010
1         False         False  ...                    1605                    2016
2          True         False  ...                    1810                    2020
3          True         False  ...                      99                    2006
4          True         False  ...                     954                    2009

[5 rows x 55 columns]

## 카테고리형 특성으로 지정할 특성

In [22]:
# 원본 데이터에서 순서형 특성
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [23]:
cat_f = train.columns.tolist()
numeric_cat = ['person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e']
for col in numeric_cat:
  cat_f.remove(col)
cat_f.remove('target')

In [24]:
# 카데고리형 지정 특성 개수
# 63 - 7 - 5 = 51개
len(cat_f)

51

# 모델 훈련/예측

In [25]:
import itertools

In [26]:
# 단계(4단계)별로 [0, 1]의 선택지 있는 모든 경우의 수 출력
match_cases = list(itertools.product(*[[0,1] for i in range(4)]))

In [27]:
num_list = [0, 1, 8, 9, 12, 13, 14, 15]

In [28]:
all_train_pred_thr_df = pd.DataFrame()
all_test_pred_thr_df = pd.DataFrame()

for random_state in tqdm(range(10, 60, 10)):

  train_pred_thr_df = pd.DataFrame()
  test_pred_thr_df = pd.DataFrame()
  for num in tqdm(num_list):
    c0, c1, c2, c3 = match_cases[num]
    # 매칭 경우의 수로 구분해서 데이터 셋 가져오기
    split_train = train[(train['d_l_match_yn']==c0)&(train['d_m_match_yn']==c1)&(train['d_s_match_yn']==c2)&
    (train['h_l_match_yn']==c3)]
    split_test = test[(test['d_l_match_yn']==c0)&(test['d_m_match_yn']==c1)&(test['d_s_match_yn']==c2)&
    (test['h_l_match_yn']==c3)]

    split_X = split_train.drop(['target'], axis=1)
    split_y = split_train['target']

    # 데이터 셋 나누기
    X_train, X_val, y_train, y_val = train_test_split(split_X, split_y, random_state=random_state, shuffle=True, stratify=split_y)
    # 모델 생성
    cat = CatBoostClassifier(random_state=42, task_type='GPU', iterations=1000, early_stopping_rounds=50,
                          cat_features=cat_f, eval_metric='F1', one_hot_max_size=2)
    # 모델 훈련
    cat.fit(X_train, y_train, eval_set=(X_val, y_val), verbose=100)
    
    # precision, recall, threshold 값 계산
    val_proba = cat.predict_proba(X_val)
    precisions, recalls, thresholds = precision_recall_curve(y_val, val_proba[:,1])
    threshold_boundary = thresholds.shape[0]
    # 최고 F1 값을 갖는 threshold 값 구하기
    pre = precisions[:threshold_boundary]
    re = recalls[:threshold_boundary]
    f1 = 2 * pre * re / (pre + re)
    optimal_idx = np.argmax(f1)
    optimal_threshold = thresholds[optimal_idx]

    # 분리된 train 셋의 예측 값
    split_train_proba = cat.predict_proba(split_X)
    split_train_proba_thr = (split_train_proba[:,1] >= optimal_threshold)
    split_train_proba_thr = split_train_proba_thr.astype(int)
    split_train_proba_thr_df = pd.DataFrame(split_train_proba_thr, index=split_X.index)

    # 분리된 test 셋 예측
    split_test_proba = cat.predict_proba(split_test)
    split_test_proba_thr = (split_test_proba[:,1] >= optimal_threshold)
    split_test_proba_thr = split_test_proba_thr.astype(int)
    split_test_proba_thr_df = pd.DataFrame(split_test_proba_thr, index=split_test.index)

    # 분리된 값 합치기
    train_pred_thr_df = pd.concat([train_pred_thr_df, split_train_proba_thr_df])
    test_pred_thr_df = pd.concat([test_pred_thr_df, split_test_proba_thr_df])

    # F1 점수 출력
    pred_raw = cat.predict(X_val)
    pred_proba = cat.predict_proba(X_val)
    pred_thr = (pred_proba[:,1] > optimal_threshold)
    pred_thr = pred_thr.astype(int)
    f1_raw = f1_score(y_val, pred_raw)
    f1_thr = f1_score(y_val, pred_thr)
    print('\n')
    print(f'random_state : {random_state}, split_data_number : {num}')
    print(f'threshold 적용 전 f1 score : {f1_raw}')
    print(f'threshold 적용 후 f1 score : {f1_thr}')
    print('====================================================================================')
    print()

  # random_state별 값 합치기
  all_train_pred_thr_df = pd.concat([all_train_pred_thr_df, train_pred_thr_df], axis=1) 
  all_test_pred_thr_df = pd.concat([all_test_pred_thr_df, test_pred_thr_df], axis=1)

  0%|          | 0/5 [00:00<?, ?it/s]
  0%|          | 0/8 [00:00<?, ?it/s]

Learning rate set to 0.053695
0:	learn: 0.2956123	test: 0.2524851	best: 0.2524851 (0)	total: 300ms	remaining: 5m
100:	learn: 0.4156516	test: 0.4412989	best: 0.4413333 (99)	total: 18.3s	remaining: 2m 42s
200:	learn: 0.4678210	test: 0.4693419	best: 0.4693419 (200)	total: 25.5s	remaining: 1m 41s
300:	learn: 0.4966951	test: 0.4780411	best: 0.4803286 (278)	total: 32.8s	remaining: 1m 16s
400:	learn: 0.5138757	test: 0.4864015	best: 0.4868008 (383)	total: 40s	remaining: 59.8s
bestTest = 0.4873685862
bestIteration = 417
Shrink model to first 418 iterations.

 12%|█▎        | 1/8 [00:51<05:58, 51.27s/it]

random_state : 10, split_data_number : 0
threshold 적용 전 f1 score : 0.4873685862231289
threshold 적용 후 f1 score : 0.6238736646539712
====================================================================================

Learning rate set to 0.047669
0:	learn: 0.4460466	test: 0.4701561	best: 0.4701561 (0)	total: 78ms	remaining: 1m 17s
bestTest = 0.4701561065
bestIteration = 0
Shrink model to first 1 iterations.

 25%|██▌       | 2/8 [01:05<02:55, 29.31s/it]

random_state : 10, split_data_number : 1
threshold 적용 전 f1 score : 0.4701561065197429
threshold 적용 후 f1 score : 0.6002094240837696
====================================================================================

Learning rate set to 0.05426
0:	learn: 0.5677243	test: 0.5545910	best: 0.5545910 (0)	total: 124ms	remaining: 2m 4s
100:	learn: 0.5921337	test: 0.5884306	best: 0.5900051 (98)	total: 7.13s	remaining: 1m 3s
bestTest = 0.5903522205
bestIteration = 103
Shrink model to first 104 iterations.

 38%|███▊      | 3/8 [01:19<01:52, 22.48s/it]

random_state : 10, split_data_number : 8
threshold 적용 전 f1 score : 0.5903522205206737
threshold 적용 후 f1 score : 0.6700810131297141
====================================================================================

Learning rate set to 0.047689
0:	learn: 0.6361365	test: 0.6450652	best: 0.6450652 (0)	total: 73.3ms	remaining: 1m 13s
bestTest = 0.6790358115
bestIteration = 26
Shrink model to first 27 iterations.

 50%|█████     | 4/8 [01:35<01:18, 19.72s/it]

random_state : 10, split_data_number : 9
threshold 적용 전 f1 score : 0.6790358114821374
threshold 적용 후 f1 score : 0.703470444224336
====================================================================================

Learning rate set to 0.058752
0:	learn: 0.6597665	test: 0.6400606	best: 0.6400606 (0)	total: 104ms	remaining: 1m 44s
bestTest = 0.6666666667
bestIteration = 49
Shrink model to first 50 iterations.

 62%|██████▎   | 5/8 [01:43<00:46, 15.61s/it]

random_state : 10, split_data_number : 12
threshold 적용 전 f1 score : 0.6666666666666666
threshold 적용 후 f1 score : 0.7060998151571164
====================================================================================

Learning rate set to 0.052742
0:	learn: 0.7408515	test: 0.7456634	best: 0.7456634 (0)	total: 150ms	remaining: 2m 30s
bestTest = 0.7540258562
bestIteration = 6
Shrink model to first 7 iterations.

 75%|███████▌  | 6/8 [01:51<00:26, 13.22s/it]

random_state : 10, split_data_number : 13
threshold 적용 전 f1 score : 0.7540258562032207
threshold 적용 후 f1 score : 0.7544896695378033
====================================================================================

Learning rate set to 0.056504
0:	learn: 0.6491285	test: 0.6417060	best: 0.6417060 (0)	total: 122ms	remaining: 2m 1s
bestTest = 0.6752918902
bestIteration = 42
Shrink model to first 43 iterations.

 88%|████████▊ | 7/8 [02:00<00:11, 11.84s/it]

random_state : 10, split_data_number : 14
threshold 적용 전 f1 score : 0.6752918901861785
threshold 적용 후 f1 score : 0.7059132030942703
====================================================================================

Learning rate set to 0.051906
0:	learn: 0.7710211	test: 0.7709842	best: 0.7709842 (0)	total: 129ms	remaining: 2m 8s
bestTest = 0.7730618922
bestIteration = 47
Shrink model to first 48 iterations.

100%|██████████| 8/8 [02:14<00:00, 16.78s/it]
 20%|██        | 1/5 [02:14<08:56, 134.24s/it]

random_state : 10, split_data_number : 15
threshold 적용 전 f1 score : 0.7730618922112151
threshold 적용 후 f1 score : 0.7731611964724066
====================================================================================

  0%|          | 0/8 [00:00<?, ?it/s]

Learning rate set to 0.053695
0:	learn: 0.1377528	test: 0.1115799	best: 0.1115799 (0)	total: 139ms	remaining: 2m 19s
100:	learn: 0.4144332	test: 0.4351030	best: 0.4353355 (99)	total: 7.67s	remaining: 1m 8s
200:	learn: 0.4651470	test: 0.4540117	best: 0.4555682 (195)	total: 14.9s	remaining: 59.3s
300:	learn: 0.4916460	test: 0.4676569	best: 0.4678606 (297)	total: 22.2s	remaining: 51.5s
400:	learn: 0.5082090	test: 0.4701018	best: 0.4717492 (390)	total: 29.5s	remaining: 44s
bestTest = 0.4717491644
bestIteration = 390
Shrink model to first 391 iterations.

 12%|█▎        | 1/8 [00:36<04:17, 36.76s/it]

random_state : 20, split_data_number : 0
threshold 적용 전 f1 score : 0.4717491644119051
threshold 적용 후 f1 score : 0.6259827779857732
====================================================================================

Learning rate set to 0.047669
0:	learn: 0.3491918	test: 0.3818143	best: 0.3818143 (0)	total: 72.8ms	remaining: 1m 12s
100:	learn: 0.4632551	test: 0.4955662	best: 0.4955662 (100)	total: 5.45s	remaining: 48.5s
200:	learn: 0.5001310	test: 0.5302785	best: 0.5302785 (200)	total: 10.9s	remaining: 43.2s
300:	learn: 0.5183381	test: 0.5389489	best: 0.5392781 (285)	total: 16.3s	remaining: 37.9s
400:	learn: 0.5301005	test: 0.5436684	best: 0.5439253 (386)	total: 21.7s	remaining: 32.5s
500:	learn: 0.5391505	test: 0.5457643	best: 0.5461738 (470)	total: 27s	remaining: 26.8s
bestTest = 0.5461737523
bestIteration = 470
Shrink model to first 471 iterations.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: RuntimeWarning: invalid value encountered in true_divide

 25%|██▌       | 2/8 [01:20<04:04, 40.71s/it]

random_state : 20, split_data_number : 1
threshold 적용 전 f1 score : 0.5461737523105361
threshold 적용 후 f1 score : 0.0
====================================================================================

Learning rate set to 0.05426
0:	learn: 0.5388704	test: 0.5269041	best: 0.5269041 (0)	total: 135ms	remaining: 2m 14s
100:	learn: 0.5847399	test: 0.5779458	best: 0.5800855 (85)	total: 7.09s	remaining: 1m 3s
200:	learn: 0.6007043	test: 0.5806205	best: 0.5833333 (160)	total: 13.9s	remaining: 55.3s
bestTest = 0.5833333333
bestIteration = 160
Shrink model to first 161 iterations.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: RuntimeWarning: invalid value encountered in true_divide

 38%|███▊      | 3/8 [01:38<02:32, 30.46s/it]

random_state : 20, split_data_number : 8
threshold 적용 전 f1 score : 0.5833333333333333
threshold 적용 후 f1 score : 0.0
====================================================================================

Learning rate set to 0.047689
0:	learn: 0.6500646	test: 0.6423167	best: 0.6423167 (0)	total: 84.7ms	remaining: 1m 24s
100:	learn: 0.6741359	test: 0.6744813	best: 0.6756986 (84)	total: 5.42s	remaining: 48.3s
bestTest = 0.6756985605
bestIteration = 84
Shrink model to first 85 iterations.

 50%|█████     | 4/8 [01:57<01:43, 25.96s/it]

random_state : 20, split_data_number : 9
threshold 적용 전 f1 score : 0.6756985605419137
threshold 적용 후 f1 score : 0.7044692947776648
====================================================================================

Learning rate set to 0.058752
0:	learn: 0.6511783	test: 0.6388467	best: 0.6388467 (0)	total: 103ms	remaining: 1m 43s
bestTest = 0.6674975075
bestIteration = 43
Shrink model to first 44 iterations.

 62%|██████▎   | 5/8 [02:05<00:58, 19.50s/it]

random_state : 20, split_data_number : 12
threshold 적용 전 f1 score : 0.6674975074775674
threshold 적용 후 f1 score : 0.7094535993061579
====================================================================================

Learning rate set to 0.052742
0:	learn: 0.7529247	test: 0.7535301	best: 0.7535301 (0)	total: 129ms	remaining: 2m 8s
bestTest = 0.7535300958
bestIteration = 0
Shrink model to first 1 iterations.

 75%|███████▌  | 6/8 [02:13<00:31, 15.66s/it]

random_state : 20, split_data_number : 13
threshold 적용 전 f1 score : 0.7535300957971095
threshold 적용 후 f1 score : 0.7464387464387465
====================================================================================

Learning rate set to 0.056504
0:	learn: 0.6590909	test: 0.6580501	best: 0.6580501 (0)	total: 121ms	remaining: 2m
bestTest = 0.6864106124
bestIteration = 7
Shrink model to first 8 iterations.

 88%|████████▊ | 7/8 [02:20<00:12, 12.69s/it]

random_state : 20, split_data_number : 14
threshold 적용 전 f1 score : 0.686410612370816
threshold 적용 후 f1 score : 0.7064729194187582
====================================================================================

Learning rate set to 0.051906
0:	learn: 0.7688001	test: 0.7672905	best: 0.7672905 (0)	total: 149ms	remaining: 2m 29s
100:	learn: 0.7738185	test: 0.7737930	best: 0.7739606 (98)	total: 7.74s	remaining: 1m 8s
bestTest = 0.7743253913
bestIteration = 116
Shrink model to first 117 iterations.

100%|██████████| 8/8 [02:38<00:00, 19.82s/it]
 40%|████      | 2/5 [04:52<07:25, 148.56s/it]

random_state : 20, split_data_number : 15
threshold 적용 전 f1 score : 0.7743253912962704
threshold 적용 후 f1 score : 0.7750501916408102
====================================================================================

  0%|          | 0/8 [00:00<?, ?it/s]

Learning rate set to 0.053695
0:	learn: 0.2297686	test: 0.2311806	best: 0.2311806 (0)	total: 134ms	remaining: 2m 14s
100:	learn: 0.4243290	test: 0.4433175	best: 0.4433546 (99)	total: 7.72s	remaining: 1m 8s
200:	learn: 0.4761545	test: 0.4696729	best: 0.4697859 (198)	total: 15.1s	remaining: 1m
300:	learn: 0.4999470	test: 0.4781790	best: 0.4791340 (294)	total: 22.4s	remaining: 52.1s
bestTest = 0.4791339818
bestIteration = 294
Shrink model to first 295 iterations.

 12%|█▎        | 1/8 [00:29<03:29, 29.96s/it]

random_state : 30, split_data_number : 0
threshold 적용 전 f1 score : 0.47913398180106687
threshold 적용 후 f1 score : 0.6152164009111617
====================================================================================

Learning rate set to 0.047669
0:	learn: 0.4267989	test: 0.4440682	best: 0.4440682 (0)	total: 74.7ms	remaining: 1m 14s
100:	learn: 0.4668196	test: 0.5049478	best: 0.5049478 (100)	total: 5.34s	remaining: 47.5s
200:	learn: 0.5045450	test: 0.5405287	best: 0.5405306 (198)	total: 10.7s	remaining: 42.4s
300:	learn: 0.5203731	test: 0.5487831	best: 0.5492815 (293)	total: 16.1s	remaining: 37.4s
400:	learn: 0.5298877	test: 0.5521041	best: 0.5521041 (400)	total: 21.4s	remaining: 32s
500:	learn: 0.5392310	test: 0.5530292	best: 0.5539631 (487)	total: 26.7s	remaining: 26.6s
bestTest = 0.5539630836
bestIteration = 487
Shrink model to first 488 iterations.

 25%|██▌       | 2/8 [01:14<03:50, 38.47s/it]

random_state : 30, split_data_number : 1
threshold 적용 전 f1 score : 0.5539630836047774
threshold 적용 후 f1 score : 0.6390114739629303
====================================================================================

Learning rate set to 0.05426
0:	learn: 0.5319418	test: 0.5297565	best: 0.5297565 (0)	total: 122ms	remaining: 2m 2s
100:	learn: 0.5871284	test: 0.5745012	best: 0.5751262 (97)	total: 7.22s	remaining: 1m 4s
200:	learn: 0.6016407	test: 0.5794878	best: 0.5801586 (196)	total: 14.1s	remaining: 56.1s
300:	learn: 0.6149632	test: 0.5826279	best: 0.5826608 (295)	total: 21s	remaining: 48.8s
400:	learn: 0.6264248	test: 0.5839739	best: 0.5863820 (381)	total: 27.9s	remaining: 41.7s
500:	learn: 0.6361658	test: 0.5891997	best: 0.5905430 (481)	total: 34.7s	remaining: 34.5s
bestTest = 0.5905429982
bestIteration = 481
Shrink model to first 482 iterations.

 38%|███▊      | 3/8 [01:55<03:18, 39.61s/it]

random_state : 30, split_data_number : 8
threshold 적용 전 f1 score : 0.5905429981813458
threshold 적용 후 f1 score : 0.672561629153269
====================================================================================

Learning rate set to 0.047689
0:	learn: 0.6489486	test: 0.6455249	best: 0.6455249 (0)	total: 71.7ms	remaining: 1m 11s
100:	learn: 0.6729376	test: 0.6804747	best: 0.6819441 (83)	total: 5.48s	remaining: 48.8s
bestTest = 0.681944139
bestIteration = 83
Shrink model to first 84 iterations.

 50%|█████     | 4/8 [02:14<02:06, 31.65s/it]

random_state : 30, split_data_number : 9
threshold 적용 전 f1 score : 0.6819441389927424
threshold 적용 후 f1 score : 0.7058890254277341
====================================================================================

Learning rate set to 0.058752
0:	learn: 0.6579357	test: 0.6744297	best: 0.6744297 (0)	total: 109ms	remaining: 1m 49s
100:	learn: 0.7049208	test: 0.6875617	best: 0.6890068 (55)	total: 6.53s	remaining: 58.1s
bestTest = 0.6890067502
bestIteration = 55
Shrink model to first 56 iterations.

 62%|██████▎   | 5/8 [02:23<01:10, 23.45s/it]

random_state : 30, split_data_number : 12
threshold 적용 전 f1 score : 0.68900675024108
threshold 적용 후 f1 score : 0.7060983071588823
====================================================================================

Learning rate set to 0.052742
0:	learn: 0.7501466	test: 0.7510409	best: 0.7510409 (0)	total: 138ms	remaining: 2m 17s
100:	learn: 0.7551174	test: 0.7523765	best: 0.7528746 (78)	total: 7.7s	remaining: 1m 8s
bestTest = 0.7528745594
bestIteration = 78
Shrink model to first 79 iterations.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: RuntimeWarning: invalid value encountered in true_divide

 75%|███████▌  | 6/8 [02:38<00:40, 20.37s/it]

random_state : 30, split_data_number : 13
threshold 적용 전 f1 score : 0.7528745594268216
threshold 적용 후 f1 score : 0.0
====================================================================================

Learning rate set to 0.056504
0:	learn: 0.6323471	test: 0.6304640	best: 0.6304640 (0)	total: 115ms	remaining: 1m 54s
bestTest = 0.6718232044
bestIteration = 46
Shrink model to first 47 iterations.

 88%|████████▊ | 7/8 [02:47<00:16, 16.81s/it]

random_state : 30, split_data_number : 14
threshold 적용 전 f1 score : 0.6718232044198895
threshold 적용 후 f1 score : 0.7049685281907058
====================================================================================

Learning rate set to 0.051906
0:	learn: 0.7629390	test: 0.7582392	best: 0.7582392 (0)	total: 154ms	remaining: 2m 33s
100:	learn: 0.7751582	test: 0.7725147	best: 0.7726853 (87)	total: 7.87s	remaining: 1m 10s
bestTest = 0.7729930394
bestIteration = 115
Shrink model to first 116 iterations.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: RuntimeWarning: invalid value encountered in true_divide

100%|██████████| 8/8 [03:05<00:00, 23.22s/it]
 60%|██████    | 3/5 [07:58<05:31, 165.55s/it]

random_state : 30, split_data_number : 15
threshold 적용 전 f1 score : 0.7729930394431554
threshold 적용 후 f1 score : 0.0
====================================================================================

  0%|          | 0/8 [00:00<?, ?it/s]

Learning rate set to 0.053695
0:	learn: 0.3201781	test: 0.3017557	best: 0.3017557 (0)	total: 137ms	remaining: 2m 16s
100:	learn: 0.4331030	test: 0.4309118	best: 0.4309118 (100)	total: 7.82s	remaining: 1m 9s
200:	learn: 0.4762574	test: 0.4510462	best: 0.4514377 (198)	total: 15.1s	remaining: 1m
300:	learn: 0.5039898	test: 0.4543572	best: 0.4560229 (294)	total: 22.5s	remaining: 52.3s
bestTest = 0.4560229446
bestIteration = 294
Shrink model to first 295 iterations.

 12%|█▎        | 1/8 [00:30<03:30, 30.12s/it]

random_state : 40, split_data_number : 0
threshold 적용 전 f1 score : 0.4560229445506692
threshold 적용 후 f1 score : 0.6187921785776086
====================================================================================

Learning rate set to 0.047669
0:	learn: 0.4236584	test: 0.4414484	best: 0.4414484 (0)	total: 72.9ms	remaining: 1m 12s
100:	learn: 0.4666694	test: 0.4938998	best: 0.4943344 (98)	total: 5.33s	remaining: 47.4s
200:	learn: 0.5029736	test: 0.5227504	best: 0.5227504 (200)	total: 10.6s	remaining: 42.2s
300:	learn: 0.5212950	test: 0.5386467	best: 0.5393242 (296)	total: 16s	remaining: 37.2s
400:	learn: 0.5325650	test: 0.5400067	best: 0.5402576 (388)	total: 21.3s	remaining: 31.9s
500:	learn: 0.5407373	test: 0.5414980	best: 0.5425816 (483)	total: 26.6s	remaining: 26.5s
bestTest = 0.5425816024
bestIteration = 483
Shrink model to first 484 iterations.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: RuntimeWarning: invalid value encountered in true_divide

 25%|██▌       | 2/8 [01:14<03:50, 38.34s/it]

random_state : 40, split_data_number : 1
threshold 적용 전 f1 score : 0.5425816023738873
threshold 적용 후 f1 score : 0.0
====================================================================================

Learning rate set to 0.05426
0:	learn: 0.5817579	test: 0.5790013	best: 0.5790013 (0)	total: 120ms	remaining: 1m 59s
100:	learn: 0.5859351	test: 0.5788745	best: 0.5802005 (74)	total: 7.2s	remaining: 1m 4s
200:	learn: 0.6035280	test: 0.5815926	best: 0.5854825 (161)	total: 14.1s	remaining: 56.1s
bestTest = 0.5854824506
bestIteration = 161
Shrink model to first 162 iterations.

 38%|███▊      | 3/8 [01:32<02:26, 29.30s/it]

random_state : 40, split_data_number : 8
threshold 적용 전 f1 score : 0.5854824506227198
threshold 적용 후 f1 score : 0.6664860960635608
====================================================================================

Learning rate set to 0.047689
0:	learn: 0.6605693	test: 0.6595162	best: 0.6595162 (0)	total: 88.4ms	remaining: 1m 28s
100:	learn: 0.6720547	test: 0.6845029	best: 0.6845029 (100)	total: 5.5s	remaining: 49s
bestTest = 0.6865167541
bestIteration = 148
Shrink model to first 149 iterations.

 50%|█████     | 4/8 [01:56<01:47, 26.99s/it]

random_state : 40, split_data_number : 9
threshold 적용 전 f1 score : 0.6865167540663051
threshold 적용 후 f1 score : 0.7073448862467987
====================================================================================

Learning rate set to 0.058752
0:	learn: 0.6557161	test: 0.6488261	best: 0.6488261 (0)	total: 105ms	remaining: 1m 44s
bestTest = 0.6819427148
bestIteration = 41
Shrink model to first 42 iterations.

 62%|██████▎   | 5/8 [02:04<01:00, 20.12s/it]

random_state : 40, split_data_number : 12
threshold 적용 전 f1 score : 0.6819427148194271
threshold 적용 후 f1 score : 0.7093698175787729
====================================================================================

Learning rate set to 0.052742
0:	learn: 0.7454584	test: 0.7420182	best: 0.7420182 (0)	total: 137ms	remaining: 2m 16s
100:	learn: 0.7532971	test: 0.7493290	best: 0.7505952 (78)	total: 7.67s	remaining: 1m 8s
bestTest = 0.7505952035
bestIteration = 78
Shrink model to first 79 iterations.

 75%|███████▌  | 6/8 [02:18<00:36, 18.12s/it]

random_state : 40, split_data_number : 13
threshold 적용 전 f1 score : 0.7505952035305731
threshold 적용 후 f1 score : 0.7571877807726863
====================================================================================

Learning rate set to 0.056504
0:	learn: 0.6667341	test: 0.6821122	best: 0.6821122 (0)	total: 117ms	remaining: 1m 57s
bestTest = 0.6853428262
bestIteration = 18
Shrink model to first 19 iterations.

 88%|████████▊ | 7/8 [02:25<00:14, 14.58s/it]

random_state : 40, split_data_number : 14
threshold 적용 전 f1 score : 0.6853428261878967
threshold 적용 후 f1 score : 0.7046753246753247
====================================================================================

Learning rate set to 0.051906
0:	learn: 0.7659107	test: 0.7638583	best: 0.7638583 (0)	total: 152ms	remaining: 2m 31s
bestTest = 0.7728736675
bestIteration = 44
Shrink model to first 45 iterations.

100%|██████████| 8/8 [02:38<00:00, 19.75s/it]
 80%|████████  | 4/5 [10:36<02:42, 162.59s/it]

random_state : 40, split_data_number : 15
threshold 적용 전 f1 score : 0.7728736674982989
threshold 적용 후 f1 score : 0.7729130711236261
====================================================================================

  0%|          | 0/8 [00:00<?, ?it/s]

Learning rate set to 0.053695
0:	learn: 0.2630818	test: 0.2675835	best: 0.2675835 (0)	total: 137ms	remaining: 2m 17s
100:	learn: 0.4176642	test: 0.4422094	best: 0.4422094 (100)	total: 7.67s	remaining: 1m 8s
200:	learn: 0.4698147	test: 0.4747315	best: 0.4747315 (200)	total: 15.2s	remaining: 1m
300:	learn: 0.4958968	test: 0.4850467	best: 0.4850467 (300)	total: 22.5s	remaining: 52.3s
bestTest = 0.4863940289
bestIteration = 320
Shrink model to first 321 iterations.

 12%|█▎        | 1/8 [00:31<03:43, 31.91s/it]

random_state : 50, split_data_number : 0
threshold 적용 전 f1 score : 0.4863940289224071
threshold 적용 후 f1 score : 0.6192960819656579
====================================================================================

Learning rate set to 0.047669
0:	learn: 0.4260611	test: 0.4467267	best: 0.4467267 (0)	total: 75.8ms	remaining: 1m 15s
bestTest = 0.470138276
bestIteration = 1
Shrink model to first 2 iterations.

 25%|██▌       | 2/8 [00:46<02:09, 21.55s/it]

random_state : 50, split_data_number : 1
threshold 적용 전 f1 score : 0.47013827596351865
threshold 적용 후 f1 score : 0.6040894682798339
====================================================================================

Learning rate set to 0.05426
0:	learn: 0.5705399	test: 0.5497889	best: 0.5497889 (0)	total: 152ms	remaining: 2m 31s
100:	learn: 0.5823545	test: 0.5809267	best: 0.5809267 (100)	total: 7.14s	remaining: 1m 3s
200:	learn: 0.6019120	test: 0.5878136	best: 0.5880394 (197)	total: 14s	remaining: 55.6s
300:	learn: 0.6112337	test: 0.5905542	best: 0.5918836 (261)	total: 20.9s	remaining: 48.5s
bestTest = 0.5918836141
bestIteration = 261
Shrink model to first 262 iterations.

 38%|███▊      | 3/8 [01:11<01:56, 23.32s/it]

random_state : 50, split_data_number : 8
threshold 적용 전 f1 score : 0.591883614088821
threshold 적용 후 f1 score : 0.6699840390573656
====================================================================================

Learning rate set to 0.047689
0:	learn: 0.6356753	test: 0.6373118	best: 0.6373118 (0)	total: 88.8ms	remaining: 1m 28s
100:	learn: 0.6713589	test: 0.6823613	best: 0.6823613 (100)	total: 5.45s	remaining: 48.5s
bestTest = 0.6828943573
bestIteration = 106
Shrink model to first 107 iterations.

 50%|█████     | 4/8 [01:32<01:29, 22.35s/it]

random_state : 50, split_data_number : 9
threshold 적용 전 f1 score : 0.6828943572902567
threshold 적용 후 f1 score : 0.7075983199694539
====================================================================================

Learning rate set to 0.058752
0:	learn: 0.6601926	test: 0.6508408	best: 0.6508408 (0)	total: 107ms	remaining: 1m 47s
100:	learn: 0.6976198	test: 0.6710130	best: 0.6738756 (60)	total: 6.35s	remaining: 56.5s
bestTest = 0.6738756451
bestIteration = 60
Shrink model to first 61 iterations.

 62%|██████▎   | 5/8 [01:41<00:52, 17.49s/it]

random_state : 50, split_data_number : 12
threshold 적용 전 f1 score : 0.6738756451216514
threshold 적용 후 f1 score : 0.7087923508626065
====================================================================================

Learning rate set to 0.052742
0:	learn: 0.7484618	test: 0.7458167	best: 0.7458167 (0)	total: 158ms	remaining: 2m 37s
bestTest = 0.7529330174
bestIteration = 49
Shrink model to first 50 iterations.

 75%|███████▌  | 6/8 [01:53<00:31, 15.55s/it]

random_state : 50, split_data_number : 13
threshold 적용 전 f1 score : 0.7529330173958274
threshold 적용 후 f1 score : 0.7565745111260958
====================================================================================

Learning rate set to 0.056504
0:	learn: 0.6492835	test: 0.6376765	best: 0.6376765 (0)	total: 113ms	remaining: 1m 53s
100:	learn: 0.6915217	test: 0.6737531	best: 0.6753247 (80)	total: 6.98s	remaining: 1m 2s
bestTest = 0.6757243411
bestIteration = 114
Shrink model to first 115 iterations.

 88%|████████▊ | 7/8 [02:06<00:14, 14.98s/it]

random_state : 50, split_data_number : 14
threshold 적용 전 f1 score : 0.6757243411360287
threshold 적용 후 f1 score : 0.7094459944200877
====================================================================================

Learning rate set to 0.051906
0:	learn: 0.7710488	test: 0.7708128	best: 0.7708128 (0)	total: 164ms	remaining: 2m 44s
bestTest = 0.7720039558
bestIteration = 20
Shrink model to first 21 iterations.

100%|██████████| 8/8 [02:17<00:00, 17.17s/it]
100%|██████████| 5/5 [12:54<00:00, 154.80s/it]

random_state : 50, split_data_number : 15
threshold 적용 전 f1 score : 0.7720039557673289
threshold 적용 후 f1 score : 0.7720039557673289
====================================================================================

## 특성 명명

In [30]:
col_names = []
for n in range(10,60,10):
  col_names.append(str(n))

In [31]:
all_train_pred_thr_df.columns = col_names
all_test_pred_thr_df.columns = col_names

### 오류난 특성 제거

In [32]:
error_col = ['20', '30']
mod_all_train_pred_thr_df = all_train_pred_thr_df.drop(error_col, axis=1)
mod_all_test_pred_thr_df = all_test_pred_thr_df.drop(error_col, axis=1)

## 결과 종합

In [33]:
mod_all_train_pred_thr_df['mean'] = mod_all_train_pred_thr_df.mean(axis=1)
mod_all_test_pred_thr_df['mean'] = mod_all_test_pred_thr_df.mean(axis=1)

In [34]:
mod_all_train_pred_thr_df = mod_all_train_pred_thr_df.sort_index()
mod_all_test_pred_thr_df = mod_all_test_pred_thr_df.sort_index()

In [35]:
mod_all_train_pred_thr_df

        10  40  50      mean
0        1   1   1  1.000000
1        0   0   0  0.000000
2        1   0   1  0.666667
3        1   0   1  0.666667
4        1   1   0  0.666667
...     ..  ..  ..       ...
501946   1   0   1  0.666667
501947   1   1   1  1.000000
501948   1   1   1  1.000000
501949   1   1   1  1.000000
501950   1   1   1  1.000000

[501951 rows x 4 columns]

In [36]:
mod_all_test_pred_thr_df

       10  40  50      mean
0       1   1   1  1.000000
1       1   0   1  0.666667
2       1   1   1  1.000000
3       0   0   0  0.000000
4       1   1   1  1.000000
...    ..  ..  ..       ...
46399   1   1   1  1.000000
46400   1   1   1  1.000000
46401   1   1   1  1.000000
46402   1   1   1  1.000000
46403   1   1   1  1.000000

[46404 rows x 4 columns]

In [37]:
train_pred = (mod_all_train_pred_thr_df['mean'] > 0.5)
train_pred = train_pred.astype(int)

## 자체평가

In [38]:
f1_score(train['target'], train_pred)

0.7202342176397032

## test 예측

In [39]:
test_pred = (mod_all_test_pred_thr_df['mean'] > 0.5)
test_pred = test_pred.astype(int)

In [40]:
np.unique(test_pred, return_counts=True)

(array([0, 1]), array([ 6376, 40028]))

# 제출파일 불러오기

In [41]:
# sub = pd.read_csv('../data/sample_submission.csv')
sub = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/sample_submission.csv')
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      46404 non-null  int64
 1   target  46404 non-null  int64
dtypes: int64(2)
memory usage: 725.2 KB

# 제출파일 생성

In [43]:
sub['target'] = test_pred
sub['target'].value_counts()

1    40028
0     6376
Name: target, dtype: int64

In [44]:
file_ver = '6.7'
# sub.to_csv(f'sub_ver{file_ver}.csv', index=False)
sub.to_csv(f'/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/03_모델선정및개선/sub_ver{file_ver}.csv', index=False)

# 코드 마지막