# 라이브러리 로드 및 기본 세팅

In [ ]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.0.3-cp37-none-manylinux1_x86_64.whl (76.3 MB)
     |████████████████████████████████| 76.3 MB 1.2 MB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.6)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-1.0.3

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, classification_report, precision_recall_curve

# 데이콘 점수

In [ ]:
# 자체 점수 : 0.705118
# 제출 점수(제출 날짜) : 0.6990281224(2022-01-13 12:48:11)

# 설정

In [ ]:
# cat
# probability_threshold : 0.390637
# one_hot_max_size = 2
# random_state : 5(range(10, 60, 10))
  # 50에서 에러 발생
# iterations = 1000
# 순서형 특성 수치형으로 지정(4개)
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [ ]:
# 제거된 특성(8개)
# 'id',
# 'contents_open_dt',
# 'person_prefer_f',
# 'person_prefer_g',
# 'h_m_match_yn',
# 'h_s_match_yn',
# 'person_rn',
# 'contents_rn'

# 데이터 불러오기

In [ ]:
# train = pd.read_csv('../data/df_train.csv')
# test = pd.read_csv('../data/df_test.csv')
train = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_train.csv')
test = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_test.csv')

# 데이터 확인

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 63 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      501951 non-null  int64
 1   d_l_match_yn            501951 non-null  bool
 2   d_m_match_yn            501951 non-null  bool
 3   d_s_match_yn            501951 non-null  bool
 4   h_l_match_yn            501951 non-null  bool
 5   h_m_match_yn            501951 non-null  bool
 6   h_s_match_yn            501951 non-null  bool
 7   person_attribute_a      501951 non-null  int64
 8   person_attribute_a_1    501951 non-null  int64
 9   person_attribute_b      501951 non-null  int64
 10  person_prefer_c         501951 non-null  int64
 11  person_prefer_d_1       501951 non-null  int64
 12  person_prefer_d_2       501951 non-null  int64
 13  person_prefer_d_3       501951 non-null  int64
 14  person_prefer_e         501951 non-null  int64
 15  person_prefer_f         501951 non-null  int64
 16  person_prefer_g         501951 non-null  int64
 17  person_prefer_h_1       501951 non-null  int64
 18  person_prefer_h_2       501951 non-null  int64
 19  person_prefer_h_3       501951 non-null  int64
 20  contents_attribute_i    501951 non-null  int64
 21  contents_attribute_a    501951 non-null  int64
 22  contents_attribute_j_1  501951 non-null  int64
 23  contents_attribute_j    501951 non-null  int64
 24  contents_attribute_c    501951 non-null  int64
 25  contents_attribute_k    501951 non-null  int64
 26  contents_attribute_l    501951 non-null  int64
 27  contents_attribute_d    501951 non-null  int64
 28  contents_attribute_m    501951 non-null  int64
 29  contents_attribute_e    501951 non-null  int64
 30  contents_attribute_h    501951 non-null  int64
 31  person_rn               501951 non-null  int64
 32  contents_rn             501951 non-null  int64
 33  contents_open_dt        501951 non-null  object
 34  target                  501951 non-null  int64
 35  person_prefer_d_1_n     501951 non-null  int64
 36  person_prefer_d_1_s     501951 non-null  int64
 37  person_prefer_d_1_m     501951 non-null  int64
 38  person_prefer_d_1_l     501951 non-null  int64
 39  person_prefer_d_2_n     501951 non-null  int64
 40  person_prefer_d_2_s     501951 non-null  int64
 41  person_prefer_d_2_m     501951 non-null  int64
 42  person_prefer_d_2_l     501951 non-null  int64
 43  person_prefer_d_3_n     501951 non-null  int64
 44  person_prefer_d_3_s     501951 non-null  int64
 45  person_prefer_d_3_m     501951 non-null  int64
 46  person_prefer_d_3_l     501951 non-null  int64
 47  contents_attribute_d_n  501951 non-null  int64
 48  contents_attribute_d_s  501951 non-null  int64
 49  contents_attribute_d_m  501951 non-null  int64
 50  contents_attribute_d_l  501951 non-null  int64
 51  person_prefer_h_1_m     501951 non-null  int64
 52  person_prefer_h_1_l     501951 non-null  int64
 53  person_prefer_h_2_m     501951 non-null  int64
 54  person_prefer_h_2_l     501951 non-null  int64
 55  person_prefer_h_3_m     501951 non-null  int64
 56  person_prefer_h_3_l     501951 non-null  int64
 57  contents_attribute_h_m  501951 non-null  int64
 58  contents_attribute_h_l  501951 non-null  int64
 59  contents_attribute_l_n  501951 non-null  int64
 60  contents_attribute_l_s  501951 non-null  int64
 61  contents_attribute_l_m  501951 non-null  int64
 62  contents_attribute_l_l  501951 non-null  int64
dtypes: bool(6), int64(56), object(1)
memory usage: 221.2+ MB

In [ ]:
train.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1605                    2016
1   1         False  ...                    1605                    2016
2   2         False  ...                    1572                    2016
3   3         False  ...                    1605                    2016
4   4          True  ...                    1605                    2016

[5 rows x 63 columns]

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 62 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      46404 non-null  int64
 1   d_l_match_yn            46404 non-null  bool
 2   d_m_match_yn            46404 non-null  bool
 3   d_s_match_yn            46404 non-null  bool
 4   h_l_match_yn            46404 non-null  bool
 5   h_m_match_yn            46404 non-null  bool
 6   h_s_match_yn            46404 non-null  bool
 7   person_attribute_a      46404 non-null  int64
 8   person_attribute_a_1    46404 non-null  int64
 9   person_attribute_b      46404 non-null  int64
 10  person_prefer_c         46404 non-null  int64
 11  person_prefer_d_1       46404 non-null  int64
 12  person_prefer_d_2       46404 non-null  int64
 13  person_prefer_d_3       46404 non-null  int64
 14  person_prefer_e         46404 non-null  int64
 15  person_prefer_f         46404 non-null  int64
 16  person_prefer_g         46404 non-null  int64
 17  person_prefer_h_1       46404 non-null  int64
 18  person_prefer_h_2       46404 non-null  int64
 19  person_prefer_h_3       46404 non-null  int64
 20  contents_attribute_i    46404 non-null  int64
 21  contents_attribute_a    46404 non-null  int64
 22  contents_attribute_j_1  46404 non-null  int64
 23  contents_attribute_j    46404 non-null  int64
 24  contents_attribute_c    46404 non-null  int64
 25  contents_attribute_k    46404 non-null  int64
 26  contents_attribute_l    46404 non-null  int64
 27  contents_attribute_d    46404 non-null  int64
 28  contents_attribute_m    46404 non-null  int64
 29  contents_attribute_e    46404 non-null  int64
 30  contents_attribute_h    46404 non-null  int64
 31  person_rn               46404 non-null  int64
 32  contents_rn             46404 non-null  int64
 33  contents_open_dt        46404 non-null  object
 34  person_prefer_d_1_n     46404 non-null  int64
 35  person_prefer_d_1_s     46404 non-null  int64
 36  person_prefer_d_1_m     46404 non-null  int64
 37  person_prefer_d_1_l     46404 non-null  int64
 38  person_prefer_d_2_n     46404 non-null  int64
 39  person_prefer_d_2_s     46404 non-null  int64
 40  person_prefer_d_2_m     46404 non-null  int64
 41  person_prefer_d_2_l     46404 non-null  int64
 42  person_prefer_d_3_n     46404 non-null  int64
 43  person_prefer_d_3_s     46404 non-null  int64
 44  person_prefer_d_3_m     46404 non-null  int64
 45  person_prefer_d_3_l     46404 non-null  int64
 46  contents_attribute_d_n  46404 non-null  int64
 47  contents_attribute_d_s  46404 non-null  int64
 48  contents_attribute_d_m  46404 non-null  int64
 49  contents_attribute_d_l  46404 non-null  int64
 50  person_prefer_h_1_m     46404 non-null  int64
 51  person_prefer_h_1_l     46404 non-null  int64
 52  person_prefer_h_2_m     46404 non-null  int64
 53  person_prefer_h_2_l     46404 non-null  int64
 54  person_prefer_h_3_m     46404 non-null  int64
 55  person_prefer_h_3_l     46404 non-null  int64
 56  contents_attribute_h_m  46404 non-null  int64
 57  contents_attribute_h_l  46404 non-null  int64
 58  contents_attribute_l_n  46404 non-null  int64
 59  contents_attribute_l_s  46404 non-null  int64
 60  contents_attribute_l_m  46404 non-null  int64
 61  contents_attribute_l_l  46404 non-null  int64
dtypes: bool(6), int64(55), object(1)
memory usage: 20.1+ MB

In [ ]:
test.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1021                    2010
1   1         False  ...                    1605                    2016
2   2          True  ...                    1810                    2020
3   3          True  ...                      99                    2006
4   4          True  ...                     954                    2009

[5 rows x 62 columns]

# 필요 데이터 추출

## 훈련에 의미가 적은 열 제거

In [ ]:
# 제거된 특성(8개)
# 'id',
# 'contents_open_dt',
# 'person_prefer_f',
# 'person_prefer_g',
# 'h_m_match_yn',
# 'h_s_match_yn',
# 'person_rn',
# 'contents_rn'

In [ ]:
# 삭제할 특성
pop_col = ['id',
'contents_open_dt',
'person_prefer_f',
'person_prefer_g',
'h_m_match_yn',
'h_s_match_yn',
'person_rn',
'contents_rn']
len(pop_col)

8

In [ ]:
train = train.drop(pop_col, axis=1) 
test = test.drop(pop_col, axis=1)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 55 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   d_l_match_yn            501951 non-null  bool
 1   d_m_match_yn            501951 non-null  bool
 2   d_s_match_yn            501951 non-null  bool
 3   h_l_match_yn            501951 non-null  bool
 4   person_attribute_a      501951 non-null  int64
 5   person_attribute_a_1    501951 non-null  int64
 6   person_attribute_b      501951 non-null  int64
 7   person_prefer_c         501951 non-null  int64
 8   person_prefer_d_1       501951 non-null  int64
 9   person_prefer_d_2       501951 non-null  int64
 10  person_prefer_d_3       501951 non-null  int64
 11  person_prefer_e         501951 non-null  int64
 12  person_prefer_h_1       501951 non-null  int64
 13  person_prefer_h_2       501951 non-null  int64
 14  person_prefer_h_3       501951 non-null  int64
 15  contents_attribute_i    501951 non-null  int64
 16  contents_attribute_a    501951 non-null  int64
 17  contents_attribute_j_1  501951 non-null  int64
 18  contents_attribute_j    501951 non-null  int64
 19  contents_attribute_c    501951 non-null  int64
 20  contents_attribute_k    501951 non-null  int64
 21  contents_attribute_l    501951 non-null  int64
 22  contents_attribute_d    501951 non-null  int64
 23  contents_attribute_m    501951 non-null  int64
 24  contents_attribute_e    501951 non-null  int64
 25  contents_attribute_h    501951 non-null  int64
 26  target                  501951 non-null  int64
 27  person_prefer_d_1_n     501951 non-null  int64
 28  person_prefer_d_1_s     501951 non-null  int64
 29  person_prefer_d_1_m     501951 non-null  int64
 30  person_prefer_d_1_l     501951 non-null  int64
 31  person_prefer_d_2_n     501951 non-null  int64
 32  person_prefer_d_2_s     501951 non-null  int64
 33  person_prefer_d_2_m     501951 non-null  int64
 34  person_prefer_d_2_l     501951 non-null  int64
 35  person_prefer_d_3_n     501951 non-null  int64
 36  person_prefer_d_3_s     501951 non-null  int64
 37  person_prefer_d_3_m     501951 non-null  int64
 38  person_prefer_d_3_l     501951 non-null  int64
 39  contents_attribute_d_n  501951 non-null  int64
 40  contents_attribute_d_s  501951 non-null  int64
 41  contents_attribute_d_m  501951 non-null  int64
 42  contents_attribute_d_l  501951 non-null  int64
 43  person_prefer_h_1_m     501951 non-null  int64
 44  person_prefer_h_1_l     501951 non-null  int64
 45  person_prefer_h_2_m     501951 non-null  int64
 46  person_prefer_h_2_l     501951 non-null  int64
 47  person_prefer_h_3_m     501951 non-null  int64
 48  person_prefer_h_3_l     501951 non-null  int64
 49  contents_attribute_h_m  501951 non-null  int64
 50  contents_attribute_h_l  501951 non-null  int64
 51  contents_attribute_l_n  501951 non-null  int64
 52  contents_attribute_l_s  501951 non-null  int64
 53  contents_attribute_l_m  501951 non-null  int64
 54  contents_attribute_l_l  501951 non-null  int64
dtypes: bool(4), int64(51)
memory usage: 197.2 MB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 54 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   d_l_match_yn            46404 non-null  bool
 1   d_m_match_yn            46404 non-null  bool
 2   d_s_match_yn            46404 non-null  bool
 3   h_l_match_yn            46404 non-null  bool
 4   person_attribute_a      46404 non-null  int64
 5   person_attribute_a_1    46404 non-null  int64
 6   person_attribute_b      46404 non-null  int64
 7   person_prefer_c         46404 non-null  int64
 8   person_prefer_d_1       46404 non-null  int64
 9   person_prefer_d_2       46404 non-null  int64
 10  person_prefer_d_3       46404 non-null  int64
 11  person_prefer_e         46404 non-null  int64
 12  person_prefer_h_1       46404 non-null  int64
 13  person_prefer_h_2       46404 non-null  int64
 14  person_prefer_h_3       46404 non-null  int64
 15  contents_attribute_i    46404 non-null  int64
 16  contents_attribute_a    46404 non-null  int64
 17  contents_attribute_j_1  46404 non-null  int64
 18  contents_attribute_j    46404 non-null  int64
 19  contents_attribute_c    46404 non-null  int64
 20  contents_attribute_k    46404 non-null  int64
 21  contents_attribute_l    46404 non-null  int64
 22  contents_attribute_d    46404 non-null  int64
 23  contents_attribute_m    46404 non-null  int64
 24  contents_attribute_e    46404 non-null  int64
 25  contents_attribute_h    46404 non-null  int64
 26  person_prefer_d_1_n     46404 non-null  int64
 27  person_prefer_d_1_s     46404 non-null  int64
 28  person_prefer_d_1_m     46404 non-null  int64
 29  person_prefer_d_1_l     46404 non-null  int64
 30  person_prefer_d_2_n     46404 non-null  int64
 31  person_prefer_d_2_s     46404 non-null  int64
 32  person_prefer_d_2_m     46404 non-null  int64
 33  person_prefer_d_2_l     46404 non-null  int64
 34  person_prefer_d_3_n     46404 non-null  int64
 35  person_prefer_d_3_s     46404 non-null  int64
 36  person_prefer_d_3_m     46404 non-null  int64
 37  person_prefer_d_3_l     46404 non-null  int64
 38  contents_attribute_d_n  46404 non-null  int64
 39  contents_attribute_d_s  46404 non-null  int64
 40  contents_attribute_d_m  46404 non-null  int64
 41  contents_attribute_d_l  46404 non-null  int64
 42  person_prefer_h_1_m     46404 non-null  int64
 43  person_prefer_h_1_l     46404 non-null  int64
 44  person_prefer_h_2_m     46404 non-null  int64
 45  person_prefer_h_2_l     46404 non-null  int64
 46  person_prefer_h_3_m     46404 non-null  int64
 47  person_prefer_h_3_l     46404 non-null  int64
 48  contents_attribute_h_m  46404 non-null  int64
 49  contents_attribute_h_l  46404 non-null  int64
 50  contents_attribute_l_n  46404 non-null  int64
 51  contents_attribute_l_s  46404 non-null  int64
 52  contents_attribute_l_m  46404 non-null  int64
 53  contents_attribute_l_l  46404 non-null  int64
dtypes: bool(4), int64(50)
memory usage: 17.9 MB

## 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경

In [ ]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
train = train.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
train = train.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
train.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0          True          True  ...                    1605                    2016
1         False         False  ...                    1605                    2016
2         False         False  ...                    1572                    2016
3         False         False  ...                    1605                    2016
4          True          True  ...                    1605                    2016

[5 rows x 55 columns]

In [ ]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
test = test.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
test = test.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
test.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0          True         False  ...                    1021                    2010
1         False         False  ...                    1605                    2016
2          True         False  ...                    1810                    2020
3          True         False  ...                      99                    2006
4          True         False  ...                     954                    2009

[5 rows x 54 columns]

## 카테고리형 특성으로 지정할 특성

In [ ]:
# 원본 데이터에서 순서형 특성
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [ ]:
# 순서형 특성 수치형으로 지정 : ⭕
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [ ]:
cat_f = train.columns.tolist()
numeric_cat = ['person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e']
for col in numeric_cat:
  cat_f.remove(col)
cat_f.remove('target')

In [ ]:
# 55 - 5 = 50개
len(cat_f)

50

# train, test 셋 준비

In [ ]:
train.shape

(501951, 55)

In [ ]:
X = train.drop(['target'], axis=1)
X.shape

(501951, 54)

In [ ]:
y = train[['target']]
y.shape

(501951, 1)

# 모델 훈련/예측

In [46]:
score_df = pd.DataFrame(index=['threshold 적용 전', 'threshold 적용 후'])
pred_proba_df = pd.DataFrame()
thr_df = pd.DataFrame()

for random_state in tqdm(range(10, 60, 10)):
  temp_score_list =[]
  X_train, X_val, y_train, y_val = train_test_split(X, y, random_state=random_state, shuffle=True, stratify=y)
  cat = CatBoostClassifier(random_state=0, iterations=1000, task_type='GPU', early_stopping_rounds=50,
                         cat_features=cat_f, eval_metric='F1', one_hot_max_size=2)
  cat.fit(X_train, y_train, eval_set=(X_val, y_val), verbose=100)

  val_pred = cat.predict(X_val)
  f1_score_raw = f1_score(y_val, val_pred)
  temp_score_list.append(f1_score_raw)

  val_pred_proba = cat.predict_proba(X_val)
  precisions, recalls, thresholds = precision_recall_curve(y_val, val_pred_proba[:,1])

  threshold_boundary = thresholds.shape[0]
  pr = pd.DataFrame({
      'Precision': precisions[:threshold_boundary], 
      'Recall': recalls[:threshold_boundary], 
      'Threshold': thresholds
  })
  pre = precisions[:threshold_boundary]
  re = recalls[:threshold_boundary]
  f1 = 2 * pre * re / (pre + re)
  optimal_idx = np.argmax(f1)
  optimal_threshold = thresholds[optimal_idx]
  thr_df[random_state] = [optimal_threshold]

  val_pred_th =  (val_pred_proba[:,1] >= optimal_threshold)
  # 1의 예측값만 불러와도 되므로 [:,1]사용
  val_pred_th = val_pred_th.astype(int)
  f1_score_mod = f1_score(y_val, val_pred_th)
  temp_score_list.append(f1_score_mod)
  score_df[random_state] = temp_score_list

  print("===============================================")
  print(f"random_state : {random_state}")
  print("threshold 적용 전 f1 score :", f1_score_raw)
  print("threshold 적용 후 f1 score :", f1_score_mod)
  print("===============================================")
  print()

  # test 셋 예측
  pred_proba = cat.predict_proba(test)
  pred_proba_df[random_state] = pred_proba[:,1]

# about 9m

  0%|          | 0/5 [00:00<?, ?it/s]

Learning rate set to 0.043012
0:	learn: 0.6023446	test: 0.6060218	best: 0.6060218 (0)	total: 197ms	remaining: 3m 16s
100:	learn: 0.6450237	test: 0.6620042	best: 0.6625132 (97)	total: 14s	remaining: 2m 4s
200:	learn: 0.6542215	test: 0.6684203	best: 0.6686892 (191)	total: 27.5s	remaining: 1m 49s
300:	learn: 0.6588377	test: 0.6709131	best: 0.6711125 (299)	total: 40.7s	remaining: 1m 34s
400:	learn: 0.6628803	test: 0.6742326	best: 0.6742326 (400)	total: 53.8s	remaining: 1m 20s
bestTest = 0.6747385388
bestIteration = 425
Shrink model to first 426 iterations.
===============================================
random_state : 10
threshold 적용 전 f1 score : 0.6747385388162087
threshold 적용 후 f1 score : 0.7037833403763453
===============================================

 20%|██        | 1/5 [01:35<06:22, 95.65s/it]

Learning rate set to 0.043012
0:	learn: 0.5985495	test: 0.5968657	best: 0.5968657 (0)	total: 201ms	remaining: 3m 20s
100:	learn: 0.6457080	test: 0.6581127	best: 0.6582584 (98)	total: 13.9s	remaining: 2m 3s
200:	learn: 0.6537320	test: 0.6687026	best: 0.6690047 (188)	total: 27.2s	remaining: 1m 48s
300:	learn: 0.6592225	test: 0.6709094	best: 0.6709643 (299)	total: 40.3s	remaining: 1m 33s
400:	learn: 0.6632747	test: 0.6739438	best: 0.6740232 (395)	total: 53.7s	remaining: 1m 20s
500:	learn: 0.6660509	test: 0.6748378	best: 0.6753389 (462)	total: 1m 6s	remaining: 1m 6s
bestTest = 0.6753389245
bestIteration = 462
Shrink model to first 463 iterations.
===============================================
random_state : 20
threshold 적용 전 f1 score : 0.6753389244596748
threshold 적용 후 f1 score : 0.7049770668283992
===============================================

 40%|████      | 2/5 [03:16<04:56, 98.77s/it]

Learning rate set to 0.043012
0:	learn: 0.6026651	test: 0.5968669	best: 0.5968669 (0)	total: 187ms	remaining: 3m 6s
100:	learn: 0.6451682	test: 0.6616600	best: 0.6616600 (100)	total: 13.9s	remaining: 2m 3s
200:	learn: 0.6538639	test: 0.6699984	best: 0.6700132 (199)	total: 27.3s	remaining: 1m 48s
300:	learn: 0.6586160	test: 0.6739465	best: 0.6739594 (292)	total: 40.7s	remaining: 1m 34s
400:	learn: 0.6627536	test: 0.6755237	best: 0.6757783 (394)	total: 53.9s	remaining: 1m 20s
500:	learn: 0.6653693	test: 0.6763417	best: 0.6764715 (493)	total: 1m 6s	remaining: 1m 6s
600:	learn: 0.6675633	test: 0.6763515	best: 0.6770252 (558)	total: 1m 19s	remaining: 52.9s
bestTest = 0.6770251764
bestIteration = 558
Shrink model to first 559 iterations.
===============================================
random_state : 30
threshold 적용 전 f1 score : 0.6770251764458022
threshold 적용 후 f1 score : 0.7052440771210182
===============================================

 60%|██████    | 3/5 [05:11<03:32, 106.16s/it]

Learning rate set to 0.043012
0:	learn: 0.6334568	test: 0.6362281	best: 0.6362281 (0)	total: 191ms	remaining: 3m 11s
100:	learn: 0.6460477	test: 0.6597438	best: 0.6598444 (92)	total: 13.6s	remaining: 2m
200:	learn: 0.6539691	test: 0.6687044	best: 0.6687044 (200)	total: 27.2s	remaining: 1m 47s
300:	learn: 0.6590383	test: 0.6722761	best: 0.6722807 (299)	total: 40.6s	remaining: 1m 34s
400:	learn: 0.6634507	test: 0.6743410	best: 0.6745237 (371)	total: 53.6s	remaining: 1m 20s
500:	learn: 0.6658242	test: 0.6757519	best: 0.6758100 (477)	total: 1m 6s	remaining: 1m 6s
600:	learn: 0.6675166	test: 0.6768160	best: 0.6770019 (579)	total: 1m 19s	remaining: 52.6s
bestTest = 0.6770734642
bestIteration = 609
Shrink model to first 610 iterations.
===============================================
random_state : 40
threshold 적용 전 f1 score : 0.6770734641702384
threshold 적용 후 f1 score : 0.7064672850022083
===============================================

 80%|████████  | 4/5 [07:13<01:52, 112.31s/it]

Learning rate set to 0.043012
0:	learn: 0.6021483	test: 0.6029735	best: 0.6029735 (0)	total: 196ms	remaining: 3m 16s
100:	learn: 0.6454603	test: 0.6576700	best: 0.6576700 (100)	total: 14s	remaining: 2m 4s
200:	learn: 0.6546127	test: 0.6660540	best: 0.6660540 (200)	total: 27.3s	remaining: 1m 48s
300:	learn: 0.6589333	test: 0.6698649	best: 0.6698649 (300)	total: 40.8s	remaining: 1m 34s
400:	learn: 0.6626062	test: 0.6713346	best: 0.6714161 (377)	total: 54.2s	remaining: 1m 21s
500:	learn: 0.6654740	test: 0.6727960	best: 0.6729776 (498)	total: 1m 6s	remaining: 1m 6s
600:	learn: 0.6669903	test: 0.6736730	best: 0.6736730 (600)	total: 1m 19s	remaining: 53s
bestTest = 0.6737654954
bestIteration = 616
Shrink model to first 617 iterations.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in true_divide

===============================================
random_state : 50
threshold 적용 전 f1 score : 0.6737654954359243
threshold 적용 후 f1 score : 0.0
===============================================

100%|██████████| 5/5 [09:16<00:00, 111.28s/it]

## 결과 종합

In [52]:
score_df

                      10        20        30        40      mean
threshold 적용 전  0.674739  0.675339  0.677025  0.677073  0.676044
threshold 적용 후  0.703783  0.704977  0.705244  0.706467  0.705118

In [47]:
pred_proba_df = pred_proba_df.drop([50], axis=1)
pred_proba_df['mean'] = pred_proba_df.mean(axis=1)
pred_proba_df.head()

         10        20        30        40      mean
0  0.384583  0.390674  0.416127  0.431606  0.405748
1  0.324878  0.250865  0.283799  0.247253  0.276699
2  0.516477  0.424403  0.396618  0.351325  0.422206
3  0.397140  0.373900  0.364974  0.340303  0.369079
4  0.444829  0.418513  0.433514  0.458059  0.438729

### threshold 값

In [48]:
thr_df

        10        20        30        40        50
0  0.38238  0.395777  0.395339  0.389054  0.899292

In [49]:
thr_df = thr_df.drop([50], axis=1)
thr_df['mean'] = thr_df.mean(axis=1)
thr_df

        10        20        30        40      mean
0  0.38238  0.395777  0.395339  0.389054  0.390637

## 자체평가

In [50]:
score_df

                      10        20        30        40        50
threshold 적용 전  0.674739  0.675339  0.677025  0.677073  0.673765
threshold 적용 후  0.703783  0.704977  0.705244  0.706467  0.000000

In [51]:
score_df = score_df.drop([50], axis=1)
score_df['mean'] = score_df.mean(axis=1)
score_df

                      10        20        30        40      mean
threshold 적용 전  0.674739  0.675339  0.677025  0.677073  0.676044
threshold 적용 후  0.703783  0.704977  0.705244  0.706467  0.705118

## test 예측

In [53]:
pred = pred_proba_df['mean'].tolist() >= thr_df['mean'].values
pred = pred.astype(int)
pred

array([1, 0, 1, ..., 1, 1, 1])

In [54]:
np.unique(pred, return_counts=True)

(array([0, 1]), array([11742, 34662]))

# 제출파일 불러오기

In [55]:
# sub = pd.read_csv('../data/sample_submission.csv')
sub = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/sample_submission.csv')
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      46404 non-null  int64
 1   target  46404 non-null  int64
dtypes: int64(2)
memory usage: 725.2 KB

# 제출파일 생성

In [56]:
sub['target'] = pred
sub['target'].value_counts()

1    34662
0    11742
Name: target, dtype: int64

In [57]:
file_ver = '4.7'
# sub.to_csv(f'sub_ver{file_ver}.csv', index=False)
sub.to_csv(f'/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/03_모델선정및개선/sub_ver{file_ver}.csv', index=False)

# 코드 마지막