# 라이브러리 로드 및 기본 세팅

In [1]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.0.4-cp37-none-manylinux1_x86_64.whl (76.1 MB)
     |████████████████████████████████| 76.1 MB 1.2 MB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.7)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (8.0.1)
Installing collected packages: catboost
Successfully installed catboost-1.0.4

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from catboost import CatBoostClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, classification_report, precision_recall_curve

# 데이콘 점수

In [4]:
# Best_score
  # target 1 개수 : 36081
  # self_score : 0.708871
  # date : 2022-01-13 11:08:38
  # score : 0.701834167

In [5]:
# Submit_score
  # target 1 개수 : 37563
  # self_score : 0.7755
  # date : 2022-01-28 11:59:50
  # score : 0.6909665629

# 설정

In [6]:
# cat
# 총 특성 개수 : 62개(타겟 특성 제외)
# 총 제거된 특성 개수 : 7
# 활용 특성 : 55
# 매칭 경우의 수 별로 훈련/예측
# one_hot_max_size = 5
# random_state : 5(range(10, 60, 10))
# iterations = 1000
# early_stopping_rounds = 50
# 순서형 특성 설정(4개)
# probability_threshold 설정

In [7]:
# 순서형 특성 (4개)
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [8]:
# 기본 제거 특성(5개)
# 'id',
# 'contents_open_dt',
# 'person_prefer_f',
# 'person_prefer_g',
# 'contents_rn',

In [9]:
# 특성 중요도 낮은 특성(2개)
# 'h_m_match_yn',
# 'h_s_match_yn'

# 데이터 불러오기

In [10]:
# train = pd.read_csv('../data/df_train.csv')
# test = pd.read_csv('../data/df_test.csv')
train = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_train.csv')
test = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_test.csv')

# 데이터 확인

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 63 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      501951 non-null  int64
 1   d_l_match_yn            501951 non-null  bool
 2   d_m_match_yn            501951 non-null  bool
 3   d_s_match_yn            501951 non-null  bool
 4   h_l_match_yn            501951 non-null  bool
 5   h_m_match_yn            501951 non-null  bool
 6   h_s_match_yn            501951 non-null  bool
 7   person_attribute_a      501951 non-null  int64
 8   person_attribute_a_1    501951 non-null  int64
 9   person_attribute_b      501951 non-null  int64
 10  person_prefer_c         501951 non-null  int64
 11  person_prefer_d_1       501951 non-null  int64
 12  person_prefer_d_2       501951 non-null  int64
 13  person_prefer_d_3       501951 non-null  int64
 14  person_prefer_e         501951 non-null  int64
 15  person_prefer_f         501951 non-null  int64
 16  person_prefer_g         501951 non-null  int64
 17  person_prefer_h_1       501951 non-null  int64
 18  person_prefer_h_2       501951 non-null  int64
 19  person_prefer_h_3       501951 non-null  int64
 20  contents_attribute_i    501951 non-null  int64
 21  contents_attribute_a    501951 non-null  int64
 22  contents_attribute_j_1  501951 non-null  int64
 23  contents_attribute_j    501951 non-null  int64
 24  contents_attribute_c    501951 non-null  int64
 25  contents_attribute_k    501951 non-null  int64
 26  contents_attribute_l    501951 non-null  int64
 27  contents_attribute_d    501951 non-null  int64
 28  contents_attribute_m    501951 non-null  int64
 29  contents_attribute_e    501951 non-null  int64
 30  contents_attribute_h    501951 non-null  int64
 31  person_rn               501951 non-null  int64
 32  contents_rn             501951 non-null  int64
 33  contents_open_dt        501951 non-null  object
 34  target                  501951 non-null  int64
 35  person_prefer_d_1_n     501951 non-null  int64
 36  person_prefer_d_1_s     501951 non-null  int64
 37  person_prefer_d_1_m     501951 non-null  int64
 38  person_prefer_d_1_l     501951 non-null  int64
 39  person_prefer_d_2_n     501951 non-null  int64
 40  person_prefer_d_2_s     501951 non-null  int64
 41  person_prefer_d_2_m     501951 non-null  int64
 42  person_prefer_d_2_l     501951 non-null  int64
 43  person_prefer_d_3_n     501951 non-null  int64
 44  person_prefer_d_3_s     501951 non-null  int64
 45  person_prefer_d_3_m     501951 non-null  int64
 46  person_prefer_d_3_l     501951 non-null  int64
 47  contents_attribute_d_n  501951 non-null  int64
 48  contents_attribute_d_s  501951 non-null  int64
 49  contents_attribute_d_m  501951 non-null  int64
 50  contents_attribute_d_l  501951 non-null  int64
 51  person_prefer_h_1_m     501951 non-null  int64
 52  person_prefer_h_1_l     501951 non-null  int64
 53  person_prefer_h_2_m     501951 non-null  int64
 54  person_prefer_h_2_l     501951 non-null  int64
 55  person_prefer_h_3_m     501951 non-null  int64
 56  person_prefer_h_3_l     501951 non-null  int64
 57  contents_attribute_h_m  501951 non-null  int64
 58  contents_attribute_h_l  501951 non-null  int64
 59  contents_attribute_l_n  501951 non-null  int64
 60  contents_attribute_l_s  501951 non-null  int64
 61  contents_attribute_l_m  501951 non-null  int64
 62  contents_attribute_l_l  501951 non-null  int64
dtypes: bool(6), int64(56), object(1)
memory usage: 221.2+ MB

In [12]:
train.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1605                    2016
1   1         False  ...                    1605                    2016
2   2         False  ...                    1572                    2016
3   3         False  ...                    1605                    2016
4   4          True  ...                    1605                    2016

[5 rows x 63 columns]

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 62 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      46404 non-null  int64
 1   d_l_match_yn            46404 non-null  bool
 2   d_m_match_yn            46404 non-null  bool
 3   d_s_match_yn            46404 non-null  bool
 4   h_l_match_yn            46404 non-null  bool
 5   h_m_match_yn            46404 non-null  bool
 6   h_s_match_yn            46404 non-null  bool
 7   person_attribute_a      46404 non-null  int64
 8   person_attribute_a_1    46404 non-null  int64
 9   person_attribute_b      46404 non-null  int64
 10  person_prefer_c         46404 non-null  int64
 11  person_prefer_d_1       46404 non-null  int64
 12  person_prefer_d_2       46404 non-null  int64
 13  person_prefer_d_3       46404 non-null  int64
 14  person_prefer_e         46404 non-null  int64
 15  person_prefer_f         46404 non-null  int64
 16  person_prefer_g         46404 non-null  int64
 17  person_prefer_h_1       46404 non-null  int64
 18  person_prefer_h_2       46404 non-null  int64
 19  person_prefer_h_3       46404 non-null  int64
 20  contents_attribute_i    46404 non-null  int64
 21  contents_attribute_a    46404 non-null  int64
 22  contents_attribute_j_1  46404 non-null  int64
 23  contents_attribute_j    46404 non-null  int64
 24  contents_attribute_c    46404 non-null  int64
 25  contents_attribute_k    46404 non-null  int64
 26  contents_attribute_l    46404 non-null  int64
 27  contents_attribute_d    46404 non-null  int64
 28  contents_attribute_m    46404 non-null  int64
 29  contents_attribute_e    46404 non-null  int64
 30  contents_attribute_h    46404 non-null  int64
 31  person_rn               46404 non-null  int64
 32  contents_rn             46404 non-null  int64
 33  contents_open_dt        46404 non-null  object
 34  person_prefer_d_1_n     46404 non-null  int64
 35  person_prefer_d_1_s     46404 non-null  int64
 36  person_prefer_d_1_m     46404 non-null  int64
 37  person_prefer_d_1_l     46404 non-null  int64
 38  person_prefer_d_2_n     46404 non-null  int64
 39  person_prefer_d_2_s     46404 non-null  int64
 40  person_prefer_d_2_m     46404 non-null  int64
 41  person_prefer_d_2_l     46404 non-null  int64
 42  person_prefer_d_3_n     46404 non-null  int64
 43  person_prefer_d_3_s     46404 non-null  int64
 44  person_prefer_d_3_m     46404 non-null  int64
 45  person_prefer_d_3_l     46404 non-null  int64
 46  contents_attribute_d_n  46404 non-null  int64
 47  contents_attribute_d_s  46404 non-null  int64
 48  contents_attribute_d_m  46404 non-null  int64
 49  contents_attribute_d_l  46404 non-null  int64
 50  person_prefer_h_1_m     46404 non-null  int64
 51  person_prefer_h_1_l     46404 non-null  int64
 52  person_prefer_h_2_m     46404 non-null  int64
 53  person_prefer_h_2_l     46404 non-null  int64
 54  person_prefer_h_3_m     46404 non-null  int64
 55  person_prefer_h_3_l     46404 non-null  int64
 56  contents_attribute_h_m  46404 non-null  int64
 57  contents_attribute_h_l  46404 non-null  int64
 58  contents_attribute_l_n  46404 non-null  int64
 59  contents_attribute_l_s  46404 non-null  int64
 60  contents_attribute_l_m  46404 non-null  int64
 61  contents_attribute_l_l  46404 non-null  int64
dtypes: bool(6), int64(55), object(1)
memory usage: 20.1+ MB

In [14]:
test.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1021                    2010
1   1         False  ...                    1605                    2016
2   2          True  ...                    1810                    2020
3   3          True  ...                      99                    2006
4   4          True  ...                     954                    2009

[5 rows x 62 columns]

# 필요 데이터 추출

## 훈련에 의미가 적은 열 제거

In [15]:
# 제거된 특성(7개)
# 'id',
# 'contents_open_dt',
# 'person_prefer_f',
# 'person_prefer_g',
# 'contents_rn',
# 'h_m_match_yn',
# 'h_s_match_yn'

In [16]:
# 삭제할 특성
pop_col = ['id', 'contents_open_dt', 'contents_rn', 'person_prefer_f', 'person_prefer_g',
           'h_m_match_yn', 'h_s_match_yn']
len(pop_col)

7

In [17]:
train = train.drop(pop_col, axis=1) 
test = test.drop(pop_col, axis=1)

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 56 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   d_l_match_yn            501951 non-null  bool
 1   d_m_match_yn            501951 non-null  bool
 2   d_s_match_yn            501951 non-null  bool
 3   h_l_match_yn            501951 non-null  bool
 4   person_attribute_a      501951 non-null  int64
 5   person_attribute_a_1    501951 non-null  int64
 6   person_attribute_b      501951 non-null  int64
 7   person_prefer_c         501951 non-null  int64
 8   person_prefer_d_1       501951 non-null  int64
 9   person_prefer_d_2       501951 non-null  int64
 10  person_prefer_d_3       501951 non-null  int64
 11  person_prefer_e         501951 non-null  int64
 12  person_prefer_h_1       501951 non-null  int64
 13  person_prefer_h_2       501951 non-null  int64
 14  person_prefer_h_3       501951 non-null  int64
 15  contents_attribute_i    501951 non-null  int64
 16  contents_attribute_a    501951 non-null  int64
 17  contents_attribute_j_1  501951 non-null  int64
 18  contents_attribute_j    501951 non-null  int64
 19  contents_attribute_c    501951 non-null  int64
 20  contents_attribute_k    501951 non-null  int64
 21  contents_attribute_l    501951 non-null  int64
 22  contents_attribute_d    501951 non-null  int64
 23  contents_attribute_m    501951 non-null  int64
 24  contents_attribute_e    501951 non-null  int64
 25  contents_attribute_h    501951 non-null  int64
 26  person_rn               501951 non-null  int64
 27  target                  501951 non-null  int64
 28  person_prefer_d_1_n     501951 non-null  int64
 29  person_prefer_d_1_s     501951 non-null  int64
 30  person_prefer_d_1_m     501951 non-null  int64
 31  person_prefer_d_1_l     501951 non-null  int64
 32  person_prefer_d_2_n     501951 non-null  int64
 33  person_prefer_d_2_s     501951 non-null  int64
 34  person_prefer_d_2_m     501951 non-null  int64
 35  person_prefer_d_2_l     501951 non-null  int64
 36  person_prefer_d_3_n     501951 non-null  int64
 37  person_prefer_d_3_s     501951 non-null  int64
 38  person_prefer_d_3_m     501951 non-null  int64
 39  person_prefer_d_3_l     501951 non-null  int64
 40  contents_attribute_d_n  501951 non-null  int64
 41  contents_attribute_d_s  501951 non-null  int64
 42  contents_attribute_d_m  501951 non-null  int64
 43  contents_attribute_d_l  501951 non-null  int64
 44  person_prefer_h_1_m     501951 non-null  int64
 45  person_prefer_h_1_l     501951 non-null  int64
 46  person_prefer_h_2_m     501951 non-null  int64
 47  person_prefer_h_2_l     501951 non-null  int64
 48  person_prefer_h_3_m     501951 non-null  int64
 49  person_prefer_h_3_l     501951 non-null  int64
 50  contents_attribute_h_m  501951 non-null  int64
 51  contents_attribute_h_l  501951 non-null  int64
 52  contents_attribute_l_n  501951 non-null  int64
 53  contents_attribute_l_s  501951 non-null  int64
 54  contents_attribute_l_m  501951 non-null  int64
 55  contents_attribute_l_l  501951 non-null  int64
dtypes: bool(4), int64(52)
memory usage: 201.1 MB

In [19]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   d_l_match_yn            46404 non-null  bool
 1   d_m_match_yn            46404 non-null  bool
 2   d_s_match_yn            46404 non-null  bool
 3   h_l_match_yn            46404 non-null  bool
 4   person_attribute_a      46404 non-null  int64
 5   person_attribute_a_1    46404 non-null  int64
 6   person_attribute_b      46404 non-null  int64
 7   person_prefer_c         46404 non-null  int64
 8   person_prefer_d_1       46404 non-null  int64
 9   person_prefer_d_2       46404 non-null  int64
 10  person_prefer_d_3       46404 non-null  int64
 11  person_prefer_e         46404 non-null  int64
 12  person_prefer_h_1       46404 non-null  int64
 13  person_prefer_h_2       46404 non-null  int64
 14  person_prefer_h_3       46404 non-null  int64
 15  contents_attribute_i    46404 non-null  int64
 16  contents_attribute_a    46404 non-null  int64
 17  contents_attribute_j_1  46404 non-null  int64
 18  contents_attribute_j    46404 non-null  int64
 19  contents_attribute_c    46404 non-null  int64
 20  contents_attribute_k    46404 non-null  int64
 21  contents_attribute_l    46404 non-null  int64
 22  contents_attribute_d    46404 non-null  int64
 23  contents_attribute_m    46404 non-null  int64
 24  contents_attribute_e    46404 non-null  int64
 25  contents_attribute_h    46404 non-null  int64
 26  person_rn               46404 non-null  int64
 27  person_prefer_d_1_n     46404 non-null  int64
 28  person_prefer_d_1_s     46404 non-null  int64
 29  person_prefer_d_1_m     46404 non-null  int64
 30  person_prefer_d_1_l     46404 non-null  int64
 31  person_prefer_d_2_n     46404 non-null  int64
 32  person_prefer_d_2_s     46404 non-null  int64
 33  person_prefer_d_2_m     46404 non-null  int64
 34  person_prefer_d_2_l     46404 non-null  int64
 35  person_prefer_d_3_n     46404 non-null  int64
 36  person_prefer_d_3_s     46404 non-null  int64
 37  person_prefer_d_3_m     46404 non-null  int64
 38  person_prefer_d_3_l     46404 non-null  int64
 39  contents_attribute_d_n  46404 non-null  int64
 40  contents_attribute_d_s  46404 non-null  int64
 41  contents_attribute_d_m  46404 non-null  int64
 42  contents_attribute_d_l  46404 non-null  int64
 43  person_prefer_h_1_m     46404 non-null  int64
 44  person_prefer_h_1_l     46404 non-null  int64
 45  person_prefer_h_2_m     46404 non-null  int64
 46  person_prefer_h_2_l     46404 non-null  int64
 47  person_prefer_h_3_m     46404 non-null  int64
 48  person_prefer_h_3_l     46404 non-null  int64
 49  contents_attribute_h_m  46404 non-null  int64
 50  contents_attribute_h_l  46404 non-null  int64
 51  contents_attribute_l_n  46404 non-null  int64
 52  contents_attribute_l_s  46404 non-null  int64
 53  contents_attribute_l_m  46404 non-null  int64
 54  contents_attribute_l_l  46404 non-null  int64
dtypes: bool(4), int64(51)
memory usage: 18.2 MB

## 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경

In [20]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
train = train.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
train = train.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
train.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0          True          True  ...                    1605                    2016
1         False         False  ...                    1605                    2016
2         False         False  ...                    1572                    2016
3         False         False  ...                    1605                    2016
4          True          True  ...                    1605                    2016

[5 rows x 56 columns]

In [21]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
test = test.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
test = test.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
test.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0          True         False  ...                    1021                    2010
1         False         False  ...                    1605                    2016
2          True         False  ...                    1810                    2020
3          True         False  ...                      99                    2006
4          True         False  ...                     954                    2009

[5 rows x 55 columns]

## 카테고리형 특성으로 지정할 특성

In [22]:
# 원본 데이터에서 순서형 특성
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [23]:
cat_f = train.columns.tolist()
numeric_cat = ['person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e']
for col in numeric_cat:
  cat_f.remove(col)
cat_f.remove('target')

In [24]:
# 카데고리형 지정 특성 개수
# 63 - 7 - 5 = 51개
len(cat_f)

51

# 모델 훈련/예측

In [25]:
import itertools

In [26]:
# 단계별로 [0, 1]의 선택지 있는 모든 경우의 수 출력
match_cases = list(itertools.product(*[[0,1] for i in range(2)]))

In [27]:
num_list = [0, 1, 2, 3]

In [29]:
all_train_pred_thr_df = pd.DataFrame()
all_test_pred_thr_df = pd.DataFrame()

for random_state in tqdm(range(10, 60, 10)):

  train_pred_thr_df = pd.DataFrame()
  test_pred_thr_df = pd.DataFrame()
  for num in tqdm(num_list):
    c0, c1 = match_cases[num]
    # 매칭 경우의 수로 구분해서 데이터 셋 가져오기
    split_train = train[(train['d_l_match_yn']==c0)&((train['h_l_match_yn']==c1))]
    split_test = test[(test['d_l_match_yn']==c0)&((test['h_l_match_yn']==c1))]

    split_X = split_train.drop(['target'], axis=1)
    split_y = split_train['target']

    # 데이터 셋 나누기
    X_train, X_val, y_train, y_val = train_test_split(split_X, split_y, random_state=random_state, shuffle=True, stratify=split_y)
    # 모델 생성
    cat = CatBoostClassifier(random_state=42, task_type='GPU', iterations=1000, early_stopping_rounds=50,
                          cat_features=cat_f, eval_metric='F1', one_hot_max_size=2)
    # 모델 훈련
    cat.fit(X_train, y_train, eval_set=(X_val, y_val), verbose=100)
    
    # precision, recall, threshold 값 계산
    val_proba = cat.predict_proba(X_val)
    precisions, recalls, thresholds = precision_recall_curve(y_val, val_proba[:,1])
    threshold_boundary = thresholds.shape[0]
    # 최고 F1 값을 갖는 threshold 값 구하기
    pre = precisions[:threshold_boundary]
    re = recalls[:threshold_boundary]
    f1 = 2 * pre * re / (pre + re)
    optimal_idx = np.argmax(f1)
    optimal_threshold = thresholds[optimal_idx]

    # 분리된 train 셋의 예측 값
    split_train_proba = cat.predict_proba(split_X)
    split_train_proba_thr = (split_train_proba[:,1] >= optimal_threshold)
    split_train_proba_thr = split_train_proba_thr.astype(int)
    split_train_proba_thr_df = pd.DataFrame(split_train_proba_thr, index=split_X.index)

    # 분리된 test 셋 예측
    split_test_proba = cat.predict_proba(split_test)
    split_test_proba_thr = (split_test_proba[:,1] >= optimal_threshold)
    split_test_proba_thr = split_test_proba_thr.astype(int)
    split_test_proba_thr_df = pd.DataFrame(split_test_proba_thr, index=split_test.index)

    # 분리된 값 합치기
    train_pred_thr_df = pd.concat([train_pred_thr_df, split_train_proba_thr_df])
    test_pred_thr_df = pd.concat([test_pred_thr_df, split_test_proba_thr_df])

    # F1 점수 출력
    pred_raw = cat.predict(X_val)
    pred_proba = cat.predict_proba(X_val)
    pred_thr = (pred_proba[:,1] > optimal_threshold)
    pred_thr = pred_thr.astype(int)
    f1_raw = f1_score(y_val, pred_raw)
    f1_thr = f1_score(y_val, pred_thr)
    print('\n')
    print(f'random_state : {random_state}, split_data_number : {num}')
    print(f'threshold 적용 전 f1 score : {f1_raw}')
    print(f'threshold 적용 후 f1 score : {f1_thr}')
    print('====================================================================================')
    print()

  # random_state별 값 합치기
  all_train_pred_thr_df = pd.concat([all_train_pred_thr_df, train_pred_thr_df], axis=1) 
  all_test_pred_thr_df = pd.concat([all_test_pred_thr_df, test_pred_thr_df], axis=1)

  0%|          | 0/5 [00:00<?, ?it/s]
  0%|          | 0/4 [00:00<?, ?it/s]

Learning rate set to 0.053695
0:	learn: 0.2956123	test: 0.2524851	best: 0.2524851 (0)	total: 195ms	remaining: 3m 15s
100:	learn: 0.4156516	test: 0.4412989	best: 0.4413333 (99)	total: 14.5s	remaining: 2m 9s
200:	learn: 0.4678210	test: 0.4693419	best: 0.4693419 (200)	total: 28.4s	remaining: 1m 52s
300:	learn: 0.4966951	test: 0.4780411	best: 0.4803286 (278)	total: 42.1s	remaining: 1m 37s
400:	learn: 0.5138757	test: 0.4864015	best: 0.4868008 (383)	total: 55.8s	remaining: 1m 23s
bestTest = 0.4873685862
bestIteration = 417
Shrink model to first 418 iterations.

 25%|██▌       | 1/4 [01:10<03:32, 70.88s/it]

random_state : 10, split_data_number : 0
threshold 적용 전 f1 score : 0.4873685862231289
threshold 적용 후 f1 score : 0.6238736646539712
====================================================================================

Learning rate set to 0.047669
0:	learn: 0.4460466	test: 0.4701561	best: 0.4701561 (0)	total: 150ms	remaining: 2m 30s
bestTest = 0.4701561065
bestIteration = 0
Shrink model to first 1 iterations.

 50%|█████     | 2/4 [01:30<01:21, 40.73s/it]

random_state : 10, split_data_number : 1
threshold 적용 전 f1 score : 0.4701561065197429
threshold 적용 후 f1 score : 0.6002094240837696
====================================================================================

Learning rate set to 0.051127
0:	learn: 0.6193693	test: 0.6251723	best: 0.6251723 (0)	total: 186ms	remaining: 3m 5s
bestTest = 0.6403722339
bestIteration = 20
Shrink model to first 21 iterations.

 75%|███████▌  | 3/4 [01:48<00:30, 30.32s/it]

random_state : 10, split_data_number : 2
threshold 적용 전 f1 score : 0.6403722339447059
threshold 적용 후 f1 score : 0.6879883854989539
====================================================================================

Learning rate set to 0.045644
0:	learn: 0.6946765	test: 0.6960759	best: 0.6960759 (0)	total: 162ms	remaining: 2m 42s
100:	learn: 0.7159851	test: 0.7221426	best: 0.7221988 (98)	total: 15s	remaining: 2m 13s
200:	learn: 0.7168482	test: 0.7225056	best: 0.7234302 (159)	total: 29.8s	remaining: 1m 58s
bestTest = 0.7234301575
bestIteration = 159
Shrink model to first 160 iterations.

100%|██████████| 4/4 [02:42<00:00, 40.73s/it]
 20%|██        | 1/5 [02:42<10:51, 162.96s/it]

random_state : 10, split_data_number : 3
threshold 적용 전 f1 score : 0.7234301575320787
threshold 적용 후 f1 score : 0.735628132400727
====================================================================================

  0%|          | 0/4 [00:00<?, ?it/s]

Learning rate set to 0.053695
0:	learn: 0.1377528	test: 0.1115799	best: 0.1115799 (0)	total: 191ms	remaining: 3m 11s
100:	learn: 0.4144332	test: 0.4351030	best: 0.4353355 (99)	total: 14.5s	remaining: 2m 9s
200:	learn: 0.4651470	test: 0.4540117	best: 0.4555682 (195)	total: 29.1s	remaining: 1m 55s
300:	learn: 0.4916460	test: 0.4676569	best: 0.4678606 (297)	total: 42.6s	remaining: 1m 39s
400:	learn: 0.5082090	test: 0.4701018	best: 0.4717492 (390)	total: 56.2s	remaining: 1m 24s
500:	learn: 0.5197734	test: 0.4735005	best: 0.4747218 (463)	total: 1m 9s	remaining: 1m 9s
bestTest = 0.4747217806
bestIteration = 463
Shrink model to first 464 iterations.

 25%|██▌       | 1/4 [01:17<03:52, 77.54s/it]

random_state : 20, split_data_number : 0
threshold 적용 전 f1 score : 0.4747217806041335
threshold 적용 후 f1 score : 0.6270341454237607
====================================================================================

Learning rate set to 0.047669
0:	learn: 0.3491918	test: 0.3818143	best: 0.3818143 (0)	total: 134ms	remaining: 2m 13s
100:	learn: 0.4632551	test: 0.4955662	best: 0.4955662 (100)	total: 11s	remaining: 1m 37s
200:	learn: 0.5001310	test: 0.5302785	best: 0.5302785 (200)	total: 22.1s	remaining: 1m 27s
300:	learn: 0.5183706	test: 0.5389489	best: 0.5392237 (285)	total: 33.1s	remaining: 1m 16s
400:	learn: 0.5300869	test: 0.5436684	best: 0.5439461 (384)	total: 43.9s	remaining: 1m 5s
500:	learn: 0.5391505	test: 0.5457307	best: 0.5461738 (470)	total: 54.5s	remaining: 54.3s
bestTest = 0.5461737523
bestIteration = 470
Shrink model to first 471 iterations.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: RuntimeWarning: invalid value encountered in true_divide

 50%|█████     | 2/4 [02:32<02:31, 75.91s/it]

random_state : 20, split_data_number : 1
threshold 적용 전 f1 score : 0.5461737523105361
threshold 적용 후 f1 score : 0.0
====================================================================================

Learning rate set to 0.051127
0:	learn: 0.6359498	test: 0.6383432	best: 0.6383432 (0)	total: 193ms	remaining: 3m 12s
100:	learn: 0.6342109	test: 0.6384987	best: 0.6389403 (57)	total: 15s	remaining: 2m 13s
200:	learn: 0.6455481	test: 0.6444597	best: 0.6451797 (175)	total: 29.6s	remaining: 1m 57s
300:	learn: 0.6588550	test: 0.6488375	best: 0.6488375 (300)	total: 44s	remaining: 1m 42s
400:	learn: 0.6640321	test: 0.6499427	best: 0.6514181 (369)	total: 57.9s	remaining: 1m 26s
bestTest = 0.6516416886
bestIteration = 416
Shrink model to first 417 iterations.

 75%|███████▌  | 3/4 [03:48<01:16, 76.06s/it]

random_state : 20, split_data_number : 2
threshold 적용 전 f1 score : 0.6516416885939823
threshold 적용 후 f1 score : 0.6989453072849451
====================================================================================

Learning rate set to 0.045644
0:	learn: 0.6939781	test: 0.6927794	best: 0.6927794 (0)	total: 214ms	remaining: 3m 34s
100:	learn: 0.7163793	test: 0.7178945	best: 0.7184010 (87)	total: 15.1s	remaining: 2m 14s
200:	learn: 0.7177555	test: 0.7206653	best: 0.7215876 (167)	total: 29.9s	remaining: 1m 59s
bestTest = 0.7215876256
bestIteration = 167
Shrink model to first 168 iterations.

100%|██████████| 4/4 [04:44<00:00, 71.17s/it]
 40%|████      | 2/5 [07:27<11:43, 234.58s/it]

random_state : 20, split_data_number : 3
threshold 적용 전 f1 score : 0.7215876255702147
threshold 적용 후 f1 score : 0.7371171111332514
====================================================================================

  0%|          | 0/4 [00:00<?, ?it/s]

Learning rate set to 0.053695
0:	learn: 0.2297686	test: 0.2311806	best: 0.2311806 (0)	total: 192ms	remaining: 3m 11s
100:	learn: 0.4243290	test: 0.4433175	best: 0.4433546 (99)	total: 14.6s	remaining: 2m 9s
200:	learn: 0.4761545	test: 0.4696729	best: 0.4697859 (198)	total: 28.5s	remaining: 1m 53s
300:	learn: 0.4997614	test: 0.4781790	best: 0.4790588 (294)	total: 42.1s	remaining: 1m 37s
bestTest = 0.4790588235
bestIteration = 294
Shrink model to first 295 iterations.

 25%|██▌       | 1/4 [00:53<02:41, 53.77s/it]

random_state : 30, split_data_number : 0
threshold 적용 전 f1 score : 0.4790588235294117
threshold 적용 후 f1 score : 0.6152164009111617
====================================================================================

Learning rate set to 0.047669
0:	learn: 0.4267989	test: 0.4440682	best: 0.4440682 (0)	total: 135ms	remaining: 2m 14s
100:	learn: 0.4668196	test: 0.5049478	best: 0.5049478 (100)	total: 10.9s	remaining: 1m 37s
200:	learn: 0.5045319	test: 0.5405287	best: 0.5405306 (198)	total: 21.9s	remaining: 1m 27s
300:	learn: 0.5203731	test: 0.5487831	best: 0.5492288 (293)	total: 32.9s	remaining: 1m 16s
400:	learn: 0.5298877	test: 0.5521041	best: 0.5521041 (400)	total: 43.7s	remaining: 1m 5s
500:	learn: 0.5392310	test: 0.5530292	best: 0.5539631 (487)	total: 54.2s	remaining: 54s
bestTest = 0.5539630836
bestIteration = 487
Shrink model to first 488 iterations.

 50%|█████     | 2/4 [02:10<02:14, 67.02s/it]

random_state : 30, split_data_number : 1
threshold 적용 전 f1 score : 0.5539630836047774
threshold 적용 후 f1 score : 0.6390114739629303
====================================================================================

Learning rate set to 0.051127
0:	learn: 0.6082482	test: 0.6212097	best: 0.6212097 (0)	total: 239ms	remaining: 3m 58s
100:	learn: 0.6386185	test: 0.6478484	best: 0.6488069 (97)	total: 15.2s	remaining: 2m 15s
200:	learn: 0.6500281	test: 0.6540026	best: 0.6542503 (191)	total: 29.7s	remaining: 1m 57s
300:	learn: 0.6564579	test: 0.6549799	best: 0.6572990 (258)	total: 43.9s	remaining: 1m 41s
bestTest = 0.6572989852
bestIteration = 258
Shrink model to first 259 iterations.

 75%|███████▌  | 3/4 [03:03<01:00, 60.84s/it]

random_state : 30, split_data_number : 2
threshold 적용 전 f1 score : 0.6572989851678376
threshold 적용 후 f1 score : 0.6954257754634824
====================================================================================

Learning rate set to 0.045644
0:	learn: 0.6966491	test: 0.6968962	best: 0.6968962 (0)	total: 215ms	remaining: 3m 34s
100:	learn: 0.7153968	test: 0.7217542	best: 0.7218955 (93)	total: 15.2s	remaining: 2m 15s
200:	learn: 0.7164395	test: 0.7232511	best: 0.7236974 (180)	total: 29.8s	remaining: 1m 58s
bestTest = 0.7236973887
bestIteration = 180
Shrink model to first 181 iterations.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: RuntimeWarning: invalid value encountered in true_divide

100%|██████████| 4/4 [04:02<00:00, 60.51s/it]
 60%|██████    | 3/5 [11:29<07:56, 238.01s/it]

random_state : 30, split_data_number : 3
threshold 적용 전 f1 score : 0.7236973886703959
threshold 적용 후 f1 score : 0.0
====================================================================================

  0%|          | 0/4 [00:00<?, ?it/s]

Learning rate set to 0.053695
0:	learn: 0.3201781	test: 0.3017557	best: 0.3017557 (0)	total: 195ms	remaining: 3m 14s
100:	learn: 0.4331030	test: 0.4309118	best: 0.4309118 (100)	total: 14.6s	remaining: 2m 10s
200:	learn: 0.4762574	test: 0.4510462	best: 0.4514377 (198)	total: 28.3s	remaining: 1m 52s
300:	learn: 0.5039898	test: 0.4543572	best: 0.4560229 (294)	total: 42s	remaining: 1m 37s
bestTest = 0.4560229446
bestIteration = 294
Shrink model to first 295 iterations.

 25%|██▌       | 1/4 [00:53<02:41, 53.67s/it]

random_state : 40, split_data_number : 0
threshold 적용 전 f1 score : 0.4560229445506692
threshold 적용 후 f1 score : 0.6187921785776086
====================================================================================

Learning rate set to 0.047669
0:	learn: 0.4236584	test: 0.4414484	best: 0.4414484 (0)	total: 130ms	remaining: 2m 9s
100:	learn: 0.4663774	test: 0.4894747	best: 0.4898344 (97)	total: 10.9s	remaining: 1m 37s
200:	learn: 0.5018343	test: 0.5215001	best: 0.5220796 (198)	total: 21.9s	remaining: 1m 26s
300:	learn: 0.5213660	test: 0.5357487	best: 0.5357831 (298)	total: 33s	remaining: 1m 16s
400:	learn: 0.5321614	test: 0.5384644	best: 0.5391678 (396)	total: 43.9s	remaining: 1m 5s
500:	learn: 0.5398773	test: 0.5402507	best: 0.5412060 (471)	total: 54.5s	remaining: 54.3s
600:	learn: 0.5464695	test: 0.5407789	best: 0.5417823 (565)	total: 1m 5s	remaining: 43.3s
700:	learn: 0.5525393	test: 0.5435136	best: 0.5436011 (683)	total: 1m 15s	remaining: 32.3s
800:	learn: 0.5586170	test: 0.5454948	best: 0.5454948 (800)	total: 1m 26s	remaining: 21.5s
900:	learn: 0.5641670	test: 0.5462470	best: 0.5462604 (898)	total: 1m 36s	remaining: 10.7s
bestTest = 0.5463947991
bestIteration = 906
Shrink model to first 907 iterations.

 50%|█████     | 2/4 [02:58<03:10, 95.36s/it]

random_state : 40, split_data_number : 1
threshold 적용 전 f1 score : 0.5463947990543736
threshold 적용 후 f1 score : 0.6408462974486621
====================================================================================

Learning rate set to 0.051127
0:	learn: 0.6150001	test: 0.6240371	best: 0.6240371 (0)	total: 191ms	remaining: 3m 11s
bestTest = 0.6421018206
bestIteration = 22
Shrink model to first 23 iterations.

 75%|███████▌  | 3/4 [03:16<01:00, 60.19s/it]

random_state : 40, split_data_number : 2
threshold 적용 전 f1 score : 0.64210182056034
threshold 적용 후 f1 score : 0.6876385693369587
====================================================================================

Learning rate set to 0.045644
0:	learn: 0.6941767	test: 0.6945915	best: 0.6945915 (0)	total: 163ms	remaining: 2m 42s
100:	learn: 0.7162071	test: 0.7190663	best: 0.7192311 (91)	total: 15.1s	remaining: 2m 14s
200:	learn: 0.7165714	test: 0.7211805	best: 0.7218519 (170)	total: 30.1s	remaining: 1m 59s
bestTest = 0.7218791979
bestIteration = 220
Shrink model to first 221 iterations.

100%|██████████| 4/4 [04:21<00:00, 65.46s/it]
 80%|████████  | 4/5 [15:51<04:07, 247.43s/it]

random_state : 40, split_data_number : 3
threshold 적용 전 f1 score : 0.7218791979393895
threshold 적용 후 f1 score : 0.7360393054547485
====================================================================================

  0%|          | 0/4 [00:00<?, ?it/s]

Learning rate set to 0.053695
0:	learn: 0.2630818	test: 0.2675835	best: 0.2675835 (0)	total: 199ms	remaining: 3m 19s
100:	learn: 0.4176642	test: 0.4422094	best: 0.4422094 (100)	total: 14.6s	remaining: 2m 9s
200:	learn: 0.4698147	test: 0.4746566	best: 0.4746566 (200)	total: 28.5s	remaining: 1m 53s
300:	learn: 0.4958968	test: 0.4850467	best: 0.4850467 (300)	total: 42s	remaining: 1m 37s
bestTest = 0.4863940289
bestIteration = 320
Shrink model to first 321 iterations.

 25%|██▌       | 1/4 [00:57<02:51, 57.29s/it]

random_state : 50, split_data_number : 0
threshold 적용 전 f1 score : 0.4863940289224071
threshold 적용 후 f1 score : 0.6192960819656579
====================================================================================

Learning rate set to 0.047669
0:	learn: 0.4260611	test: 0.4467267	best: 0.4467267 (0)	total: 131ms	remaining: 2m 10s
bestTest = 0.470138276
bestIteration = 1
Shrink model to first 2 iterations.

 50%|█████     | 2/4 [01:16<01:10, 35.04s/it]

random_state : 50, split_data_number : 1
threshold 적용 전 f1 score : 0.47013827596351865
threshold 적용 후 f1 score : 0.6040894682798339
====================================================================================

Learning rate set to 0.051127
0:	learn: 0.6316634	test: 0.6313514	best: 0.6313514 (0)	total: 173ms	remaining: 2m 52s
100:	learn: 0.6341941	test: 0.6343969	best: 0.6344914 (99)	total: 14.8s	remaining: 2m 11s
bestTest = 0.6385796655
bestIteration = 138
Shrink model to first 139 iterations.

 75%|███████▌  | 3/4 [01:51<00:35, 35.13s/it]

random_state : 50, split_data_number : 2
threshold 적용 전 f1 score : 0.6385796654678312
threshold 적용 후 f1 score : 0.6927877329054113
====================================================================================

Learning rate set to 0.045644
0:	learn: 0.7059369	test: 0.7059160	best: 0.7059160 (0)	total: 219ms	remaining: 3m 38s
100:	learn: 0.7165277	test: 0.7235601	best: 0.7236852 (98)	total: 15.2s	remaining: 2m 15s
bestTest = 0.7240540475
bestIteration = 116
Shrink model to first 117 iterations.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: RuntimeWarning: invalid value encountered in true_divide

100%|██████████| 4/4 [02:39<00:00, 39.99s/it]
100%|██████████| 5/5 [18:31<00:00, 222.33s/it]

random_state : 50, split_data_number : 3
threshold 적용 전 f1 score : 0.7240540475444976
threshold 적용 후 f1 score : 0.0
====================================================================================

## 특성 명명

In [30]:
col_names = []
for n in range(10,60,10):
  col_names.append(str(n))

In [31]:
all_train_pred_thr_df.columns = col_names
all_test_pred_thr_df.columns = col_names

### 오류난 특성 제거

In [ ]:
# error_col = ['20', '30']
# mod_all_train_pred_thr_df = all_train_pred_thr_df.drop(error_col, axis=1)
# mod_all_test_pred_thr_df = all_test_pred_thr_df.drop(error_col, axis=1)

In [ ]:
# mod_all_train_pred_thr_df['mean'] = mod_all_train_pred_thr_df.mean(axis=1)
# mod_all_test_pred_thr_df['mean'] = mod_all_test_pred_thr_df.mean(axis=1)
# mod_all_train_pred_thr_df = mod_all_train_pred_thr_df.sort_index()
# mod_all_test_pred_thr_df = mod_all_test_pred_thr_df.sort_index()

In [32]:
all_train_pred_thr_df['mean'] = all_train_pred_thr_df.mean(axis=1)
all_test_pred_thr_df['mean'] = all_test_pred_thr_df.mean(axis=1)
all_train_pred_thr_df = all_train_pred_thr_df.sort_index()
all_test_pred_thr_df = all_test_pred_thr_df.sort_index()

## 결과 종합

In [ ]:
# mod_all_train_pred_thr_df

        10  40  50      mean
0        1   1   1  1.000000
1        0   0   0  0.000000
2        1   0   1  0.666667
3        1   0   1  0.666667
4        1   1   0  0.666667
...     ..  ..  ..       ...
501946   1   0   1  0.666667
501947   1   1   1  1.000000
501948   1   1   1  1.000000
501949   1   1   1  1.000000
501950   1   1   1  1.000000

[501951 rows x 4 columns]

In [ ]:
# mod_all_test_pred_thr_df

       10  40  50      mean
0       1   1   1  1.000000
1       1   0   1  0.666667
2       1   1   1  1.000000
3       0   0   0  0.000000
4       1   1   1  1.000000
...    ..  ..  ..       ...
46399   1   1   1  1.000000
46400   1   1   1  1.000000
46401   1   1   1  1.000000
46402   1   1   1  1.000000
46403   1   1   1  1.000000

[46404 rows x 4 columns]

In [33]:
all_train_pred_thr_df

        10  20  30  40  50  mean
0        1   1   1   1   1   1.0
1        0   0   0   0   0   0.0
2        1   0   0   0   1   0.4
3        1   0   0   1   1   0.6
4        0   0   0   0   0   0.0
...     ..  ..  ..  ..  ..   ...
501946   1   0   1   1   1   0.8
501947   1   1   0   1   0   0.6
501948   1   1   0   1   0   0.6
501949   1   1   0   1   0   0.6
501950   1   1   0   1   0   0.6

[501951 rows x 6 columns]

In [34]:
all_test_pred_thr_df

       10  20  30  40  50  mean
0       1   1   0   1   0   0.6
1       1   0   0   0   1   0.4
2       1   1   0   1   0   0.6
3       0   0   0   0   0   0.0
4       1   1   0   0   0   0.4
...    ..  ..  ..  ..  ..   ...
46399   1   1   1   1   1   1.0
46400   1   1   0   1   0   0.6
46401   1   1   0   1   0   0.6
46402   1   1   0   1   0   0.6
46403   1   1   0   1   0   0.6

[46404 rows x 6 columns]

In [35]:
train_pred = (all_train_pred_thr_df['mean'] > 0.5)
train_pred = train_pred.astype(int)

## 자체평가

In [36]:
f1_score(train['target'], train_pred)

0.7755131888560992

## test 예측

In [37]:
test_pred = (all_test_pred_thr_df['mean'] > 0.5)
test_pred = test_pred.astype(int)

In [38]:
np.unique(test_pred, return_counts=True)

(array([0, 1]), array([ 8841, 37563]))

# 제출파일 불러오기

In [39]:
# sub = pd.read_csv('../data/sample_submission.csv')
sub = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/sample_submission.csv')
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      46404 non-null  int64
 1   target  46404 non-null  int64
dtypes: int64(2)
memory usage: 725.2 KB

# 제출파일 생성

In [40]:
sub['target'] = test_pred
sub['target'].value_counts()

1    37563
0     8841
Name: target, dtype: int64

In [41]:
file_ver = '6.8'
# sub.to_csv(f'sub_ver{file_ver}.csv', index=False)
sub.to_csv(f'/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/03_모델선정및개선/sub_ver{file_ver}.csv', index=False)

# 코드 마지막