# 라이브러리 로드 및 기본 세팅

In [ ]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.0.3-cp37-none-manylinux1_x86_64.whl (76.3 MB)
     |████████████████████████████████| 76.3 MB 1.2 MB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-1.0.3

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, classification_report, precision_recall_curve

# 데이콘 점수

In [ ]:
# 자체 점수 : 0.693766
# 제출 점수(제출 날짜) : ❌(자체점수 낮아 미제출)

# 설정

In [ ]:
# cat
# probability_threshold : 0.445259
# one_hot_max_size = 2
# random_state : 5(range(10, 60, 10))
# iterations = 1000
# 순서형 특성 수치형으로 지정(4개)
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [ ]:
# 제거된 특성(4개)
# 'id',
# 'contents_open_dt',
# 'person_prefer_f',
# 'person_prefer_g',

# 데이터 불러오기

In [ ]:
# train = pd.read_csv('../data/df_train.csv')
# test = pd.read_csv('../data/df_test.csv')
train = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_train.csv')
test = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_test.csv')

# 데이터 확인

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 63 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      501951 non-null  int64
 1   d_l_match_yn            501951 non-null  bool
 2   d_m_match_yn            501951 non-null  bool
 3   d_s_match_yn            501951 non-null  bool
 4   h_l_match_yn            501951 non-null  bool
 5   h_m_match_yn            501951 non-null  bool
 6   h_s_match_yn            501951 non-null  bool
 7   person_attribute_a      501951 non-null  int64
 8   person_attribute_a_1    501951 non-null  int64
 9   person_attribute_b      501951 non-null  int64
 10  person_prefer_c         501951 non-null  int64
 11  person_prefer_d_1       501951 non-null  int64
 12  person_prefer_d_2       501951 non-null  int64
 13  person_prefer_d_3       501951 non-null  int64
 14  person_prefer_e         501951 non-null  int64
 15  person_prefer_f         501951 non-null  int64
 16  person_prefer_g         501951 non-null  int64
 17  person_prefer_h_1       501951 non-null  int64
 18  person_prefer_h_2       501951 non-null  int64
 19  person_prefer_h_3       501951 non-null  int64
 20  contents_attribute_i    501951 non-null  int64
 21  contents_attribute_a    501951 non-null  int64
 22  contents_attribute_j_1  501951 non-null  int64
 23  contents_attribute_j    501951 non-null  int64
 24  contents_attribute_c    501951 non-null  int64
 25  contents_attribute_k    501951 non-null  int64
 26  contents_attribute_l    501951 non-null  int64
 27  contents_attribute_d    501951 non-null  int64
 28  contents_attribute_m    501951 non-null  int64
 29  contents_attribute_e    501951 non-null  int64
 30  contents_attribute_h    501951 non-null  int64
 31  person_rn               501951 non-null  int64
 32  contents_rn             501951 non-null  int64
 33  contents_open_dt        501951 non-null  object
 34  target                  501951 non-null  int64
 35  person_prefer_d_1_n     501951 non-null  int64
 36  person_prefer_d_1_s     501951 non-null  int64
 37  person_prefer_d_1_m     501951 non-null  int64
 38  person_prefer_d_1_l     501951 non-null  int64
 39  person_prefer_d_2_n     501951 non-null  int64
 40  person_prefer_d_2_s     501951 non-null  int64
 41  person_prefer_d_2_m     501951 non-null  int64
 42  person_prefer_d_2_l     501951 non-null  int64
 43  person_prefer_d_3_n     501951 non-null  int64
 44  person_prefer_d_3_s     501951 non-null  int64
 45  person_prefer_d_3_m     501951 non-null  int64
 46  person_prefer_d_3_l     501951 non-null  int64
 47  contents_attribute_d_n  501951 non-null  int64
 48  contents_attribute_d_s  501951 non-null  int64
 49  contents_attribute_d_m  501951 non-null  int64
 50  contents_attribute_d_l  501951 non-null  int64
 51  person_prefer_h_1_m     501951 non-null  int64
 52  person_prefer_h_1_l     501951 non-null  int64
 53  person_prefer_h_2_m     501951 non-null  int64
 54  person_prefer_h_2_l     501951 non-null  int64
 55  person_prefer_h_3_m     501951 non-null  int64
 56  person_prefer_h_3_l     501951 non-null  int64
 57  contents_attribute_h_m  501951 non-null  int64
 58  contents_attribute_h_l  501951 non-null  int64
 59  contents_attribute_l_n  501951 non-null  int64
 60  contents_attribute_l_s  501951 non-null  int64
 61  contents_attribute_l_m  501951 non-null  int64
 62  contents_attribute_l_l  501951 non-null  int64
dtypes: bool(6), int64(56), object(1)
memory usage: 221.2+ MB

In [ ]:
train.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1605                    2016
1   1         False  ...                    1605                    2016
2   2         False  ...                    1572                    2016
3   3         False  ...                    1605                    2016
4   4          True  ...                    1605                    2016

[5 rows x 63 columns]

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 62 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      46404 non-null  int64
 1   d_l_match_yn            46404 non-null  bool
 2   d_m_match_yn            46404 non-null  bool
 3   d_s_match_yn            46404 non-null  bool
 4   h_l_match_yn            46404 non-null  bool
 5   h_m_match_yn            46404 non-null  bool
 6   h_s_match_yn            46404 non-null  bool
 7   person_attribute_a      46404 non-null  int64
 8   person_attribute_a_1    46404 non-null  int64
 9   person_attribute_b      46404 non-null  int64
 10  person_prefer_c         46404 non-null  int64
 11  person_prefer_d_1       46404 non-null  int64
 12  person_prefer_d_2       46404 non-null  int64
 13  person_prefer_d_3       46404 non-null  int64
 14  person_prefer_e         46404 non-null  int64
 15  person_prefer_f         46404 non-null  int64
 16  person_prefer_g         46404 non-null  int64
 17  person_prefer_h_1       46404 non-null  int64
 18  person_prefer_h_2       46404 non-null  int64
 19  person_prefer_h_3       46404 non-null  int64
 20  contents_attribute_i    46404 non-null  int64
 21  contents_attribute_a    46404 non-null  int64
 22  contents_attribute_j_1  46404 non-null  int64
 23  contents_attribute_j    46404 non-null  int64
 24  contents_attribute_c    46404 non-null  int64
 25  contents_attribute_k    46404 non-null  int64
 26  contents_attribute_l    46404 non-null  int64
 27  contents_attribute_d    46404 non-null  int64
 28  contents_attribute_m    46404 non-null  int64
 29  contents_attribute_e    46404 non-null  int64
 30  contents_attribute_h    46404 non-null  int64
 31  person_rn               46404 non-null  int64
 32  contents_rn             46404 non-null  int64
 33  contents_open_dt        46404 non-null  object
 34  person_prefer_d_1_n     46404 non-null  int64
 35  person_prefer_d_1_s     46404 non-null  int64
 36  person_prefer_d_1_m     46404 non-null  int64
 37  person_prefer_d_1_l     46404 non-null  int64
 38  person_prefer_d_2_n     46404 non-null  int64
 39  person_prefer_d_2_s     46404 non-null  int64
 40  person_prefer_d_2_m     46404 non-null  int64
 41  person_prefer_d_2_l     46404 non-null  int64
 42  person_prefer_d_3_n     46404 non-null  int64
 43  person_prefer_d_3_s     46404 non-null  int64
 44  person_prefer_d_3_m     46404 non-null  int64
 45  person_prefer_d_3_l     46404 non-null  int64
 46  contents_attribute_d_n  46404 non-null  int64
 47  contents_attribute_d_s  46404 non-null  int64
 48  contents_attribute_d_m  46404 non-null  int64
 49  contents_attribute_d_l  46404 non-null  int64
 50  person_prefer_h_1_m     46404 non-null  int64
 51  person_prefer_h_1_l     46404 non-null  int64
 52  person_prefer_h_2_m     46404 non-null  int64
 53  person_prefer_h_2_l     46404 non-null  int64
 54  person_prefer_h_3_m     46404 non-null  int64
 55  person_prefer_h_3_l     46404 non-null  int64
 56  contents_attribute_h_m  46404 non-null  int64
 57  contents_attribute_h_l  46404 non-null  int64
 58  contents_attribute_l_n  46404 non-null  int64
 59  contents_attribute_l_s  46404 non-null  int64
 60  contents_attribute_l_m  46404 non-null  int64
 61  contents_attribute_l_l  46404 non-null  int64
dtypes: bool(6), int64(55), object(1)
memory usage: 20.1+ MB

In [ ]:
test.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1021                    2010
1   1         False  ...                    1605                    2016
2   2          True  ...                    1810                    2020
3   3          True  ...                      99                    2006
4   4          True  ...                     954                    2009

[5 rows x 62 columns]

# 필요 데이터 추출

## 훈련에 의미가 적은 열 제거

In [ ]:
# 제거된 특성(4개)
# 'id',
# 'contents_open_dt',
# 'person_prefer_f',
# 'person_prefer_g',

In [ ]:
# 삭제할 특성
pop_col = ['id',
'contents_open_dt',
'person_prefer_f',
'person_prefer_g']
len(pop_col)

4

In [ ]:
train = train.drop(pop_col, axis=1) 
test = test.drop(pop_col, axis=1)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 59 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   d_l_match_yn            501951 non-null  bool
 1   d_m_match_yn            501951 non-null  bool
 2   d_s_match_yn            501951 non-null  bool
 3   h_l_match_yn            501951 non-null  bool
 4   h_m_match_yn            501951 non-null  bool
 5   h_s_match_yn            501951 non-null  bool
 6   person_attribute_a      501951 non-null  int64
 7   person_attribute_a_1    501951 non-null  int64
 8   person_attribute_b      501951 non-null  int64
 9   person_prefer_c         501951 non-null  int64
 10  person_prefer_d_1       501951 non-null  int64
 11  person_prefer_d_2       501951 non-null  int64
 12  person_prefer_d_3       501951 non-null  int64
 13  person_prefer_e         501951 non-null  int64
 14  person_prefer_h_1       501951 non-null  int64
 15  person_prefer_h_2       501951 non-null  int64
 16  person_prefer_h_3       501951 non-null  int64
 17  contents_attribute_i    501951 non-null  int64
 18  contents_attribute_a    501951 non-null  int64
 19  contents_attribute_j_1  501951 non-null  int64
 20  contents_attribute_j    501951 non-null  int64
 21  contents_attribute_c    501951 non-null  int64
 22  contents_attribute_k    501951 non-null  int64
 23  contents_attribute_l    501951 non-null  int64
 24  contents_attribute_d    501951 non-null  int64
 25  contents_attribute_m    501951 non-null  int64
 26  contents_attribute_e    501951 non-null  int64
 27  contents_attribute_h    501951 non-null  int64
 28  person_rn               501951 non-null  int64
 29  contents_rn             501951 non-null  int64
 30  target                  501951 non-null  int64
 31  person_prefer_d_1_n     501951 non-null  int64
 32  person_prefer_d_1_s     501951 non-null  int64
 33  person_prefer_d_1_m     501951 non-null  int64
 34  person_prefer_d_1_l     501951 non-null  int64
 35  person_prefer_d_2_n     501951 non-null  int64
 36  person_prefer_d_2_s     501951 non-null  int64
 37  person_prefer_d_2_m     501951 non-null  int64
 38  person_prefer_d_2_l     501951 non-null  int64
 39  person_prefer_d_3_n     501951 non-null  int64
 40  person_prefer_d_3_s     501951 non-null  int64
 41  person_prefer_d_3_m     501951 non-null  int64
 42  person_prefer_d_3_l     501951 non-null  int64
 43  contents_attribute_d_n  501951 non-null  int64
 44  contents_attribute_d_s  501951 non-null  int64
 45  contents_attribute_d_m  501951 non-null  int64
 46  contents_attribute_d_l  501951 non-null  int64
 47  person_prefer_h_1_m     501951 non-null  int64
 48  person_prefer_h_1_l     501951 non-null  int64
 49  person_prefer_h_2_m     501951 non-null  int64
 50  person_prefer_h_2_l     501951 non-null  int64
 51  person_prefer_h_3_m     501951 non-null  int64
 52  person_prefer_h_3_l     501951 non-null  int64
 53  contents_attribute_h_m  501951 non-null  int64
 54  contents_attribute_h_l  501951 non-null  int64
 55  contents_attribute_l_n  501951 non-null  int64
 56  contents_attribute_l_s  501951 non-null  int64
 57  contents_attribute_l_m  501951 non-null  int64
 58  contents_attribute_l_l  501951 non-null  int64
dtypes: bool(6), int64(53)
memory usage: 205.8 MB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 58 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   d_l_match_yn            46404 non-null  bool
 1   d_m_match_yn            46404 non-null  bool
 2   d_s_match_yn            46404 non-null  bool
 3   h_l_match_yn            46404 non-null  bool
 4   h_m_match_yn            46404 non-null  bool
 5   h_s_match_yn            46404 non-null  bool
 6   person_attribute_a      46404 non-null  int64
 7   person_attribute_a_1    46404 non-null  int64
 8   person_attribute_b      46404 non-null  int64
 9   person_prefer_c         46404 non-null  int64
 10  person_prefer_d_1       46404 non-null  int64
 11  person_prefer_d_2       46404 non-null  int64
 12  person_prefer_d_3       46404 non-null  int64
 13  person_prefer_e         46404 non-null  int64
 14  person_prefer_h_1       46404 non-null  int64
 15  person_prefer_h_2       46404 non-null  int64
 16  person_prefer_h_3       46404 non-null  int64
 17  contents_attribute_i    46404 non-null  int64
 18  contents_attribute_a    46404 non-null  int64
 19  contents_attribute_j_1  46404 non-null  int64
 20  contents_attribute_j    46404 non-null  int64
 21  contents_attribute_c    46404 non-null  int64
 22  contents_attribute_k    46404 non-null  int64
 23  contents_attribute_l    46404 non-null  int64
 24  contents_attribute_d    46404 non-null  int64
 25  contents_attribute_m    46404 non-null  int64
 26  contents_attribute_e    46404 non-null  int64
 27  contents_attribute_h    46404 non-null  int64
 28  person_rn               46404 non-null  int64
 29  contents_rn             46404 non-null  int64
 30  person_prefer_d_1_n     46404 non-null  int64
 31  person_prefer_d_1_s     46404 non-null  int64
 32  person_prefer_d_1_m     46404 non-null  int64
 33  person_prefer_d_1_l     46404 non-null  int64
 34  person_prefer_d_2_n     46404 non-null  int64
 35  person_prefer_d_2_s     46404 non-null  int64
 36  person_prefer_d_2_m     46404 non-null  int64
 37  person_prefer_d_2_l     46404 non-null  int64
 38  person_prefer_d_3_n     46404 non-null  int64
 39  person_prefer_d_3_s     46404 non-null  int64
 40  person_prefer_d_3_m     46404 non-null  int64
 41  person_prefer_d_3_l     46404 non-null  int64
 42  contents_attribute_d_n  46404 non-null  int64
 43  contents_attribute_d_s  46404 non-null  int64
 44  contents_attribute_d_m  46404 non-null  int64
 45  contents_attribute_d_l  46404 non-null  int64
 46  person_prefer_h_1_m     46404 non-null  int64
 47  person_prefer_h_1_l     46404 non-null  int64
 48  person_prefer_h_2_m     46404 non-null  int64
 49  person_prefer_h_2_l     46404 non-null  int64
 50  person_prefer_h_3_m     46404 non-null  int64
 51  person_prefer_h_3_l     46404 non-null  int64
 52  contents_attribute_h_m  46404 non-null  int64
 53  contents_attribute_h_l  46404 non-null  int64
 54  contents_attribute_l_n  46404 non-null  int64
 55  contents_attribute_l_s  46404 non-null  int64
 56  contents_attribute_l_m  46404 non-null  int64
 57  contents_attribute_l_l  46404 non-null  int64
dtypes: bool(6), int64(52)
memory usage: 18.7 MB

## 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경

In [ ]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
train = train.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
train = train.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
train.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0          True          True  ...                    1605                    2016
1         False         False  ...                    1605                    2016
2         False         False  ...                    1572                    2016
3         False         False  ...                    1605                    2016
4          True          True  ...                    1605                    2016

[5 rows x 59 columns]

In [ ]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
test = test.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
test = test.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
test.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0          True         False  ...                    1021                    2010
1         False         False  ...                    1605                    2016
2          True         False  ...                    1810                    2020
3          True         False  ...                      99                    2006
4          True         False  ...                     954                    2009

[5 rows x 58 columns]

## 카테고리형 특성으로 지정할 특성

In [ ]:
# 원본 데이터에서 순서형 특성
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [ ]:
# 순서형 특성 수치형으로 지정 : ⭕
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [ ]:
cat_f = train.columns.tolist()
numeric_cat = ['person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e']
for col in numeric_cat:
  cat_f.remove(col)
cat_f.remove('target')

In [ ]:
# 56 - 5 = 51개
len(cat_f)

54

# train, test 셋 준비

In [ ]:
train.shape

(501951, 59)

In [ ]:
X = train.drop(['target'], axis=1)
X.shape

(501951, 58)

In [ ]:
y = train[['target']]
y.shape

(501951, 1)

# 모델 훈련/예측

In [ ]:
score_df = pd.DataFrame(index=['threshold 적용 전', 'threshold 적용 후'])
pred_proba_df = pd.DataFrame()
thr_df = pd.DataFrame()

for random_state in tqdm(range(10, 60, 10)):
  temp_score_list =[]
  X_train, X_val, y_train, y_val = train_test_split(X, y, random_state=random_state, shuffle=True, stratify=y)
  cat = CatBoostClassifier(random_state=0, iterations=1000, task_type='GPU', early_stopping_rounds=50,
                         cat_features=cat_f, eval_metric='F1', one_hot_max_size=2)
  cat.fit(X_train, y_train, eval_set=(X_val, y_val), verbose=100)

  val_pred = cat.predict(X_val)
  f1_score_raw = f1_score(y_val, val_pred)
  temp_score_list.append(f1_score_raw)

  val_pred_proba = cat.predict_proba(X_val)
  precisions, recalls, thresholds = precision_recall_curve(y_val, val_pred_proba[:,1])

  threshold_boundary = thresholds.shape[0]
  pr = pd.DataFrame({
      'Precision': precisions[:threshold_boundary], 
      'Recall': recalls[:threshold_boundary], 
      'Threshold': thresholds
  })
  pre = precisions[:threshold_boundary]
  re = recalls[:threshold_boundary]
  f1 = 2 * pre * re / (pre + re)
  optimal_idx = np.argmax(f1)
  optimal_threshold = thresholds[optimal_idx]
  thr_df[random_state] = [optimal_threshold]

  val_pred_th =  (val_pred_proba[:,1] >= optimal_threshold)
  # 1의 예측값만 불러와도 되므로 [:,1]사용
  val_pred_th = val_pred_th.astype(int)
  f1_score_mod = f1_score(y_val, val_pred_th)
  temp_score_list.append(f1_score_mod)
  score_df[random_state] = temp_score_list

  print("===============================================")
  print(f"random_state : {random_state}")
  print("threshold 적용 전 f1 score :", f1_score_raw)
  print("threshold 적용 후 f1 score :", f1_score_mod)
  print("===============================================")
  print()

  # test 셋 예측
  pred_proba = cat.predict_proba(test)
  pred_proba_df[random_state] = pred_proba[:,1]

# about 6m

  0%|          | 0/5 [00:00<?, ?it/s]

Learning rate set to 0.043012
0:	learn: 0.6280370	test: 0.6332218	best: 0.6332218 (0)	total: 192ms	remaining: 3m 11s
bestTest = 0.6643203708
bestIteration = 12
Shrink model to first 13 iterations.
===============================================
random_state : 10
threshold 적용 전 f1 score : 0.6643203707726845
threshold 적용 후 f1 score : 0.6906387678276668
===============================================

 20%|██        | 1/5 [00:38<02:32, 38.21s/it]

Learning rate set to 0.043012
0:	learn: 0.6273119	test: 0.6321958	best: 0.6321958 (0)	total: 243ms	remaining: 4m 2s
bestTest = 0.6611247824
bestIteration = 24
Shrink model to first 25 iterations.
===============================================
random_state : 20
threshold 적용 전 f1 score : 0.6611247824260249
threshold 적용 후 f1 score : 0.6962459420537481
===============================================

 40%|████      | 2/5 [01:17<01:56, 38.98s/it]

Learning rate set to 0.043012
0:	learn: 0.6165670	test: 0.6193457	best: 0.6193457 (0)	total: 230ms	remaining: 3m 50s
bestTest = 0.663286861
bestIteration = 14
Shrink model to first 15 iterations.
===============================================
random_state : 30
threshold 적용 전 f1 score : 0.6632868610054921
threshold 적용 후 f1 score : 0.6924244192832963
===============================================

 60%|██████    | 3/5 [01:54<01:16, 38.18s/it]

Learning rate set to 0.043012
0:	learn: 0.6246822	test: 0.6292979	best: 0.6292979 (0)	total: 199ms	remaining: 3m 18s
100:	learn: 0.6485279	test: 0.6612681	best: 0.6635985 (51)	total: 14.2s	remaining: 2m 6s
bestTest = 0.6635984796
bestIteration = 51
Shrink model to first 52 iterations.
===============================================
random_state : 40
threshold 적용 전 f1 score : 0.6635984796446397
threshold 적용 후 f1 score : 0.6990903654275912
===============================================

 80%|████████  | 4/5 [02:37<00:39, 39.88s/it]

Learning rate set to 0.043012
0:	learn: 0.6161939	test: 0.6148914	best: 0.6148914 (0)	total: 212ms	remaining: 3m 31s
bestTest = 0.6612590781
bestIteration = 11
Shrink model to first 12 iterations.
===============================================
random_state : 50
threshold 적용 전 f1 score : 0.6612590781464258
threshold 적용 후 f1 score : 0.6904327936814266
===============================================

100%|██████████| 5/5 [03:14<00:00, 38.88s/it]

## 결과 종합

In [ ]:
pred_proba_df['mean'] = pred_proba_df.mean(axis=1)
pred_proba_df.head()

         10        20        30        40        50      mean
0  0.483177  0.449311  0.480306  0.405758  0.473992  0.458509
1  0.496883  0.478307  0.486387  0.453552  0.488425  0.480711
2  0.435079  0.404331  0.425330  0.382408  0.449704  0.419370
3  0.480989  0.430279  0.477323  0.364713  0.488146  0.448290
4  0.483638  0.442235  0.484013  0.411580  0.505398  0.465373

### threshold 값

In [ ]:
# thr_df = thr_df.drop([2], axis=1)
thr_df['mean'] = thr_df.mean(axis=1)
thr_df

         10        20        30        40        50      mean
0  0.454205  0.434447  0.460956  0.418335  0.458353  0.445259

## 자체평가

In [ ]:
# score_df = score_df.drop([2], axis=1)
score_df['mean'] = score_df.mean(axis=1)
score_df

                      10        20        30        40        50      mean
threshold 적용 전  0.664320  0.661125  0.663287  0.663598  0.661259  0.662718
threshold 적용 후  0.690639  0.696246  0.692424  0.699090  0.690433  0.693766

## test 예측

In [ ]:
pred = pred_proba_df['mean'].tolist() >= thr_df['mean'].values
pred = pred.astype(int)
pred

array([1, 1, 0, ..., 1, 1, 1])

In [ ]:
np.unique(pred, return_counts=True)

(array([0, 1]), array([10149, 36255]))

# 제출파일 불러오기

In [ ]:
# sub = pd.read_csv('../data/sample_submission.csv')
sub = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/sample_submission.csv')
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      46404 non-null  int64
 1   target  46404 non-null  int64
dtypes: int64(2)
memory usage: 725.2 KB

# 제출파일 생성

In [ ]:
sub['target'] = pred
sub['target'].value_counts()

1    36081
0    10323
Name: target, dtype: int64

In [ ]:
# file_ver = '4.6.1'
# # sub.to_csv(f'sub_ver{file_ver}.csv', index=False)
# sub.to_csv(f'/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/03_모델선정및개선/sub_ver{file_ver}.csv', index=False)

# 코드 마지막