# 라이브러리 로드 및 기본 세팅

In [9]:
!pip install catboost

Requirement already satisfied: catboost in /usr/local/lib/python3.7/dist-packages (1.0.4)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, classification_report, precision_recall_curve

# 데이콘 점수

In [12]:
# Best_score
  # date : 2022-01-13 11:08:38
  # target 1 개수 : 36081
  # self_score : 0.708871
  # score : 0.701834167

In [13]:
# Submit_score
  # date : 2022-01-24 11:29:00
  # target 1 개수 : 37342
  # self_score : 0.701627
  # score : 0.6942394373

# 설정

In [14]:
# cat
# 총 제거된 특성 개수 : 50
# 활용 특성 : 12
# one_hot_max_size = 2
# random_state : 5(range(10, 60, 10))
# iterations = 1000
# early_stopping_rounds = 50
# 순서형 특성 설정(4개)
# probability_threshold 설정

In [15]:
# 순서형 특성 (4개)
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [26]:
# 제거 특성 개수 : 50
'''
'id','contents_open_dt','contents_rn','person_prefer_f','person_prefer_g',
'contents_attribute_l_l', 'contents_attribute_l_s',
'person_prefer_d_3_n', 'contents_attribute_e', 'person_prefer_h_2_m',
'person_prefer_h_2_l', 'contents_attribute_k', 'person_prefer_d_3_l',
'person_prefer_h_3_m', 'contents_attribute_i', 'person_prefer_h_3',
'person_prefer_h_2', 'contents_attribute_a', 'person_prefer_h_3_l',
'person_prefer_c', 'person_attribute_b', 'person_attribute_a',
'person_prefer_d_3', 'person_prefer_e', 'contents_attribute_m',
'person_prefer_d_2', 'person_attribute_a_1', 'person_prefer_d_1_l',
'd_s_match_yn', 'person_prefer_h_1_m', 'person_prefer_h_1_l',
'person_prefer_d_3_m', 'h_s_match_yn', 'contents_attribute_d_l',
'h_m_match_yn', 'person_prefer_d_2_m', 'contents_attribute_h_l',
'person_prefer_h_1', 'contents_attribute_j', 'person_prefer_d_2_s',
'h_l_match_yn', 'contents_attribute_d_m', 'contents_attribute_c',
'person_prefer_d_3_s', 'contents_attribute_h_m',
'contents_attribute_d_s', 'contents_attribute_l_m',
'person_prefer_d_2_l', 'contents_attribute_l_n', 'person_prefer_d_2_n'
'''

"\n'id','contents_open_dt','contents_rn','person_prefer_f','person_prefer_g',\n'contents_attribute_l_l', 'contents_attribute_l_s',\n'person_prefer_d_3_n', 'contents_attribute_e', 'person_prefer_h_2_m',\n'person_prefer_h_2_l', 'contents_attribute_k', 'person_prefer_d_3_l',\n'person_prefer_h_3_m', 'contents_attribute_i', 'person_prefer_h_3',\n'person_prefer_h_2', 'contents_attribute_a', 'person_prefer_h_3_l',\n'person_prefer_c', 'person_attribute_b', 'person_attribute_a',\n'person_prefer_d_3', 'person_prefer_e', 'contents_attribute_m',\n'person_prefer_d_2', 'person_attribute_a_1', 'person_prefer_d_1_l',\n'd_s_match_yn', 'person_prefer_h_1_m', 'person_prefer_h_1_l',\n'person_prefer_d_3_m', 'h_s_match_yn', 'contents_attribute_d_l',\n'h_m_match_yn', 'person_prefer_d_2_m', 'contents_attribute_h_l',\n'person_prefer_h_1', 'contents_attribute_j', 'person_prefer_d_2_s',\n'h_l_match_yn', 'contents_attribute_d_m', 'contents_attribute_c',\n'person_prefer_d_3_s', 'contents_attribute_h_m',\n'contents_attribute_d_s', 'contents_attribute_l_m',\n'person_prefer_d_2_l', 'contents_attribute_l_n', 'person_prefer_d_2_n'\n"

# 데이터 불러오기

In [17]:
# train = pd.read_csv('../data/df_train.csv')
# test = pd.read_csv('../data/df_test.csv')
train = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_train.csv')
test = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_test.csv')

# 데이터 확인

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 63 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      501951 non-null  int64
 1   d_l_match_yn            501951 non-null  bool
 2   d_m_match_yn            501951 non-null  bool
 3   d_s_match_yn            501951 non-null  bool
 4   h_l_match_yn            501951 non-null  bool
 5   h_m_match_yn            501951 non-null  bool
 6   h_s_match_yn            501951 non-null  bool
 7   person_attribute_a      501951 non-null  int64
 8   person_attribute_a_1    501951 non-null  int64
 9   person_attribute_b      501951 non-null  int64
 10  person_prefer_c         501951 non-null  int64
 11  person_prefer_d_1       501951 non-null  int64
 12  person_prefer_d_2       501951 non-null  int64
 13  person_prefer_d_3       501951 non-null  int64
 14  person_prefer_e         501951 non-null  int64
 15  person_prefer_f         501951 non-null  int64
 16  person_prefer_g         501951 non-null  int64
 17  person_prefer_h_1       501951 non-null  int64
 18  person_prefer_h_2       501951 non-null  int64
 19  person_prefer_h_3       501951 non-null  int64
 20  contents_attribute_i    501951 non-null  int64
 21  contents_attribute_a    501951 non-null  int64
 22  contents_attribute_j_1  501951 non-null  int64
 23  contents_attribute_j    501951 non-null  int64
 24  contents_attribute_c    501951 non-null  int64
 25  contents_attribute_k    501951 non-null  int64
 26  contents_attribute_l    501951 non-null  int64
 27  contents_attribute_d    501951 non-null  int64
 28  contents_attribute_m    501951 non-null  int64
 29  contents_attribute_e    501951 non-null  int64
 30  contents_attribute_h    501951 non-null  int64
 31  person_rn               501951 non-null  int64
 32  contents_rn             501951 non-null  int64
 33  contents_open_dt        501951 non-null  object
 34  target                  501951 non-null  int64
 35  person_prefer_d_1_n     501951 non-null  int64
 36  person_prefer_d_1_s     501951 non-null  int64
 37  person_prefer_d_1_m     501951 non-null  int64
 38  person_prefer_d_1_l     501951 non-null  int64
 39  person_prefer_d_2_n     501951 non-null  int64
 40  person_prefer_d_2_s     501951 non-null  int64
 41  person_prefer_d_2_m     501951 non-null  int64
 42  person_prefer_d_2_l     501951 non-null  int64
 43  person_prefer_d_3_n     501951 non-null  int64
 44  person_prefer_d_3_s     501951 non-null  int64
 45  person_prefer_d_3_m     501951 non-null  int64
 46  person_prefer_d_3_l     501951 non-null  int64
 47  contents_attribute_d_n  501951 non-null  int64
 48  contents_attribute_d_s  501951 non-null  int64
 49  contents_attribute_d_m  501951 non-null  int64
 50  contents_attribute_d_l  501951 non-null  int64
 51  person_prefer_h_1_m     501951 non-null  int64
 52  person_prefer_h_1_l     501951 non-null  int64
 53  person_prefer_h_2_m     501951 non-null  int64
 54  person_prefer_h_2_l     501951 non-null  int64
 55  person_prefer_h_3_m     501951 non-null  int64
 56  person_prefer_h_3_l     501951 non-null  int64
 57  contents_attribute_h_m  501951 non-null  int64
 58  contents_attribute_h_l  501951 non-null  int64
 59  contents_attribute_l_n  501951 non-null  int64
 60  contents_attribute_l_s  501951 non-null  int64
 61  contents_attribute_l_m  501951 non-null  int64
 62  contents_attribute_l_l  501951 non-null  int64
dtypes: bool(6), int64(56), object(1)
memory usage: 221.2+ MB

In [19]:
train.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1605                    2016
1   1         False  ...                    1605                    2016
2   2         False  ...                    1572                    2016
3   3         False  ...                    1605                    2016
4   4          True  ...                    1605                    2016

[5 rows x 63 columns]

In [20]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 62 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      46404 non-null  int64
 1   d_l_match_yn            46404 non-null  bool
 2   d_m_match_yn            46404 non-null  bool
 3   d_s_match_yn            46404 non-null  bool
 4   h_l_match_yn            46404 non-null  bool
 5   h_m_match_yn            46404 non-null  bool
 6   h_s_match_yn            46404 non-null  bool
 7   person_attribute_a      46404 non-null  int64
 8   person_attribute_a_1    46404 non-null  int64
 9   person_attribute_b      46404 non-null  int64
 10  person_prefer_c         46404 non-null  int64
 11  person_prefer_d_1       46404 non-null  int64
 12  person_prefer_d_2       46404 non-null  int64
 13  person_prefer_d_3       46404 non-null  int64
 14  person_prefer_e         46404 non-null  int64
 15  person_prefer_f         46404 non-null  int64
 16  person_prefer_g         46404 non-null  int64
 17  person_prefer_h_1       46404 non-null  int64
 18  person_prefer_h_2       46404 non-null  int64
 19  person_prefer_h_3       46404 non-null  int64
 20  contents_attribute_i    46404 non-null  int64
 21  contents_attribute_a    46404 non-null  int64
 22  contents_attribute_j_1  46404 non-null  int64
 23  contents_attribute_j    46404 non-null  int64
 24  contents_attribute_c    46404 non-null  int64
 25  contents_attribute_k    46404 non-null  int64
 26  contents_attribute_l    46404 non-null  int64
 27  contents_attribute_d    46404 non-null  int64
 28  contents_attribute_m    46404 non-null  int64
 29  contents_attribute_e    46404 non-null  int64
 30  contents_attribute_h    46404 non-null  int64
 31  person_rn               46404 non-null  int64
 32  contents_rn             46404 non-null  int64
 33  contents_open_dt        46404 non-null  object
 34  person_prefer_d_1_n     46404 non-null  int64
 35  person_prefer_d_1_s     46404 non-null  int64
 36  person_prefer_d_1_m     46404 non-null  int64
 37  person_prefer_d_1_l     46404 non-null  int64
 38  person_prefer_d_2_n     46404 non-null  int64
 39  person_prefer_d_2_s     46404 non-null  int64
 40  person_prefer_d_2_m     46404 non-null  int64
 41  person_prefer_d_2_l     46404 non-null  int64
 42  person_prefer_d_3_n     46404 non-null  int64
 43  person_prefer_d_3_s     46404 non-null  int64
 44  person_prefer_d_3_m     46404 non-null  int64
 45  person_prefer_d_3_l     46404 non-null  int64
 46  contents_attribute_d_n  46404 non-null  int64
 47  contents_attribute_d_s  46404 non-null  int64
 48  contents_attribute_d_m  46404 non-null  int64
 49  contents_attribute_d_l  46404 non-null  int64
 50  person_prefer_h_1_m     46404 non-null  int64
 51  person_prefer_h_1_l     46404 non-null  int64
 52  person_prefer_h_2_m     46404 non-null  int64
 53  person_prefer_h_2_l     46404 non-null  int64
 54  person_prefer_h_3_m     46404 non-null  int64
 55  person_prefer_h_3_l     46404 non-null  int64
 56  contents_attribute_h_m  46404 non-null  int64
 57  contents_attribute_h_l  46404 non-null  int64
 58  contents_attribute_l_n  46404 non-null  int64
 59  contents_attribute_l_s  46404 non-null  int64
 60  contents_attribute_l_m  46404 non-null  int64
 61  contents_attribute_l_l  46404 non-null  int64
dtypes: bool(6), int64(55), object(1)
memory usage: 20.1+ MB

In [21]:
test.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1021                    2010
1   1         False  ...                    1605                    2016
2   2          True  ...                    1810                    2020
3   3          True  ...                      99                    2006
4   4          True  ...                     954                    2009

[5 rows x 62 columns]

# 필요 데이터 추출

## 훈련에 의미가 적은 열 제거

In [27]:
# 제거 특성 개수 : 50
'''
'id','contents_open_dt','contents_rn','person_prefer_f','person_prefer_g',
'contents_attribute_l_l', 'contents_attribute_l_s',
'person_prefer_d_3_n', 'contents_attribute_e', 'person_prefer_h_2_m',
'person_prefer_h_2_l', 'contents_attribute_k', 'person_prefer_d_3_l',
'person_prefer_h_3_m', 'contents_attribute_i', 'person_prefer_h_3',
'person_prefer_h_2', 'contents_attribute_a', 'person_prefer_h_3_l',
'person_prefer_c', 'person_attribute_b', 'person_attribute_a',
'person_prefer_d_3', 'person_prefer_e', 'contents_attribute_m',
'person_prefer_d_2', 'person_attribute_a_1', 'person_prefer_d_1_l',
'd_s_match_yn', 'person_prefer_h_1_m', 'person_prefer_h_1_l',
'person_prefer_d_3_m', 'h_s_match_yn', 'contents_attribute_d_l',
'h_m_match_yn', 'person_prefer_d_2_m', 'contents_attribute_h_l',
'person_prefer_h_1', 'contents_attribute_j', 'person_prefer_d_2_s',
'h_l_match_yn', 'contents_attribute_d_m', 'contents_attribute_c',
'person_prefer_d_3_s', 'contents_attribute_h_m',
'contents_attribute_d_s', 'contents_attribute_l_m',
'person_prefer_d_2_l', 'contents_attribute_l_n', 'person_prefer_d_2_n'
'''

"\n'id','contents_open_dt','contents_rn','person_prefer_f','person_prefer_g',\n'contents_attribute_l_l', 'contents_attribute_l_s',\n'person_prefer_d_3_n', 'contents_attribute_e', 'person_prefer_h_2_m',\n'person_prefer_h_2_l', 'contents_attribute_k', 'person_prefer_d_3_l',\n'person_prefer_h_3_m', 'contents_attribute_i', 'person_prefer_h_3',\n'person_prefer_h_2', 'contents_attribute_a', 'person_prefer_h_3_l',\n'person_prefer_c', 'person_attribute_b', 'person_attribute_a',\n'person_prefer_d_3', 'person_prefer_e', 'contents_attribute_m',\n'person_prefer_d_2', 'person_attribute_a_1', 'person_prefer_d_1_l',\n'd_s_match_yn', 'person_prefer_h_1_m', 'person_prefer_h_1_l',\n'person_prefer_d_3_m', 'h_s_match_yn', 'contents_attribute_d_l',\n'h_m_match_yn', 'person_prefer_d_2_m', 'contents_attribute_h_l',\n'person_prefer_h_1', 'contents_attribute_j', 'person_prefer_d_2_s',\n'h_l_match_yn', 'contents_attribute_d_m', 'contents_attribute_c',\n'person_prefer_d_3_s', 'contents_attribute_h_m',\n'contents_attribute_d_s', 'contents_attribute_l_m',\n'person_prefer_d_2_l', 'contents_attribute_l_n', 'person_prefer_d_2_n'\n"

In [29]:
# 삭제할 특성
pop_col = ['id','contents_open_dt','contents_rn','person_prefer_f','person_prefer_g',
           'contents_attribute_l_l', 'contents_attribute_l_s',
            'person_prefer_d_3_n', 'contents_attribute_e', 'person_prefer_h_2_m',
            'person_prefer_h_2_l', 'contents_attribute_k', 'person_prefer_d_3_l',
            'person_prefer_h_3_m', 'contents_attribute_i', 'person_prefer_h_3',
            'person_prefer_h_2', 'contents_attribute_a', 'person_prefer_h_3_l',
            'person_prefer_c', 'person_attribute_b', 'person_attribute_a',
            'person_prefer_d_3', 'person_prefer_e', 'contents_attribute_m',
            'person_prefer_d_2', 'person_attribute_a_1', 'person_prefer_d_1_l',
            'd_s_match_yn', 'person_prefer_h_1_m', 'person_prefer_h_1_l',
            'person_prefer_d_3_m', 'h_s_match_yn', 'contents_attribute_d_l',
            'h_m_match_yn', 'person_prefer_d_2_m', 'contents_attribute_h_l',
            'person_prefer_h_1', 'contents_attribute_j', 'person_prefer_d_2_s',
            'h_l_match_yn', 'contents_attribute_d_m', 'contents_attribute_c',
            'person_prefer_d_3_s', 'contents_attribute_h_m',
            'contents_attribute_d_s', 'contents_attribute_l_m',
            'person_prefer_d_2_l', 'contents_attribute_l_n', 'person_prefer_d_2_n']
len(pop_col)

50

In [30]:
train = train.drop(pop_col, axis=1) 
test = test.drop(pop_col, axis=1)

In [31]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 13 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   d_l_match_yn            501951 non-null  bool
 1   d_m_match_yn            501951 non-null  bool
 2   person_prefer_d_1       501951 non-null  int64
 3   contents_attribute_j_1  501951 non-null  int64
 4   contents_attribute_l    501951 non-null  int64
 5   contents_attribute_d    501951 non-null  int64
 6   contents_attribute_h    501951 non-null  int64
 7   person_rn               501951 non-null  int64
 8   target                  501951 non-null  int64
 9   person_prefer_d_1_n     501951 non-null  int64
 10  person_prefer_d_1_s     501951 non-null  int64
 11  person_prefer_d_1_m     501951 non-null  int64
 12  contents_attribute_d_n  501951 non-null  int64
dtypes: bool(2), int64(11)
memory usage: 43.1 MB

In [32]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   d_l_match_yn            46404 non-null  bool
 1   d_m_match_yn            46404 non-null  bool
 2   person_prefer_d_1       46404 non-null  int64
 3   contents_attribute_j_1  46404 non-null  int64
 4   contents_attribute_l    46404 non-null  int64
 5   contents_attribute_d    46404 non-null  int64
 6   contents_attribute_h    46404 non-null  int64
 7   person_rn               46404 non-null  int64
 8   person_prefer_d_1_n     46404 non-null  int64
 9   person_prefer_d_1_s     46404 non-null  int64
 10  person_prefer_d_1_m     46404 non-null  int64
 11  contents_attribute_d_n  46404 non-null  int64
dtypes: bool(2), int64(10)
memory usage: 3.6 MB

## 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경

In [33]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
# train = train.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
train = train.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
train.head()

   d_l_match_yn  d_m_match_yn  ...  person_prefer_d_1_m  contents_attribute_d_n
0          True          True  ...                  274                     275
1         False         False  ...                   56                     275
2         False         False  ...                  450                      92
3         False         False  ...                  690                     275
4          True          True  ...                  274                     275

[5 rows x 13 columns]

In [34]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
# test = test.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
test = test.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
test.head()

   d_l_match_yn  d_m_match_yn  ...  person_prefer_d_1_m  contents_attribute_d_n
0          True         False  ...                  824                     836
1         False         False  ...                  659                     276
2          True         False  ...                  482                     490
3          True         False  ...                   56                     145
4          True         False  ...                 1053                    1097

[5 rows x 12 columns]

## 카테고리형 특성으로 지정할 특성

In [35]:
# 원본 데이터에서 순서형 특성
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [39]:
cat_f = train.columns.to_list()
cat_f.remove('target')
cat_f

['d_l_match_yn',
 'd_m_match_yn',
 'person_prefer_d_1',
 'contents_attribute_j_a',
 'contents_attribute_l',
 'contents_attribute_d',
 'contents_attribute_h',
 'person_rn',
 'person_prefer_d_1_n',
 'person_prefer_d_1_s',
 'person_prefer_d_1_m',
 'contents_attribute_d_n']

# train, test 셋 준비

In [36]:
train.shape

(501951, 13)

In [37]:
X = train.drop(['target'], axis=1)
X.shape

(501951, 12)

In [38]:
y = train[['target']]
y.shape

(501951, 1)

# 모델 훈련/예측

In [40]:
score_df = pd.DataFrame(index=['thr_전', 'thr_후'])
pred_proba_df = pd.DataFrame()
thr_df = pd.DataFrame()

for random_state in tqdm(range(10, 60, 10)):
  temp_score_list =[]
  # 데이터 셋 나누기
  X_train, X_val, y_train, y_val = train_test_split(X, y, random_state=random_state, shuffle=True, stratify=y)
  # 모델 생성
  cat = CatBoostClassifier(random_state=0, task_type='GPU', iterations=1000, early_stopping_rounds=50,
                        cat_features=cat_f, eval_metric='F1', one_hot_max_size=2)
  # 모델 훈련
  cat.fit(X_train, y_train, eval_set=(X_val, y_val), verbose=100)
  
  # 기본 평가
  val_pred = cat.predict(X_val)
  f1_score_raw = f1_score(y_val, val_pred)
  temp_score_list.append(f1_score_raw)

  # precision, recall, threshold 값 계산
  val_pred_proba = cat.predict_proba(X_val)
  precisions, recalls, thresholds = precision_recall_curve(y_val, val_pred_proba[:,1])
  threshold_boundary = thresholds.shape[0]

  # 최고 F1 값을 갖는 threshold 값 구하기
  pre = precisions[:threshold_boundary]
  re = recalls[:threshold_boundary]
  f1 = 2 * pre * re / (pre + re)
  optimal_idx = np.argmax(f1)
  optimal_threshold = thresholds[optimal_idx]
  thr_df[f'{random_state}'] = [optimal_threshold]

  # 구한 threshold값으로 제한해서 예측
  # 1의 예측값만 불러와도 되므로 [:,1]사용
  val_pred_th =  (val_pred_proba[:,1] >= optimal_threshold)
  val_pred_th = val_pred_th.astype(int)

  # threshold로 제한한 예측 평가
  f1_score_mod = f1_score(y_val, val_pred_th)
  temp_score_list.append(f1_score_mod)
  score_df[f'{random_state}'] = temp_score_list

  print("===============================================")
  print(f"random_state : {random_state}")
  print("threshold 적용 전 f1 score :", f1_score_raw)
  print("threshold 적용 후 f1 score :", f1_score_mod)
  print("=========================================================================================")
  print()

  # test 셋 예측
  pred_proba = cat.predict_proba(test)
  pred_proba_df[f'{random_state}'] = pred_proba[:,1]

  0%|          | 0/5 [00:00<?, ?it/s]

Learning rate set to 0.043012
0:	learn: 0.6002260	test: 0.6071986	best: 0.6071986 (0)	total: 73.8ms	remaining: 1m 13s
100:	learn: 0.6443044	test: 0.6580943	best: 0.6580943 (100)	total: 4.89s	remaining: 43.5s
200:	learn: 0.6526942	test: 0.6722568	best: 0.6722568 (200)	total: 9.47s	remaining: 37.6s
bestTest = 0.6724046313
bestIteration = 240
Shrink model to first 241 iterations.
===============================================
random_state : 10
threshold 적용 전 f1 score : 0.6724046312858779
threshold 적용 후 f1 score : 0.7026581266004874
=========================================================================================

 20%|██        | 1/5 [00:25<01:42, 25.64s/it]

Learning rate set to 0.043012
0:	learn: 0.5947739	test: 0.6008382	best: 0.6008382 (0)	total: 74.9ms	remaining: 1m 14s
100:	learn: 0.6433164	test: 0.6534415	best: 0.6534914 (99)	total: 4.87s	remaining: 43.3s
200:	learn: 0.6540225	test: 0.6724349	best: 0.6731416 (196)	total: 9.41s	remaining: 37.4s
bestTest = 0.6731416267
bestIteration = 196
Shrink model to first 197 iterations.
===============================================
random_state : 20
threshold 적용 전 f1 score : 0.6731416266654704
threshold 적용 후 f1 score : 0.7012845524335554
=========================================================================================

 40%|████      | 2/5 [00:48<01:12, 24.02s/it]

Learning rate set to 0.043012
0:	learn: 0.6169107	test: 0.6173397	best: 0.6173397 (0)	total: 73.4ms	remaining: 1m 13s
100:	learn: 0.6449055	test: 0.6543886	best: 0.6544554 (94)	total: 4.82s	remaining: 42.9s
200:	learn: 0.6541882	test: 0.6718822	best: 0.6719776 (186)	total: 9.37s	remaining: 37.2s
bestTest = 0.6719775696
bestIteration = 186
Shrink model to first 187 iterations.
===============================================
random_state : 30
threshold 적용 전 f1 score : 0.671977569594339
threshold 적용 후 f1 score : 0.7002632005688125
=========================================================================================

 60%|██████    | 3/5 [01:10<00:46, 23.21s/it]

Learning rate set to 0.043012
0:	learn: 0.6234219	test: 0.6268896	best: 0.6268896 (0)	total: 74.3ms	remaining: 1m 14s
100:	learn: 0.6450038	test: 0.6592510	best: 0.6592510 (100)	total: 4.9s	remaining: 43.6s
200:	learn: 0.6526182	test: 0.6732371	best: 0.6733078 (193)	total: 9.54s	remaining: 37.9s
bestTest = 0.6742140426
bestIteration = 216
Shrink model to first 217 iterations.
===============================================
random_state : 40
threshold 적용 전 f1 score : 0.6742140425880548
threshold 적용 후 f1 score : 0.7011654547265664
=========================================================================================

 80%|████████  | 4/5 [01:34<00:23, 23.45s/it]

Learning rate set to 0.043012
0:	learn: 0.6267296	test: 0.6273109	best: 0.6273109 (0)	total: 73.4ms	remaining: 1m 13s
100:	learn: 0.6438179	test: 0.6563321	best: 0.6563926 (99)	total: 4.82s	remaining: 42.9s
200:	learn: 0.6525431	test: 0.6711651	best: 0.6711701 (199)	total: 9.37s	remaining: 37.3s
bestTest = 0.6721552396
bestIteration = 240
Shrink model to first 241 iterations.
===============================================
random_state : 50
threshold 적용 전 f1 score : 0.6721552396376942
threshold 적용 후 f1 score : 0.7027634295899732
=========================================================================================

100%|██████████| 5/5 [01:59<00:00, 23.96s/it]

## 결과 종합

In [41]:
score_df

             10        20        30        40        50
thr_전  0.672405  0.673142  0.671978  0.674214  0.672155
thr_후  0.702658  0.701285  0.700263  0.701165  0.702763

### 오류난 특성 제거

In [42]:
# del_col = ['40']
# pred_proba_df = pred_proba_df.drop(del_col, axis=1)
# thr_df = thr_df.drop(del_col, axis=1)
# score_df = score_df.drop(del_col, axis=1)

In [43]:
pred_proba_df['mean'] = pred_proba_df.mean(axis=1)
thr_df['mean'] = thr_df.mean(axis=1)
score_df['mean'] = score_df.mean(axis=1)

### threshold 값

In [44]:
thr_df

         10        20        30        40        50    mean
0  0.375369  0.395458  0.386506  0.381018  0.385149  0.3847

## 자체평가

In [45]:
score_df

             10        20        30        40        50      mean
thr_전  0.672405  0.673142  0.671978  0.674214  0.672155  0.672779
thr_후  0.702658  0.701285  0.700263  0.701165  0.702763  0.701627

## test 예측

In [46]:
pred = pred_proba_df['mean'].tolist() >= thr_df['mean'].values
pred = pred.astype(int)
pred

array([0, 1, 1, ..., 1, 1, 1])

In [47]:
np.unique(pred, return_counts=True)

(array([0, 1]), array([ 9062, 37342]))

# 제출파일 불러오기

In [48]:
# sub = pd.read_csv('../data/sample_submission.csv')
sub = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/sample_submission.csv')
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      46404 non-null  int64
 1   target  46404 non-null  int64
dtypes: int64(2)
memory usage: 725.2 KB

# 제출파일 생성

In [49]:
sub['target'] = pred
sub['target'].value_counts()

1    37342
0     9062
Name: target, dtype: int64

In [50]:
file_ver = '6.4'
# sub.to_csv(f'sub_ver{file_ver}.csv', index=False)
sub.to_csv(f'/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/03_모델선정및개선/sub_ver{file_ver}.csv', index=False)

# 코드 마지막