In [1]:
import pandas as pd
from pycaret.classification import *
from tqdm import tqdm

# 데이콘 점수

In [2]:
# 제출 점수(제출 날짜) : 0.6672178184(2021-12-22 13:44:30)

# 설정

In [3]:
# pycaret: blend(nb, cat, gbc, lr 중)
# 매칭 별 최적 모델 적용
# tune : ❌(자체 점수 떨어짐.)
# combine
# 순서형 특성 수치형으로 지정 : ⭕
    # 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [4]:
# 'id', 'contents_open_dt' 제거 : ⭕
# 모든 값이 1인 'person_prefer_f', 'person_prefer_g' 열 제거 : ⭕
# person_rn, contents_rn 제거 : ⭕
# 중복 샘플 제거 : ❌

In [5]:
# 차이가 비교적 많이 나는 특성(25개)만 훈련/예측 : ⭕

# d_l_match_yn
# d_m_match_yn
# d_s_match_yn

# h_l_match_yn

# person_attribute_a
# person_attribute_a_1
# person_attribute_b
# person_prefer_c

# person_prefer_d_1
# person_prefer_d_2
# person_prefer_d_3

# person_prefer_e

# person_prefer_h_1
# person_prefer_h_2
# person_prefer_h_3
##############################
# contents_attribute_i
# contents_attribute_a

# contents_attribute_j
# contents_attribute_j_1
# contents_attribute_c

# contents_attribute_l
# contents_attribute_d

# contents_attribute_m
# contents_attribute_e

# contents_attribute_h

# 데이터 불러오기

In [6]:
# ../data/train.csv
# ../data/test.csv
train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')

# 데이터 확인

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 35 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      501951 non-null  int64
 1   d_l_match_yn            501951 non-null  bool
 2   d_m_match_yn            501951 non-null  bool
 3   d_s_match_yn            501951 non-null  bool
 4   h_l_match_yn            501951 non-null  bool
 5   h_m_match_yn            501951 non-null  bool
 6   h_s_match_yn            501951 non-null  bool
 7   person_attribute_a      501951 non-null  int64
 8   person_attribute_a_1    501951 non-null  int64
 9   person_attribute_b      501951 non-null  int64
 10  person_prefer_c         501951 non-null  int64
 11  person_prefer_d_1       501951 non-null  int64
 12  person_prefer_d_2       501951 non-null  int64
 13  person_prefer_d_3       501951 non-null  int64
 14  person_prefer_e         501951 non-null  int64
 15  person_prefer_f         501951 non-null  int64
 16  person_prefer_g         501951 non-null  int64
 17  person_prefer_h_1       501951 non-null  int64
 18  person_prefer_h_2       501951 non-null  int64
 19  person_prefer_h_3       501951 non-null  int64
 20  contents_attribute_i    501951 non-null  int64
 21  contents_attribute_a    501951 non-null  int64
 22  contents_attribute_j_1  501951 non-null  int64
 23  contents_attribute_j    501951 non-null  int64
 24  contents_attribute_c    501951 non-null  int64
 25  contents_attribute_k    501951 non-null  int64
 26  contents_attribute_l    501951 non-null  int64
 27  contents_attribute_d    501951 non-null  int64
 28  contents_attribute_m    501951 non-null  int64
 29  contents_attribute_e    501951 non-null  int64
 30  contents_attribute_h    501951 non-null  int64
 31  person_rn               501951 non-null  int64
 32  contents_rn             501951 non-null  int64
 33  contents_open_dt        501951 non-null  object
 34  target                  501951 non-null  int64
dtypes: bool(6), int64(28), object(1)
memory usage: 113.9+ MB

In [8]:
train.head()

,id,d_l_match_yn,d_m_match_yn,d_s_match_yn,h_l_match_yn,h_m_match_yn,h_s_match_yn,person_attribute_a,person_attribute_a_1,person_attribute_b,person_prefer_c,person_prefer_d_1,person_prefer_d_2,person_prefer_d_3,person_prefer_e,person_prefer_f,person_prefer_g,person_prefer_h_1,person_prefer_h_2,person_prefer_h_3,contents_attribute_i,contents_attribute_a,contents_attribute_j_1,contents_attribute_j,contents_attribute_c,contents_attribute_k,contents_attribute_l,contents_attribute_d,contents_attribute_m,contents_attribute_e,contents_attribute_h,person_rn,contents_rn,contents_open_dt,target
0,0,True,True,True,False,False,False,1,4,3,5,275,370,369,8,1,1,4,95,59,3,3,10,2,1,2,1608,275,1,4,139,618822,354805,2020-01-17 12:09:36,1
1,1,False,False,False,True,True,False,1,3,4,1,114,181,175,4,1,1,131,101,96,1,3,5,1,1,2,1608,275,1,4,133,571659,346213,2020-06-18 17:48:52,0
2,2,False,False,False,True,False,False,2,0,3,5,464,175,452,3,1,1,54,263,56,3,1,10,2,1,1,1600,94,1,4,53,399816,206408,2020-07-08 20:00:10,0
3,3,False,False,False,True,False,False,2,0,2,5,703,705,704,3,1,1,72,227,2,1,3,5,1,1,2,1608,275,5,3,74,827967,572323,2020-01-13 18:09:34,0
4,4,True,True,True,False,False,False,1,3,4,5,275,370,369,4,1,1,214,210,209,1,1,10,2,1,2,1608,275,1,4,74,831614,573899,2020-03-09 20:39:22,0

In [9]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      46404 non-null  int64
 1   d_l_match_yn            46404 non-null  bool
 2   d_m_match_yn            46404 non-null  bool
 3   d_s_match_yn            46404 non-null  bool
 4   h_l_match_yn            46404 non-null  bool
 5   h_m_match_yn            46404 non-null  bool
 6   h_s_match_yn            46404 non-null  bool
 7   person_attribute_a      46404 non-null  int64
 8   person_attribute_a_1    46404 non-null  int64
 9   person_attribute_b      46404 non-null  int64
 10  person_prefer_c         46404 non-null  int64
 11  person_prefer_d_1       46404 non-null  int64
 12  person_prefer_d_2       46404 non-null  int64
 13  person_prefer_d_3       46404 non-null  int64
 14  person_prefer_e         46404 non-null  int64
 15  person_prefer_f         46404 non-null  int64
 16  person_prefer_g         46404 non-null  int64
 17  person_prefer_h_1       46404 non-null  int64
 18  person_prefer_h_2       46404 non-null  int64
 19  person_prefer_h_3       46404 non-null  int64
 20  contents_attribute_i    46404 non-null  int64
 21  contents_attribute_a    46404 non-null  int64
 22  contents_attribute_j_1  46404 non-null  int64
 23  contents_attribute_j    46404 non-null  int64
 24  contents_attribute_c    46404 non-null  int64
 25  contents_attribute_k    46404 non-null  int64
 26  contents_attribute_l    46404 non-null  int64
 27  contents_attribute_d    46404 non-null  int64
 28  contents_attribute_m    46404 non-null  int64
 29  contents_attribute_e    46404 non-null  int64
 30  contents_attribute_h    46404 non-null  int64
 31  person_rn               46404 non-null  int64
 32  contents_rn             46404 non-null  int64
 33  contents_open_dt        46404 non-null  object
dtypes: bool(6), int64(27), object(1)
memory usage: 10.2+ MB

In [10]:
test.head()

,id,d_l_match_yn,d_m_match_yn,d_s_match_yn,h_l_match_yn,h_m_match_yn,h_s_match_yn,person_attribute_a,person_attribute_a_1,person_attribute_b,person_prefer_c,person_prefer_d_1,person_prefer_d_2,person_prefer_d_3,person_prefer_e,person_prefer_f,person_prefer_g,person_prefer_h_1,person_prefer_h_2,person_prefer_h_3,contents_attribute_i,contents_attribute_a,contents_attribute_j_1,contents_attribute_j,contents_attribute_c,contents_attribute_k,contents_attribute_l,contents_attribute_d,contents_attribute_m,contents_attribute_e,contents_attribute_h,person_rn,contents_rn,contents_open_dt
0,0,True,False,False,True,True,True,1,1,2,1,857,851,1227,4,1,1,263,56,49,1,3,10,2,1,2,1147,839,1,5,263,393790,236865,2020-12-01 02:24:18
1,1,False,False,False,True,False,False,2,0,2,2,683,1086,662,2,1,1,258,263,49,1,3,5,1,1,2,1611,278,1,4,263,394058,236572,2020-12-17 05:42:53
2,2,True,False,False,True,True,True,2,3,2,1,514,790,1233,0,1,1,177,170,171,3,3,3,1,1,2,1817,490,3,4,177,1002061,704612,2020-12-10 23:33:41
3,3,True,False,False,True,True,True,1,2,2,5,114,181,175,4,1,1,177,170,171,3,3,5,1,1,2,101,150,5,3,177,1000813,704652,2020-12-03 19:44:55
4,4,True,False,False,True,False,False,1,6,4,5,1082,1078,1056,5,1,1,178,177,4,3,1,5,1,1,1,985,1097,1,4,177,111146,704413,2020-12-11 21:24:34

# 필요 데이터 추출

In [11]:
# person_rn :  사용자번호
# contents_rn :  컨텐츠번호
# contents_open_dt :  컨텐츠 열람 일시

## 훈련에 의미가 적은 열 제거

In [12]:
test_col = ['d_l_match_yn', 'd_m_match_yn', 'd_s_match_yn', 'h_l_match_yn',
 'person_attribute_a', 'person_attribute_a_1', 'person_attribute_b', 'person_prefer_c',
 'person_prefer_d_1', 'person_prefer_d_2', 'person_prefer_d_3',
 'person_prefer_e',
 'person_prefer_h_1', 'person_prefer_h_2', 'person_prefer_h_3', 
 'contents_attribute_i', 'contents_attribute_a',
 'contents_attribute_j', 'contents_attribute_j_1', 'contents_attribute_c',
 'contents_attribute_l', 'contents_attribute_d',
 'contents_attribute_m', 'contents_attribute_e',
 'contents_attribute_h']
target = ['target']
train_col = test_col + target
len(train_col), len(test_col)

(26, 25)

In [13]:
train = train[train_col]
test = test[test_col]

In [14]:
# train = train.drop(['id', 'contents_open_dt', 'person_prefer_f', 'person_prefer_g'], axis=1) 
# test = test.drop(['id', 'contents_open_dt', 'person_prefer_f', 'person_prefer_g'], axis=1)

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 26 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   d_l_match_yn            501951 non-null  bool
 1   d_m_match_yn            501951 non-null  bool
 2   d_s_match_yn            501951 non-null  bool
 3   h_l_match_yn            501951 non-null  bool
 4   person_attribute_a      501951 non-null  int64
 5   person_attribute_a_1    501951 non-null  int64
 6   person_attribute_b      501951 non-null  int64
 7   person_prefer_c         501951 non-null  int64
 8   person_prefer_d_1       501951 non-null  int64
 9   person_prefer_d_2       501951 non-null  int64
 10  person_prefer_d_3       501951 non-null  int64
 11  person_prefer_e         501951 non-null  int64
 12  person_prefer_h_1       501951 non-null  int64
 13  person_prefer_h_2       501951 non-null  int64
 14  person_prefer_h_3       501951 non-null  int64
 15  contents_attribute_i    501951 non-null  int64
 16  contents_attribute_a    501951 non-null  int64
 17  contents_attribute_j    501951 non-null  int64
 18  contents_attribute_j_1  501951 non-null  int64
 19  contents_attribute_c    501951 non-null  int64
 20  contents_attribute_l    501951 non-null  int64
 21  contents_attribute_d    501951 non-null  int64
 22  contents_attribute_m    501951 non-null  int64
 23  contents_attribute_e    501951 non-null  int64
 24  contents_attribute_h    501951 non-null  int64
 25  target                  501951 non-null  int64
dtypes: bool(4), int64(22)
memory usage: 86.2 MB

In [16]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   d_l_match_yn            46404 non-null  bool
 1   d_m_match_yn            46404 non-null  bool
 2   d_s_match_yn            46404 non-null  bool
 3   h_l_match_yn            46404 non-null  bool
 4   person_attribute_a      46404 non-null  int64
 5   person_attribute_a_1    46404 non-null  int64
 6   person_attribute_b      46404 non-null  int64
 7   person_prefer_c         46404 non-null  int64
 8   person_prefer_d_1       46404 non-null  int64
 9   person_prefer_d_2       46404 non-null  int64
 10  person_prefer_d_3       46404 non-null  int64
 11  person_prefer_e         46404 non-null  int64
 12  person_prefer_h_1       46404 non-null  int64
 13  person_prefer_h_2       46404 non-null  int64
 14  person_prefer_h_3       46404 non-null  int64
 15  contents_attribute_i    46404 non-null  int64
 16  contents_attribute_a    46404 non-null  int64
 17  contents_attribute_j    46404 non-null  int64
 18  contents_attribute_j_1  46404 non-null  int64
 19  contents_attribute_c    46404 non-null  int64
 20  contents_attribute_l    46404 non-null  int64
 21  contents_attribute_d    46404 non-null  int64
 22  contents_attribute_m    46404 non-null  int64
 23  contents_attribute_e    46404 non-null  int64
 24  contents_attribute_h    46404 non-null  int64
dtypes: bool(4), int64(21)
memory usage: 7.6 MB

## 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경

In [17]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
train = train.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
train.head()

,d_l_match_yn,d_m_match_yn,d_s_match_yn,h_l_match_yn,person_attribute_a,person_attribute_a_a,person_attribute_b,person_prefer_c,person_prefer_d_1,person_prefer_d_2,person_prefer_d_3,person_prefer_e,person_prefer_h_1,person_prefer_h_2,person_prefer_h_3,contents_attribute_i,contents_attribute_a,contents_attribute_j,contents_attribute_j_1,contents_attribute_c,contents_attribute_l,contents_attribute_d,contents_attribute_m,contents_attribute_e,contents_attribute_h,target
0,True,True,True,False,1,4,3,5,275,370,369,8,4,95,59,3,3,2,10,1,1608,275,1,4,139,1
1,False,False,False,True,1,3,4,1,114,181,175,4,131,101,96,1,3,1,5,1,1608,275,1,4,133,0
2,False,False,False,True,2,0,3,5,464,175,452,3,54,263,56,3,1,2,10,1,1600,94,1,4,53,0
3,False,False,False,True,2,0,2,5,703,705,704,3,72,227,2,1,3,1,5,1,1608,275,5,3,74,0
4,True,True,True,False,1,3,4,5,275,370,369,4,214,210,209,1,1,2,10,1,1608,275,1,4,74,0

In [18]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
test = test.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
test.head()

,d_l_match_yn,d_m_match_yn,d_s_match_yn,h_l_match_yn,person_attribute_a,person_attribute_a_a,person_attribute_b,person_prefer_c,person_prefer_d_1,person_prefer_d_2,person_prefer_d_3,person_prefer_e,person_prefer_h_1,person_prefer_h_2,person_prefer_h_3,contents_attribute_i,contents_attribute_a,contents_attribute_j,contents_attribute_j_1,contents_attribute_c,contents_attribute_l,contents_attribute_d,contents_attribute_m,contents_attribute_e,contents_attribute_h
0,True,False,False,True,1,1,2,1,857,851,1227,4,263,56,49,1,3,2,10,1,1147,839,1,5,263
1,False,False,False,True,2,0,2,2,683,1086,662,2,258,263,49,1,3,1,5,1,1611,278,1,4,263
2,True,False,False,True,2,3,2,1,514,790,1233,0,177,170,171,3,3,1,3,1,1817,490,3,4,177
3,True,False,False,True,1,2,2,5,114,181,175,4,177,170,171,3,3,1,5,1,101,150,5,3,177
4,True,False,False,True,1,6,4,5,1082,1078,1056,5,178,177,4,3,1,1,5,1,985,1097,1,4,177

# # 매칭 별 모델 학습/예측

In [19]:
# 순서형 특성 수치형으로 지정 : ⭕
    # 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [20]:
import itertools

In [21]:
# 단계(4단계)별로 [0, 1]의 선택지 있는 모든 경우의 수 출력
match_cases = list(itertools.product(*[[0,1] for i in range(4)]))
match_cases

[(0, 0, 0, 0),
 (0, 0, 0, 1),
 (0, 0, 1, 0),
 (0, 0, 1, 1),
 (0, 1, 0, 0),
 (0, 1, 0, 1),
 (0, 1, 1, 0),
 (0, 1, 1, 1),
 (1, 0, 0, 0),
 (1, 0, 0, 1),
 (1, 0, 1, 0),
 (1, 0, 1, 1),
 (1, 1, 0, 0),
 (1, 1, 0, 1),
 (1, 1, 1, 0),
 (1, 1, 1, 1)]

In [22]:
# 단계(4단계)별로 [0, 1]의 선택지 있는 모든 경우의 수 출력
match_cases = list(itertools.product(*[[0,1] for i in range(4)]))
match_cases

[(0, 0, 0, 0),
 (0, 0, 0, 1),
 (0, 0, 1, 0),
 (0, 0, 1, 1),
 (0, 1, 0, 0),
 (0, 1, 0, 1),
 (0, 1, 1, 0),
 (0, 1, 1, 1),
 (1, 0, 0, 0),
 (1, 0, 0, 1),
 (1, 0, 1, 0),
 (1, 0, 1, 1),
 (1, 1, 0, 0),
 (1, 1, 0, 1),
 (1, 1, 1, 0),
 (1, 1, 1, 1)]

In [23]:
num_list = [0, 1, 8, 9, 12, 13, 14, 15]

In [24]:
pred = pd.DataFrame()

## 1번째

In [25]:
num = num_list[0]
c0, c1, c2, c3 = match_cases[num]

tmp_train = train[(train['d_l_match_yn']==c0)&(train['d_m_match_yn']==c1)&
                  (train['d_s_match_yn']==c2)&(train['h_l_match_yn']==c3)]
tmp_test = test[(test['d_l_match_yn']==c0)&(test['d_m_match_yn']==c1)&
                  (test['d_s_match_yn']==c2)&(test['h_l_match_yn']==c3)]

ex = setup(tmp_train, target='target', n_jobs=-1, session_id=0, verbose=False, silent=True, 
  fold=5, fold_shuffle=True, combine_rare_levels=True,
  numeric_features=['person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e']
)

In [26]:
compare_models(sort='F1')
# 1m 50s

GaussianNB(priors=None, var_smoothing=1e-09)

In [27]:
# 모델 생성
nb = create_model('nb')
cat = create_model('catboost')
# 블랜드
blended_model = blend_models([nb, cat],fold=5, optimize='F1')
# 1m 36s

In [28]:
# 예측
tmp_pred = predict_model(blended_model, tmp_test)
pred = pd.concat([pred, tmp_pred])

## 2번째

In [29]:
num = num_list[1]
c0, c1, c2, c3 = match_cases[num]

tmp_train = train[(train['d_l_match_yn']==c0)&(train['d_m_match_yn']==c1)&
                  (train['d_s_match_yn']==c2)&(train['h_l_match_yn']==c3)]
tmp_test = test[(test['d_l_match_yn']==c0)&(test['d_m_match_yn']==c1)&
                  (test['d_s_match_yn']==c2)&(test['h_l_match_yn']==c3)]

ex = setup(tmp_train, target='target', n_jobs=-1, session_id=0, verbose=False, silent=True, 
  fold=5, fold_shuffle=True, combine_rare_levels=True,
  numeric_features=['person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e']
)

In [30]:
compare_models(sort='F1')
# 5m 45s

GaussianNB(priors=None, var_smoothing=1e-09)

In [31]:
# 모델 생성
nb = create_model('nb')
cat = create_model('catboost')
# 블랜드
blended_model = blend_models([nb, cat],fold=5, optimize='F1')
# 3m 21s

In [32]:
# 예측
tmp_pred = predict_model(blended_model, tmp_test)
pred = pd.concat([pred, tmp_pred])

## 3번째

In [33]:
num = num_list[2]
c0, c1, c2, c3 = match_cases[num]

tmp_train = train[(train['d_l_match_yn']==c0)&(train['d_m_match_yn']==c1)&
                  (train['d_s_match_yn']==c2)&(train['h_l_match_yn']==c3)]
tmp_test = test[(test['d_l_match_yn']==c0)&(test['d_m_match_yn']==c1)&
                  (test['d_s_match_yn']==c2)&(test['h_l_match_yn']==c3)]

ex = setup(tmp_train, target='target', n_jobs=-1, session_id=0, verbose=False, silent=True, 
  fold=5, fold_shuffle=True, combine_rare_levels=True,
  numeric_features=['person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e']
)

In [34]:
compare_models(sort='F1')
# 1m 19s

GaussianNB(priors=None, var_smoothing=1e-09)

In [35]:
# 모델 생성
nb = create_model('nb')
cat = create_model('catboost')
# 블랜드
blended_model = blend_models([nb, cat],fold=5, optimize='F1')
# 1m 17s

In [36]:
# 예측
tmp_pred = predict_model(blended_model, tmp_test)
pred = pd.concat([pred, tmp_pred])

## 4번째

In [37]:
num = num_list[3]
c0, c1, c2, c3 = match_cases[num]

tmp_train = train[(train['d_l_match_yn']==c0)&(train['d_m_match_yn']==c1)&
                  (train['d_s_match_yn']==c2)&(train['h_l_match_yn']==c3)]
tmp_test = test[(test['d_l_match_yn']==c0)&(test['d_m_match_yn']==c1)&
                  (test['d_s_match_yn']==c2)&(test['h_l_match_yn']==c3)]

ex = setup(tmp_train, target='target', n_jobs=-1, session_id=0, verbose=False, silent=True, 
  fold=5, fold_shuffle=True, combine_rare_levels=True,
  numeric_features=['person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e']
)

In [38]:
compare_models(sort='F1')
# 5m 38s

DummyClassifier(constant=None, random_state=0, strategy='prior')

In [39]:
# 모델 생성
nb = create_model('nb')
gbc = create_model('gbc')
# 블랜드
blended_model = blend_models([nb, gbc],fold=5, optimize='F1')
# 2m 41s

In [40]:
# 예측
tmp_pred = predict_model(blended_model, tmp_test)
pred = pd.concat([pred, tmp_pred])

## 5번째

In [41]:
num = num_list[4]
c0, c1, c2, c3 = match_cases[num]

tmp_train = train[(train['d_l_match_yn']==c0)&(train['d_m_match_yn']==c1)&
                  (train['d_s_match_yn']==c2)&(train['h_l_match_yn']==c3)]
tmp_test = test[(test['d_l_match_yn']==c0)&(test['d_m_match_yn']==c1)&
                  (test['d_s_match_yn']==c2)&(test['h_l_match_yn']==c3)]

ex = setup(tmp_train, target='target', n_jobs=-1, session_id=0, verbose=False, silent=True, 
  fold=5, fold_shuffle=True, combine_rare_levels=True,
  numeric_features=['person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e']
)

In [42]:
compare_models(sort='F1')
# 39s

DummyClassifier(constant=None, random_state=0, strategy='prior')

In [43]:
# 모델 생성
nb = create_model('nb')
gbc = create_model('gbc')
# 블랜드
blended_model = blend_models([nb, gbc],fold=5, optimize='F1')
# 12s

In [44]:
# 예측
tmp_pred = predict_model(blended_model, tmp_test)
pred = pd.concat([pred, tmp_pred])

## 6번째

In [45]:
num = num_list[5]
c0, c1, c2, c3 = match_cases[num]

tmp_train = train[(train['d_l_match_yn']==c0)&(train['d_m_match_yn']==c1)&
                  (train['d_s_match_yn']==c2)&(train['h_l_match_yn']==c3)]
tmp_test = test[(test['d_l_match_yn']==c0)&(test['d_m_match_yn']==c1)&
                  (test['d_s_match_yn']==c2)&(test['h_l_match_yn']==c3)]

ex = setup(tmp_train, target='target', n_jobs=-1, session_id=0, verbose=False, silent=True, 
  fold=5, fold_shuffle=True, combine_rare_levels=True,
  numeric_features=['person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e']
)

In [46]:
compare_models(sort='F1')
# 1m 40s

DummyClassifier(constant=None, random_state=0, strategy='prior')

In [47]:
# 모델 생성
gbc = create_model('gbc')
lr = create_model('lr')
# 블랜드
blended_model = blend_models([gbc, lr],fold=5, optimize='F1')
# 1m 5s

In [48]:
# 예측
tmp_pred = predict_model(blended_model, tmp_test)
pred = pd.concat([pred, tmp_pred])

## 7번째

In [49]:
num = num_list[6]
c0, c1, c2, c3 = match_cases[num]

tmp_train = train[(train['d_l_match_yn']==c0)&(train['d_m_match_yn']==c1)&
                  (train['d_s_match_yn']==c2)&(train['h_l_match_yn']==c3)]
tmp_test = test[(test['d_l_match_yn']==c0)&(test['d_m_match_yn']==c1)&
                  (test['d_s_match_yn']==c2)&(test['h_l_match_yn']==c3)]

ex = setup(tmp_train, target='target', n_jobs=-1, session_id=0, verbose=False, silent=True, 
  fold=5, fold_shuffle=True, combine_rare_levels=True,
  numeric_features=['person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e']
)

In [50]:
compare_models(sort='F1')
# 53s

DummyClassifier(constant=None, random_state=0, strategy='prior')

In [51]:
# 모델 생성
nb = create_model('nb')
gbc = create_model('gbc')
# 블랜드
blended_model = blend_models([nb, gbc],fold=5, optimize='F1')
# 18s

In [52]:
# 예측
tmp_pred = predict_model(blended_model, tmp_test)
pred = pd.concat([pred, tmp_pred])

## 8번째

In [53]:
num = num_list[7]
c0, c1, c2, c3 = match_cases[num]

tmp_train = train[(train['d_l_match_yn']==c0)&(train['d_m_match_yn']==c1)&
                  (train['d_s_match_yn']==c2)&(train['h_l_match_yn']==c3)]
tmp_test = test[(test['d_l_match_yn']==c0)&(test['d_m_match_yn']==c1)&
                  (test['d_s_match_yn']==c2)&(test['h_l_match_yn']==c3)]

ex = setup(tmp_train, target='target', n_jobs=-1, session_id=0, verbose=False, silent=True, 
  fold=5, fold_shuffle=True, combine_rare_levels=True,
  numeric_features=['person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e']
)

In [54]:
compare_models(sort='F1')
# 2m 2s

DummyClassifier(constant=None, random_state=0, strategy='prior')

In [55]:
# 모델 생성
gbc = create_model('gbc')
lr = create_model('lr')
# 블랜드
blended_model = blend_models([gbc, lr],fold=5, optimize='F1')
# 1m 21s

In [56]:
# 예측
tmp_pred = predict_model(blended_model, tmp_test)
pred = pd.concat([pred, tmp_pred])

# 모델 훈련/예측

In [57]:
# pred = pd.DataFrame()
# num_list = [0, 1, 8, 9, 12, 13, 14, 15]

# for num in tqdm(num_list):
#     c0, c1, c2, c3 = match_cases[num]
#     # 매칭 경우의 수로 구분해서 데이터 셋 가져오기
#     tmp_train = train[(train['d_l_match_yn']==c0)&(train['d_m_match_yn']==c1)&(train['d_s_match_yn']==c2)&
#     (train['h_l_match_yn']==c3)]
#     tmp_test = test[(test['d_l_match_yn']==c0)&(test['d_m_match_yn']==c1)&(test['d_s_match_yn']==c2)&
#     (test['h_l_match_yn']==c3)]
#     # setup
#     ex = setup(tmp_train, target='target', n_jobs=-1, session_id=0, verbose=False, silent=True, 
#     fold=5, fold_shuffle=True, combine_rare_levels=True,
#     numeric_features=['person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e']
#     )
#     # 모델 생성
#     nb = create_model('nb')
#     cat = create_model('catboost')
#     # 블랜드
#     blended_model = blend_models([nb, cat],fold=5, optimize='F1')
#     # 예측
#     tmp_pred = predict_model(blended_model, tmp_test)
#     pred = pd.concat([pred, tmp_pred])

In [58]:
pred.iloc[:,-2:].head()

    Label   Score
5       1  0.5133
9       1  0.6874
12      1  0.6498
25      1  0.6831
26      0  0.7960

In [59]:
pred['Label']

5        1
9        1
12       1
25       1
26       0
        ..
46350    1
46357    1
46358    1
46391    1
46396    1
Name: Label, Length: 46404, dtype: int32

In [60]:
pred['Label'].value_counts()

1    38338
0     8066
Name: Label, dtype: int64

# 제출파일 불러오기

In [61]:
# ../data/sample_submission.csv
sub = pd.read_csv('../data/sample_submission.csv')
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      46404 non-null  int64
 1   target  46404 non-null  int64
dtypes: int64(2)
memory usage: 725.2 KB

In [62]:
sub.head()

   id  target
0   0      -1
1   1      -1
2   2      -1
3   3      -1
4   4      -1

# 제출파일 생성

In [63]:
sub['target'] = pred['Label']
sub.to_csv('sub_ver1.9.csv', index=False)

In [64]:
sub.head(10)

   id  target
0   0       1
1   1       1
2   2       0
3   3       1
4   4       1
5   5       1
6   6       1
7   7       0
8   8       0
9   9       1

# 코드 마지막