# 라이브러리 로드 및 기본 세팅

In [1]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.0.4-cp37-none-manylinux1_x86_64.whl (76.1 MB)
     |████████████████████████████████| 76.1 MB 1.3 MB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.6)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-1.0.4

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, classification_report, precision_recall_curve

# 데이콘 점수

In [4]:
# target 1 개수
  # best_score : 36081
  # submit : 36274

In [5]:
# 자체 점수 : 0.708292
# 제출 점수(제출 날짜) : 0.7013955363(2022-01-22 16:37:32)

# 설정

In [6]:
# cat
# 총 제거된 특성(16개)
# one_hot_max_size = 2
# random_state : 5(range(10, 60, 10))
# iterations = 1000
# early_stopping_rounds = 50
# 순서형 특성 설정(4개)
# probability_threshold 설정

In [7]:
# 순서형 특성 (4개)
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [8]:
# 기본 제거 특성(5개)
# 'id',
# 'contents_open_dt',
# 'contents_rn',
# 'person_prefer_f',
# 'person_prefer_g',

In [9]:
# target별 특성 분포 유사한 특성(2개)
# 'h_m_match_yn',
# 'h_s_match_yn',

In [10]:
# 특성 중요도 낮은 특성(9개)
# 'person_prefer_h_3_m',
# 'person_prefer_h_3',
# 'contents_attribute_i',
# 'person_prefer_h_3_l',
# 'person_prefer_h_2_m',
# 'person_prefer_d_3_l',
# 'contents_attribute_k',
# 'person_prefer_h_2',
# 'contents_attribute_j'

# 데이터 불러오기

In [11]:
# train = pd.read_csv('../data/df_train.csv')
# test = pd.read_csv('../data/df_test.csv')
train = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_train.csv')
test = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_test.csv')

# 데이터 확인

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 63 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      501951 non-null  int64
 1   d_l_match_yn            501951 non-null  bool
 2   d_m_match_yn            501951 non-null  bool
 3   d_s_match_yn            501951 non-null  bool
 4   h_l_match_yn            501951 non-null  bool
 5   h_m_match_yn            501951 non-null  bool
 6   h_s_match_yn            501951 non-null  bool
 7   person_attribute_a      501951 non-null  int64
 8   person_attribute_a_1    501951 non-null  int64
 9   person_attribute_b      501951 non-null  int64
 10  person_prefer_c         501951 non-null  int64
 11  person_prefer_d_1       501951 non-null  int64
 12  person_prefer_d_2       501951 non-null  int64
 13  person_prefer_d_3       501951 non-null  int64
 14  person_prefer_e         501951 non-null  int64
 15  person_prefer_f         501951 non-null  int64
 16  person_prefer_g         501951 non-null  int64
 17  person_prefer_h_1       501951 non-null  int64
 18  person_prefer_h_2       501951 non-null  int64
 19  person_prefer_h_3       501951 non-null  int64
 20  contents_attribute_i    501951 non-null  int64
 21  contents_attribute_a    501951 non-null  int64
 22  contents_attribute_j_1  501951 non-null  int64
 23  contents_attribute_j    501951 non-null  int64
 24  contents_attribute_c    501951 non-null  int64
 25  contents_attribute_k    501951 non-null  int64
 26  contents_attribute_l    501951 non-null  int64
 27  contents_attribute_d    501951 non-null  int64
 28  contents_attribute_m    501951 non-null  int64
 29  contents_attribute_e    501951 non-null  int64
 30  contents_attribute_h    501951 non-null  int64
 31  person_rn               501951 non-null  int64
 32  contents_rn             501951 non-null  int64
 33  contents_open_dt        501951 non-null  object
 34  target                  501951 non-null  int64
 35  person_prefer_d_1_n     501951 non-null  int64
 36  person_prefer_d_1_s     501951 non-null  int64
 37  person_prefer_d_1_m     501951 non-null  int64
 38  person_prefer_d_1_l     501951 non-null  int64
 39  person_prefer_d_2_n     501951 non-null  int64
 40  person_prefer_d_2_s     501951 non-null  int64
 41  person_prefer_d_2_m     501951 non-null  int64
 42  person_prefer_d_2_l     501951 non-null  int64
 43  person_prefer_d_3_n     501951 non-null  int64
 44  person_prefer_d_3_s     501951 non-null  int64
 45  person_prefer_d_3_m     501951 non-null  int64
 46  person_prefer_d_3_l     501951 non-null  int64
 47  contents_attribute_d_n  501951 non-null  int64
 48  contents_attribute_d_s  501951 non-null  int64
 49  contents_attribute_d_m  501951 non-null  int64
 50  contents_attribute_d_l  501951 non-null  int64
 51  person_prefer_h_1_m     501951 non-null  int64
 52  person_prefer_h_1_l     501951 non-null  int64
 53  person_prefer_h_2_m     501951 non-null  int64
 54  person_prefer_h_2_l     501951 non-null  int64
 55  person_prefer_h_3_m     501951 non-null  int64
 56  person_prefer_h_3_l     501951 non-null  int64
 57  contents_attribute_h_m  501951 non-null  int64
 58  contents_attribute_h_l  501951 non-null  int64
 59  contents_attribute_l_n  501951 non-null  int64
 60  contents_attribute_l_s  501951 non-null  int64
 61  contents_attribute_l_m  501951 non-null  int64
 62  contents_attribute_l_l  501951 non-null  int64
dtypes: bool(6), int64(56), object(1)
memory usage: 221.2+ MB

In [13]:
train.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1605                    2016
1   1         False  ...                    1605                    2016
2   2         False  ...                    1572                    2016
3   3         False  ...                    1605                    2016
4   4          True  ...                    1605                    2016

[5 rows x 63 columns]

In [14]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 62 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      46404 non-null  int64
 1   d_l_match_yn            46404 non-null  bool
 2   d_m_match_yn            46404 non-null  bool
 3   d_s_match_yn            46404 non-null  bool
 4   h_l_match_yn            46404 non-null  bool
 5   h_m_match_yn            46404 non-null  bool
 6   h_s_match_yn            46404 non-null  bool
 7   person_attribute_a      46404 non-null  int64
 8   person_attribute_a_1    46404 non-null  int64
 9   person_attribute_b      46404 non-null  int64
 10  person_prefer_c         46404 non-null  int64
 11  person_prefer_d_1       46404 non-null  int64
 12  person_prefer_d_2       46404 non-null  int64
 13  person_prefer_d_3       46404 non-null  int64
 14  person_prefer_e         46404 non-null  int64
 15  person_prefer_f         46404 non-null  int64
 16  person_prefer_g         46404 non-null  int64
 17  person_prefer_h_1       46404 non-null  int64
 18  person_prefer_h_2       46404 non-null  int64
 19  person_prefer_h_3       46404 non-null  int64
 20  contents_attribute_i    46404 non-null  int64
 21  contents_attribute_a    46404 non-null  int64
 22  contents_attribute_j_1  46404 non-null  int64
 23  contents_attribute_j    46404 non-null  int64
 24  contents_attribute_c    46404 non-null  int64
 25  contents_attribute_k    46404 non-null  int64
 26  contents_attribute_l    46404 non-null  int64
 27  contents_attribute_d    46404 non-null  int64
 28  contents_attribute_m    46404 non-null  int64
 29  contents_attribute_e    46404 non-null  int64
 30  contents_attribute_h    46404 non-null  int64
 31  person_rn               46404 non-null  int64
 32  contents_rn             46404 non-null  int64
 33  contents_open_dt        46404 non-null  object
 34  person_prefer_d_1_n     46404 non-null  int64
 35  person_prefer_d_1_s     46404 non-null  int64
 36  person_prefer_d_1_m     46404 non-null  int64
 37  person_prefer_d_1_l     46404 non-null  int64
 38  person_prefer_d_2_n     46404 non-null  int64
 39  person_prefer_d_2_s     46404 non-null  int64
 40  person_prefer_d_2_m     46404 non-null  int64
 41  person_prefer_d_2_l     46404 non-null  int64
 42  person_prefer_d_3_n     46404 non-null  int64
 43  person_prefer_d_3_s     46404 non-null  int64
 44  person_prefer_d_3_m     46404 non-null  int64
 45  person_prefer_d_3_l     46404 non-null  int64
 46  contents_attribute_d_n  46404 non-null  int64
 47  contents_attribute_d_s  46404 non-null  int64
 48  contents_attribute_d_m  46404 non-null  int64
 49  contents_attribute_d_l  46404 non-null  int64
 50  person_prefer_h_1_m     46404 non-null  int64
 51  person_prefer_h_1_l     46404 non-null  int64
 52  person_prefer_h_2_m     46404 non-null  int64
 53  person_prefer_h_2_l     46404 non-null  int64
 54  person_prefer_h_3_m     46404 non-null  int64
 55  person_prefer_h_3_l     46404 non-null  int64
 56  contents_attribute_h_m  46404 non-null  int64
 57  contents_attribute_h_l  46404 non-null  int64
 58  contents_attribute_l_n  46404 non-null  int64
 59  contents_attribute_l_s  46404 non-null  int64
 60  contents_attribute_l_m  46404 non-null  int64
 61  contents_attribute_l_l  46404 non-null  int64
dtypes: bool(6), int64(55), object(1)
memory usage: 20.1+ MB

In [15]:
test.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1021                    2010
1   1         False  ...                    1605                    2016
2   2          True  ...                    1810                    2020
3   3          True  ...                      99                    2006
4   4          True  ...                     954                    2009

[5 rows x 62 columns]

# 필요 데이터 추출

## 훈련에 의미가 적은 열 제거

In [16]:
# 제거된 특성(16개)
# 'id',
# 'contents_open_dt',
# 'contents_rn',
# 'person_prefer_f',
# 'person_prefer_g',
# 'h_m_match_yn',
# 'h_s_match_yn',
# 'person_prefer_h_3_m',
# 'person_prefer_h_3',
# 'contents_attribute_i',
# 'person_prefer_h_3_l',
# 'person_prefer_h_2_m',
# 'person_prefer_d_3_l',
# 'contents_attribute_k',
# 'person_prefer_h_2',
# 'contents_attribute_j'

In [17]:
# 삭제할 특성
pop_col = ['id','contents_open_dt','contents_rn','person_prefer_f','person_prefer_g',
           'h_m_match_yn','h_s_match_yn',
           'person_prefer_h_3_m','person_prefer_h_3',
           'contents_attribute_i','person_prefer_h_3_l',
           'person_prefer_h_2_m',
           'person_prefer_d_3_l', 'contents_attribute_k', 'person_prefer_h_2', 'contents_attribute_j']
len(pop_col)

16

In [18]:
train = train.drop(pop_col, axis=1) 
test = test.drop(pop_col, axis=1)

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 47 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   d_l_match_yn            501951 non-null  bool
 1   d_m_match_yn            501951 non-null  bool
 2   d_s_match_yn            501951 non-null  bool
 3   h_l_match_yn            501951 non-null  bool
 4   person_attribute_a      501951 non-null  int64
 5   person_attribute_a_1    501951 non-null  int64
 6   person_attribute_b      501951 non-null  int64
 7   person_prefer_c         501951 non-null  int64
 8   person_prefer_d_1       501951 non-null  int64
 9   person_prefer_d_2       501951 non-null  int64
 10  person_prefer_d_3       501951 non-null  int64
 11  person_prefer_e         501951 non-null  int64
 12  person_prefer_h_1       501951 non-null  int64
 13  contents_attribute_a    501951 non-null  int64
 14  contents_attribute_j_1  501951 non-null  int64
 15  contents_attribute_c    501951 non-null  int64
 16  contents_attribute_l    501951 non-null  int64
 17  contents_attribute_d    501951 non-null  int64
 18  contents_attribute_m    501951 non-null  int64
 19  contents_attribute_e    501951 non-null  int64
 20  contents_attribute_h    501951 non-null  int64
 21  person_rn               501951 non-null  int64
 22  target                  501951 non-null  int64
 23  person_prefer_d_1_n     501951 non-null  int64
 24  person_prefer_d_1_s     501951 non-null  int64
 25  person_prefer_d_1_m     501951 non-null  int64
 26  person_prefer_d_1_l     501951 non-null  int64
 27  person_prefer_d_2_n     501951 non-null  int64
 28  person_prefer_d_2_s     501951 non-null  int64
 29  person_prefer_d_2_m     501951 non-null  int64
 30  person_prefer_d_2_l     501951 non-null  int64
 31  person_prefer_d_3_n     501951 non-null  int64
 32  person_prefer_d_3_s     501951 non-null  int64
 33  person_prefer_d_3_m     501951 non-null  int64
 34  contents_attribute_d_n  501951 non-null  int64
 35  contents_attribute_d_s  501951 non-null  int64
 36  contents_attribute_d_m  501951 non-null  int64
 37  contents_attribute_d_l  501951 non-null  int64
 38  person_prefer_h_1_m     501951 non-null  int64
 39  person_prefer_h_1_l     501951 non-null  int64
 40  person_prefer_h_2_l     501951 non-null  int64
 41  contents_attribute_h_m  501951 non-null  int64
 42  contents_attribute_h_l  501951 non-null  int64
 43  contents_attribute_l_n  501951 non-null  int64
 44  contents_attribute_l_s  501951 non-null  int64
 45  contents_attribute_l_m  501951 non-null  int64
 46  contents_attribute_l_l  501951 non-null  int64
dtypes: bool(4), int64(43)
memory usage: 166.6 MB

In [20]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 46 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   d_l_match_yn            46404 non-null  bool
 1   d_m_match_yn            46404 non-null  bool
 2   d_s_match_yn            46404 non-null  bool
 3   h_l_match_yn            46404 non-null  bool
 4   person_attribute_a      46404 non-null  int64
 5   person_attribute_a_1    46404 non-null  int64
 6   person_attribute_b      46404 non-null  int64
 7   person_prefer_c         46404 non-null  int64
 8   person_prefer_d_1       46404 non-null  int64
 9   person_prefer_d_2       46404 non-null  int64
 10  person_prefer_d_3       46404 non-null  int64
 11  person_prefer_e         46404 non-null  int64
 12  person_prefer_h_1       46404 non-null  int64
 13  contents_attribute_a    46404 non-null  int64
 14  contents_attribute_j_1  46404 non-null  int64
 15  contents_attribute_c    46404 non-null  int64
 16  contents_attribute_l    46404 non-null  int64
 17  contents_attribute_d    46404 non-null  int64
 18  contents_attribute_m    46404 non-null  int64
 19  contents_attribute_e    46404 non-null  int64
 20  contents_attribute_h    46404 non-null  int64
 21  person_rn               46404 non-null  int64
 22  person_prefer_d_1_n     46404 non-null  int64
 23  person_prefer_d_1_s     46404 non-null  int64
 24  person_prefer_d_1_m     46404 non-null  int64
 25  person_prefer_d_1_l     46404 non-null  int64
 26  person_prefer_d_2_n     46404 non-null  int64
 27  person_prefer_d_2_s     46404 non-null  int64
 28  person_prefer_d_2_m     46404 non-null  int64
 29  person_prefer_d_2_l     46404 non-null  int64
 30  person_prefer_d_3_n     46404 non-null  int64
 31  person_prefer_d_3_s     46404 non-null  int64
 32  person_prefer_d_3_m     46404 non-null  int64
 33  contents_attribute_d_n  46404 non-null  int64
 34  contents_attribute_d_s  46404 non-null  int64
 35  contents_attribute_d_m  46404 non-null  int64
 36  contents_attribute_d_l  46404 non-null  int64
 37  person_prefer_h_1_m     46404 non-null  int64
 38  person_prefer_h_1_l     46404 non-null  int64
 39  person_prefer_h_2_l     46404 non-null  int64
 40  contents_attribute_h_m  46404 non-null  int64
 41  contents_attribute_h_l  46404 non-null  int64
 42  contents_attribute_l_n  46404 non-null  int64
 43  contents_attribute_l_s  46404 non-null  int64
 44  contents_attribute_l_m  46404 non-null  int64
 45  contents_attribute_l_l  46404 non-null  int64
dtypes: bool(4), int64(42)
memory usage: 15.0 MB

## 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경

In [21]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
train = train.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
train = train.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
train.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0          True          True  ...                    1605                    2016
1         False         False  ...                    1605                    2016
2         False         False  ...                    1572                    2016
3         False         False  ...                    1605                    2016
4          True          True  ...                    1605                    2016

[5 rows x 47 columns]

In [22]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
test = test.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
test = test.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
test.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0          True         False  ...                    1021                    2010
1         False         False  ...                    1605                    2016
2          True         False  ...                    1810                    2020
3          True         False  ...                      99                    2006
4          True         False  ...                     954                    2009

[5 rows x 46 columns]

## 카테고리형 특성으로 지정할 특성

In [23]:
# 원본 데이터에서 순서형 특성
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [24]:
# 순서형 특성 수치형으로 지정 : ⭕
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [25]:
cat_f = train.columns.tolist()
numeric_cat = ['person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e']
for col in numeric_cat:
  cat_f.remove(col)
cat_f.remove('target')

In [26]:
# 47 - 5 = 42개
len(cat_f)

42

# train, test 셋 준비

In [27]:
train.shape

(501951, 47)

In [28]:
X = train.drop(['target'], axis=1)
X.shape

(501951, 46)

In [29]:
y = train[['target']]
y.shape

(501951, 1)

# 모델 훈련/예측

In [30]:
score_df = pd.DataFrame(index=['thr_전', 'thr_후'])
pred_proba_df = pd.DataFrame()
thr_df = pd.DataFrame()

for random_state in tqdm(range(10, 60, 10)):
  temp_score_list =[]
  # 데이터 셋 나누기
  X_train, X_val, y_train, y_val = train_test_split(X, y, random_state=random_state, shuffle=True, stratify=y)
  # 모델 생성
  cat = CatBoostClassifier(random_state=0, task_type='GPU', iterations=1000, early_stopping_rounds=50,
                        cat_features=cat_f, eval_metric='F1', one_hot_max_size=2)
  # 모델 훈련
  cat.fit(X_train, y_train, eval_set=(X_val, y_val), verbose=100)
  
  # 기본 평가
  val_pred = cat.predict(X_val)
  f1_score_raw = f1_score(y_val, val_pred)
  temp_score_list.append(f1_score_raw)

  # precision, recall, threshold 값 계산
  val_pred_proba = cat.predict_proba(X_val)
  precisions, recalls, thresholds = precision_recall_curve(y_val, val_pred_proba[:,1])
  threshold_boundary = thresholds.shape[0]

  # 최고 F1 값을 갖는 threshold 값 구하기
  pre = precisions[:threshold_boundary]
  re = recalls[:threshold_boundary]
  f1 = 2 * pre * re / (pre + re)
  optimal_idx = np.argmax(f1)
  optimal_threshold = thresholds[optimal_idx]
  thr_df[f'{random_state}'] = [optimal_threshold]

  # 구한 threshold값으로 제한해서 예측
  # 1의 예측값만 불러와도 되므로 [:,1]사용
  val_pred_th =  (val_pred_proba[:,1] >= optimal_threshold)
  val_pred_th = val_pred_th.astype(int)

  # threshold로 제한한 예측 평가
  f1_score_mod = f1_score(y_val, val_pred_th)
  temp_score_list.append(f1_score_mod)
  score_df[f'{random_state}'] = temp_score_list

  print("===============================================")
  print(f"random_state : {random_state}")
  print("threshold 적용 전 f1 score :", f1_score_raw)
  print("threshold 적용 후 f1 score :", f1_score_mod)
  print("=========================================================================================")
  print()

  # test 셋 예측
  pred_proba = cat.predict_proba(test)
  pred_proba_df[f'{random_state}'] = pred_proba[:,1]

  0%|          | 0/5 [00:00<?, ?it/s]

Learning rate set to 0.043012
0:	learn: 0.6146402	test: 0.6218754	best: 0.6218754 (0)	total: 389ms	remaining: 6m 28s
100:	learn: 0.6495564	test: 0.6649201	best: 0.6651218 (98)	total: 25.6s	remaining: 3m 48s
200:	learn: 0.6586519	test: 0.6769045	best: 0.6770020 (193)	total: 51.2s	remaining: 3m 23s
300:	learn: 0.6632332	test: 0.6787228	best: 0.6793234 (291)	total: 1m 16s	remaining: 2m 57s
400:	learn: 0.6669778	test: 0.6807073	best: 0.6807073 (400)	total: 1m 42s	remaining: 2m 32s
bestTest = 0.6810892702
bestIteration = 433
Shrink model to first 434 iterations.
===============================================
random_state : 10
threshold 적용 전 f1 score : 0.6810892701586941
threshold 적용 후 f1 score : 0.7108029777803034
=========================================================================================

 20%|██        | 1/5 [02:34<10:19, 154.87s/it]

Learning rate set to 0.043012
0:	learn: 0.6245206	test: 0.6332505	best: 0.6332505 (0)	total: 347ms	remaining: 5m 46s
100:	learn: 0.6488265	test: 0.6624759	best: 0.6625393 (98)	total: 25.9s	remaining: 3m 50s
200:	learn: 0.6588281	test: 0.6767633	best: 0.6767633 (200)	total: 51.2s	remaining: 3m 23s
300:	learn: 0.6642472	test: 0.6804184	best: 0.6811699 (265)	total: 1m 17s	remaining: 2m 59s
bestTest = 0.6811699227
bestIteration = 265
Shrink model to first 266 iterations.
===============================================
random_state : 20
threshold 적용 전 f1 score : 0.6811699226775242
threshold 적용 후 f1 score : 0.7068032765968306
=========================================================================================

 40%|████      | 2/5 [04:24<06:25, 128.38s/it]

Learning rate set to 0.043012
0:	learn: 0.6181674	test: 0.6247470	best: 0.6247470 (0)	total: 390ms	remaining: 6m 29s
100:	learn: 0.6488226	test: 0.6611878	best: 0.6611878 (100)	total: 26s	remaining: 3m 51s
200:	learn: 0.6583234	test: 0.6770669	best: 0.6770669 (200)	total: 51.5s	remaining: 3m 24s
300:	learn: 0.6631893	test: 0.6806231	best: 0.6806231 (300)	total: 1m 17s	remaining: 2m 59s
bestTest = 0.6811690493
bestIteration = 317
Shrink model to first 318 iterations.
===============================================
random_state : 30
threshold 적용 전 f1 score : 0.6811690493076032
threshold 적용 후 f1 score : 0.7073878199117312
=========================================================================================

 60%|██████    | 3/5 [06:28<04:12, 126.40s/it]

Learning rate set to 0.043012
0:	learn: 0.6222754	test: 0.6313903	best: 0.6313903 (0)	total: 353ms	remaining: 5m 52s
100:	learn: 0.6479827	test: 0.6610527	best: 0.6614266 (96)	total: 25.1s	remaining: 3m 43s
200:	learn: 0.6580279	test: 0.6782773	best: 0.6782773 (200)	total: 51s	remaining: 3m 22s
300:	learn: 0.6634475	test: 0.6802270	best: 0.6809243 (252)	total: 1m 16s	remaining: 2m 58s
bestTest = 0.6809243492
bestIteration = 252
Shrink model to first 253 iterations.
===============================================
random_state : 40
threshold 적용 전 f1 score : 0.6809243491622807
threshold 적용 후 f1 score : 0.7059566568207771
=========================================================================================

 80%|████████  | 4/5 [08:15<01:58, 118.47s/it]

Learning rate set to 0.043012
0:	learn: 0.6099686	test: 0.6155953	best: 0.6155953 (0)	total: 352ms	remaining: 5m 51s
100:	learn: 0.6489926	test: 0.6633650	best: 0.6633691 (99)	total: 25.6s	remaining: 3m 47s
200:	learn: 0.6585959	test: 0.6759150	best: 0.6760182 (194)	total: 51.7s	remaining: 3m 25s
300:	learn: 0.6640173	test: 0.6773038	best: 0.6776061 (277)	total: 1m 16s	remaining: 2m 58s
400:	learn: 0.6673486	test: 0.6780070	best: 0.6782003 (381)	total: 1m 43s	remaining: 2m 34s
bestTest = 0.6782003222
bestIteration = 381
Shrink model to first 382 iterations.
===============================================
random_state : 50
threshold 적용 전 f1 score : 0.6782003221890532
threshold 적용 후 f1 score : 0.7105105487921474
=========================================================================================

100%|██████████| 5/5 [10:36<00:00, 127.38s/it]

## 결과 종합

In [31]:
score_df

             10        20        30        40        50
thr_전  0.681089  0.681170  0.681169  0.680924  0.678200
thr_후  0.710803  0.706803  0.707388  0.705957  0.710511

### 오류난 특성 제거

In [ ]:
# del_col = ['40']
# pred_proba_df = pred_proba_df.drop(del_col, axis=1)
# thr_df = thr_df.drop(del_col, axis=1)
# score_df = score_df.drop(del_col, axis=1)

In [32]:
pred_proba_df['mean'] = pred_proba_df.mean(axis=1)
thr_df['mean'] = thr_df.mean(axis=1)
score_df['mean'] = score_df.mean(axis=1)

### threshold 값

In [33]:
thr_df

         10        20        30        40        50      mean
0  0.374426  0.397785  0.376954  0.402273  0.382167  0.386721

## 자체평가

In [34]:
score_df

             10        20        30        40        50      mean
thr_전  0.681089  0.681170  0.681169  0.680924  0.678200  0.680511
thr_후  0.710803  0.706803  0.707388  0.705957  0.710511  0.708292

## test 예측

In [35]:
pred = pred_proba_df['mean'].tolist() >= thr_df['mean'].values
pred = pred.astype(int)
pred

array([1, 0, 1, ..., 1, 1, 1])

In [36]:
np.unique(pred, return_counts=True)

(array([0, 1]), array([10130, 36274]))

# 제출파일 불러오기

In [37]:
# sub = pd.read_csv('../data/sample_submission.csv')
sub = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/sample_submission.csv')
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      46404 non-null  int64
 1   target  46404 non-null  int64
dtypes: int64(2)
memory usage: 725.2 KB

# 제출파일 생성

In [38]:
sub['target'] = pred
sub['target'].value_counts()

1    36274
0    10130
Name: target, dtype: int64

In [39]:
file_ver = '6.3'
# sub.to_csv(f'sub_ver{file_ver}.csv', index=False)
sub.to_csv(f'/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/03_모델선정및개선/sub_ver{file_ver}.csv', index=False)

# 코드 마지막