# 라이브러리 로드 및 기본 세팅

In [1]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.0.4-cp37-none-manylinux1_x86_64.whl (76.1 MB)
     |████████████████████████████████| 76.1 MB 56 kB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.6)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-1.0.4

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, classification_report, precision_recall_curve

# 데이콘 점수

In [4]:
# 자체 점수 : 0.712060
# 제출 점수(제출 날짜) : 0.7008111003(2022-01-20 14:22:00)

# 설정

In [5]:
# cat
# test_size = 0.2
# one_hot_max_size = 2
# random_state : 5(range(10, 60, 10))
# iterations = 1000
# early_stopping_rounds = 77
# 순서형 특성 수치형으로 지정(4개)
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'
# probability_threshold

In [6]:
# 제거된 특성(7개)
# 'id',
# 'contents_open_dt',
# 'contents_rn',
# 'person_prefer_f',
# 'person_prefer_g',
# 'h_m_match_yn',
# 'h_s_match_yn'

# 데이터 불러오기

In [7]:
# train = pd.read_csv('../data/df_train.csv')
# test = pd.read_csv('../data/df_test.csv')
train = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_train.csv')
test = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_test.csv')

# 데이터 확인

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 63 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      501951 non-null  int64
 1   d_l_match_yn            501951 non-null  bool
 2   d_m_match_yn            501951 non-null  bool
 3   d_s_match_yn            501951 non-null  bool
 4   h_l_match_yn            501951 non-null  bool
 5   h_m_match_yn            501951 non-null  bool
 6   h_s_match_yn            501951 non-null  bool
 7   person_attribute_a      501951 non-null  int64
 8   person_attribute_a_1    501951 non-null  int64
 9   person_attribute_b      501951 non-null  int64
 10  person_prefer_c         501951 non-null  int64
 11  person_prefer_d_1       501951 non-null  int64
 12  person_prefer_d_2       501951 non-null  int64
 13  person_prefer_d_3       501951 non-null  int64
 14  person_prefer_e         501951 non-null  int64
 15  person_prefer_f         501951 non-null  int64
 16  person_prefer_g         501951 non-null  int64
 17  person_prefer_h_1       501951 non-null  int64
 18  person_prefer_h_2       501951 non-null  int64
 19  person_prefer_h_3       501951 non-null  int64
 20  contents_attribute_i    501951 non-null  int64
 21  contents_attribute_a    501951 non-null  int64
 22  contents_attribute_j_1  501951 non-null  int64
 23  contents_attribute_j    501951 non-null  int64
 24  contents_attribute_c    501951 non-null  int64
 25  contents_attribute_k    501951 non-null  int64
 26  contents_attribute_l    501951 non-null  int64
 27  contents_attribute_d    501951 non-null  int64
 28  contents_attribute_m    501951 non-null  int64
 29  contents_attribute_e    501951 non-null  int64
 30  contents_attribute_h    501951 non-null  int64
 31  person_rn               501951 non-null  int64
 32  contents_rn             501951 non-null  int64
 33  contents_open_dt        501951 non-null  object
 34  target                  501951 non-null  int64
 35  person_prefer_d_1_n     501951 non-null  int64
 36  person_prefer_d_1_s     501951 non-null  int64
 37  person_prefer_d_1_m     501951 non-null  int64
 38  person_prefer_d_1_l     501951 non-null  int64
 39  person_prefer_d_2_n     501951 non-null  int64
 40  person_prefer_d_2_s     501951 non-null  int64
 41  person_prefer_d_2_m     501951 non-null  int64
 42  person_prefer_d_2_l     501951 non-null  int64
 43  person_prefer_d_3_n     501951 non-null  int64
 44  person_prefer_d_3_s     501951 non-null  int64
 45  person_prefer_d_3_m     501951 non-null  int64
 46  person_prefer_d_3_l     501951 non-null  int64
 47  contents_attribute_d_n  501951 non-null  int64
 48  contents_attribute_d_s  501951 non-null  int64
 49  contents_attribute_d_m  501951 non-null  int64
 50  contents_attribute_d_l  501951 non-null  int64
 51  person_prefer_h_1_m     501951 non-null  int64
 52  person_prefer_h_1_l     501951 non-null  int64
 53  person_prefer_h_2_m     501951 non-null  int64
 54  person_prefer_h_2_l     501951 non-null  int64
 55  person_prefer_h_3_m     501951 non-null  int64
 56  person_prefer_h_3_l     501951 non-null  int64
 57  contents_attribute_h_m  501951 non-null  int64
 58  contents_attribute_h_l  501951 non-null  int64
 59  contents_attribute_l_n  501951 non-null  int64
 60  contents_attribute_l_s  501951 non-null  int64
 61  contents_attribute_l_m  501951 non-null  int64
 62  contents_attribute_l_l  501951 non-null  int64
dtypes: bool(6), int64(56), object(1)
memory usage: 221.2+ MB

In [9]:
train.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1605                    2016
1   1         False  ...                    1605                    2016
2   2         False  ...                    1572                    2016
3   3         False  ...                    1605                    2016
4   4          True  ...                    1605                    2016

[5 rows x 63 columns]

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 62 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      46404 non-null  int64
 1   d_l_match_yn            46404 non-null  bool
 2   d_m_match_yn            46404 non-null  bool
 3   d_s_match_yn            46404 non-null  bool
 4   h_l_match_yn            46404 non-null  bool
 5   h_m_match_yn            46404 non-null  bool
 6   h_s_match_yn            46404 non-null  bool
 7   person_attribute_a      46404 non-null  int64
 8   person_attribute_a_1    46404 non-null  int64
 9   person_attribute_b      46404 non-null  int64
 10  person_prefer_c         46404 non-null  int64
 11  person_prefer_d_1       46404 non-null  int64
 12  person_prefer_d_2       46404 non-null  int64
 13  person_prefer_d_3       46404 non-null  int64
 14  person_prefer_e         46404 non-null  int64
 15  person_prefer_f         46404 non-null  int64
 16  person_prefer_g         46404 non-null  int64
 17  person_prefer_h_1       46404 non-null  int64
 18  person_prefer_h_2       46404 non-null  int64
 19  person_prefer_h_3       46404 non-null  int64
 20  contents_attribute_i    46404 non-null  int64
 21  contents_attribute_a    46404 non-null  int64
 22  contents_attribute_j_1  46404 non-null  int64
 23  contents_attribute_j    46404 non-null  int64
 24  contents_attribute_c    46404 non-null  int64
 25  contents_attribute_k    46404 non-null  int64
 26  contents_attribute_l    46404 non-null  int64
 27  contents_attribute_d    46404 non-null  int64
 28  contents_attribute_m    46404 non-null  int64
 29  contents_attribute_e    46404 non-null  int64
 30  contents_attribute_h    46404 non-null  int64
 31  person_rn               46404 non-null  int64
 32  contents_rn             46404 non-null  int64
 33  contents_open_dt        46404 non-null  object
 34  person_prefer_d_1_n     46404 non-null  int64
 35  person_prefer_d_1_s     46404 non-null  int64
 36  person_prefer_d_1_m     46404 non-null  int64
 37  person_prefer_d_1_l     46404 non-null  int64
 38  person_prefer_d_2_n     46404 non-null  int64
 39  person_prefer_d_2_s     46404 non-null  int64
 40  person_prefer_d_2_m     46404 non-null  int64
 41  person_prefer_d_2_l     46404 non-null  int64
 42  person_prefer_d_3_n     46404 non-null  int64
 43  person_prefer_d_3_s     46404 non-null  int64
 44  person_prefer_d_3_m     46404 non-null  int64
 45  person_prefer_d_3_l     46404 non-null  int64
 46  contents_attribute_d_n  46404 non-null  int64
 47  contents_attribute_d_s  46404 non-null  int64
 48  contents_attribute_d_m  46404 non-null  int64
 49  contents_attribute_d_l  46404 non-null  int64
 50  person_prefer_h_1_m     46404 non-null  int64
 51  person_prefer_h_1_l     46404 non-null  int64
 52  person_prefer_h_2_m     46404 non-null  int64
 53  person_prefer_h_2_l     46404 non-null  int64
 54  person_prefer_h_3_m     46404 non-null  int64
 55  person_prefer_h_3_l     46404 non-null  int64
 56  contents_attribute_h_m  46404 non-null  int64
 57  contents_attribute_h_l  46404 non-null  int64
 58  contents_attribute_l_n  46404 non-null  int64
 59  contents_attribute_l_s  46404 non-null  int64
 60  contents_attribute_l_m  46404 non-null  int64
 61  contents_attribute_l_l  46404 non-null  int64
dtypes: bool(6), int64(55), object(1)
memory usage: 20.1+ MB

In [11]:
test.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1021                    2010
1   1         False  ...                    1605                    2016
2   2          True  ...                    1810                    2020
3   3          True  ...                      99                    2006
4   4          True  ...                     954                    2009

[5 rows x 62 columns]

# 필요 데이터 추출

## 훈련에 의미가 적은 열 제거

In [12]:
# 제거된 특성(7개)
# 'id',
# 'contents_open_dt',
# 'contents_rn',
# 'person_prefer_f',
# 'person_prefer_g',
# 'h_m_match_yn',
# 'h_s_match_yn'

In [13]:
# 삭제할 특성
pop_col = ['id',
'contents_open_dt',
'contents_rn',
'person_prefer_f',
'person_prefer_g',
'h_m_match_yn',
'h_s_match_yn']
len(pop_col)

7

In [14]:
train = train.drop(pop_col, axis=1) 
test = test.drop(pop_col, axis=1)

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 56 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   d_l_match_yn            501951 non-null  bool
 1   d_m_match_yn            501951 non-null  bool
 2   d_s_match_yn            501951 non-null  bool
 3   h_l_match_yn            501951 non-null  bool
 4   person_attribute_a      501951 non-null  int64
 5   person_attribute_a_1    501951 non-null  int64
 6   person_attribute_b      501951 non-null  int64
 7   person_prefer_c         501951 non-null  int64
 8   person_prefer_d_1       501951 non-null  int64
 9   person_prefer_d_2       501951 non-null  int64
 10  person_prefer_d_3       501951 non-null  int64
 11  person_prefer_e         501951 non-null  int64
 12  person_prefer_h_1       501951 non-null  int64
 13  person_prefer_h_2       501951 non-null  int64
 14  person_prefer_h_3       501951 non-null  int64
 15  contents_attribute_i    501951 non-null  int64
 16  contents_attribute_a    501951 non-null  int64
 17  contents_attribute_j_1  501951 non-null  int64
 18  contents_attribute_j    501951 non-null  int64
 19  contents_attribute_c    501951 non-null  int64
 20  contents_attribute_k    501951 non-null  int64
 21  contents_attribute_l    501951 non-null  int64
 22  contents_attribute_d    501951 non-null  int64
 23  contents_attribute_m    501951 non-null  int64
 24  contents_attribute_e    501951 non-null  int64
 25  contents_attribute_h    501951 non-null  int64
 26  person_rn               501951 non-null  int64
 27  target                  501951 non-null  int64
 28  person_prefer_d_1_n     501951 non-null  int64
 29  person_prefer_d_1_s     501951 non-null  int64
 30  person_prefer_d_1_m     501951 non-null  int64
 31  person_prefer_d_1_l     501951 non-null  int64
 32  person_prefer_d_2_n     501951 non-null  int64
 33  person_prefer_d_2_s     501951 non-null  int64
 34  person_prefer_d_2_m     501951 non-null  int64
 35  person_prefer_d_2_l     501951 non-null  int64
 36  person_prefer_d_3_n     501951 non-null  int64
 37  person_prefer_d_3_s     501951 non-null  int64
 38  person_prefer_d_3_m     501951 non-null  int64
 39  person_prefer_d_3_l     501951 non-null  int64
 40  contents_attribute_d_n  501951 non-null  int64
 41  contents_attribute_d_s  501951 non-null  int64
 42  contents_attribute_d_m  501951 non-null  int64
 43  contents_attribute_d_l  501951 non-null  int64
 44  person_prefer_h_1_m     501951 non-null  int64
 45  person_prefer_h_1_l     501951 non-null  int64
 46  person_prefer_h_2_m     501951 non-null  int64
 47  person_prefer_h_2_l     501951 non-null  int64
 48  person_prefer_h_3_m     501951 non-null  int64
 49  person_prefer_h_3_l     501951 non-null  int64
 50  contents_attribute_h_m  501951 non-null  int64
 51  contents_attribute_h_l  501951 non-null  int64
 52  contents_attribute_l_n  501951 non-null  int64
 53  contents_attribute_l_s  501951 non-null  int64
 54  contents_attribute_l_m  501951 non-null  int64
 55  contents_attribute_l_l  501951 non-null  int64
dtypes: bool(4), int64(52)
memory usage: 201.1 MB

In [16]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   d_l_match_yn            46404 non-null  bool
 1   d_m_match_yn            46404 non-null  bool
 2   d_s_match_yn            46404 non-null  bool
 3   h_l_match_yn            46404 non-null  bool
 4   person_attribute_a      46404 non-null  int64
 5   person_attribute_a_1    46404 non-null  int64
 6   person_attribute_b      46404 non-null  int64
 7   person_prefer_c         46404 non-null  int64
 8   person_prefer_d_1       46404 non-null  int64
 9   person_prefer_d_2       46404 non-null  int64
 10  person_prefer_d_3       46404 non-null  int64
 11  person_prefer_e         46404 non-null  int64
 12  person_prefer_h_1       46404 non-null  int64
 13  person_prefer_h_2       46404 non-null  int64
 14  person_prefer_h_3       46404 non-null  int64
 15  contents_attribute_i    46404 non-null  int64
 16  contents_attribute_a    46404 non-null  int64
 17  contents_attribute_j_1  46404 non-null  int64
 18  contents_attribute_j    46404 non-null  int64
 19  contents_attribute_c    46404 non-null  int64
 20  contents_attribute_k    46404 non-null  int64
 21  contents_attribute_l    46404 non-null  int64
 22  contents_attribute_d    46404 non-null  int64
 23  contents_attribute_m    46404 non-null  int64
 24  contents_attribute_e    46404 non-null  int64
 25  contents_attribute_h    46404 non-null  int64
 26  person_rn               46404 non-null  int64
 27  person_prefer_d_1_n     46404 non-null  int64
 28  person_prefer_d_1_s     46404 non-null  int64
 29  person_prefer_d_1_m     46404 non-null  int64
 30  person_prefer_d_1_l     46404 non-null  int64
 31  person_prefer_d_2_n     46404 non-null  int64
 32  person_prefer_d_2_s     46404 non-null  int64
 33  person_prefer_d_2_m     46404 non-null  int64
 34  person_prefer_d_2_l     46404 non-null  int64
 35  person_prefer_d_3_n     46404 non-null  int64
 36  person_prefer_d_3_s     46404 non-null  int64
 37  person_prefer_d_3_m     46404 non-null  int64
 38  person_prefer_d_3_l     46404 non-null  int64
 39  contents_attribute_d_n  46404 non-null  int64
 40  contents_attribute_d_s  46404 non-null  int64
 41  contents_attribute_d_m  46404 non-null  int64
 42  contents_attribute_d_l  46404 non-null  int64
 43  person_prefer_h_1_m     46404 non-null  int64
 44  person_prefer_h_1_l     46404 non-null  int64
 45  person_prefer_h_2_m     46404 non-null  int64
 46  person_prefer_h_2_l     46404 non-null  int64
 47  person_prefer_h_3_m     46404 non-null  int64
 48  person_prefer_h_3_l     46404 non-null  int64
 49  contents_attribute_h_m  46404 non-null  int64
 50  contents_attribute_h_l  46404 non-null  int64
 51  contents_attribute_l_n  46404 non-null  int64
 52  contents_attribute_l_s  46404 non-null  int64
 53  contents_attribute_l_m  46404 non-null  int64
 54  contents_attribute_l_l  46404 non-null  int64
dtypes: bool(4), int64(51)
memory usage: 18.2 MB

## 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경

In [17]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
train = train.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
train = train.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
train.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0          True          True  ...                    1605                    2016
1         False         False  ...                    1605                    2016
2         False         False  ...                    1572                    2016
3         False         False  ...                    1605                    2016
4          True          True  ...                    1605                    2016

[5 rows x 56 columns]

In [18]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
test = test.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
test = test.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
test.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0          True         False  ...                    1021                    2010
1         False         False  ...                    1605                    2016
2          True         False  ...                    1810                    2020
3          True         False  ...                      99                    2006
4          True         False  ...                     954                    2009

[5 rows x 55 columns]

## 카테고리형 특성으로 지정할 특성

In [19]:
# 원본 데이터에서 순서형 특성
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [20]:
# 순서형 특성 수치형으로 지정 : ⭕
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [21]:
cat_f = train.columns.tolist()
numeric_cat = ['person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e']
for col in numeric_cat:
  cat_f.remove(col)
cat_f.remove('target')

In [22]:
# 56 - 5 = 51개
len(cat_f)

51

# train, test 셋 준비

In [23]:
train.shape

(501951, 56)

In [24]:
X = train.drop(['target'], axis=1)
X.shape

(501951, 55)

In [25]:
y = train[['target']]
y.shape

(501951, 1)

# 모델 훈련/예측

In [26]:
test_size=0.2
score_df = pd.DataFrame(index=['thr_전', 'thr_후'])
pred_proba_df = pd.DataFrame()
thr_df = pd.DataFrame()

for random_state in tqdm(range(10, 60, 10)):
  temp_score_list =[]
  # 데이터 셋 나누기
  X_train, X_val, y_train, y_val = train_test_split(X, y, random_state=random_state, test_size=test_size,
                                                    shuffle=True, stratify=y)
  # 모델 생성
  cat = CatBoostClassifier(random_state=0, task_type='GPU', iterations=1000, early_stopping_rounds=77,
                        cat_features=cat_f, eval_metric='F1', one_hot_max_size=2)
  # 모델 훈련
  cat.fit(X_train, y_train, eval_set=(X_val, y_val), verbose=100)
  
  # 기본 평가
  val_pred = cat.predict(X_val)
  f1_score_raw = f1_score(y_val, val_pred)
  temp_score_list.append(f1_score_raw)

  # precision, recall, threshold 값 계산
  val_pred_proba = cat.predict_proba(X_val)
  precisions, recalls, thresholds = precision_recall_curve(y_val, val_pred_proba[:,1])
  threshold_boundary = thresholds.shape[0]

  # 최고 F1 값을 갖는 threshold 값 구하기
  pre = precisions[:threshold_boundary]
  re = recalls[:threshold_boundary]
  f1 = 2 * pre * re / (pre + re)
  optimal_idx = np.argmax(f1)
  optimal_threshold = thresholds[optimal_idx]
  thr_df[f'{random_state}'] = [optimal_threshold]

  # 구한 threshold값으로 제한해서 예측
  # 1의 예측값만 불러와도 되므로 [:,1]사용
  val_pred_th =  (val_pred_proba[:,1] >= optimal_threshold)
  val_pred_th = val_pred_th.astype(int)

  # threshold로 제한한 예측 평가
  f1_score_mod = f1_score(y_val, val_pred_th)
  temp_score_list.append(f1_score_mod)
  score_df[f'{random_state}'] = temp_score_list

  print("===============================================")
  print(f"test_size : {test_size}")
  print(f"random_state : {random_state}")
  print("threshold 적용 전 f1 score :", f1_score_raw)
  print("threshold 적용 후 f1 score :", f1_score_mod)
  print("===============================================")
  print()

  # test 셋 예측
  pred_proba = cat.predict_proba(test)
  pred_proba_df[f'{random_state}'] = pred_proba[:,1]

# about 10m

  0%|          | 0/5 [00:00<?, ?it/s]

Learning rate set to 0.042777
0:	learn: 0.6217416	test: 0.6236252	best: 0.6236252 (0)	total: 214ms	remaining: 3m 33s
100:	learn: 0.6498895	test: 0.6629596	best: 0.6629596 (100)	total: 14.2s	remaining: 2m 6s
200:	learn: 0.6597625	test: 0.6770874	best: 0.6776624 (190)	total: 28.3s	remaining: 1m 52s
300:	learn: 0.6647964	test: 0.6801818	best: 0.6804163 (297)	total: 42.5s	remaining: 1m 38s
400:	learn: 0.6682498	test: 0.6814491	best: 0.6816714 (377)	total: 56.5s	remaining: 1m 24s
500:	learn: 0.6708780	test: 0.6814768	best: 0.6820932 (424)	total: 1m 10s	remaining: 1m 10s
bestTest = 0.6820932041
bestIteration = 424
Shrink model to first 425 iterations.
===============================================
test_size : 0.2
random_state : 10
threshold 적용 전 f1 score : 0.6820932041044704
threshold 적용 후 f1 score : 0.7116416953769731
===============================================

 20%|██        | 1/5 [01:43<06:53, 103.44s/it]

Learning rate set to 0.042777
0:	learn: 0.6304554	test: 0.6354836	best: 0.6354836 (0)	total: 212ms	remaining: 3m 31s
100:	learn: 0.6508574	test: 0.6642193	best: 0.6646652 (98)	total: 14.6s	remaining: 2m 9s
200:	learn: 0.6610988	test: 0.6784504	best: 0.6785635 (199)	total: 29.1s	remaining: 1m 55s
300:	learn: 0.6659464	test: 0.6802552	best: 0.6807027 (295)	total: 43.7s	remaining: 1m 41s
400:	learn: 0.6694078	test: 0.6829001	best: 0.6831203 (372)	total: 58s	remaining: 1m 26s
500:	learn: 0.6716437	test: 0.6826700	best: 0.6835563 (437)	total: 1m 12s	remaining: 1m 11s
bestTest = 0.6835562967
bestIteration = 437
Shrink model to first 438 iterations.
===============================================
test_size : 0.2
random_state : 20
threshold 적용 전 f1 score : 0.6835562966612346
threshold 적용 후 f1 score : 0.7121431253945297
===============================================

 40%|████      | 2/5 [03:29<05:15, 105.19s/it]

Learning rate set to 0.042777
0:	learn: 0.6212636	test: 0.6261839	best: 0.6261839 (0)	total: 206ms	remaining: 3m 25s
100:	learn: 0.6494532	test: 0.6659754	best: 0.6659754 (100)	total: 14.7s	remaining: 2m 10s
200:	learn: 0.6590262	test: 0.6800185	best: 0.6800207 (197)	total: 29.2s	remaining: 1m 56s
300:	learn: 0.6641499	test: 0.6829250	best: 0.6831401 (296)	total: 43.5s	remaining: 1m 41s
400:	learn: 0.6681002	test: 0.6834030	best: 0.6835500 (397)	total: 57.8s	remaining: 1m 26s
500:	learn: 0.6709910	test: 0.6842708	best: 0.6845706 (478)	total: 1m 12s	remaining: 1m 11s
600:	learn: 0.6727348	test: 0.6847267	best: 0.6850203 (585)	total: 1m 26s	remaining: 57.1s
700:	learn: 0.6743268	test: 0.6849743	best: 0.6854565 (650)	total: 1m 39s	remaining: 42.5s
bestTest = 0.685456531
bestIteration = 650
Shrink model to first 651 iterations.
===============================================
test_size : 0.2
random_state : 30
threshold 적용 전 f1 score : 0.685456531028916
threshold 적용 후 f1 score : 0.712573974117188
===============================================

 60%|██████    | 3/5 [05:48<04:00, 120.32s/it]

Learning rate set to 0.042777
0:	learn: 0.6069466	test: 0.6065823	best: 0.6065823 (0)	total: 210ms	remaining: 3m 30s
100:	learn: 0.6479396	test: 0.6565357	best: 0.6579050 (86)	total: 14.6s	remaining: 2m 9s
200:	learn: 0.6595814	test: 0.6750235	best: 0.6750784 (199)	total: 29s	remaining: 1m 55s
300:	learn: 0.6646566	test: 0.6759226	best: 0.6766869 (243)	total: 43.5s	remaining: 1m 40s
400:	learn: 0.6678741	test: 0.6781633	best: 0.6781633 (400)	total: 58s	remaining: 1m 26s
500:	learn: 0.6706597	test: 0.6788861	best: 0.6788929 (482)	total: 1m 12s	remaining: 1m 11s
600:	learn: 0.6728378	test: 0.6796279	best: 0.6797391 (596)	total: 1m 26s	remaining: 57.2s
700:	learn: 0.6743802	test: 0.6801154	best: 0.6802036 (689)	total: 1m 39s	remaining: 42.6s
800:	learn: 0.6760696	test: 0.6801083	best: 0.6803674 (738)	total: 1m 53s	remaining: 28.2s
bestTest = 0.6803673694
bestIteration = 738
Shrink model to first 739 iterations.
===============================================
test_size : 0.2
random_state : 40
threshold 적용 전 f1 score : 0.680367369407129
threshold 적용 후 f1 score : 0.7139966541862504
===============================================

 80%|████████  | 4/5 [08:19<02:12, 132.60s/it]

Learning rate set to 0.042777
0:	learn: 0.6285014	test: 0.6286496	best: 0.6286496 (0)	total: 249ms	remaining: 4m 8s
100:	learn: 0.6506797	test: 0.6630595	best: 0.6633145 (99)	total: 14.2s	remaining: 2m 6s
200:	learn: 0.6604031	test: 0.6760265	best: 0.6760265 (200)	total: 28.6s	remaining: 1m 53s
300:	learn: 0.6652189	test: 0.6795845	best: 0.6796721 (297)	total: 42.9s	remaining: 1m 39s
400:	learn: 0.6683448	test: 0.6793911	best: 0.6799181 (333)	total: 57.6s	remaining: 1m 25s
bestTest = 0.6799181415
bestIteration = 333
Shrink model to first 334 iterations.
===============================================
test_size : 0.2
random_state : 50
threshold 적용 전 f1 score : 0.6799181415090765
threshold 적용 후 f1 score : 0.7099435553071394
===============================================

100%|██████████| 5/5 [09:49<00:00, 117.86s/it]

## 결과 종합

In [27]:
score_df

             10        20        30        40        50
thr_전  0.682093  0.683556  0.685457  0.680367  0.679918
thr_후  0.711642  0.712143  0.712574  0.713997  0.709944

### 오류난 특성 제거

In [28]:
# del_col = ['30', '40', '60', '70']
# pred_proba_df = pred_proba_df.drop(del_col, axis=1)
# thr_df = thr_df.drop(del_col, axis=1)
# score_df = score_df.drop(del_col, axis=1)

In [29]:
pred_proba_df['mean'] = pred_proba_df.mean(axis=1)
thr_df['mean'] = thr_df.mean(axis=1)
score_df['mean'] = score_df.mean(axis=1)

### threshold 값

In [30]:
thr_df

         10        20        30        40        50      mean
0  0.385645  0.382911  0.391366  0.363216  0.375286  0.379685

## 자체평가

In [31]:
score_df

             10        20        30        40        50      mean
thr_전  0.682093  0.683556  0.685457  0.680367  0.679918  0.682278
thr_후  0.711642  0.712143  0.712574  0.713997  0.709944  0.712060

## test 예측

In [32]:
pred = pred_proba_df['mean'].tolist() >= thr_df['mean'].values
pred = pred.astype(int)
pred

array([1, 0, 1, ..., 1, 1, 1])

In [33]:
np.unique(pred, return_counts=True)

(array([0, 1]), array([10802, 35602]))

# 제출파일 불러오기

In [34]:
# sub = pd.read_csv('../data/sample_submission.csv')
sub = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/sample_submission.csv')
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      46404 non-null  int64
 1   target  46404 non-null  int64
dtypes: int64(2)
memory usage: 725.2 KB

# 제출파일 생성

In [35]:
sub['target'] = pred
sub['target'].value_counts()

1    35602
0    10802
Name: target, dtype: int64

In [36]:
file_ver = '5.7'
# sub.to_csv(f'sub_ver{file_ver}.csv', index=False)
sub.to_csv(f'/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/03_모델선정및개선/sub_ver{file_ver}.csv', index=False)

# 코드 마지막