# 라이브러리 로드 및 기본 세팅

In [1]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.0.4-cp37-none-manylinux1_x86_64.whl (76.1 MB)
     |████████████████████████████████| 76.1 MB 1.2 MB/s
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-1.0.4

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, classification_report, precision_recall_curve

# 데이콘 점수

In [4]:
# 자체 점수 : 0.707201
# 제출 점수(제출 날짜) : 0.6976956191(2022-01-18 13:00:15	)

# 설정

In [5]:
# cat
# probability_threshold : 0.390734
# one_hot_max_size = 2
# random_state : 5(range(10, 60, 10))
# iterations = 1000
# early_stopping_rounds = 50
# 순서형 특성 수치형으로 지정(4개)
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [6]:
# 제거된 특성(7개)
# 'id',
# 'contents_open_dt',
# 'contents_rn',
# 'person_prefer_f',
# 'person_prefer_g',
# 'h_m_match_yn',
# 'h_s_match_yn'

# 데이터 불러오기

In [7]:
# train = pd.read_csv('../data/train.csv')
# test = pd.read_csv('../data/test.csv')
train = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/train.csv')
test = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/test.csv')

# 데이터 확인

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 35 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      501951 non-null  int64
 1   d_l_match_yn            501951 non-null  bool
 2   d_m_match_yn            501951 non-null  bool
 3   d_s_match_yn            501951 non-null  bool
 4   h_l_match_yn            501951 non-null  bool
 5   h_m_match_yn            501951 non-null  bool
 6   h_s_match_yn            501951 non-null  bool
 7   person_attribute_a      501951 non-null  int64
 8   person_attribute_a_1    501951 non-null  int64
 9   person_attribute_b      501951 non-null  int64
 10  person_prefer_c         501951 non-null  int64
 11  person_prefer_d_1       501951 non-null  int64
 12  person_prefer_d_2       501951 non-null  int64
 13  person_prefer_d_3       501951 non-null  int64
 14  person_prefer_e         501951 non-null  int64
 15  person_prefer_f         501951 non-null  int64
 16  person_prefer_g         501951 non-null  int64
 17  person_prefer_h_1       501951 non-null  int64
 18  person_prefer_h_2       501951 non-null  int64
 19  person_prefer_h_3       501951 non-null  int64
 20  contents_attribute_i    501951 non-null  int64
 21  contents_attribute_a    501951 non-null  int64
 22  contents_attribute_j_1  501951 non-null  int64
 23  contents_attribute_j    501951 non-null  int64
 24  contents_attribute_c    501951 non-null  int64
 25  contents_attribute_k    501951 non-null  int64
 26  contents_attribute_l    501951 non-null  int64
 27  contents_attribute_d    501951 non-null  int64
 28  contents_attribute_m    501951 non-null  int64
 29  contents_attribute_e    501951 non-null  int64
 30  contents_attribute_h    501951 non-null  int64
 31  person_rn               501951 non-null  int64
 32  contents_rn             501951 non-null  int64
 33  contents_open_dt        501951 non-null  object
 34  target                  501951 non-null  int64
dtypes: bool(6), int64(28), object(1)
memory usage: 113.9+ MB

In [9]:
train.head()

   id  d_l_match_yn  d_m_match_yn  ...  contents_rn     contents_open_dt  target
0   0          True          True  ...       354805  2020-01-17 12:09:36       1
1   1         False         False  ...       346213  2020-06-18 17:48:52       0
2   2         False         False  ...       206408  2020-07-08 20:00:10       0
3   3         False         False  ...       572323  2020-01-13 18:09:34       0
4   4          True          True  ...       573899  2020-03-09 20:39:22       0

[5 rows x 35 columns]

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      46404 non-null  int64
 1   d_l_match_yn            46404 non-null  bool
 2   d_m_match_yn            46404 non-null  bool
 3   d_s_match_yn            46404 non-null  bool
 4   h_l_match_yn            46404 non-null  bool
 5   h_m_match_yn            46404 non-null  bool
 6   h_s_match_yn            46404 non-null  bool
 7   person_attribute_a      46404 non-null  int64
 8   person_attribute_a_1    46404 non-null  int64
 9   person_attribute_b      46404 non-null  int64
 10  person_prefer_c         46404 non-null  int64
 11  person_prefer_d_1       46404 non-null  int64
 12  person_prefer_d_2       46404 non-null  int64
 13  person_prefer_d_3       46404 non-null  int64
 14  person_prefer_e         46404 non-null  int64
 15  person_prefer_f         46404 non-null  int64
 16  person_prefer_g         46404 non-null  int64
 17  person_prefer_h_1       46404 non-null  int64
 18  person_prefer_h_2       46404 non-null  int64
 19  person_prefer_h_3       46404 non-null  int64
 20  contents_attribute_i    46404 non-null  int64
 21  contents_attribute_a    46404 non-null  int64
 22  contents_attribute_j_1  46404 non-null  int64
 23  contents_attribute_j    46404 non-null  int64
 24  contents_attribute_c    46404 non-null  int64
 25  contents_attribute_k    46404 non-null  int64
 26  contents_attribute_l    46404 non-null  int64
 27  contents_attribute_d    46404 non-null  int64
 28  contents_attribute_m    46404 non-null  int64
 29  contents_attribute_e    46404 non-null  int64
 30  contents_attribute_h    46404 non-null  int64
 31  person_rn               46404 non-null  int64
 32  contents_rn             46404 non-null  int64
 33  contents_open_dt        46404 non-null  object
dtypes: bool(6), int64(27), object(1)
memory usage: 10.2+ MB

In [11]:
test.head()

   id  d_l_match_yn  d_m_match_yn  ...  person_rn  contents_rn     contents_open_dt
0   0          True         False  ...     393790       236865  2020-12-01 02:24:18
1   1         False         False  ...     394058       236572  2020-12-17 05:42:53
2   2          True         False  ...    1002061       704612  2020-12-10 23:33:41
3   3          True         False  ...    1000813       704652  2020-12-03 19:44:55
4   4          True         False  ...     111146       704413  2020-12-11 21:24:34

[5 rows x 34 columns]

# 필요 데이터 추출

## 훈련에 의미가 적은 열 제거

In [12]:
# 제거된 특성(7개)
# 'id',
# 'contents_open_dt',
# 'contents_rn',
# 'person_prefer_f',
# 'person_prefer_g',
# 'h_m_match_yn',
# 'h_s_match_yn'

In [13]:
# 삭제할 특성
pop_col = ['id',
'contents_open_dt',
'contents_rn',
'person_prefer_f',
'person_prefer_g',
'h_m_match_yn',
'h_s_match_yn']
len(pop_col)

7

In [14]:
train = train.drop(pop_col, axis=1) 
test = test.drop(pop_col, axis=1)

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 28 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   d_l_match_yn            501951 non-null  bool
 1   d_m_match_yn            501951 non-null  bool
 2   d_s_match_yn            501951 non-null  bool
 3   h_l_match_yn            501951 non-null  bool
 4   person_attribute_a      501951 non-null  int64
 5   person_attribute_a_1    501951 non-null  int64
 6   person_attribute_b      501951 non-null  int64
 7   person_prefer_c         501951 non-null  int64
 8   person_prefer_d_1       501951 non-null  int64
 9   person_prefer_d_2       501951 non-null  int64
 10  person_prefer_d_3       501951 non-null  int64
 11  person_prefer_e         501951 non-null  int64
 12  person_prefer_h_1       501951 non-null  int64
 13  person_prefer_h_2       501951 non-null  int64
 14  person_prefer_h_3       501951 non-null  int64
 15  contents_attribute_i    501951 non-null  int64
 16  contents_attribute_a    501951 non-null  int64
 17  contents_attribute_j_1  501951 non-null  int64
 18  contents_attribute_j    501951 non-null  int64
 19  contents_attribute_c    501951 non-null  int64
 20  contents_attribute_k    501951 non-null  int64
 21  contents_attribute_l    501951 non-null  int64
 22  contents_attribute_d    501951 non-null  int64
 23  contents_attribute_m    501951 non-null  int64
 24  contents_attribute_e    501951 non-null  int64
 25  contents_attribute_h    501951 non-null  int64
 26  person_rn               501951 non-null  int64
 27  target                  501951 non-null  int64
dtypes: bool(4), int64(24)
memory usage: 93.8 MB

In [16]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   d_l_match_yn            46404 non-null  bool
 1   d_m_match_yn            46404 non-null  bool
 2   d_s_match_yn            46404 non-null  bool
 3   h_l_match_yn            46404 non-null  bool
 4   person_attribute_a      46404 non-null  int64
 5   person_attribute_a_1    46404 non-null  int64
 6   person_attribute_b      46404 non-null  int64
 7   person_prefer_c         46404 non-null  int64
 8   person_prefer_d_1       46404 non-null  int64
 9   person_prefer_d_2       46404 non-null  int64
 10  person_prefer_d_3       46404 non-null  int64
 11  person_prefer_e         46404 non-null  int64
 12  person_prefer_h_1       46404 non-null  int64
 13  person_prefer_h_2       46404 non-null  int64
 14  person_prefer_h_3       46404 non-null  int64
 15  contents_attribute_i    46404 non-null  int64
 16  contents_attribute_a    46404 non-null  int64
 17  contents_attribute_j_1  46404 non-null  int64
 18  contents_attribute_j    46404 non-null  int64
 19  contents_attribute_c    46404 non-null  int64
 20  contents_attribute_k    46404 non-null  int64
 21  contents_attribute_l    46404 non-null  int64
 22  contents_attribute_d    46404 non-null  int64
 23  contents_attribute_m    46404 non-null  int64
 24  contents_attribute_e    46404 non-null  int64
 25  contents_attribute_h    46404 non-null  int64
 26  person_rn               46404 non-null  int64
dtypes: bool(4), int64(23)
memory usage: 8.3 MB

## 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경

In [17]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
train = train.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
train = train.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
train.head()

   d_l_match_yn  d_m_match_yn  ...  person_rn  target
0          True          True  ...     618822       1
1         False         False  ...     571659       0
2         False         False  ...     399816       0
3         False         False  ...     827967       0
4          True          True  ...     831614       0

[5 rows x 28 columns]

In [18]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
test = test.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
test = test.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
test.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_h  person_rn
0          True         False  ...                   263     393790
1         False         False  ...                   263     394058
2          True         False  ...                   177    1002061
3          True         False  ...                   177    1000813
4          True         False  ...                   177     111146

[5 rows x 27 columns]

## 카테고리형 특성으로 지정할 특성

In [19]:
# 원본 데이터에서 순서형 특성
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [20]:
# 순서형 특성 수치형으로 지정 : ⭕
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [21]:
cat_f = train.columns.tolist()
numeric_cat = ['person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e']
for col in numeric_cat:
  cat_f.remove(col)
cat_f.remove('target')

In [22]:
# 28 - 5 = 23개
len(cat_f)

23

# train, test 셋 준비

In [23]:
train.shape

(501951, 28)

In [24]:
X = train.drop(['target'], axis=1)
X.shape

(501951, 27)

In [25]:
y = train[['target']]
y.shape

(501951, 1)

# 모델 훈련/예측

In [26]:
score_df = pd.DataFrame(index=['threshold 적용 전', 'threshold 적용 후'])
pred_proba_df = pd.DataFrame()
thr_df = pd.DataFrame()

for random_state in tqdm(range(10, 60, 10)):
  temp_score_list =[]
  # train, test split
  X_train, X_val, y_train, y_val = train_test_split(X, y, random_state=random_state, shuffle=True, stratify=y)
  
  # cat 모델 생성
  cat = CatBoostClassifier(random_state=0, task_type='GPU', iterations=1000, early_stopping_rounds=50,
                         cat_features=cat_f, eval_metric='F1', one_hot_max_size=2)
  cat.fit(X_train, y_train, eval_set=(X_val, y_val), verbose=100)
  
  # 기본 평가
  val_pred = cat.predict(X_val)
  f1_score_raw = f1_score(y_val, val_pred)
  temp_score_list.append(f1_score_raw)

  # precision, recall, threshold 값 계산
  val_pred_proba = cat.predict_proba(X_val)
  precisions, recalls, thresholds = precision_recall_curve(y_val, val_pred_proba[:,1])

  # precision, recall, threshold 값으로 데이터 셋 만들기
  threshold_boundary = thresholds.shape[0]
  pr = pd.DataFrame({
      'Precision': precisions[:threshold_boundary], 
      'Recall': recalls[:threshold_boundary], 
      'Threshold': thresholds
  })

  # 최고 F1 값을 갖는 threshold 값 구하기
  pre = precisions[:threshold_boundary]
  re = recalls[:threshold_boundary]
  f1 = 2 * pre * re / (pre + re)
  optimal_idx = np.argmax(f1)
  optimal_threshold = thresholds[optimal_idx]
  thr_df[random_state] = [optimal_threshold]

  # 구한 threshold값으로 제한해서 예측
  # 1의 예측값만 불러와도 되므로 [:,1]사용
  val_pred_th =  (val_pred_proba[:,1] >= optimal_threshold)
  val_pred_th = val_pred_th.astype(int)

  # threshold로 제한한 예측 평가
  f1_score_mod = f1_score(y_val, val_pred_th)
  temp_score_list.append(f1_score_mod)
  score_df[random_state] = temp_score_list

  print("===============================================")
  print(f"random_state : {random_state}")
  print("threshold 적용 전 f1 score :", f1_score_raw)
  print("threshold 적용 후 f1 score :", f1_score_mod)
  print("===============================================")
  print()

  # test 셋 예측
  pred_proba = cat.predict_proba(test)
  pred_proba_df[random_state] = pred_proba[:,1]

# about 3m

  0%|          | 0/5 [00:00<?, ?it/s]

Learning rate set to 0.043012
0:	learn: 0.6196694	test: 0.6224204	best: 0.6224204 (0)	total: 115ms	remaining: 1m 54s
100:	learn: 0.6468816	test: 0.6624406	best: 0.6625610 (98)	total: 6.64s	remaining: 59.1s
200:	learn: 0.6554101	test: 0.6747940	best: 0.6752399 (194)	total: 13.2s	remaining: 52.4s
bestTest = 0.6756663568
bestIteration = 237
Shrink model to first 238 iterations.
===============================================
random_state : 10
threshold 적용 전 f1 score : 0.6756663568494589
threshold 적용 후 f1 score : 0.7064302166060439
===============================================

 20%|██        | 1/5 [00:37<02:31, 37.92s/it]

Learning rate set to 0.043012
0:	learn: 0.6123916	test: 0.6132668	best: 0.6132668 (0)	total: 95.7ms	remaining: 1m 35s
100:	learn: 0.6474524	test: 0.6630102	best: 0.6630102 (100)	total: 6.57s	remaining: 58.5s
200:	learn: 0.6562053	test: 0.6752629	best: 0.6753560 (196)	total: 13.1s	remaining: 52.1s
300:	learn: 0.6604443	test: 0.6766222	best: 0.6776710 (265)	total: 19.5s	remaining: 45.4s
bestTest = 0.6776710142
bestIteration = 265
Shrink model to first 266 iterations.
===============================================
random_state : 20
threshold 적용 전 f1 score : 0.6776710141871742
threshold 적용 후 f1 score : 0.7057459567040455
===============================================

 40%|████      | 2/5 [01:17<01:56, 38.73s/it]

Learning rate set to 0.043012
0:	learn: 0.5757408	test: 0.5794301	best: 0.5794301 (0)	total: 110ms	remaining: 1m 49s
100:	learn: 0.6469305	test: 0.6623920	best: 0.6623920 (100)	total: 6.63s	remaining: 59s
200:	learn: 0.6556083	test: 0.6760297	best: 0.6763666 (196)	total: 13.1s	remaining: 52.3s
300:	learn: 0.6602663	test: 0.6776282	best: 0.6778631 (294)	total: 19.6s	remaining: 45.5s
400:	learn: 0.6636853	test: 0.6790716	best: 0.6791185 (392)	total: 26.2s	remaining: 39.2s
bestTest = 0.679118541
bestIteration = 392
Shrink model to first 393 iterations.
===============================================
random_state : 30
threshold 적용 전 f1 score : 0.6791185410334347
threshold 적용 후 f1 score : 0.7091677806845293
===============================================

 60%|██████    | 3/5 [02:06<01:26, 43.48s/it]

Learning rate set to 0.043012
0:	learn: 0.6220407	test: 0.6254350	best: 0.6254350 (0)	total: 100ms	remaining: 1m 40s
100:	learn: 0.6467612	test: 0.6628765	best: 0.6628765 (100)	total: 6.58s	remaining: 58.6s
200:	learn: 0.6553630	test: 0.6773615	best: 0.6773615 (200)	total: 13.1s	remaining: 52.3s
300:	learn: 0.6597640	test: 0.6794391	best: 0.6795845 (299)	total: 19.9s	remaining: 46.2s
bestTest = 0.6799463184
bestIteration = 338
Shrink model to first 339 iterations.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:35: RuntimeWarning: invalid value encountered in true_divide

===============================================
random_state : 40
threshold 적용 전 f1 score : 0.6799463184402189
threshold 적용 후 f1 score : 0.0
===============================================

 80%|████████  | 4/5 [02:51<00:44, 44.15s/it]

Learning rate set to 0.043012
0:	learn: 0.6161573	test: 0.6176200	best: 0.6176200 (0)	total: 108ms	remaining: 1m 48s
100:	learn: 0.6476208	test: 0.6665066	best: 0.6665066 (100)	total: 6.67s	remaining: 59.4s
200:	learn: 0.6548175	test: 0.6753409	best: 0.6756493 (195)	total: 13.3s	remaining: 53s
300:	learn: 0.6592985	test: 0.6777170	best: 0.6783007 (265)	total: 19.9s	remaining: 46.2s
bestTest = 0.6783007413
bestIteration = 265
Shrink model to first 266 iterations.
===============================================
random_state : 50
threshold 적용 전 f1 score : 0.6783007413328909
threshold 적용 후 f1 score : 0.7074609761165648
===============================================

100%|██████████| 5/5 [03:31<00:00, 42.28s/it]

## 결과 종합

In [28]:
score_df

                      10        20        30        40        50
threshold 적용 전  0.675666  0.677671  0.679119  0.679946  0.678301
threshold 적용 후  0.706430  0.705746  0.709168  0.000000  0.707461

### 오류난 특성 제거

In [29]:
del_col = 40
pred_proba_df = pred_proba_df.drop([del_col], axis=1)
thr_df = thr_df.drop([del_col], axis=1)
score_df = score_df.drop([del_col], axis=1)

In [30]:
pred_proba_df['mean'] = pred_proba_df.mean(axis=1)
thr_df['mean'] = thr_df.mean(axis=1)
score_df['mean'] = score_df.mean(axis=1)

### threshold 값

In [31]:
thr_df

         10        20        30        50      mean
0  0.389983  0.402665  0.385713  0.384573  0.390734

## 자체평가

In [32]:
score_df

                      10        20        30        50      mean
threshold 적용 전  0.675666  0.677671  0.679119  0.678301  0.677689
threshold 적용 후  0.706430  0.705746  0.709168  0.707461  0.707201

In [33]:
pred_proba_df

             10        20        30        50      mean
0      0.385663  0.387139  0.382716  0.383713  0.384808
1      0.497257  0.467931  0.443739  0.425483  0.458603
2      0.395817  0.364850  0.340966  0.379837  0.370368
3      0.264743  0.304590  0.259528  0.245457  0.268580
4      0.319801  0.375450  0.320572  0.352459  0.342071
...         ...       ...       ...       ...       ...
46399  0.629823  0.633676  0.641083  0.638226  0.635702
46400  0.599400  0.566317  0.570672  0.583733  0.580030
46401  0.626658  0.632003  0.626337  0.620198  0.626299
46402  0.635017  0.643937  0.656633  0.635615  0.642801
46403  0.597783  0.616216  0.603408  0.595681  0.603272

[46404 rows x 5 columns]

## test 예측

In [34]:
pred = pred_proba_df['mean'].tolist() >= thr_df['mean'].values
pred = pred.astype(int)
pred

array([0, 1, 0, ..., 1, 1, 1])

In [35]:
np.unique(pred, return_counts=True)

(array([0, 1]), array([10409, 35995]))

# 제출파일 불러오기

In [36]:
# sub = pd.read_csv('../data/sample_submission.csv')
sub = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/sample_submission.csv')
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      46404 non-null  int64
 1   target  46404 non-null  int64
dtypes: int64(2)
memory usage: 725.2 KB

# 제출파일 생성

In [37]:
sub['target'] = pred
sub['target'].value_counts()

1    35995
0    10409
Name: target, dtype: int64

In [38]:
file_ver = '5.2'
# sub.to_csv(f'sub_ver{file_ver}.csv', index=False)
sub.to_csv(f'/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/03_모델선정및개선/sub_ver{file_ver}.csv', index=False)

# 코드 마지막