# 라이브러리 로드 및 기본 세팅

In [1]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.0.4-cp37-none-manylinux1_x86_64.whl (76.1 MB)
     |████████████████████████████████| 76.1 MB 1.3 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-1.0.4

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from catboost import CatBoostClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, classification_report, precision_recall_curve

# 데이콘 점수

In [4]:
# Best_score
  # target 1 개수 : 36081
  # self_score : 0.708871
  # date : 2022-01-13 11:08:38
  # score : 0.701834167

In [5]:
# Submit_score
  # target 1 개수 : 36367
  # self_score : 0.709755
  # date : 2022-01-25 12:34:13
  # score : 0.7012320845

# 설정

In [6]:
# cat
# 총 특성 개수 : 62개(타겟 특성 제외)
# 총 제거된 특성 개수 : 7
# 활용 특성 : 55
# one_hot_max_size = 5
# random_state : 5(range(10, 60, 10))
# iterations = 1000
# early_stopping_rounds = 50
# 순서형 특성 설정(4개)
# probability_threshold 설정

In [7]:
# 순서형 특성 (4개)
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [8]:
# 기본 제거 특성(5개)
# 'id',
# 'contents_open_dt',
# 'person_prefer_f',
# 'person_prefer_g',
# 'contents_rn',

In [9]:
# 특성 중요도 낮은 특성(2개)
# 'h_m_match_yn',
# 'h_s_match_yn'

# 데이터 불러오기

In [10]:
# train = pd.read_csv('../data/df_train.csv')
# test = pd.read_csv('../data/df_test.csv')
train = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_train.csv')
test = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_test.csv')

# 데이터 확인

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 63 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      501951 non-null  int64
 1   d_l_match_yn            501951 non-null  bool
 2   d_m_match_yn            501951 non-null  bool
 3   d_s_match_yn            501951 non-null  bool
 4   h_l_match_yn            501951 non-null  bool
 5   h_m_match_yn            501951 non-null  bool
 6   h_s_match_yn            501951 non-null  bool
 7   person_attribute_a      501951 non-null  int64
 8   person_attribute_a_1    501951 non-null  int64
 9   person_attribute_b      501951 non-null  int64
 10  person_prefer_c         501951 non-null  int64
 11  person_prefer_d_1       501951 non-null  int64
 12  person_prefer_d_2       501951 non-null  int64
 13  person_prefer_d_3       501951 non-null  int64
 14  person_prefer_e         501951 non-null  int64
 15  person_prefer_f         501951 non-null  int64
 16  person_prefer_g         501951 non-null  int64
 17  person_prefer_h_1       501951 non-null  int64
 18  person_prefer_h_2       501951 non-null  int64
 19  person_prefer_h_3       501951 non-null  int64
 20  contents_attribute_i    501951 non-null  int64
 21  contents_attribute_a    501951 non-null  int64
 22  contents_attribute_j_1  501951 non-null  int64
 23  contents_attribute_j    501951 non-null  int64
 24  contents_attribute_c    501951 non-null  int64
 25  contents_attribute_k    501951 non-null  int64
 26  contents_attribute_l    501951 non-null  int64
 27  contents_attribute_d    501951 non-null  int64
 28  contents_attribute_m    501951 non-null  int64
 29  contents_attribute_e    501951 non-null  int64
 30  contents_attribute_h    501951 non-null  int64
 31  person_rn               501951 non-null  int64
 32  contents_rn             501951 non-null  int64
 33  contents_open_dt        501951 non-null  object
 34  target                  501951 non-null  int64
 35  person_prefer_d_1_n     501951 non-null  int64
 36  person_prefer_d_1_s     501951 non-null  int64
 37  person_prefer_d_1_m     501951 non-null  int64
 38  person_prefer_d_1_l     501951 non-null  int64
 39  person_prefer_d_2_n     501951 non-null  int64
 40  person_prefer_d_2_s     501951 non-null  int64
 41  person_prefer_d_2_m     501951 non-null  int64
 42  person_prefer_d_2_l     501951 non-null  int64
 43  person_prefer_d_3_n     501951 non-null  int64
 44  person_prefer_d_3_s     501951 non-null  int64
 45  person_prefer_d_3_m     501951 non-null  int64
 46  person_prefer_d_3_l     501951 non-null  int64
 47  contents_attribute_d_n  501951 non-null  int64
 48  contents_attribute_d_s  501951 non-null  int64
 49  contents_attribute_d_m  501951 non-null  int64
 50  contents_attribute_d_l  501951 non-null  int64
 51  person_prefer_h_1_m     501951 non-null  int64
 52  person_prefer_h_1_l     501951 non-null  int64
 53  person_prefer_h_2_m     501951 non-null  int64
 54  person_prefer_h_2_l     501951 non-null  int64
 55  person_prefer_h_3_m     501951 non-null  int64
 56  person_prefer_h_3_l     501951 non-null  int64
 57  contents_attribute_h_m  501951 non-null  int64
 58  contents_attribute_h_l  501951 non-null  int64
 59  contents_attribute_l_n  501951 non-null  int64
 60  contents_attribute_l_s  501951 non-null  int64
 61  contents_attribute_l_m  501951 non-null  int64
 62  contents_attribute_l_l  501951 non-null  int64
dtypes: bool(6), int64(56), object(1)
memory usage: 221.2+ MB

In [12]:
train.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1605                    2016
1   1         False  ...                    1605                    2016
2   2         False  ...                    1572                    2016
3   3         False  ...                    1605                    2016
4   4          True  ...                    1605                    2016

[5 rows x 63 columns]

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 62 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      46404 non-null  int64
 1   d_l_match_yn            46404 non-null  bool
 2   d_m_match_yn            46404 non-null  bool
 3   d_s_match_yn            46404 non-null  bool
 4   h_l_match_yn            46404 non-null  bool
 5   h_m_match_yn            46404 non-null  bool
 6   h_s_match_yn            46404 non-null  bool
 7   person_attribute_a      46404 non-null  int64
 8   person_attribute_a_1    46404 non-null  int64
 9   person_attribute_b      46404 non-null  int64
 10  person_prefer_c         46404 non-null  int64
 11  person_prefer_d_1       46404 non-null  int64
 12  person_prefer_d_2       46404 non-null  int64
 13  person_prefer_d_3       46404 non-null  int64
 14  person_prefer_e         46404 non-null  int64
 15  person_prefer_f         46404 non-null  int64
 16  person_prefer_g         46404 non-null  int64
 17  person_prefer_h_1       46404 non-null  int64
 18  person_prefer_h_2       46404 non-null  int64
 19  person_prefer_h_3       46404 non-null  int64
 20  contents_attribute_i    46404 non-null  int64
 21  contents_attribute_a    46404 non-null  int64
 22  contents_attribute_j_1  46404 non-null  int64
 23  contents_attribute_j    46404 non-null  int64
 24  contents_attribute_c    46404 non-null  int64
 25  contents_attribute_k    46404 non-null  int64
 26  contents_attribute_l    46404 non-null  int64
 27  contents_attribute_d    46404 non-null  int64
 28  contents_attribute_m    46404 non-null  int64
 29  contents_attribute_e    46404 non-null  int64
 30  contents_attribute_h    46404 non-null  int64
 31  person_rn               46404 non-null  int64
 32  contents_rn             46404 non-null  int64
 33  contents_open_dt        46404 non-null  object
 34  person_prefer_d_1_n     46404 non-null  int64
 35  person_prefer_d_1_s     46404 non-null  int64
 36  person_prefer_d_1_m     46404 non-null  int64
 37  person_prefer_d_1_l     46404 non-null  int64
 38  person_prefer_d_2_n     46404 non-null  int64
 39  person_prefer_d_2_s     46404 non-null  int64
 40  person_prefer_d_2_m     46404 non-null  int64
 41  person_prefer_d_2_l     46404 non-null  int64
 42  person_prefer_d_3_n     46404 non-null  int64
 43  person_prefer_d_3_s     46404 non-null  int64
 44  person_prefer_d_3_m     46404 non-null  int64
 45  person_prefer_d_3_l     46404 non-null  int64
 46  contents_attribute_d_n  46404 non-null  int64
 47  contents_attribute_d_s  46404 non-null  int64
 48  contents_attribute_d_m  46404 non-null  int64
 49  contents_attribute_d_l  46404 non-null  int64
 50  person_prefer_h_1_m     46404 non-null  int64
 51  person_prefer_h_1_l     46404 non-null  int64
 52  person_prefer_h_2_m     46404 non-null  int64
 53  person_prefer_h_2_l     46404 non-null  int64
 54  person_prefer_h_3_m     46404 non-null  int64
 55  person_prefer_h_3_l     46404 non-null  int64
 56  contents_attribute_h_m  46404 non-null  int64
 57  contents_attribute_h_l  46404 non-null  int64
 58  contents_attribute_l_n  46404 non-null  int64
 59  contents_attribute_l_s  46404 non-null  int64
 60  contents_attribute_l_m  46404 non-null  int64
 61  contents_attribute_l_l  46404 non-null  int64
dtypes: bool(6), int64(55), object(1)
memory usage: 20.1+ MB

In [14]:
test.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1021                    2010
1   1         False  ...                    1605                    2016
2   2          True  ...                    1810                    2020
3   3          True  ...                      99                    2006
4   4          True  ...                     954                    2009

[5 rows x 62 columns]

# 필요 데이터 추출

## 훈련에 의미가 적은 열 제거

In [15]:
# 제거된 특성(7개)
# 'id',
# 'contents_open_dt',
# 'person_prefer_f',
# 'person_prefer_g',
# 'contents_rn',
# 'h_m_match_yn',
# 'h_s_match_yn'

In [16]:
# 삭제할 특성
pop_col = ['id','contents_open_dt','person_prefer_f','person_prefer_g','contents_rn',
           'h_m_match_yn','h_s_match_yn']
len(pop_col)

7

In [17]:
train = train.drop(pop_col, axis=1) 
test = test.drop(pop_col, axis=1)

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 56 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   d_l_match_yn            501951 non-null  bool
 1   d_m_match_yn            501951 non-null  bool
 2   d_s_match_yn            501951 non-null  bool
 3   h_l_match_yn            501951 non-null  bool
 4   person_attribute_a      501951 non-null  int64
 5   person_attribute_a_1    501951 non-null  int64
 6   person_attribute_b      501951 non-null  int64
 7   person_prefer_c         501951 non-null  int64
 8   person_prefer_d_1       501951 non-null  int64
 9   person_prefer_d_2       501951 non-null  int64
 10  person_prefer_d_3       501951 non-null  int64
 11  person_prefer_e         501951 non-null  int64
 12  person_prefer_h_1       501951 non-null  int64
 13  person_prefer_h_2       501951 non-null  int64
 14  person_prefer_h_3       501951 non-null  int64
 15  contents_attribute_i    501951 non-null  int64
 16  contents_attribute_a    501951 non-null  int64
 17  contents_attribute_j_1  501951 non-null  int64
 18  contents_attribute_j    501951 non-null  int64
 19  contents_attribute_c    501951 non-null  int64
 20  contents_attribute_k    501951 non-null  int64
 21  contents_attribute_l    501951 non-null  int64
 22  contents_attribute_d    501951 non-null  int64
 23  contents_attribute_m    501951 non-null  int64
 24  contents_attribute_e    501951 non-null  int64
 25  contents_attribute_h    501951 non-null  int64
 26  person_rn               501951 non-null  int64
 27  target                  501951 non-null  int64
 28  person_prefer_d_1_n     501951 non-null  int64
 29  person_prefer_d_1_s     501951 non-null  int64
 30  person_prefer_d_1_m     501951 non-null  int64
 31  person_prefer_d_1_l     501951 non-null  int64
 32  person_prefer_d_2_n     501951 non-null  int64
 33  person_prefer_d_2_s     501951 non-null  int64
 34  person_prefer_d_2_m     501951 non-null  int64
 35  person_prefer_d_2_l     501951 non-null  int64
 36  person_prefer_d_3_n     501951 non-null  int64
 37  person_prefer_d_3_s     501951 non-null  int64
 38  person_prefer_d_3_m     501951 non-null  int64
 39  person_prefer_d_3_l     501951 non-null  int64
 40  contents_attribute_d_n  501951 non-null  int64
 41  contents_attribute_d_s  501951 non-null  int64
 42  contents_attribute_d_m  501951 non-null  int64
 43  contents_attribute_d_l  501951 non-null  int64
 44  person_prefer_h_1_m     501951 non-null  int64
 45  person_prefer_h_1_l     501951 non-null  int64
 46  person_prefer_h_2_m     501951 non-null  int64
 47  person_prefer_h_2_l     501951 non-null  int64
 48  person_prefer_h_3_m     501951 non-null  int64
 49  person_prefer_h_3_l     501951 non-null  int64
 50  contents_attribute_h_m  501951 non-null  int64
 51  contents_attribute_h_l  501951 non-null  int64
 52  contents_attribute_l_n  501951 non-null  int64
 53  contents_attribute_l_s  501951 non-null  int64
 54  contents_attribute_l_m  501951 non-null  int64
 55  contents_attribute_l_l  501951 non-null  int64
dtypes: bool(4), int64(52)
memory usage: 201.1 MB

In [19]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   d_l_match_yn            46404 non-null  bool
 1   d_m_match_yn            46404 non-null  bool
 2   d_s_match_yn            46404 non-null  bool
 3   h_l_match_yn            46404 non-null  bool
 4   person_attribute_a      46404 non-null  int64
 5   person_attribute_a_1    46404 non-null  int64
 6   person_attribute_b      46404 non-null  int64
 7   person_prefer_c         46404 non-null  int64
 8   person_prefer_d_1       46404 non-null  int64
 9   person_prefer_d_2       46404 non-null  int64
 10  person_prefer_d_3       46404 non-null  int64
 11  person_prefer_e         46404 non-null  int64
 12  person_prefer_h_1       46404 non-null  int64
 13  person_prefer_h_2       46404 non-null  int64
 14  person_prefer_h_3       46404 non-null  int64
 15  contents_attribute_i    46404 non-null  int64
 16  contents_attribute_a    46404 non-null  int64
 17  contents_attribute_j_1  46404 non-null  int64
 18  contents_attribute_j    46404 non-null  int64
 19  contents_attribute_c    46404 non-null  int64
 20  contents_attribute_k    46404 non-null  int64
 21  contents_attribute_l    46404 non-null  int64
 22  contents_attribute_d    46404 non-null  int64
 23  contents_attribute_m    46404 non-null  int64
 24  contents_attribute_e    46404 non-null  int64
 25  contents_attribute_h    46404 non-null  int64
 26  person_rn               46404 non-null  int64
 27  person_prefer_d_1_n     46404 non-null  int64
 28  person_prefer_d_1_s     46404 non-null  int64
 29  person_prefer_d_1_m     46404 non-null  int64
 30  person_prefer_d_1_l     46404 non-null  int64
 31  person_prefer_d_2_n     46404 non-null  int64
 32  person_prefer_d_2_s     46404 non-null  int64
 33  person_prefer_d_2_m     46404 non-null  int64
 34  person_prefer_d_2_l     46404 non-null  int64
 35  person_prefer_d_3_n     46404 non-null  int64
 36  person_prefer_d_3_s     46404 non-null  int64
 37  person_prefer_d_3_m     46404 non-null  int64
 38  person_prefer_d_3_l     46404 non-null  int64
 39  contents_attribute_d_n  46404 non-null  int64
 40  contents_attribute_d_s  46404 non-null  int64
 41  contents_attribute_d_m  46404 non-null  int64
 42  contents_attribute_d_l  46404 non-null  int64
 43  person_prefer_h_1_m     46404 non-null  int64
 44  person_prefer_h_1_l     46404 non-null  int64
 45  person_prefer_h_2_m     46404 non-null  int64
 46  person_prefer_h_2_l     46404 non-null  int64
 47  person_prefer_h_3_m     46404 non-null  int64
 48  person_prefer_h_3_l     46404 non-null  int64
 49  contents_attribute_h_m  46404 non-null  int64
 50  contents_attribute_h_l  46404 non-null  int64
 51  contents_attribute_l_n  46404 non-null  int64
 52  contents_attribute_l_s  46404 non-null  int64
 53  contents_attribute_l_m  46404 non-null  int64
 54  contents_attribute_l_l  46404 non-null  int64
dtypes: bool(4), int64(51)
memory usage: 18.2 MB

## 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경

In [20]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
train = train.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
train = train.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
train.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0          True          True  ...                    1605                    2016
1         False         False  ...                    1605                    2016
2         False         False  ...                    1572                    2016
3         False         False  ...                    1605                    2016
4          True          True  ...                    1605                    2016

[5 rows x 56 columns]

In [21]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
test = test.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
test = test.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
test.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0          True         False  ...                    1021                    2010
1         False         False  ...                    1605                    2016
2          True         False  ...                    1810                    2020
3          True         False  ...                      99                    2006
4          True         False  ...                     954                    2009

[5 rows x 55 columns]

## 카테고리형 특성으로 지정할 특성

In [22]:
# 원본 데이터에서 순서형 특성
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [23]:
cat_f = train.columns.tolist()
numeric_cat = ['person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e']
for col in numeric_cat:
  cat_f.remove(col)
cat_f.remove('target')

In [24]:
# 카데고리형 지정 특성 개수
# 63 - 7 - 5 = 51개
len(cat_f)

51

# train, test 셋 준비

In [27]:
train.shape

(501951, 56)

In [28]:
X = train.drop(['target'], axis=1)
X.shape

(501951, 55)

In [29]:
y = train[['target']]
y.shape

(501951, 1)

# 모델 훈련/예측

In [30]:
score_df = pd.DataFrame(index=['thr_전', 'thr_후'])
pred_proba_df = pd.DataFrame()
thr_df = pd.DataFrame()

for random_state in tqdm(range(10, 60, 10)):
  temp_score_list =[]
  # 데이터 셋 나누기
  X_train, X_val, y_train, y_val = train_test_split(X, y, random_state=random_state, shuffle=True, stratify=y)
  # 모델 생성
  cat = CatBoostClassifier(random_state=42, task_type='GPU', iterations=1000, early_stopping_rounds=50,
                        cat_features=cat_f, eval_metric='F1', one_hot_max_size=5)
  # 모델 훈련
  cat.fit(X_train, y_train, eval_set=(X_val, y_val), verbose=100)
  
  # 기본 평가
  val_pred = cat.predict(X_val)
  f1_score_raw = f1_score(y_val, val_pred)
  temp_score_list.append(f1_score_raw)

  # precision, recall, threshold 값 계산
  val_pred_proba = cat.predict_proba(X_val)
  precisions, recalls, thresholds = precision_recall_curve(y_val, val_pred_proba[:,1])
  threshold_boundary = thresholds.shape[0]

  # 최고 F1 값을 갖는 threshold 값 구하기
  pre = precisions[:threshold_boundary]
  re = recalls[:threshold_boundary]
  f1 = 2 * pre * re / (pre + re)
  optimal_idx = np.argmax(f1)
  optimal_threshold = thresholds[optimal_idx]
  thr_df[f'{random_state}'] = [optimal_threshold]

  # 구한 threshold값으로 제한해서 예측
  # 1의 예측값만 불러와도 되므로 [:,1]사용
  val_pred_th =  (val_pred_proba[:,1] >= optimal_threshold)
  val_pred_th = val_pred_th.astype(int)

  # threshold로 제한한 예측 평가
  f1_score_mod = f1_score(y_val, val_pred_th)
  temp_score_list.append(f1_score_mod)
  score_df[f'{random_state}'] = temp_score_list

  print("----------------------------------------------")
  print(f"random_state : {random_state}")
  print("threshold 적용 전 f1 score :", f1_score_raw)
  print("threshold 적용 후 f1 score :", f1_score_mod)
  print("=========================================================================================")
  print()

  # test 셋 예측
  pred_proba = cat.predict_proba(test)
  pred_proba_df[f'{random_state}'] = pred_proba[:,1]

  0%|          | 0/5 [00:00<?, ?it/s]

Learning rate set to 0.043012
0:	learn: 0.6274414	test: 0.6266246	best: 0.6266246 (0)	total: 360ms	remaining: 5m 59s
100:	learn: 0.6497698	test: 0.6617563	best: 0.6620007 (99)	total: 28.2s	remaining: 4m 11s
200:	learn: 0.6588612	test: 0.6742577	best: 0.6744116 (198)	total: 56.8s	remaining: 3m 45s
300:	learn: 0.6640716	test: 0.6760553	best: 0.6761238 (288)	total: 1m 25s	remaining: 3m 18s
400:	learn: 0.6676434	test: 0.6777123	best: 0.6778130 (392)	total: 1m 53s	remaining: 2m 49s
bestTest = 0.6780955873
bestIteration = 427
Shrink model to first 428 iterations.
----------------------------------------------
random_state : 10
threshold 적용 전 f1 score : 0.6780955873365114
threshold 적용 후 f1 score : 0.7099999367212763
=========================================================================================

 20%|██        | 1/5 [02:52<11:29, 172.29s/it]

Learning rate set to 0.043012
0:	learn: 0.6147394	test: 0.6132749	best: 0.6132749 (0)	total: 352ms	remaining: 5m 51s
100:	learn: 0.6497785	test: 0.6610941	best: 0.6610941 (100)	total: 28.1s	remaining: 4m 9s
200:	learn: 0.6597205	test: 0.6768157	best: 0.6768157 (200)	total: 56.5s	remaining: 3m 44s
300:	learn: 0.6644284	test: 0.6795838	best: 0.6795900 (298)	total: 1m 24s	remaining: 3m 16s
bestTest = 0.6805693079
bestIteration = 346
Shrink model to first 347 iterations.
----------------------------------------------
random_state : 20
threshold 적용 전 f1 score : 0.6805693078661537
threshold 적용 후 f1 score : 0.7088054970294023
=========================================================================================

 40%|████      | 2/5 [05:30<08:11, 163.92s/it]

Learning rate set to 0.043012
0:	learn: 0.6054445	test: 0.6081825	best: 0.6081825 (0)	total: 352ms	remaining: 5m 51s
100:	learn: 0.6488719	test: 0.6603281	best: 0.6603281 (100)	total: 28.8s	remaining: 4m 16s
200:	learn: 0.6589097	test: 0.6760239	best: 0.6760239 (200)	total: 57.7s	remaining: 3m 49s
300:	learn: 0.6646625	test: 0.6795345	best: 0.6798554 (285)	total: 1m 27s	remaining: 3m 23s
bestTest = 0.6798554422
bestIteration = 285
Shrink model to first 286 iterations.
----------------------------------------------
random_state : 30
threshold 적용 전 f1 score : 0.6798554422404957
threshold 적용 후 f1 score : 0.706663060365704
=========================================================================================

 60%|██████    | 3/5 [07:47<05:03, 151.51s/it]

Learning rate set to 0.043012
0:	learn: 0.6081312	test: 0.6112127	best: 0.6112127 (0)	total: 357ms	remaining: 5m 56s
100:	learn: 0.6492187	test: 0.6651212	best: 0.6651212 (100)	total: 28.3s	remaining: 4m 11s
200:	learn: 0.6584091	test: 0.6757917	best: 0.6757917 (200)	total: 56.9s	remaining: 3m 46s
300:	learn: 0.6633193	test: 0.6788778	best: 0.6789867 (291)	total: 1m 24s	remaining: 3m 17s
400:	learn: 0.6666059	test: 0.6794705	best: 0.6797246 (396)	total: 1m 52s	remaining: 2m 48s
500:	learn: 0.6698190	test: 0.6804808	best: 0.6806198 (496)	total: 2m 20s	remaining: 2m 19s
bestTest = 0.6809445695
bestIteration = 528
Shrink model to first 529 iterations.
----------------------------------------------
random_state : 40
threshold 적용 전 f1 score : 0.6809445694884216
threshold 적용 후 f1 score : 0.7114469067113458
=========================================================================================

 80%|████████  | 4/5 [11:06<02:50, 170.55s/it]

Learning rate set to 0.043012
0:	learn: 0.6256889	test: 0.6299786	best: 0.6299786 (0)	total: 352ms	remaining: 5m 51s
100:	learn: 0.6497305	test: 0.6648566	best: 0.6648566 (100)	total: 27.6s	remaining: 4m 6s
200:	learn: 0.6582184	test: 0.6762621	best: 0.6762621 (200)	total: 56.1s	remaining: 3m 43s
300:	learn: 0.6633771	test: 0.6791661	best: 0.6791935 (274)	total: 1m 24s	remaining: 3m 15s
400:	learn: 0.6674349	test: 0.6802860	best: 0.6804796 (396)	total: 1m 52s	remaining: 2m 47s
500:	learn: 0.6696030	test: 0.6815308	best: 0.6815308 (500)	total: 2m 19s	remaining: 2m 19s
bestTest = 0.6815308428
bestIteration = 500
Shrink model to first 501 iterations.
----------------------------------------------
random_state : 50
threshold 적용 전 f1 score : 0.6815308427850932
threshold 적용 후 f1 score : 0.7118615976949948
=========================================================================================

100%|██████████| 5/5 [14:17<00:00, 171.53s/it]

## 결과 종합

In [31]:
score_df

             10        20        30        40        50
thr_전  0.678096  0.680569  0.679855  0.680945  0.681531
thr_후  0.710000  0.708805  0.706663  0.711447  0.711862

### 오류난 특성 제거

In [ ]:
# del_col = ['40']
# pred_proba_df = pred_proba_df.drop(del_col, axis=1)
# thr_df = thr_df.drop(del_col, axis=1)
# score_df = score_df.drop(del_col, axis=1)

In [32]:
pred_proba_df['mean'] = pred_proba_df.mean(axis=1)
thr_df['mean'] = thr_df.mean(axis=1)
score_df['mean'] = score_df.mean(axis=1)

### threshold 값

In [33]:
thr_df

         10        20        30        40        50      mean
0  0.371901  0.380263  0.381398  0.371272  0.379409  0.376849

## 자체평가

In [34]:
score_df

             10        20        30        40        50      mean
thr_전  0.678096  0.680569  0.679855  0.680945  0.681531  0.680199
thr_후  0.710000  0.708805  0.706663  0.711447  0.711862  0.709755

## test 예측

In [35]:
pred = pred_proba_df['mean'].tolist() >= thr_df['mean'].values
pred = pred.astype(int)
pred

array([1, 0, 1, ..., 1, 1, 1])

In [36]:
np.unique(pred, return_counts=True)

(array([0, 1]), array([10037, 36367]))

# 제출파일 불러오기

In [37]:
# sub = pd.read_csv('../data/sample_submission.csv')
sub = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/sample_submission.csv')
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      46404 non-null  int64
 1   target  46404 non-null  int64
dtypes: int64(2)
memory usage: 725.2 KB

# 제출파일 생성

In [38]:
sub['target'] = pred
sub['target'].value_counts()

1    36367
0    10037
Name: target, dtype: int64

In [39]:
file_ver = '6.6'
# sub.to_csv(f'sub_ver{file_ver}.csv', index=False)
sub.to_csv(f'/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/03_모델선정및개선/sub_ver{file_ver}.csv', index=False)

# 코드 마지막