# 라이브러리 로드 및 기본 세팅

In [1]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.0.4-cp37-none-manylinux1_x86_64.whl (76.1 MB)
     |████████████████████████████████| 76.1 MB 1.4 MB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-1.0.4

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, classification_report, precision_recall_curve

# 데이콘 점수

In [4]:
# 자체 점수 : 0.711725
# 제출 점수(제출 날짜) : 0.701049842(2022-01-21 12:21:24)

# 설정

In [5]:
# cat
# 총 제거된 특성(11개)
# one_hot_max_size = 2
# random_state : 5(range(10, 60, 10))
# iterations = 300
# early_stopping_rounds = 150
# 순서형 특성 (4개)
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'
# probability_threshold 설정

In [6]:
# 기본 제거 특성(5개)
# 'id',
# 'contents_open_dt',
# 'contents_rn',
# 'person_prefer_f',
# 'person_prefer_g',

In [7]:
# target별 특성 분포 유사한 특성(2개)
# 'h_m_match_yn',
# 'h_s_match_yn',

In [8]:
# 특성 중요도 낮은 특성(4개)
# 'person_prefer_h_3_m',
# 'person_prefer_h_3',
# 'contents_attribute_i',
# 'person_prefer_h_3_l'

# 데이터 불러오기

In [9]:
# train = pd.read_csv('../data/df_train.csv')
# test = pd.read_csv('../data/df_test.csv')
train = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_train.csv')
test = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_test.csv')

# 데이터 확인

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 63 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      501951 non-null  int64
 1   d_l_match_yn            501951 non-null  bool
 2   d_m_match_yn            501951 non-null  bool
 3   d_s_match_yn            501951 non-null  bool
 4   h_l_match_yn            501951 non-null  bool
 5   h_m_match_yn            501951 non-null  bool
 6   h_s_match_yn            501951 non-null  bool
 7   person_attribute_a      501951 non-null  int64
 8   person_attribute_a_1    501951 non-null  int64
 9   person_attribute_b      501951 non-null  int64
 10  person_prefer_c         501951 non-null  int64
 11  person_prefer_d_1       501951 non-null  int64
 12  person_prefer_d_2       501951 non-null  int64
 13  person_prefer_d_3       501951 non-null  int64
 14  person_prefer_e         501951 non-null  int64
 15  person_prefer_f         501951 non-null  int64
 16  person_prefer_g         501951 non-null  int64
 17  person_prefer_h_1       501951 non-null  int64
 18  person_prefer_h_2       501951 non-null  int64
 19  person_prefer_h_3       501951 non-null  int64
 20  contents_attribute_i    501951 non-null  int64
 21  contents_attribute_a    501951 non-null  int64
 22  contents_attribute_j_1  501951 non-null  int64
 23  contents_attribute_j    501951 non-null  int64
 24  contents_attribute_c    501951 non-null  int64
 25  contents_attribute_k    501951 non-null  int64
 26  contents_attribute_l    501951 non-null  int64
 27  contents_attribute_d    501951 non-null  int64
 28  contents_attribute_m    501951 non-null  int64
 29  contents_attribute_e    501951 non-null  int64
 30  contents_attribute_h    501951 non-null  int64
 31  person_rn               501951 non-null  int64
 32  contents_rn             501951 non-null  int64
 33  contents_open_dt        501951 non-null  object
 34  target                  501951 non-null  int64
 35  person_prefer_d_1_n     501951 non-null  int64
 36  person_prefer_d_1_s     501951 non-null  int64
 37  person_prefer_d_1_m     501951 non-null  int64
 38  person_prefer_d_1_l     501951 non-null  int64
 39  person_prefer_d_2_n     501951 non-null  int64
 40  person_prefer_d_2_s     501951 non-null  int64
 41  person_prefer_d_2_m     501951 non-null  int64
 42  person_prefer_d_2_l     501951 non-null  int64
 43  person_prefer_d_3_n     501951 non-null  int64
 44  person_prefer_d_3_s     501951 non-null  int64
 45  person_prefer_d_3_m     501951 non-null  int64
 46  person_prefer_d_3_l     501951 non-null  int64
 47  contents_attribute_d_n  501951 non-null  int64
 48  contents_attribute_d_s  501951 non-null  int64
 49  contents_attribute_d_m  501951 non-null  int64
 50  contents_attribute_d_l  501951 non-null  int64
 51  person_prefer_h_1_m     501951 non-null  int64
 52  person_prefer_h_1_l     501951 non-null  int64
 53  person_prefer_h_2_m     501951 non-null  int64
 54  person_prefer_h_2_l     501951 non-null  int64
 55  person_prefer_h_3_m     501951 non-null  int64
 56  person_prefer_h_3_l     501951 non-null  int64
 57  contents_attribute_h_m  501951 non-null  int64
 58  contents_attribute_h_l  501951 non-null  int64
 59  contents_attribute_l_n  501951 non-null  int64
 60  contents_attribute_l_s  501951 non-null  int64
 61  contents_attribute_l_m  501951 non-null  int64
 62  contents_attribute_l_l  501951 non-null  int64
dtypes: bool(6), int64(56), object(1)
memory usage: 221.2+ MB

In [11]:
train.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1605                    2016
1   1         False  ...                    1605                    2016
2   2         False  ...                    1572                    2016
3   3         False  ...                    1605                    2016
4   4          True  ...                    1605                    2016

[5 rows x 63 columns]

In [12]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 62 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      46404 non-null  int64
 1   d_l_match_yn            46404 non-null  bool
 2   d_m_match_yn            46404 non-null  bool
 3   d_s_match_yn            46404 non-null  bool
 4   h_l_match_yn            46404 non-null  bool
 5   h_m_match_yn            46404 non-null  bool
 6   h_s_match_yn            46404 non-null  bool
 7   person_attribute_a      46404 non-null  int64
 8   person_attribute_a_1    46404 non-null  int64
 9   person_attribute_b      46404 non-null  int64
 10  person_prefer_c         46404 non-null  int64
 11  person_prefer_d_1       46404 non-null  int64
 12  person_prefer_d_2       46404 non-null  int64
 13  person_prefer_d_3       46404 non-null  int64
 14  person_prefer_e         46404 non-null  int64
 15  person_prefer_f         46404 non-null  int64
 16  person_prefer_g         46404 non-null  int64
 17  person_prefer_h_1       46404 non-null  int64
 18  person_prefer_h_2       46404 non-null  int64
 19  person_prefer_h_3       46404 non-null  int64
 20  contents_attribute_i    46404 non-null  int64
 21  contents_attribute_a    46404 non-null  int64
 22  contents_attribute_j_1  46404 non-null  int64
 23  contents_attribute_j    46404 non-null  int64
 24  contents_attribute_c    46404 non-null  int64
 25  contents_attribute_k    46404 non-null  int64
 26  contents_attribute_l    46404 non-null  int64
 27  contents_attribute_d    46404 non-null  int64
 28  contents_attribute_m    46404 non-null  int64
 29  contents_attribute_e    46404 non-null  int64
 30  contents_attribute_h    46404 non-null  int64
 31  person_rn               46404 non-null  int64
 32  contents_rn             46404 non-null  int64
 33  contents_open_dt        46404 non-null  object
 34  person_prefer_d_1_n     46404 non-null  int64
 35  person_prefer_d_1_s     46404 non-null  int64
 36  person_prefer_d_1_m     46404 non-null  int64
 37  person_prefer_d_1_l     46404 non-null  int64
 38  person_prefer_d_2_n     46404 non-null  int64
 39  person_prefer_d_2_s     46404 non-null  int64
 40  person_prefer_d_2_m     46404 non-null  int64
 41  person_prefer_d_2_l     46404 non-null  int64
 42  person_prefer_d_3_n     46404 non-null  int64
 43  person_prefer_d_3_s     46404 non-null  int64
 44  person_prefer_d_3_m     46404 non-null  int64
 45  person_prefer_d_3_l     46404 non-null  int64
 46  contents_attribute_d_n  46404 non-null  int64
 47  contents_attribute_d_s  46404 non-null  int64
 48  contents_attribute_d_m  46404 non-null  int64
 49  contents_attribute_d_l  46404 non-null  int64
 50  person_prefer_h_1_m     46404 non-null  int64
 51  person_prefer_h_1_l     46404 non-null  int64
 52  person_prefer_h_2_m     46404 non-null  int64
 53  person_prefer_h_2_l     46404 non-null  int64
 54  person_prefer_h_3_m     46404 non-null  int64
 55  person_prefer_h_3_l     46404 non-null  int64
 56  contents_attribute_h_m  46404 non-null  int64
 57  contents_attribute_h_l  46404 non-null  int64
 58  contents_attribute_l_n  46404 non-null  int64
 59  contents_attribute_l_s  46404 non-null  int64
 60  contents_attribute_l_m  46404 non-null  int64
 61  contents_attribute_l_l  46404 non-null  int64
dtypes: bool(6), int64(55), object(1)
memory usage: 20.1+ MB

In [13]:
test.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1021                    2010
1   1         False  ...                    1605                    2016
2   2          True  ...                    1810                    2020
3   3          True  ...                      99                    2006
4   4          True  ...                     954                    2009

[5 rows x 62 columns]

# 필요 데이터 추출

## 훈련에 의미가 적은 열 제거

In [14]:
# 제거된 특성(9개)
# 'id',
# 'contents_open_dt',
# 'contents_rn',
# 'person_prefer_f',
# 'person_prefer_g',
# 'h_m_match_yn',
# 'h_s_match_yn',
# 'person_prefer_h_3_m',
# 'person_prefer_h_3',
# 'contents_attribute_i',
# 'person_prefer_h_3_l'

In [15]:
# 삭제할 특성
pop_col = ['id',
'contents_open_dt',
'contents_rn',
'person_prefer_f',
'person_prefer_g',
'h_m_match_yn',
'h_s_match_yn',
'person_prefer_h_3_m',
'person_prefer_h_3',
'contents_attribute_i',
'person_prefer_h_3_l']
len(pop_col)

11

In [16]:
train = train.drop(pop_col, axis=1) 
test = test.drop(pop_col, axis=1)

In [17]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 52 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   d_l_match_yn            501951 non-null  bool
 1   d_m_match_yn            501951 non-null  bool
 2   d_s_match_yn            501951 non-null  bool
 3   h_l_match_yn            501951 non-null  bool
 4   person_attribute_a      501951 non-null  int64
 5   person_attribute_a_1    501951 non-null  int64
 6   person_attribute_b      501951 non-null  int64
 7   person_prefer_c         501951 non-null  int64
 8   person_prefer_d_1       501951 non-null  int64
 9   person_prefer_d_2       501951 non-null  int64
 10  person_prefer_d_3       501951 non-null  int64
 11  person_prefer_e         501951 non-null  int64
 12  person_prefer_h_1       501951 non-null  int64
 13  person_prefer_h_2       501951 non-null  int64
 14  contents_attribute_a    501951 non-null  int64
 15  contents_attribute_j_1  501951 non-null  int64
 16  contents_attribute_j    501951 non-null  int64
 17  contents_attribute_c    501951 non-null  int64
 18  contents_attribute_k    501951 non-null  int64
 19  contents_attribute_l    501951 non-null  int64
 20  contents_attribute_d    501951 non-null  int64
 21  contents_attribute_m    501951 non-null  int64
 22  contents_attribute_e    501951 non-null  int64
 23  contents_attribute_h    501951 non-null  int64
 24  person_rn               501951 non-null  int64
 25  target                  501951 non-null  int64
 26  person_prefer_d_1_n     501951 non-null  int64
 27  person_prefer_d_1_s     501951 non-null  int64
 28  person_prefer_d_1_m     501951 non-null  int64
 29  person_prefer_d_1_l     501951 non-null  int64
 30  person_prefer_d_2_n     501951 non-null  int64
 31  person_prefer_d_2_s     501951 non-null  int64
 32  person_prefer_d_2_m     501951 non-null  int64
 33  person_prefer_d_2_l     501951 non-null  int64
 34  person_prefer_d_3_n     501951 non-null  int64
 35  person_prefer_d_3_s     501951 non-null  int64
 36  person_prefer_d_3_m     501951 non-null  int64
 37  person_prefer_d_3_l     501951 non-null  int64
 38  contents_attribute_d_n  501951 non-null  int64
 39  contents_attribute_d_s  501951 non-null  int64
 40  contents_attribute_d_m  501951 non-null  int64
 41  contents_attribute_d_l  501951 non-null  int64
 42  person_prefer_h_1_m     501951 non-null  int64
 43  person_prefer_h_1_l     501951 non-null  int64
 44  person_prefer_h_2_m     501951 non-null  int64
 45  person_prefer_h_2_l     501951 non-null  int64
 46  contents_attribute_h_m  501951 non-null  int64
 47  contents_attribute_h_l  501951 non-null  int64
 48  contents_attribute_l_n  501951 non-null  int64
 49  contents_attribute_l_s  501951 non-null  int64
 50  contents_attribute_l_m  501951 non-null  int64
 51  contents_attribute_l_l  501951 non-null  int64
dtypes: bool(4), int64(48)
memory usage: 185.7 MB

In [18]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 51 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   d_l_match_yn            46404 non-null  bool
 1   d_m_match_yn            46404 non-null  bool
 2   d_s_match_yn            46404 non-null  bool
 3   h_l_match_yn            46404 non-null  bool
 4   person_attribute_a      46404 non-null  int64
 5   person_attribute_a_1    46404 non-null  int64
 6   person_attribute_b      46404 non-null  int64
 7   person_prefer_c         46404 non-null  int64
 8   person_prefer_d_1       46404 non-null  int64
 9   person_prefer_d_2       46404 non-null  int64
 10  person_prefer_d_3       46404 non-null  int64
 11  person_prefer_e         46404 non-null  int64
 12  person_prefer_h_1       46404 non-null  int64
 13  person_prefer_h_2       46404 non-null  int64
 14  contents_attribute_a    46404 non-null  int64
 15  contents_attribute_j_1  46404 non-null  int64
 16  contents_attribute_j    46404 non-null  int64
 17  contents_attribute_c    46404 non-null  int64
 18  contents_attribute_k    46404 non-null  int64
 19  contents_attribute_l    46404 non-null  int64
 20  contents_attribute_d    46404 non-null  int64
 21  contents_attribute_m    46404 non-null  int64
 22  contents_attribute_e    46404 non-null  int64
 23  contents_attribute_h    46404 non-null  int64
 24  person_rn               46404 non-null  int64
 25  person_prefer_d_1_n     46404 non-null  int64
 26  person_prefer_d_1_s     46404 non-null  int64
 27  person_prefer_d_1_m     46404 non-null  int64
 28  person_prefer_d_1_l     46404 non-null  int64
 29  person_prefer_d_2_n     46404 non-null  int64
 30  person_prefer_d_2_s     46404 non-null  int64
 31  person_prefer_d_2_m     46404 non-null  int64
 32  person_prefer_d_2_l     46404 non-null  int64
 33  person_prefer_d_3_n     46404 non-null  int64
 34  person_prefer_d_3_s     46404 non-null  int64
 35  person_prefer_d_3_m     46404 non-null  int64
 36  person_prefer_d_3_l     46404 non-null  int64
 37  contents_attribute_d_n  46404 non-null  int64
 38  contents_attribute_d_s  46404 non-null  int64
 39  contents_attribute_d_m  46404 non-null  int64
 40  contents_attribute_d_l  46404 non-null  int64
 41  person_prefer_h_1_m     46404 non-null  int64
 42  person_prefer_h_1_l     46404 non-null  int64
 43  person_prefer_h_2_m     46404 non-null  int64
 44  person_prefer_h_2_l     46404 non-null  int64
 45  contents_attribute_h_m  46404 non-null  int64
 46  contents_attribute_h_l  46404 non-null  int64
 47  contents_attribute_l_n  46404 non-null  int64
 48  contents_attribute_l_s  46404 non-null  int64
 49  contents_attribute_l_m  46404 non-null  int64
 50  contents_attribute_l_l  46404 non-null  int64
dtypes: bool(4), int64(47)
memory usage: 16.8 MB

## 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경

In [19]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
train = train.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
train = train.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
train.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0          True          True  ...                    1605                    2016
1         False         False  ...                    1605                    2016
2         False         False  ...                    1572                    2016
3         False         False  ...                    1605                    2016
4          True          True  ...                    1605                    2016

[5 rows x 52 columns]

In [20]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
test = test.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
test = test.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
test.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0          True         False  ...                    1021                    2010
1         False         False  ...                    1605                    2016
2          True         False  ...                    1810                    2020
3          True         False  ...                      99                    2006
4          True         False  ...                     954                    2009

[5 rows x 51 columns]

## 카테고리형 특성으로 지정할 특성

In [21]:
# 원본 데이터에서 순서형 특성
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [22]:
# 순서형 특성 수치형으로 지정 : ⭕
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [23]:
cat_f = train.columns.tolist()
numeric_cat = ['person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e']
for col in numeric_cat:
  cat_f.remove(col)
cat_f.remove('target')

In [24]:
# 52 - 5 = 47개
len(cat_f)

47

# train, test 셋 준비

In [25]:
train.shape

(501951, 52)

In [26]:
X = train.drop(['target'], axis=1)
X.shape

(501951, 51)

In [27]:
y = train[['target']]
y.shape

(501951, 1)

# 모델 훈련/예측

In [30]:
score_df = pd.DataFrame(index=['thr_전', 'thr_후'])
pred_proba_df = pd.DataFrame()
thr_df = pd.DataFrame()

for random_state in tqdm(range(10, 60, 10)):
  temp_score_list =[]
  # 데이터 셋 나누기
  X_train, X_val, y_train, y_val = train_test_split(X, y, random_state=random_state, shuffle=True, stratify=y)
  # 모델 생성
  cat = CatBoostClassifier(random_state=0, task_type='GPU', iterations=3000, early_stopping_rounds=150,
                        cat_features=cat_f, eval_metric='F1', one_hot_max_size=2)
  # 모델 훈련
  cat.fit(X_train, y_train, eval_set=(X_val, y_val), verbose=100)
  
  # 기본 평가
  val_pred = cat.predict(X_val)
  f1_score_raw = f1_score(y_val, val_pred)
  temp_score_list.append(f1_score_raw)

  # precision, recall, threshold 값 계산
  val_pred_proba = cat.predict_proba(X_val)
  precisions, recalls, thresholds = precision_recall_curve(y_val, val_pred_proba[:,1])
  threshold_boundary = thresholds.shape[0]

  # 최고 F1 값을 갖는 threshold 값 구하기
  pre = precisions[:threshold_boundary]
  re = recalls[:threshold_boundary]
  f1 = 2 * pre * re / (pre + re)
  optimal_idx = np.argmax(f1)
  optimal_threshold = thresholds[optimal_idx]
  thr_df[f'{random_state}'] = [optimal_threshold]

  # 구한 threshold값으로 제한해서 예측
  # 1의 예측값만 불러와도 되므로 [:,1]사용
  val_pred_th =  (val_pred_proba[:,1] >= optimal_threshold)
  val_pred_th = val_pred_th.astype(int)

  # threshold로 제한한 예측 평가
  f1_score_mod = f1_score(y_val, val_pred_th)
  temp_score_list.append(f1_score_mod)
  score_df[f'{random_state}'] = temp_score_list

  print("===============================================")
  print(f"random_state : {random_state}")
  print("threshold 적용 전 f1 score :", f1_score_raw)
  print("threshold 적용 후 f1 score :", f1_score_mod)
  print("=========================================================================================")
  print()

  # test 셋 예측
  pred_proba = cat.predict_proba(test)
  pred_proba_df[f'{random_state}'] = pred_proba[:,1]

# about 28m

  0%|          | 0/5 [00:00<?, ?it/s]Custom logger is already specified. Specify more than one logger at same time is not thread safe.

Learning rate set to 0.027294
0:	learn: 0.6292915	test: 0.6377207	best: 0.6377207 (0)	total: 367ms	remaining: 18m 20s
100:	learn: 0.6421517	test: 0.6513607	best: 0.6514702 (99)	total: 27.8s	remaining: 13m 18s
200:	learn: 0.6523600	test: 0.6686777	best: 0.6686777 (200)	total: 54.7s	remaining: 12m 41s
300:	learn: 0.6579004	test: 0.6765150	best: 0.6765977 (299)	total: 1m 22s	remaining: 12m 19s
400:	learn: 0.6619033	test: 0.6782066	best: 0.6783815 (368)	total: 1m 49s	remaining: 11m 52s
500:	learn: 0.6643739	test: 0.6789806	best: 0.6793205 (446)	total: 2m 17s	remaining: 11m 24s
600:	learn: 0.6667190	test: 0.6792159	best: 0.6796108 (585)	total: 2m 45s	remaining: 10m 59s
700:	learn: 0.6687526	test: 0.6790617	best: 0.6796701 (668)	total: 3m 11s	remaining: 10m 29s
800:	learn: 0.6700955	test: 0.6794787	best: 0.6798165 (779)	total: 3m 38s	remaining: 10m
900:	learn: 0.6713848	test: 0.6789918	best: 0.6798165 (779)	total: 4m 5s	remaining: 9m 31s
bestTest = 0.6798165417
bestIteration = 779
Shrink model to first 780 iterations.
===============================================
random_state : 10
threshold 적용 전 f1 score : 0.6798165417199975
threshold 적용 후 f1 score : 0.7112863892699282
=========================================================================================

 20%|██        | 1/5 [04:51<19:24, 291.22s/it]

Learning rate set to 0.027294
0:	learn: 0.6250412	test: 0.6286439	best: 0.6286439 (0)	total: 355ms	remaining: 17m 44s
100:	learn: 0.6412275	test: 0.6491232	best: 0.6491232 (100)	total: 28.1s	remaining: 13m 25s
200:	learn: 0.6527080	test: 0.6688199	best: 0.6688199 (200)	total: 55.3s	remaining: 12m 50s
300:	learn: 0.6582442	test: 0.6762434	best: 0.6762434 (300)	total: 1m 22s	remaining: 12m 22s
400:	learn: 0.6618356	test: 0.6788519	best: 0.6790218 (398)	total: 1m 50s	remaining: 11m 56s
500:	learn: 0.6644935	test: 0.6800241	best: 0.6802849 (489)	total: 2m 18s	remaining: 11m 29s
600:	learn: 0.6674316	test: 0.6809973	best: 0.6812150 (593)	total: 2m 45s	remaining: 11m 1s
700:	learn: 0.6694829	test: 0.6811904	best: 0.6814601 (662)	total: 3m 13s	remaining: 10m 33s
800:	learn: 0.6708551	test: 0.6816317	best: 0.6819259 (791)	total: 3m 40s	remaining: 10m 4s
900:	learn: 0.6719380	test: 0.6812921	best: 0.6819259 (791)	total: 4m 6s	remaining: 9m 35s
bestTest = 0.6819259293
bestIteration = 791
Shrink model to first 792 iterations.
===============================================
random_state : 20
threshold 적용 전 f1 score : 0.6819259293134856
threshold 적용 후 f1 score : 0.7113704857741228
=========================================================================================

 40%|████      | 2/5 [09:48<14:44, 294.71s/it]

Learning rate set to 0.027294
0:	learn: 0.6372737	test: 0.6426669	best: 0.6426669 (0)	total: 300ms	remaining: 14m 58s
100:	learn: 0.6425672	test: 0.6498176	best: 0.6498176 (100)	total: 27.7s	remaining: 13m 15s
200:	learn: 0.6521300	test: 0.6679033	best: 0.6679232 (199)	total: 55s	remaining: 12m 45s
300:	learn: 0.6574657	test: 0.6753877	best: 0.6753877 (300)	total: 1m 22s	remaining: 12m 19s
400:	learn: 0.6615305	test: 0.6784842	best: 0.6784842 (400)	total: 1m 49s	remaining: 11m 52s
500:	learn: 0.6636391	test: 0.6802361	best: 0.6802361 (500)	total: 2m 17s	remaining: 11m 26s
600:	learn: 0.6660561	test: 0.6804107	best: 0.6805732 (597)	total: 2m 45s	remaining: 11m 1s
700:	learn: 0.6680742	test: 0.6809436	best: 0.6809784 (699)	total: 3m 13s	remaining: 10m 33s
800:	learn: 0.6696366	test: 0.6808119	best: 0.6813068 (761)	total: 3m 40s	remaining: 10m 4s
900:	learn: 0.6708002	test: 0.6815896	best: 0.6815896 (900)	total: 4m 6s	remaining: 9m 34s
1000:	learn: 0.6719495	test: 0.6818636	best: 0.6821441 (978)	total: 4m 32s	remaining: 9m 4s
1100:	learn: 0.6729019	test: 0.6817424	best: 0.6821441 (978)	total: 4m 59s	remaining: 8m 36s
bestTest = 0.6821440556
bestIteration = 978
Shrink model to first 979 iterations.
===============================================
random_state : 30
threshold 적용 전 f1 score : 0.6821440556453827
threshold 적용 후 f1 score : 0.7121077494454636
=========================================================================================

 60%|██████    | 3/5 [15:36<10:38, 319.09s/it]

Learning rate set to 0.027294
0:	learn: 0.6055663	test: 0.6088478	best: 0.6088478 (0)	total: 298ms	remaining: 14m 52s
100:	learn: 0.6429894	test: 0.6522721	best: 0.6522895 (96)	total: 27.9s	remaining: 13m 20s
200:	learn: 0.6522560	test: 0.6700249	best: 0.6700249 (200)	total: 55.2s	remaining: 12m 49s
300:	learn: 0.6573864	test: 0.6764728	best: 0.6767133 (298)	total: 1m 22s	remaining: 12m 21s
400:	learn: 0.6614157	test: 0.6783388	best: 0.6783388 (400)	total: 1m 50s	remaining: 11m 56s
500:	learn: 0.6640498	test: 0.6799278	best: 0.6800213 (498)	total: 2m 17s	remaining: 11m 26s
600:	learn: 0.6668018	test: 0.6802707	best: 0.6802707 (600)	total: 2m 46s	remaining: 11m 3s
700:	learn: 0.6686017	test: 0.6802923	best: 0.6803106 (604)	total: 3m 13s	remaining: 10m 34s
800:	learn: 0.6698443	test: 0.6806668	best: 0.6806668 (800)	total: 3m 40s	remaining: 10m 5s
900:	learn: 0.6713300	test: 0.6816024	best: 0.6817725 (894)	total: 4m 6s	remaining: 9m 34s
1000:	learn: 0.6726603	test: 0.6816296	best: 0.6818425 (951)	total: 4m 32s	remaining: 9m 4s
1100:	learn: 0.6734331	test: 0.6820732	best: 0.6822164 (1037)	total: 4m 58s	remaining: 8m 35s
1200:	learn: 0.6742054	test: 0.6819868	best: 0.6823653 (1145)	total: 5m 24s	remaining: 8m 6s
1300:	learn: 0.6748900	test: 0.6827951	best: 0.6828809 (1296)	total: 5m 51s	remaining: 7m 38s
1400:	learn: 0.6757902	test: 0.6827968	best: 0.6830478 (1391)	total: 6m 16s	remaining: 7m 9s
1500:	learn: 0.6766336	test: 0.6831336	best: 0.6833351 (1479)	total: 6m 42s	remaining: 6m 41s
1600:	learn: 0.6774289	test: 0.6831106	best: 0.6833351 (1479)	total: 7m 7s	remaining: 6m 13s
bestTest = 0.6833351218
bestIteration = 1479
Shrink model to first 1480 iterations.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: RuntimeWarning: invalid value encountered in true_divide

===============================================
random_state : 40
threshold 적용 전 f1 score : 0.683335121794184
threshold 적용 후 f1 score : 0.0
=========================================================================================

 80%|████████  | 4/5 [23:38<06:23, 383.39s/it]

Learning rate set to 0.027294
0:	learn: 0.6166053	test: 0.6159595	best: 0.6159595 (0)	total: 302ms	remaining: 15m 5s
100:	learn: 0.6423294	test: 0.6524485	best: 0.6524485 (100)	total: 27.6s	remaining: 13m 12s
200:	learn: 0.6531947	test: 0.6688472	best: 0.6689016 (199)	total: 55s	remaining: 12m 46s
300:	learn: 0.6580850	test: 0.6749515	best: 0.6752277 (292)	total: 1m 22s	remaining: 12m 17s
400:	learn: 0.6622514	test: 0.6783660	best: 0.6784870 (394)	total: 1m 50s	remaining: 11m 54s
500:	learn: 0.6644832	test: 0.6789570	best: 0.6792035 (456)	total: 2m 18s	remaining: 11m 29s
600:	learn: 0.6665756	test: 0.6791540	best: 0.6793886 (579)	total: 2m 45s	remaining: 11m 2s
700:	learn: 0.6688490	test: 0.6792088	best: 0.6793886 (579)	total: 3m 13s	remaining: 10m 34s
800:	learn: 0.6702192	test: 0.6791713	best: 0.6794989 (753)	total: 3m 39s	remaining: 10m 3s
900:	learn: 0.6715923	test: 0.6792172	best: 0.6794989 (753)	total: 4m 6s	remaining: 9m 33s
bestTest = 0.6794989306
bestIteration = 753
Shrink model to first 754 iterations.
===============================================
random_state : 50
threshold 적용 전 f1 score : 0.6794989306446685
threshold 적용 후 f1 score : 0.7121353216568228
=========================================================================================

100%|██████████| 5/5 [28:23<00:00, 340.65s/it]

## 결과 종합

In [31]:
score_df

             10        20        30        40        50
thr_전  0.679817  0.681926  0.682144  0.683335  0.679499
thr_후  0.711286  0.711370  0.712108  0.000000  0.712135

### 오류난 특성 제거

In [32]:
del_col = ['40']
pred_proba_df = pred_proba_df.drop(del_col, axis=1)
thr_df = thr_df.drop(del_col, axis=1)
score_df = score_df.drop(del_col, axis=1)

In [33]:
pred_proba_df['mean'] = pred_proba_df.mean(axis=1)
thr_df['mean'] = thr_df.mean(axis=1)
score_df['mean'] = score_df.mean(axis=1)

### threshold 값

In [34]:
thr_df

         10        20        30        50      mean
0  0.375394  0.378704  0.376413  0.378881  0.377348

## 자체평가

In [35]:
score_df

             10        20        30        50      mean
thr_전  0.679817  0.681926  0.682144  0.679499  0.680846
thr_후  0.711286  0.711370  0.712108  0.712135  0.711725

## test 예측

In [36]:
pred = pred_proba_df['mean'].tolist() >= thr_df['mean'].values
pred = pred.astype(int)
pred

array([1, 0, 1, ..., 1, 1, 1])

In [37]:
np.unique(pred, return_counts=True)

(array([0, 1]), array([10736, 35668]))

# 제출파일 불러오기

In [38]:
# sub = pd.read_csv('../data/sample_submission.csv')
sub = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/sample_submission.csv')
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      46404 non-null  int64
 1   target  46404 non-null  int64
dtypes: int64(2)
memory usage: 725.2 KB

# 제출파일 생성

In [39]:
sub['target'] = pred
sub['target'].value_counts()

1    35668
0    10736
Name: target, dtype: int64

In [40]:
file_ver = '6.0'
# sub.to_csv(f'sub_ver{file_ver}.csv', index=False)
sub.to_csv(f'/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/03_모델선정및개선/sub_ver{file_ver}.csv', index=False)

# 코드 마지막