# 라이브러리 로드 및 기본 세팅

In [1]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.0.4-cp37-none-manylinux1_x86_64.whl (76.1 MB)
     |████████████████████████████████| 76.1 MB 1.3 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-1.0.4

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from catboost import CatBoostClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, classification_report, precision_recall_curve

# 데이콘 점수

In [5]:
# 자체 점수 : 0.709086
# target 1 개수 : 45274
# 제출 점수(제출 날짜) : 0.6746597821(2022-01-22 11:58:26)

# 설정

In [6]:
# cat
# 총 제거된 특성(12개)
# min_max_scaler
# one_hot_max_size = 2
# random_state : 5(range(10, 60, 10))
# iterations = 1000
# early_stopping_rounds = 50
# 순서형 특성 설정(4개)
# probability_threshold 설정

In [7]:
# 순서형 특성 (4개)
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [8]:
# 기본 제거 특성(5개)
# 'id',
# 'contents_open_dt',
# 'contents_rn',
# 'person_prefer_f',
# 'person_prefer_g',

In [9]:
# target별 특성 분포 유사한 특성(2개)
# 'h_m_match_yn',
# 'h_s_match_yn',

In [10]:
# 특성 중요도 낮은 특성(5개)
# 'person_prefer_h_3_m',
# 'person_prefer_h_3',
# 'contents_attribute_i',
# 'person_prefer_h_3_l',
# 'person_prefer_h_2_m'

# 데이터 불러오기

In [11]:
# train = pd.read_csv('../data/df_train.csv')
# test = pd.read_csv('../data/df_test.csv')
train = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_train.csv')
test = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_test.csv')

# 데이터 확인

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 63 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      501951 non-null  int64
 1   d_l_match_yn            501951 non-null  bool
 2   d_m_match_yn            501951 non-null  bool
 3   d_s_match_yn            501951 non-null  bool
 4   h_l_match_yn            501951 non-null  bool
 5   h_m_match_yn            501951 non-null  bool
 6   h_s_match_yn            501951 non-null  bool
 7   person_attribute_a      501951 non-null  int64
 8   person_attribute_a_1    501951 non-null  int64
 9   person_attribute_b      501951 non-null  int64
 10  person_prefer_c         501951 non-null  int64
 11  person_prefer_d_1       501951 non-null  int64
 12  person_prefer_d_2       501951 non-null  int64
 13  person_prefer_d_3       501951 non-null  int64
 14  person_prefer_e         501951 non-null  int64
 15  person_prefer_f         501951 non-null  int64
 16  person_prefer_g         501951 non-null  int64
 17  person_prefer_h_1       501951 non-null  int64
 18  person_prefer_h_2       501951 non-null  int64
 19  person_prefer_h_3       501951 non-null  int64
 20  contents_attribute_i    501951 non-null  int64
 21  contents_attribute_a    501951 non-null  int64
 22  contents_attribute_j_1  501951 non-null  int64
 23  contents_attribute_j    501951 non-null  int64
 24  contents_attribute_c    501951 non-null  int64
 25  contents_attribute_k    501951 non-null  int64
 26  contents_attribute_l    501951 non-null  int64
 27  contents_attribute_d    501951 non-null  int64
 28  contents_attribute_m    501951 non-null  int64
 29  contents_attribute_e    501951 non-null  int64
 30  contents_attribute_h    501951 non-null  int64
 31  person_rn               501951 non-null  int64
 32  contents_rn             501951 non-null  int64
 33  contents_open_dt        501951 non-null  object
 34  target                  501951 non-null  int64
 35  person_prefer_d_1_n     501951 non-null  int64
 36  person_prefer_d_1_s     501951 non-null  int64
 37  person_prefer_d_1_m     501951 non-null  int64
 38  person_prefer_d_1_l     501951 non-null  int64
 39  person_prefer_d_2_n     501951 non-null  int64
 40  person_prefer_d_2_s     501951 non-null  int64
 41  person_prefer_d_2_m     501951 non-null  int64
 42  person_prefer_d_2_l     501951 non-null  int64
 43  person_prefer_d_3_n     501951 non-null  int64
 44  person_prefer_d_3_s     501951 non-null  int64
 45  person_prefer_d_3_m     501951 non-null  int64
 46  person_prefer_d_3_l     501951 non-null  int64
 47  contents_attribute_d_n  501951 non-null  int64
 48  contents_attribute_d_s  501951 non-null  int64
 49  contents_attribute_d_m  501951 non-null  int64
 50  contents_attribute_d_l  501951 non-null  int64
 51  person_prefer_h_1_m     501951 non-null  int64
 52  person_prefer_h_1_l     501951 non-null  int64
 53  person_prefer_h_2_m     501951 non-null  int64
 54  person_prefer_h_2_l     501951 non-null  int64
 55  person_prefer_h_3_m     501951 non-null  int64
 56  person_prefer_h_3_l     501951 non-null  int64
 57  contents_attribute_h_m  501951 non-null  int64
 58  contents_attribute_h_l  501951 non-null  int64
 59  contents_attribute_l_n  501951 non-null  int64
 60  contents_attribute_l_s  501951 non-null  int64
 61  contents_attribute_l_m  501951 non-null  int64
 62  contents_attribute_l_l  501951 non-null  int64
dtypes: bool(6), int64(56), object(1)
memory usage: 221.2+ MB

In [13]:
train.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1605                    2016
1   1         False  ...                    1605                    2016
2   2         False  ...                    1572                    2016
3   3         False  ...                    1605                    2016
4   4          True  ...                    1605                    2016

[5 rows x 63 columns]

In [14]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 62 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      46404 non-null  int64
 1   d_l_match_yn            46404 non-null  bool
 2   d_m_match_yn            46404 non-null  bool
 3   d_s_match_yn            46404 non-null  bool
 4   h_l_match_yn            46404 non-null  bool
 5   h_m_match_yn            46404 non-null  bool
 6   h_s_match_yn            46404 non-null  bool
 7   person_attribute_a      46404 non-null  int64
 8   person_attribute_a_1    46404 non-null  int64
 9   person_attribute_b      46404 non-null  int64
 10  person_prefer_c         46404 non-null  int64
 11  person_prefer_d_1       46404 non-null  int64
 12  person_prefer_d_2       46404 non-null  int64
 13  person_prefer_d_3       46404 non-null  int64
 14  person_prefer_e         46404 non-null  int64
 15  person_prefer_f         46404 non-null  int64
 16  person_prefer_g         46404 non-null  int64
 17  person_prefer_h_1       46404 non-null  int64
 18  person_prefer_h_2       46404 non-null  int64
 19  person_prefer_h_3       46404 non-null  int64
 20  contents_attribute_i    46404 non-null  int64
 21  contents_attribute_a    46404 non-null  int64
 22  contents_attribute_j_1  46404 non-null  int64
 23  contents_attribute_j    46404 non-null  int64
 24  contents_attribute_c    46404 non-null  int64
 25  contents_attribute_k    46404 non-null  int64
 26  contents_attribute_l    46404 non-null  int64
 27  contents_attribute_d    46404 non-null  int64
 28  contents_attribute_m    46404 non-null  int64
 29  contents_attribute_e    46404 non-null  int64
 30  contents_attribute_h    46404 non-null  int64
 31  person_rn               46404 non-null  int64
 32  contents_rn             46404 non-null  int64
 33  contents_open_dt        46404 non-null  object
 34  person_prefer_d_1_n     46404 non-null  int64
 35  person_prefer_d_1_s     46404 non-null  int64
 36  person_prefer_d_1_m     46404 non-null  int64
 37  person_prefer_d_1_l     46404 non-null  int64
 38  person_prefer_d_2_n     46404 non-null  int64
 39  person_prefer_d_2_s     46404 non-null  int64
 40  person_prefer_d_2_m     46404 non-null  int64
 41  person_prefer_d_2_l     46404 non-null  int64
 42  person_prefer_d_3_n     46404 non-null  int64
 43  person_prefer_d_3_s     46404 non-null  int64
 44  person_prefer_d_3_m     46404 non-null  int64
 45  person_prefer_d_3_l     46404 non-null  int64
 46  contents_attribute_d_n  46404 non-null  int64
 47  contents_attribute_d_s  46404 non-null  int64
 48  contents_attribute_d_m  46404 non-null  int64
 49  contents_attribute_d_l  46404 non-null  int64
 50  person_prefer_h_1_m     46404 non-null  int64
 51  person_prefer_h_1_l     46404 non-null  int64
 52  person_prefer_h_2_m     46404 non-null  int64
 53  person_prefer_h_2_l     46404 non-null  int64
 54  person_prefer_h_3_m     46404 non-null  int64
 55  person_prefer_h_3_l     46404 non-null  int64
 56  contents_attribute_h_m  46404 non-null  int64
 57  contents_attribute_h_l  46404 non-null  int64
 58  contents_attribute_l_n  46404 non-null  int64
 59  contents_attribute_l_s  46404 non-null  int64
 60  contents_attribute_l_m  46404 non-null  int64
 61  contents_attribute_l_l  46404 non-null  int64
dtypes: bool(6), int64(55), object(1)
memory usage: 20.1+ MB

In [15]:
test.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1021                    2010
1   1         False  ...                    1605                    2016
2   2          True  ...                    1810                    2020
3   3          True  ...                      99                    2006
4   4          True  ...                     954                    2009

[5 rows x 62 columns]

# 필요 데이터 추출

## 훈련에 의미가 적은 열 제거

In [16]:
# 제거된 특성(12개)
# 'id',
# 'contents_open_dt',
# 'contents_rn',
# 'person_prefer_f',
# 'person_prefer_g',
# 'h_m_match_yn',
# 'h_s_match_yn',
# 'person_prefer_h_3_m',
# 'person_prefer_h_3',
# 'contents_attribute_i',
# 'person_prefer_h_3_l',
# 'person_prefer_h_2_m'

In [17]:
# 삭제할 특성
pop_col = ['id','contents_open_dt','contents_rn','person_prefer_f','person_prefer_g',
           'h_m_match_yn','h_s_match_yn',
           'person_prefer_h_3_m','person_prefer_h_3',
           'contents_attribute_i','person_prefer_h_3_l',
           'person_prefer_h_2_m']
len(pop_col)

12

In [18]:
train = train.drop(pop_col, axis=1) 
test = test.drop(pop_col, axis=1)

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 51 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   d_l_match_yn            501951 non-null  bool
 1   d_m_match_yn            501951 non-null  bool
 2   d_s_match_yn            501951 non-null  bool
 3   h_l_match_yn            501951 non-null  bool
 4   person_attribute_a      501951 non-null  int64
 5   person_attribute_a_1    501951 non-null  int64
 6   person_attribute_b      501951 non-null  int64
 7   person_prefer_c         501951 non-null  int64
 8   person_prefer_d_1       501951 non-null  int64
 9   person_prefer_d_2       501951 non-null  int64
 10  person_prefer_d_3       501951 non-null  int64
 11  person_prefer_e         501951 non-null  int64
 12  person_prefer_h_1       501951 non-null  int64
 13  person_prefer_h_2       501951 non-null  int64
 14  contents_attribute_a    501951 non-null  int64
 15  contents_attribute_j_1  501951 non-null  int64
 16  contents_attribute_j    501951 non-null  int64
 17  contents_attribute_c    501951 non-null  int64
 18  contents_attribute_k    501951 non-null  int64
 19  contents_attribute_l    501951 non-null  int64
 20  contents_attribute_d    501951 non-null  int64
 21  contents_attribute_m    501951 non-null  int64
 22  contents_attribute_e    501951 non-null  int64
 23  contents_attribute_h    501951 non-null  int64
 24  person_rn               501951 non-null  int64
 25  target                  501951 non-null  int64
 26  person_prefer_d_1_n     501951 non-null  int64
 27  person_prefer_d_1_s     501951 non-null  int64
 28  person_prefer_d_1_m     501951 non-null  int64
 29  person_prefer_d_1_l     501951 non-null  int64
 30  person_prefer_d_2_n     501951 non-null  int64
 31  person_prefer_d_2_s     501951 non-null  int64
 32  person_prefer_d_2_m     501951 non-null  int64
 33  person_prefer_d_2_l     501951 non-null  int64
 34  person_prefer_d_3_n     501951 non-null  int64
 35  person_prefer_d_3_s     501951 non-null  int64
 36  person_prefer_d_3_m     501951 non-null  int64
 37  person_prefer_d_3_l     501951 non-null  int64
 38  contents_attribute_d_n  501951 non-null  int64
 39  contents_attribute_d_s  501951 non-null  int64
 40  contents_attribute_d_m  501951 non-null  int64
 41  contents_attribute_d_l  501951 non-null  int64
 42  person_prefer_h_1_m     501951 non-null  int64
 43  person_prefer_h_1_l     501951 non-null  int64
 44  person_prefer_h_2_l     501951 non-null  int64
 45  contents_attribute_h_m  501951 non-null  int64
 46  contents_attribute_h_l  501951 non-null  int64
 47  contents_attribute_l_n  501951 non-null  int64
 48  contents_attribute_l_s  501951 non-null  int64
 49  contents_attribute_l_m  501951 non-null  int64
 50  contents_attribute_l_l  501951 non-null  int64
dtypes: bool(4), int64(47)
memory usage: 181.9 MB

In [20]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 50 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   d_l_match_yn            46404 non-null  bool
 1   d_m_match_yn            46404 non-null  bool
 2   d_s_match_yn            46404 non-null  bool
 3   h_l_match_yn            46404 non-null  bool
 4   person_attribute_a      46404 non-null  int64
 5   person_attribute_a_1    46404 non-null  int64
 6   person_attribute_b      46404 non-null  int64
 7   person_prefer_c         46404 non-null  int64
 8   person_prefer_d_1       46404 non-null  int64
 9   person_prefer_d_2       46404 non-null  int64
 10  person_prefer_d_3       46404 non-null  int64
 11  person_prefer_e         46404 non-null  int64
 12  person_prefer_h_1       46404 non-null  int64
 13  person_prefer_h_2       46404 non-null  int64
 14  contents_attribute_a    46404 non-null  int64
 15  contents_attribute_j_1  46404 non-null  int64
 16  contents_attribute_j    46404 non-null  int64
 17  contents_attribute_c    46404 non-null  int64
 18  contents_attribute_k    46404 non-null  int64
 19  contents_attribute_l    46404 non-null  int64
 20  contents_attribute_d    46404 non-null  int64
 21  contents_attribute_m    46404 non-null  int64
 22  contents_attribute_e    46404 non-null  int64
 23  contents_attribute_h    46404 non-null  int64
 24  person_rn               46404 non-null  int64
 25  person_prefer_d_1_n     46404 non-null  int64
 26  person_prefer_d_1_s     46404 non-null  int64
 27  person_prefer_d_1_m     46404 non-null  int64
 28  person_prefer_d_1_l     46404 non-null  int64
 29  person_prefer_d_2_n     46404 non-null  int64
 30  person_prefer_d_2_s     46404 non-null  int64
 31  person_prefer_d_2_m     46404 non-null  int64
 32  person_prefer_d_2_l     46404 non-null  int64
 33  person_prefer_d_3_n     46404 non-null  int64
 34  person_prefer_d_3_s     46404 non-null  int64
 35  person_prefer_d_3_m     46404 non-null  int64
 36  person_prefer_d_3_l     46404 non-null  int64
 37  contents_attribute_d_n  46404 non-null  int64
 38  contents_attribute_d_s  46404 non-null  int64
 39  contents_attribute_d_m  46404 non-null  int64
 40  contents_attribute_d_l  46404 non-null  int64
 41  person_prefer_h_1_m     46404 non-null  int64
 42  person_prefer_h_1_l     46404 non-null  int64
 43  person_prefer_h_2_l     46404 non-null  int64
 44  contents_attribute_h_m  46404 non-null  int64
 45  contents_attribute_h_l  46404 non-null  int64
 46  contents_attribute_l_n  46404 non-null  int64
 47  contents_attribute_l_s  46404 non-null  int64
 48  contents_attribute_l_m  46404 non-null  int64
 49  contents_attribute_l_l  46404 non-null  int64
dtypes: bool(4), int64(46)
memory usage: 16.5 MB

## 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경

In [21]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
train = train.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
train = train.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
train.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0          True          True  ...                    1605                    2016
1         False         False  ...                    1605                    2016
2         False         False  ...                    1572                    2016
3         False         False  ...                    1605                    2016
4          True          True  ...                    1605                    2016

[5 rows x 51 columns]

In [22]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
test = test.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
test = test.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
test.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0          True         False  ...                    1021                    2010
1         False         False  ...                    1605                    2016
2          True         False  ...                    1810                    2020
3          True         False  ...                      99                    2006
4          True         False  ...                     954                    2009

[5 rows x 50 columns]

## 카테고리형 특성으로 지정할 특성

In [23]:
# 원본 데이터에서 순서형 특성
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [24]:
# 순서형 특성 수치형으로 지정 : ⭕
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [25]:
cat_f = train.columns.tolist()
numeric_cat = ['person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e']
for col in numeric_cat:
  cat_f.remove(col)
cat_f.remove('target')

In [26]:
# 51 - 5 = 46개
len(cat_f)

46

# train, test 셋 준비

In [27]:
train.shape

(501951, 51)

In [28]:
X = train.drop(['target'], axis=1)
X.shape

(501951, 50)

In [29]:
y = train[['target']]
y.shape

(501951, 1)

## MinMaxScaler

In [30]:
mmscaler = MinMaxScaler()
mms_X = mmscaler.fit_transform(X)

In [37]:
mms_X.shape

(501951, 50)

In [33]:
mms_X[:,13]

array([0.29903537, 0.31832797, 0.8392283 , ..., 0.40192926, 0.1511254 ,
       0.09324759])

In [39]:
mms_X_df = pd.DataFrame(mms_X, columns=X.columns)
mms_X_df.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0           1.0           1.0  ...                0.797217                     0.6
1           0.0           0.0  ...                0.797217                     0.6
2           0.0           0.0  ...                0.780815                     0.6
3           0.0           0.0  ...                0.797217                     0.6
4           1.0           1.0  ...                0.797217                     0.6

[5 rows x 50 columns]

In [43]:
mms_X_df = mms_X_df.astype(str)

In [44]:
mms_X_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 50 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   d_l_match_yn            501951 non-null  object
 1   d_m_match_yn            501951 non-null  object
 2   d_s_match_yn            501951 non-null  object
 3   h_l_match_yn            501951 non-null  object
 4   person_attribute_a      501951 non-null  object
 5   person_attribute_a_a    501951 non-null  object
 6   person_attribute_b      501951 non-null  object
 7   person_prefer_c         501951 non-null  object
 8   person_prefer_d_1       501951 non-null  object
 9   person_prefer_d_2       501951 non-null  object
 10  person_prefer_d_3       501951 non-null  object
 11  person_prefer_e         501951 non-null  object
 12  person_prefer_h_1       501951 non-null  object
 13  person_prefer_h_2       501951 non-null  object
 14  contents_attribute_a    501951 non-null  object
 15  contents_attribute_j_a  501951 non-null  object
 16  contents_attribute_j    501951 non-null  object
 17  contents_attribute_c    501951 non-null  object
 18  contents_attribute_k    501951 non-null  object
 19  contents_attribute_l    501951 non-null  object
 20  contents_attribute_d    501951 non-null  object
 21  contents_attribute_m    501951 non-null  object
 22  contents_attribute_e    501951 non-null  object
 23  contents_attribute_h    501951 non-null  object
 24  person_rn               501951 non-null  object
 25  person_prefer_d_1_n     501951 non-null  object
 26  person_prefer_d_1_s     501951 non-null  object
 27  person_prefer_d_1_m     501951 non-null  object
 28  person_prefer_d_1_l     501951 non-null  object
 29  person_prefer_d_2_n     501951 non-null  object
 30  person_prefer_d_2_s     501951 non-null  object
 31  person_prefer_d_2_m     501951 non-null  object
 32  person_prefer_d_2_l     501951 non-null  object
 33  person_prefer_d_3_n     501951 non-null  object
 34  person_prefer_d_3_s     501951 non-null  object
 35  person_prefer_d_3_m     501951 non-null  object
 36  person_prefer_d_3_l     501951 non-null  object
 37  contents_attribute_d_n  501951 non-null  object
 38  contents_attribute_d_s  501951 non-null  object
 39  contents_attribute_d_m  501951 non-null  object
 40  contents_attribute_d_l  501951 non-null  object
 41  person_prefer_h_1_m     501951 non-null  object
 42  person_prefer_h_1_l     501951 non-null  object
 43  person_prefer_h_2_l     501951 non-null  object
 44  contents_attribute_h_m  501951 non-null  object
 45  contents_attribute_h_l  501951 non-null  object
 46  contents_attribute_l_n  501951 non-null  object
 47  contents_attribute_l_s  501951 non-null  object
 48  contents_attribute_l_m  501951 non-null  object
 49  contents_attribute_l_l  501951 non-null  object
dtypes: object(50)
memory usage: 191.5+ MB

In [45]:
mms_X_df.head()

  d_l_match_yn d_m_match_yn  ... contents_attribute_l_m contents_attribute_l_l
0          1.0          1.0  ...     0.7972166998011928     0.6000000000000085
1          0.0          0.0  ...     0.7972166998011928     0.6000000000000085
2          0.0          0.0  ...     0.7808151093439363     0.6000000000000085
3          0.0          0.0  ...     0.7972166998011928     0.6000000000000085
4          1.0          1.0  ...     0.7972166998011928     0.6000000000000085

[5 rows x 50 columns]

In [34]:
mms_test = mmscaler.fit_transform(test)

In [41]:
mms_test_df = pd.DataFrame(mms_test, columns=test.columns)
mms_test_df.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0           1.0           0.0  ...                0.512305                0.315789
1           0.0           0.0  ...                0.805625                0.631579
2           1.0           0.0  ...                0.908589                0.842105
3           1.0           0.0  ...                0.049221                0.105263
4           1.0           0.0  ...                0.478654                0.263158

[5 rows x 50 columns]

In [46]:
mms_test_df = mms_test_df.astype(str)

# 모델 훈련/예측

In [47]:
score_df = pd.DataFrame(index=['thr_전', 'thr_후'])
pred_proba_df = pd.DataFrame()
thr_df = pd.DataFrame()

for random_state in tqdm(range(10, 60, 10)):
  temp_score_list =[]
  # 데이터 셋 나누기
  X_train, X_val, y_train, y_val = train_test_split(mms_X_df, y, random_state=random_state, shuffle=True, stratify=y)
  # 모델 생성
  cat = CatBoostClassifier(random_state=0, task_type='GPU', iterations=1000, early_stopping_rounds=50,
                        cat_features=cat_f, eval_metric='F1', one_hot_max_size=2)
  # 모델 훈련
  cat.fit(X_train, y_train, eval_set=(X_val, y_val), verbose=100)
  
  # 기본 평가
  val_pred = cat.predict(X_val)
  f1_score_raw = f1_score(y_val, val_pred)
  temp_score_list.append(f1_score_raw)

  # precision, recall, threshold 값 계산
  val_pred_proba = cat.predict_proba(X_val)
  precisions, recalls, thresholds = precision_recall_curve(y_val, val_pred_proba[:,1])
  threshold_boundary = thresholds.shape[0]

  # 최고 F1 값을 갖는 threshold 값 구하기
  pre = precisions[:threshold_boundary]
  re = recalls[:threshold_boundary]
  f1 = 2 * pre * re / (pre + re)
  optimal_idx = np.argmax(f1)
  optimal_threshold = thresholds[optimal_idx]
  thr_df[f'{random_state}'] = [optimal_threshold]

  # 구한 threshold값으로 제한해서 예측
  # 1의 예측값만 불러와도 되므로 [:,1]사용
  val_pred_th =  (val_pred_proba[:,1] >= optimal_threshold)
  val_pred_th = val_pred_th.astype(int)

  # threshold로 제한한 예측 평가
  f1_score_mod = f1_score(y_val, val_pred_th)
  temp_score_list.append(f1_score_mod)
  score_df[f'{random_state}'] = temp_score_list

  print("===============================================")
  print(f"random_state : {random_state}")
  print("threshold 적용 전 f1 score :", f1_score_raw)
  print("threshold 적용 후 f1 score :", f1_score_mod)
  print("=========================================================================================")
  print()

  # test 셋 예측
  pred_proba = cat.predict_proba(mms_test_df)
  pred_proba_df[f'{random_state}'] = pred_proba[:,1]

# about 11m

  0%|          | 0/5 [00:00<?, ?it/s]

Learning rate set to 0.043012
0:	learn: 0.6178795	test: 0.6270133	best: 0.6270133 (0)	total: 348ms	remaining: 5m 47s
100:	learn: 0.6488142	test: 0.6629757	best: 0.6631683 (98)	total: 32.4s	remaining: 4m 48s
200:	learn: 0.6589275	test: 0.6763521	best: 0.6763934 (198)	total: 1m 5s	remaining: 4m 18s
300:	learn: 0.6637678	test: 0.6791240	best: 0.6795223 (290)	total: 1m 37s	remaining: 3m 46s
400:	learn: 0.6670909	test: 0.6805284	best: 0.6805284 (400)	total: 2m 9s	remaining: 3m 13s
bestTest = 0.6808433434
bestIteration = 410
Shrink model to first 411 iterations.
===============================================
random_state : 10
threshold 적용 전 f1 score : 0.6808433434379324
threshold 적용 후 f1 score : 0.7101440998991111
=========================================================================================

 20%|██        | 1/5 [03:02<12:11, 182.75s/it]

Learning rate set to 0.043012
0:	learn: 0.6183910	test: 0.6191865	best: 0.6191865 (0)	total: 349ms	remaining: 5m 49s
100:	learn: 0.6485855	test: 0.6609577	best: 0.6609577 (100)	total: 32.1s	remaining: 4m 45s
200:	learn: 0.6598716	test: 0.6771290	best: 0.6772523 (193)	total: 1m 4s	remaining: 4m 15s
300:	learn: 0.6647198	test: 0.6807145	best: 0.6808479 (298)	total: 1m 36s	remaining: 3m 45s
400:	learn: 0.6680912	test: 0.6821081	best: 0.6822367 (394)	total: 2m 9s	remaining: 3m 13s
bestTest = 0.6822366978
bestIteration = 394
Shrink model to first 395 iterations.
===============================================
random_state : 20
threshold 적용 전 f1 score : 0.6822366977613351
threshold 적용 후 f1 score : 0.7097142710445922
=========================================================================================

 40%|████      | 2/5 [06:00<08:59, 179.89s/it]

Learning rate set to 0.043012
0:	learn: 0.6267055	test: 0.6306210	best: 0.6306210 (0)	total: 348ms	remaining: 5m 47s
100:	learn: 0.6488236	test: 0.6617282	best: 0.6617282 (100)	total: 32.6s	remaining: 4m 50s
200:	learn: 0.6587740	test: 0.6770641	best: 0.6770641 (200)	total: 1m 5s	remaining: 4m 18s
300:	learn: 0.6630392	test: 0.6799298	best: 0.6799298 (300)	total: 1m 37s	remaining: 3m 47s
400:	learn: 0.6665941	test: 0.6810892	best: 0.6815252 (385)	total: 2m 10s	remaining: 3m 15s
bestTest = 0.6815251649
bestIteration = 385
Shrink model to first 386 iterations.
===============================================
random_state : 30
threshold 적용 전 f1 score : 0.6815251649203041
threshold 적용 후 f1 score : 0.7092009243110169
=========================================================================================

 60%|██████    | 3/5 [08:56<05:56, 178.25s/it]

Learning rate set to 0.043012
0:	learn: 0.6014546	test: 0.6019652	best: 0.6019652 (0)	total: 348ms	remaining: 5m 48s
100:	learn: 0.6491838	test: 0.6647142	best: 0.6648192 (99)	total: 32s	remaining: 4m 44s
200:	learn: 0.6578757	test: 0.6773255	best: 0.6773255 (200)	total: 1m 4s	remaining: 4m 14s
300:	learn: 0.6627565	test: 0.6808895	best: 0.6812633 (289)	total: 1m 36s	remaining: 3m 44s
bestTest = 0.6812633211
bestIteration = 289
Shrink model to first 290 iterations.
===============================================
random_state : 40
threshold 적용 전 f1 score : 0.6812633210618098
threshold 적용 후 f1 score : 0.7067351865815871
=========================================================================================

 80%|████████  | 4/5 [11:19<02:44, 164.13s/it]

Learning rate set to 0.043012
0:	learn: 0.6203906	test: 0.6263513	best: 0.6263513 (0)	total: 353ms	remaining: 5m 52s
100:	learn: 0.6493087	test: 0.6630866	best: 0.6632034 (99)	total: 32.1s	remaining: 4m 45s
200:	learn: 0.6588583	test: 0.6773647	best: 0.6774653 (199)	total: 1m 4s	remaining: 4m 14s
300:	learn: 0.6633106	test: 0.6789820	best: 0.6791208 (295)	total: 1m 36s	remaining: 3m 43s
400:	learn: 0.6671982	test: 0.6797972	best: 0.6804773 (356)	total: 2m 9s	remaining: 3m 14s
bestTest = 0.6804773428
bestIteration = 356
Shrink model to first 357 iterations.
===============================================
random_state : 50
threshold 적용 전 f1 score : 0.6804773428017882
threshold 적용 후 f1 score : 0.7096340287295061
=========================================================================================

100%|██████████| 5/5 [14:04<00:00, 168.98s/it]

## 결과 종합

In [48]:
score_df

             10        20        30        40        50
thr_전  0.680843  0.682237  0.681525  0.681263  0.680477
thr_후  0.710144  0.709714  0.709201  0.706735  0.709634

### 오류난 특성 제거

In [ ]:
# del_col = ['40']
# pred_proba_df = pred_proba_df.drop(del_col, axis=1)
# thr_df = thr_df.drop(del_col, axis=1)
# score_df = score_df.drop(del_col, axis=1)

In [49]:
pred_proba_df['mean'] = pred_proba_df.mean(axis=1)
thr_df['mean'] = thr_df.mean(axis=1)
score_df['mean'] = score_df.mean(axis=1)

### threshold 값

In [50]:
thr_df

         10        20        30       40        50     mean
0  0.381403  0.391302  0.376105  0.39377  0.385471  0.38561

## 자체평가

In [51]:
score_df

             10        20        30        40        50      mean
thr_전  0.680843  0.682237  0.681525  0.681263  0.680477  0.681269
thr_후  0.710144  0.709714  0.709201  0.706735  0.709634  0.709086

## test 예측

In [52]:
pred = pred_proba_df['mean'].tolist() >= thr_df['mean'].values
pred = pred.astype(int)
pred

array([1, 1, 1, ..., 1, 1, 1])

In [53]:
np.unique(pred, return_counts=True)

(array([0, 1]), array([ 1130, 45274]))

# 제출파일 불러오기

In [54]:
# sub = pd.read_csv('../data/sample_submission.csv')
sub = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/sample_submission.csv')
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      46404 non-null  int64
 1   target  46404 non-null  int64
dtypes: int64(2)
memory usage: 725.2 KB

# 제출파일 생성

In [55]:
sub['target'] = pred
sub['target'].value_counts()

1    45274
0     1130
Name: target, dtype: int64

In [56]:
file_ver = '6.2'
# sub.to_csv(f'sub_ver{file_ver}.csv', index=False)
sub.to_csv(f'/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/03_모델선정및개선/sub_ver{file_ver}.csv', index=False)

# 코드 마지막