# 라이브러리 로드 및 기본 세팅

In [1]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.0.4-cp37-none-manylinux1_x86_64.whl (76.1 MB)
     |████████████████████████████████| 76.1 MB 1.3 MB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-1.0.4

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from catboost import CatBoostClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, classification_report, precision_recall_curve

# 데이콘 점수

In [4]:
# Best_score
  # target 1 개수 : 36081
  # self_score : 0.708871
  # date : 2022-01-13 11:08:38
  # score : 0.701834167

In [5]:
# Submit_score
  # target 1 개수 : 36115
  # self_score : 0.708989
  # date : 2022-01-25 11:22:47
  # score : 0.7007424617

# 설정

In [6]:
# cat
# 총 특성 개수 : 62개(타겟 특성 제외)
# 총 제거된 특성 개수 : 7
# 활용 특성 : 55
# one_hot_max_size = 5
# random_state : 5(range(10, 60, 10))
# iterations = 1000
# early_stopping_rounds = 50
# 순서형 특성 설정(4개)
# probability_threshold 설정

In [7]:
# 순서형 특성 (4개)
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [8]:
# 기본 제거 특성(5개)
# 'id',
# 'contents_open_dt',
# 'person_prefer_f',
# 'person_prefer_g',
# 'contents_rn',

In [9]:
# 특성 중요도 낮은 특성(2개)
# 'h_m_match_yn',
# 'h_s_match_yn'

# 데이터 불러오기

In [10]:
# train = pd.read_csv('../data/df_train.csv')
# test = pd.read_csv('../data/df_test.csv')
train = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_train.csv')
test = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/df_test.csv')

# 데이터 확인

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 63 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      501951 non-null  int64
 1   d_l_match_yn            501951 non-null  bool
 2   d_m_match_yn            501951 non-null  bool
 3   d_s_match_yn            501951 non-null  bool
 4   h_l_match_yn            501951 non-null  bool
 5   h_m_match_yn            501951 non-null  bool
 6   h_s_match_yn            501951 non-null  bool
 7   person_attribute_a      501951 non-null  int64
 8   person_attribute_a_1    501951 non-null  int64
 9   person_attribute_b      501951 non-null  int64
 10  person_prefer_c         501951 non-null  int64
 11  person_prefer_d_1       501951 non-null  int64
 12  person_prefer_d_2       501951 non-null  int64
 13  person_prefer_d_3       501951 non-null  int64
 14  person_prefer_e         501951 non-null  int64
 15  person_prefer_f         501951 non-null  int64
 16  person_prefer_g         501951 non-null  int64
 17  person_prefer_h_1       501951 non-null  int64
 18  person_prefer_h_2       501951 non-null  int64
 19  person_prefer_h_3       501951 non-null  int64
 20  contents_attribute_i    501951 non-null  int64
 21  contents_attribute_a    501951 non-null  int64
 22  contents_attribute_j_1  501951 non-null  int64
 23  contents_attribute_j    501951 non-null  int64
 24  contents_attribute_c    501951 non-null  int64
 25  contents_attribute_k    501951 non-null  int64
 26  contents_attribute_l    501951 non-null  int64
 27  contents_attribute_d    501951 non-null  int64
 28  contents_attribute_m    501951 non-null  int64
 29  contents_attribute_e    501951 non-null  int64
 30  contents_attribute_h    501951 non-null  int64
 31  person_rn               501951 non-null  int64
 32  contents_rn             501951 non-null  int64
 33  contents_open_dt        501951 non-null  object
 34  target                  501951 non-null  int64
 35  person_prefer_d_1_n     501951 non-null  int64
 36  person_prefer_d_1_s     501951 non-null  int64
 37  person_prefer_d_1_m     501951 non-null  int64
 38  person_prefer_d_1_l     501951 non-null  int64
 39  person_prefer_d_2_n     501951 non-null  int64
 40  person_prefer_d_2_s     501951 non-null  int64
 41  person_prefer_d_2_m     501951 non-null  int64
 42  person_prefer_d_2_l     501951 non-null  int64
 43  person_prefer_d_3_n     501951 non-null  int64
 44  person_prefer_d_3_s     501951 non-null  int64
 45  person_prefer_d_3_m     501951 non-null  int64
 46  person_prefer_d_3_l     501951 non-null  int64
 47  contents_attribute_d_n  501951 non-null  int64
 48  contents_attribute_d_s  501951 non-null  int64
 49  contents_attribute_d_m  501951 non-null  int64
 50  contents_attribute_d_l  501951 non-null  int64
 51  person_prefer_h_1_m     501951 non-null  int64
 52  person_prefer_h_1_l     501951 non-null  int64
 53  person_prefer_h_2_m     501951 non-null  int64
 54  person_prefer_h_2_l     501951 non-null  int64
 55  person_prefer_h_3_m     501951 non-null  int64
 56  person_prefer_h_3_l     501951 non-null  int64
 57  contents_attribute_h_m  501951 non-null  int64
 58  contents_attribute_h_l  501951 non-null  int64
 59  contents_attribute_l_n  501951 non-null  int64
 60  contents_attribute_l_s  501951 non-null  int64
 61  contents_attribute_l_m  501951 non-null  int64
 62  contents_attribute_l_l  501951 non-null  int64
dtypes: bool(6), int64(56), object(1)
memory usage: 221.2+ MB

In [12]:
train.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1605                    2016
1   1         False  ...                    1605                    2016
2   2         False  ...                    1572                    2016
3   3         False  ...                    1605                    2016
4   4          True  ...                    1605                    2016

[5 rows x 63 columns]

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 62 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      46404 non-null  int64
 1   d_l_match_yn            46404 non-null  bool
 2   d_m_match_yn            46404 non-null  bool
 3   d_s_match_yn            46404 non-null  bool
 4   h_l_match_yn            46404 non-null  bool
 5   h_m_match_yn            46404 non-null  bool
 6   h_s_match_yn            46404 non-null  bool
 7   person_attribute_a      46404 non-null  int64
 8   person_attribute_a_1    46404 non-null  int64
 9   person_attribute_b      46404 non-null  int64
 10  person_prefer_c         46404 non-null  int64
 11  person_prefer_d_1       46404 non-null  int64
 12  person_prefer_d_2       46404 non-null  int64
 13  person_prefer_d_3       46404 non-null  int64
 14  person_prefer_e         46404 non-null  int64
 15  person_prefer_f         46404 non-null  int64
 16  person_prefer_g         46404 non-null  int64
 17  person_prefer_h_1       46404 non-null  int64
 18  person_prefer_h_2       46404 non-null  int64
 19  person_prefer_h_3       46404 non-null  int64
 20  contents_attribute_i    46404 non-null  int64
 21  contents_attribute_a    46404 non-null  int64
 22  contents_attribute_j_1  46404 non-null  int64
 23  contents_attribute_j    46404 non-null  int64
 24  contents_attribute_c    46404 non-null  int64
 25  contents_attribute_k    46404 non-null  int64
 26  contents_attribute_l    46404 non-null  int64
 27  contents_attribute_d    46404 non-null  int64
 28  contents_attribute_m    46404 non-null  int64
 29  contents_attribute_e    46404 non-null  int64
 30  contents_attribute_h    46404 non-null  int64
 31  person_rn               46404 non-null  int64
 32  contents_rn             46404 non-null  int64
 33  contents_open_dt        46404 non-null  object
 34  person_prefer_d_1_n     46404 non-null  int64
 35  person_prefer_d_1_s     46404 non-null  int64
 36  person_prefer_d_1_m     46404 non-null  int64
 37  person_prefer_d_1_l     46404 non-null  int64
 38  person_prefer_d_2_n     46404 non-null  int64
 39  person_prefer_d_2_s     46404 non-null  int64
 40  person_prefer_d_2_m     46404 non-null  int64
 41  person_prefer_d_2_l     46404 non-null  int64
 42  person_prefer_d_3_n     46404 non-null  int64
 43  person_prefer_d_3_s     46404 non-null  int64
 44  person_prefer_d_3_m     46404 non-null  int64
 45  person_prefer_d_3_l     46404 non-null  int64
 46  contents_attribute_d_n  46404 non-null  int64
 47  contents_attribute_d_s  46404 non-null  int64
 48  contents_attribute_d_m  46404 non-null  int64
 49  contents_attribute_d_l  46404 non-null  int64
 50  person_prefer_h_1_m     46404 non-null  int64
 51  person_prefer_h_1_l     46404 non-null  int64
 52  person_prefer_h_2_m     46404 non-null  int64
 53  person_prefer_h_2_l     46404 non-null  int64
 54  person_prefer_h_3_m     46404 non-null  int64
 55  person_prefer_h_3_l     46404 non-null  int64
 56  contents_attribute_h_m  46404 non-null  int64
 57  contents_attribute_h_l  46404 non-null  int64
 58  contents_attribute_l_n  46404 non-null  int64
 59  contents_attribute_l_s  46404 non-null  int64
 60  contents_attribute_l_m  46404 non-null  int64
 61  contents_attribute_l_l  46404 non-null  int64
dtypes: bool(6), int64(55), object(1)
memory usage: 20.1+ MB

In [14]:
test.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1021                    2010
1   1         False  ...                    1605                    2016
2   2          True  ...                    1810                    2020
3   3          True  ...                      99                    2006
4   4          True  ...                     954                    2009

[5 rows x 62 columns]

# 필요 데이터 추출

## 훈련에 의미가 적은 열 제거

In [15]:
# 제거된 특성(15개)
# 'id',
# 'contents_open_dt',
# 'person_prefer_f',
# 'person_prefer_g',
# 'contents_rn',
# 'h_m_match_yn',
# 'h_s_match_yn'

In [16]:
# 삭제할 특성
pop_col = ['id','contents_open_dt','contents_rn','person_prefer_f','person_prefer_g',
           'person_prefer_h_3_m','person_prefer_h_3',
           'h_m_match_yn', 'h_s_match_yn']
len(pop_col)

9

In [17]:
train = train.drop(pop_col, axis=1) 
test = test.drop(pop_col, axis=1)

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 54 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   d_l_match_yn            501951 non-null  bool
 1   d_m_match_yn            501951 non-null  bool
 2   d_s_match_yn            501951 non-null  bool
 3   h_l_match_yn            501951 non-null  bool
 4   person_attribute_a      501951 non-null  int64
 5   person_attribute_a_1    501951 non-null  int64
 6   person_attribute_b      501951 non-null  int64
 7   person_prefer_c         501951 non-null  int64
 8   person_prefer_d_1       501951 non-null  int64
 9   person_prefer_d_2       501951 non-null  int64
 10  person_prefer_d_3       501951 non-null  int64
 11  person_prefer_e         501951 non-null  int64
 12  person_prefer_h_1       501951 non-null  int64
 13  person_prefer_h_2       501951 non-null  int64
 14  contents_attribute_i    501951 non-null  int64
 15  contents_attribute_a    501951 non-null  int64
 16  contents_attribute_j_1  501951 non-null  int64
 17  contents_attribute_j    501951 non-null  int64
 18  contents_attribute_c    501951 non-null  int64
 19  contents_attribute_k    501951 non-null  int64
 20  contents_attribute_l    501951 non-null  int64
 21  contents_attribute_d    501951 non-null  int64
 22  contents_attribute_m    501951 non-null  int64
 23  contents_attribute_e    501951 non-null  int64
 24  contents_attribute_h    501951 non-null  int64
 25  person_rn               501951 non-null  int64
 26  target                  501951 non-null  int64
 27  person_prefer_d_1_n     501951 non-null  int64
 28  person_prefer_d_1_s     501951 non-null  int64
 29  person_prefer_d_1_m     501951 non-null  int64
 30  person_prefer_d_1_l     501951 non-null  int64
 31  person_prefer_d_2_n     501951 non-null  int64
 32  person_prefer_d_2_s     501951 non-null  int64
 33  person_prefer_d_2_m     501951 non-null  int64
 34  person_prefer_d_2_l     501951 non-null  int64
 35  person_prefer_d_3_n     501951 non-null  int64
 36  person_prefer_d_3_s     501951 non-null  int64
 37  person_prefer_d_3_m     501951 non-null  int64
 38  person_prefer_d_3_l     501951 non-null  int64
 39  contents_attribute_d_n  501951 non-null  int64
 40  contents_attribute_d_s  501951 non-null  int64
 41  contents_attribute_d_m  501951 non-null  int64
 42  contents_attribute_d_l  501951 non-null  int64
 43  person_prefer_h_1_m     501951 non-null  int64
 44  person_prefer_h_1_l     501951 non-null  int64
 45  person_prefer_h_2_m     501951 non-null  int64
 46  person_prefer_h_2_l     501951 non-null  int64
 47  person_prefer_h_3_l     501951 non-null  int64
 48  contents_attribute_h_m  501951 non-null  int64
 49  contents_attribute_h_l  501951 non-null  int64
 50  contents_attribute_l_n  501951 non-null  int64
 51  contents_attribute_l_s  501951 non-null  int64
 52  contents_attribute_l_m  501951 non-null  int64
 53  contents_attribute_l_l  501951 non-null  int64
dtypes: bool(4), int64(50)
memory usage: 193.4 MB

In [19]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 53 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   d_l_match_yn            46404 non-null  bool
 1   d_m_match_yn            46404 non-null  bool
 2   d_s_match_yn            46404 non-null  bool
 3   h_l_match_yn            46404 non-null  bool
 4   person_attribute_a      46404 non-null  int64
 5   person_attribute_a_1    46404 non-null  int64
 6   person_attribute_b      46404 non-null  int64
 7   person_prefer_c         46404 non-null  int64
 8   person_prefer_d_1       46404 non-null  int64
 9   person_prefer_d_2       46404 non-null  int64
 10  person_prefer_d_3       46404 non-null  int64
 11  person_prefer_e         46404 non-null  int64
 12  person_prefer_h_1       46404 non-null  int64
 13  person_prefer_h_2       46404 non-null  int64
 14  contents_attribute_i    46404 non-null  int64
 15  contents_attribute_a    46404 non-null  int64
 16  contents_attribute_j_1  46404 non-null  int64
 17  contents_attribute_j    46404 non-null  int64
 18  contents_attribute_c    46404 non-null  int64
 19  contents_attribute_k    46404 non-null  int64
 20  contents_attribute_l    46404 non-null  int64
 21  contents_attribute_d    46404 non-null  int64
 22  contents_attribute_m    46404 non-null  int64
 23  contents_attribute_e    46404 non-null  int64
 24  contents_attribute_h    46404 non-null  int64
 25  person_rn               46404 non-null  int64
 26  person_prefer_d_1_n     46404 non-null  int64
 27  person_prefer_d_1_s     46404 non-null  int64
 28  person_prefer_d_1_m     46404 non-null  int64
 29  person_prefer_d_1_l     46404 non-null  int64
 30  person_prefer_d_2_n     46404 non-null  int64
 31  person_prefer_d_2_s     46404 non-null  int64
 32  person_prefer_d_2_m     46404 non-null  int64
 33  person_prefer_d_2_l     46404 non-null  int64
 34  person_prefer_d_3_n     46404 non-null  int64
 35  person_prefer_d_3_s     46404 non-null  int64
 36  person_prefer_d_3_m     46404 non-null  int64
 37  person_prefer_d_3_l     46404 non-null  int64
 38  contents_attribute_d_n  46404 non-null  int64
 39  contents_attribute_d_s  46404 non-null  int64
 40  contents_attribute_d_m  46404 non-null  int64
 41  contents_attribute_d_l  46404 non-null  int64
 42  person_prefer_h_1_m     46404 non-null  int64
 43  person_prefer_h_1_l     46404 non-null  int64
 44  person_prefer_h_2_m     46404 non-null  int64
 45  person_prefer_h_2_l     46404 non-null  int64
 46  person_prefer_h_3_l     46404 non-null  int64
 47  contents_attribute_h_m  46404 non-null  int64
 48  contents_attribute_h_l  46404 non-null  int64
 49  contents_attribute_l_n  46404 non-null  int64
 50  contents_attribute_l_s  46404 non-null  int64
 51  contents_attribute_l_m  46404 non-null  int64
 52  contents_attribute_l_l  46404 non-null  int64
dtypes: bool(4), int64(49)
memory usage: 17.5 MB

## 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경

In [20]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
train = train.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
train = train.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
train.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0          True          True  ...                    1605                    2016
1         False         False  ...                    1605                    2016
2         False         False  ...                    1572                    2016
3         False         False  ...                    1605                    2016
4          True          True  ...                    1605                    2016

[5 rows x 54 columns]

In [21]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
test = test.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
test = test.rename(columns={'contents_attribute_j_1':'contents_attribute_j_a'})
test.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0          True         False  ...                    1021                    2010
1         False         False  ...                    1605                    2016
2          True         False  ...                    1810                    2020
3          True         False  ...                      99                    2006
4          True         False  ...                     954                    2009

[5 rows x 53 columns]

## 카테고리형 특성으로 지정할 특성

In [22]:
# 원본 데이터에서 순서형 특성
# 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [23]:
cat_f = train.columns.tolist()
numeric_cat = ['person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e']
for col in numeric_cat:
  cat_f.remove(col)
cat_f.remove('target')

In [24]:
# 카데고리형 지정 특성 개수
# 63 - 7 - 5 = 51개
len(cat_f)

49

# train, test 셋 준비

In [25]:
train.shape

(501951, 54)

In [26]:
X = train.drop(['target'], axis=1)
X.shape

(501951, 53)

In [27]:
y = train[['target']]
y.shape

(501951, 1)

# 모델 훈련/예측

In [28]:
score_df = pd.DataFrame(index=['thr_전', 'thr_후'])
pred_proba_df = pd.DataFrame()
thr_df = pd.DataFrame()

for random_state in tqdm(range(10, 60, 10)):
  temp_score_list =[]
  # 데이터 셋 나누기
  X_train, X_val, y_train, y_val = train_test_split(X, y, random_state=random_state, shuffle=True, stratify=y)
  # 모델 생성
  cat = CatBoostClassifier(random_state=42, task_type='GPU', iterations=1000, early_stopping_rounds=50,
                        cat_features=cat_f, eval_metric='F1', one_hot_max_size=5)
  # 모델 훈련
  cat.fit(X_train, y_train, eval_set=(X_val, y_val), verbose=100)
  
  # 기본 평가
  val_pred = cat.predict(X_val)
  f1_score_raw = f1_score(y_val, val_pred)
  temp_score_list.append(f1_score_raw)

  # precision, recall, threshold 값 계산
  val_pred_proba = cat.predict_proba(X_val)
  precisions, recalls, thresholds = precision_recall_curve(y_val, val_pred_proba[:,1])
  threshold_boundary = thresholds.shape[0]

  # 최고 F1 값을 갖는 threshold 값 구하기
  pre = precisions[:threshold_boundary]
  re = recalls[:threshold_boundary]
  f1 = 2 * pre * re / (pre + re)
  optimal_idx = np.argmax(f1)
  optimal_threshold = thresholds[optimal_idx]
  thr_df[f'{random_state}'] = [optimal_threshold]

  # 구한 threshold값으로 제한해서 예측
  # 1의 예측값만 불러와도 되므로 [:,1]사용
  val_pred_th =  (val_pred_proba[:,1] >= optimal_threshold)
  val_pred_th = val_pred_th.astype(int)

  # threshold로 제한한 예측 평가
  f1_score_mod = f1_score(y_val, val_pred_th)
  temp_score_list.append(f1_score_mod)
  score_df[f'{random_state}'] = temp_score_list

  print("----------------------------------------------")
  print(f"random_state : {random_state}")
  print("threshold 적용 전 f1 score :", f1_score_raw)
  print("threshold 적용 후 f1 score :", f1_score_mod)
  print("=========================================================================================")
  print()

  # test 셋 예측
  pred_proba = cat.predict_proba(test)
  pred_proba_df[f'{random_state}'] = pred_proba[:,1]

  0%|          | 0/5 [00:00<?, ?it/s]

Learning rate set to 0.043012
0:	learn: 0.6245429	test: 0.6289481	best: 0.6289481 (0)	total: 353ms	remaining: 5m 52s
100:	learn: 0.6494185	test: 0.6617053	best: 0.6619952 (99)	total: 27.1s	remaining: 4m
200:	learn: 0.6587440	test: 0.6723412	best: 0.6723659 (198)	total: 54s	remaining: 3m 34s
300:	learn: 0.6635238	test: 0.6754343	best: 0.6754343 (300)	total: 1m 21s	remaining: 3m 8s
400:	learn: 0.6676523	test: 0.6772575	best: 0.6772575 (400)	total: 1m 48s	remaining: 2m 42s
bestTest = 0.677818648
bestIteration = 421
Shrink model to first 422 iterations.
----------------------------------------------
random_state : 10
threshold 적용 전 f1 score : 0.6778186480257635
threshold 적용 후 f1 score : 0.7100690810131882
=========================================================================================

 20%|██        | 1/5 [02:57<11:48, 177.13s/it]

Learning rate set to 0.043012
0:	learn: 0.6324354	test: 0.6310756	best: 0.6310756 (0)	total: 289ms	remaining: 4m 48s
100:	learn: 0.6502264	test: 0.6631875	best: 0.6631875 (100)	total: 26.9s	remaining: 3m 59s
200:	learn: 0.6600914	test: 0.6748849	best: 0.6751362 (193)	total: 54.3s	remaining: 3m 35s
300:	learn: 0.6649416	test: 0.6787948	best: 0.6787948 (300)	total: 1m 21s	remaining: 3m 9s
bestTest = 0.6802554325
bestIteration = 344
Shrink model to first 345 iterations.
----------------------------------------------
random_state : 20
threshold 적용 전 f1 score : 0.6802554324798742
threshold 적용 후 f1 score : 0.7088037829841576
=========================================================================================

 40%|████      | 2/5 [05:18<07:48, 156.12s/it]

Learning rate set to 0.043012
0:	learn: 0.6286935	test: 0.6326145	best: 0.6326145 (0)	total: 228ms	remaining: 3m 47s
100:	learn: 0.6484647	test: 0.6606028	best: 0.6606028 (100)	total: 26.5s	remaining: 3m 55s
200:	learn: 0.6584715	test: 0.6771944	best: 0.6772666 (186)	total: 53.4s	remaining: 3m 32s
300:	learn: 0.6638395	test: 0.6789285	best: 0.6790330 (279)	total: 1m 21s	remaining: 3m 8s
400:	learn: 0.6677899	test: 0.6794048	best: 0.6800593 (351)	total: 1m 47s	remaining: 2m 40s
bestTest = 0.6800592887
bestIteration = 351
Shrink model to first 352 iterations.
----------------------------------------------
random_state : 30
threshold 적용 전 f1 score : 0.680059288686244
threshold 적용 후 f1 score : 0.7083775185577943
=========================================================================================

 60%|██████    | 3/5 [07:40<04:59, 149.56s/it]

Learning rate set to 0.043012
0:	learn: 0.6189960	test: 0.6224469	best: 0.6224469 (0)	total: 297ms	remaining: 4m 57s
100:	learn: 0.6490176	test: 0.6639546	best: 0.6639546 (100)	total: 26.7s	remaining: 3m 57s
200:	learn: 0.6584326	test: 0.6764561	best: 0.6764561 (200)	total: 53.8s	remaining: 3m 33s
300:	learn: 0.6634353	test: 0.6798357	best: 0.6801321 (294)	total: 1m 20s	remaining: 3m 7s
bestTest = 0.6808258703
bestIteration = 313
Shrink model to first 314 iterations.
----------------------------------------------
random_state : 40
threshold 적용 전 f1 score : 0.6808258702739162
threshold 적용 후 f1 score : 0.7078728129292308
=========================================================================================

 80%|████████  | 4/5 [09:51<02:22, 142.35s/it]

Learning rate set to 0.043012
0:	learn: 0.6051035	test: 0.6070359	best: 0.6070359 (0)	total: 410ms	remaining: 6m 49s
100:	learn: 0.6489353	test: 0.6628830	best: 0.6628830 (100)	total: 26.7s	remaining: 3m 57s
200:	learn: 0.6580034	test: 0.6757434	best: 0.6757434 (200)	total: 53.9s	remaining: 3m 34s
300:	learn: 0.6633660	test: 0.6793005	best: 0.6794792 (299)	total: 1m 21s	remaining: 3m 8s
bestTest = 0.6800913118
bestIteration = 347
Shrink model to first 348 iterations.
----------------------------------------------
random_state : 50
threshold 적용 전 f1 score : 0.6800913117752883
threshold 적용 후 f1 score : 0.7098198054536756
=========================================================================================

100%|██████████| 5/5 [12:13<00:00, 146.65s/it]

## 결과 종합

In [29]:
score_df

             10        20        30        40        50
thr_전  0.677819  0.680255  0.680059  0.680826  0.680091
thr_후  0.710069  0.708804  0.708378  0.707873  0.709820

### 오류난 특성 제거

In [ ]:
# del_col = ['40']
# pred_proba_df = pred_proba_df.drop(del_col, axis=1)
# thr_df = thr_df.drop(del_col, axis=1)
# score_df = score_df.drop(del_col, axis=1)

In [30]:
pred_proba_df['mean'] = pred_proba_df.mean(axis=1)
thr_df['mean'] = thr_df.mean(axis=1)
score_df['mean'] = score_df.mean(axis=1)

### threshold 값

In [31]:
thr_df

         10        20        30        40        50      mean
0  0.375026  0.379231  0.378773  0.400306  0.389708  0.384609

## 자체평가

In [32]:
score_df

             10        20        30        40        50      mean
thr_전  0.677819  0.680255  0.680059  0.680826  0.680091  0.679810
thr_후  0.710069  0.708804  0.708378  0.707873  0.709820  0.708989

## test 예측

In [33]:
pred = pred_proba_df['mean'].tolist() >= thr_df['mean'].values
pred = pred.astype(int)
pred

array([1, 0, 1, ..., 1, 1, 1])

In [34]:
np.unique(pred, return_counts=True)

(array([0, 1]), array([10289, 36115]))

# 제출파일 불러오기

In [35]:
# sub = pd.read_csv('../data/sample_submission.csv')
sub = pd.read_csv('/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/data/sample_submission.csv')
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      46404 non-null  int64
 1   target  46404 non-null  int64
dtypes: int64(2)
memory usage: 725.2 KB

# 제출파일 생성

In [36]:
sub['target'] = pred
sub['target'].value_counts()

1    36115
0    10289
Name: target, dtype: int64

In [37]:
file_ver = '6.6'
# sub.to_csv(f'sub_ver{file_ver}.csv', index=False)
sub.to_csv(f'/content/drive/MyDrive/GitHub/Dacon/TP2(잡케어)/03_모델선정및개선/sub_ver{file_ver}.csv', index=False)

# 코드 마지막