In [23]:
import pandas as pd
from tqdm import tqdm

In [44]:
end = pd.read_csv('20211101_05_end.csv')
end

,Day,005930,000660,035420,035720,207940,005935,051910,006400,005380,...,078020,102710,314130,035890,032620,220630,064260,287410,110790,099320
0,2021-11-01,69900,106500,408500,125500,874000,65200,832000,723000,208000,...,9030,28950,36600,1845,8050,4930,8970,7480,41600,50300
1,2021-11-02,71500,107500,410000,128000,874000,66200,831000,731000,210000,...,9060,29150,38000,1875,8090,4965,9050,7430,41650,49950
2,2021-11-03,70400,105500,402500,124500,874000,66200,784000,732000,208500,...,9040,29000,38650,1830,7900,4980,9080,7110,42000,48850
3,2021-11-04,70600,106000,411500,130000,865000,66600,790000,751000,214000,...,9020,28750,39750,1815,7870,4975,8100,6990,42100,47350
4,2021-11-05,70200,107000,410500,128500,864000,66300,786000,755000,215000,...,8940,28650,38400,1800,7670,5010,8480,6780,41850,45550

In [45]:
pred = pd.read_csv('제출파일/sub03_pycaret02.csv')

In [46]:
pred

,Day,000060,000080,000100,000120,000150,000240,000250,000270,000660,...,330860,336260,336370,347860,348150,348210,352820,357780,363280,950130
0,2021-11-01,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002,...,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002
1,2021-11-02,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853,...,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853
2,2021-11-03,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246,...,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246
3,2021-11-04,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822,...,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822
4,2021-11-05,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882,...,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882
5,2021-11-29,88042.621081,88042.621081,88042.621081,88042.621081,88042.621081,88042.621081,88042.621081,88042.621081,88042.621081,...,88042.621081,88042.621081,88042.621081,88042.621081,88042.621081,88042.621081,88042.621081,88042.621081,88042.621081,88042.621081
6,2021-11-30,88905.654541,88905.654541,88905.654541,88905.654541,88905.654541,88905.654541,88905.654541,88905.654541,88905.654541,...,88905.654541,88905.654541,88905.654541,88905.654541,88905.654541,88905.654541,88905.654541,88905.654541,88905.654541,88905.654541
7,2021-12-01,88090.483162,88090.483162,88090.483162,88090.483162,88090.483162,88090.483162,88090.483162,88090.483162,88090.483162,...,88090.483162,88090.483162,88090.483162,88090.483162,88090.483162,88090.483162,88090.483162,88090.483162,88090.483162,88090.483162
8,2021-12-02,88206.306773,88206.306773,88206.306773,88206.306773,88206.306773,88206.306773,88206.306773,88206.306773,88206.306773,...,88206.306773,88206.306773,88206.306773,88206.306773,88206.306773,88206.306773,88206.306773,88206.306773,88206.306773,88206.306773
9,2021-12-03,88220.199378,88220.199378,88220.199378,88220.199378,88220.199378,88220.199378,88220.199378,88220.199378,88220.199378,...,88220.199378,88220.199378,88220.199378,88220.199378,88220.199378,88220.199378,88220.199378,88220.199378,88220.199378,88220.199378

In [47]:
pred1 = pred.loc[:4]
pred1

,Day,000060,000080,000100,000120,000150,000240,000250,000270,000660,...,330860,336260,336370,347860,348150,348210,352820,357780,363280,950130
0,2021-11-01,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002,...,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002,88938.665002
1,2021-11-02,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853,...,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853,87979.971853
2,2021-11-03,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246,...,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246,88540.092246
3,2021-11-04,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822,...,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822,86817.581822
4,2021-11-05,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882,...,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882,87605.555882

In [48]:
end.columns.values[1]

'005930'

In [49]:
end.columns.values[-1]

'099320'

In [50]:
for code in end.columns.values[1:2]:
    real = end[code]
    p = pred1[code]
print(real)
print(p)

0    69900
1    71500
2    70400
3    70600
4    70200
Name: 005930, dtype: int64
0    88938.665002
1    87979.971853
2    88540.092246
3    86817.581822
4    87605.555882
Name: 005930, dtype: float64

In [51]:
len(p)

5

In [52]:
(real- p) ** 2

0    3.624708e+08
1    2.715895e+08
2    3.290629e+08
3    2.630100e+08
4    3.029534e+08
Name: 005930, dtype: float64

In [14]:
for code in end.columns.values[1:2]:
    real = end[code]
    p = pred1[code]

    # R2
    real_mean = real.mean()
    upper = ( (real - p) ** 2 ).sum()
    lower = ( (real - real_mean) ** 2 ).sum()
    fraction = upper / lower
    r2 = 1 - fraction

    mse = ( (real- p) ** 2 ).sum() / len(p)
    rmse = mse ** (0.5)

    mae = ( abs( real - p ) ).sum() / len(p)

    #NMAE(Normalized Mean Absolute Error)-정규화 평균 절대 오차 척도
    nmae = ( abs( real - p ) / real ).sum() / len(p)

print(r2)
print(mse)
print(rmse)
print(mae)
print(nmae)

-4.272479564032698
1548000.0
1244.1864811996631
1120.0
0.01582428583652003

In [16]:
test_dict = pd.DataFrame(['MSE','RMSE','R2','NMAE','NMAE*100'], columns=['평가지표'])
test_dict

       평가지표
0       MSE
1      RMSE
2        R2
3      NMAE
4  NMAE*100

In [17]:
test_dict.columns

pandas.core.indexes.base.Index

In [34]:
for code in tqdm(end.columns.values[1:3]):
    print(end[code])
    print(pred1[code])

100%|██████████| 2/2 [00:00<00:00, 501.05it/s]

0    69900
1    71500
2    70400
3    70600
4    70200
Name: 005930, dtype: int64
0    69400.0
1    69400.0
2    69400.0
3    69400.0
4    69400.0
Name: 005930, dtype: float64
0    106500
1    107500
2    105500
3    106000
4    107000
Name: 000660, dtype: int64
0    97100.0
1    97900.0
2    97900.0
3    93800.0
4    98400.0
Name: 000660, dtype: float64

In [38]:
eval_dict = pd.DataFrame(['MSE','RMSE','R2','NMAE','NMAE*100'], columns=['평가지표'])
for code in tqdm(end.columns.values[1:]):
    one_eval_list = []
    real = end[code]
    pred = pred1[code]

    # MSE
    mse = ( (real - pred) ** 2 ).sum() / len(pred)
        
    # RMSE
    rmse = mse ** (1/2)
    
    # MAE
    mae = ( abs( real - pred ) ).sum() / len(pred)
    
    # R2
    real_mean = real.mean()
    upper = ( (real - pred) ** 2 ).sum()
    lower = ( (real - real_mean) ** 2 ).sum()
    if lower == 0:
        fraction = 0
    else:
        fraction = upper / lower
    r2 = 1 - fraction
    
    #NMAE(Normalized Mean Absolute Error)-정규화 평균 절대 오차 척도
    nmae = ( abs( real - pred ) / real ).sum() / len(pred)  
    
    # 평가지표 셋 만들기
    one_eval_list.append(mse)
    one_eval_list.append(rmse)
    one_eval_list.append(r2)
    one_eval_list.append(nmae)
    one_eval_list.append(nmae*100)
    eval_dict[code] = one_eval_list

# 평가지표 셋에서 전체 종목 평균 구하기
eval_dict['평가지표_평균'] = eval_dict.mean(axis=1)

# 평가지표 평균 출력
print(eval_dict[['평가지표', '평가지표_평균']])

100%|██████████| 370/370 [00:01<00:00, 349.00it/s]

       평가지표       평가지표_평균
0       MSE  1.628383e+08
1      RMSE  5.872199e+03
2        R2 -3.794090e+01
3      NMAE  6.312794e-02
4  NMAE*100  6.312794e+00

In [39]:
eval_dict

,평가지표,005930,000660,035420,035720,207940,005935,051910,006400,005380,...,102710,314130,035890,032620,220630,064260,287410,110790,099320,평가지표_평균
0,MSE,1.548000e+06,9.221600e+07,1.607000e+08,3.770000e+07,1.680000e+08,4.138000e+06,1.245400e+09,1.138800e+09,1.415000e+07,...,56000.000000,2.681000e+06,530.000000,156180.000000,322155.000000,7.412860e+06,70540.000000,49000.000000,1.446400e+08,1.628383e+08
1,RMSE,1.244186e+03,9.602916e+03,1.267675e+04,6.140033e+03,1.296148e+04,2.034207e+03,3.529023e+04,3.374611e+04,3.761649e+03,...,236.643191,1.637376e+03,23.021729,395.196154,567.586998,2.722657e+03,265.593675,221.359436,1.202664e+04,5.872199e+03
2,R2,-4.272480e+00,-1.834320e+02,-1.469336e+01,-8.285714e+00,-6.720588e+00,-1.747321e+01,-1.561287e+00,-6.421794e+00,-7.172330e-01,...,-0.750000,-1.571456e+00,0.204204,-6.027538,-482.716216,-4.897074e+01,-0.004614,-0.310160,-4.583938e+01,-3.794090e+01
3,NMAE,1.582429e-02,8.901426e-02,3.029858e-02,4.532189e-02,1.376015e-02,2.990540e-02,3.624999e-02,4.311091e-02,1.359371e-02,...,0.007612,3.711526e-02,0.009839,0.045894,0.114015,3.075544e-01,0.032652,0.004779,2.481262e-01,6.312794e-02
4,NMAE*100,1.582429e+00,8.901426e+00,3.029858e+00,4.532189e+00,1.376015e+00,2.990540e+00,3.624999e+00,4.311091e+00,1.359371e+00,...,0.761156,3.711526e+00,0.983891,4.589416,11.401472,3.075544e+01,3.265230,0.477910,2.481262e+01,6.312794e+00

In [53]:
def evaluation_index(prediction_set, real_set):
    eval_dict = pd.DataFrame(['MSE','RMSE','R2','NMAE','NMAE*100'], columns=['평가지표'])
    for code in tqdm(end.columns.values[1:]):
        one_eval_list = []
        real = end[code]
        pred = pred1[code]

        # MSE
        mse = ( (real - pred) ** 2 ).sum() / len(pred)
            
        # RMSE
        rmse = mse ** (1/2)
        
        # MAE
        mae = ( abs( real - pred ) ).sum() / len(pred)
        
        # R2
        real_mean = real.mean()
        upper = ( (real - pred) ** 2 ).sum()
        lower = ( (real - real_mean) ** 2 ).sum()
        if lower == 0:
            fraction = 0
        else:
            fraction = upper / lower
        r2 = 1 - fraction
        
        #NMAE(Normalized Mean Absolute Error)-정규화 평균 절대 오차 척도
        nmae = ( abs( real - pred ) / real ).sum() / len(pred)  
        
        # 평가지표 셋 만들기
        one_eval_list.append(mse)
        one_eval_list.append(rmse)
        one_eval_list.append(r2)
        one_eval_list.append(nmae)
        one_eval_list.append(nmae*100)
        eval_dict[code] = one_eval_list

    # 평가지표 셋에서 전체 종목 평균 구하기
    eval_dict['평가지표_평균'] = eval_dict.mean(axis=1)

    # 평가지표 평균 출력
    print(eval_dict[['평가지표', '평가지표_평균']])

    return eval_dict

In [54]:
result = evaluation_index(pred1, end)

100%|██████████| 370/370 [00:01<00:00, 318.17it/s]

       평가지표       평가지표_평균
0       MSE  1.879083e+10
1      RMSE  7.887180e+04
2        R2 -3.576180e+05
3      NMAE  3.098743e+00
4  NMAE*100  3.098743e+02