In [17]:
import pandas as pd
from tqdm import tqdm

In [18]:
# 과학적 표기법(Scientific notation)
# pd.set_option('display.float_format', '{:.2e}'.format)

In [19]:
# 판다스 라이브러리에서 과학적 표기 사용 안하기
pd.options.display.float_format = '{:.5f}'.format

# 실제 종가 파일

In [20]:
end = pd.read_csv('20211101_05_end.csv')
end

,Day,005930,000660,035420,035720,207940,005935,051910,006400,005380,...,078020,102710,314130,035890,032620,220630,064260,287410,110790,099320
0,2021-11-01,69900,106500,408500,125500,874000,65200,832000,723000,208000,...,9030,28950,36600,1845,8050,4930,8970,7480,41600,50300
1,2021-11-02,71500,107500,410000,128000,874000,66200,831000,731000,210000,...,9060,29150,38000,1875,8090,4965,9050,7430,41650,49950
2,2021-11-03,70400,105500,402500,124500,874000,66200,784000,732000,208500,...,9040,29000,38650,1830,7900,4980,9080,7110,42000,48850
3,2021-11-04,70600,106000,411500,130000,865000,66600,790000,751000,214000,...,9020,28750,39750,1815,7870,4975,8100,6990,42100,47350
4,2021-11-05,70200,107000,410500,128500,864000,66300,786000,755000,215000,...,8940,28650,38400,1800,7670,5010,8480,6780,41850,45550

# 예측 파일(제출 파일)

In [41]:
pred = pd.read_csv('제출파일/BASELINE_Linear.csv')

In [42]:
pred

,Day,000060,000080,000100,000120,000150,000240,000250,000270,000660,...,330860,336260,336370,347860,348150,348210,352820,357780,363280,950130
0,2021-11-01,27919.53061,34687.67346,60773.77953,142621.81539,104901.69866,16669.44797,47219.59511,85236.83317,103490.35239,...,49749.40597,51984.32294,84384.02178,36846.59270,25721.02666,53328.35033,336697.74358,262257.53831,27176.08509,17382.21919
1,2021-11-02,28750.75048,35032.65138,60312.13002,143012.92786,107216.34232,17001.59476,46672.35119,85360.32765,102788.68737,...,48923.25369,51539.56413,84739.15798,35258.22751,25330.52806,53645.46666,335662.14946,264562.23065,27415.54919,17338.52254
2,2021-11-03,28858.09563,34995.88857,60241.47041,145626.79224,111192.73342,17665.57795,45757.68352,85665.32638,102943.41908,...,48834.42854,49341.15373,85450.80606,35320.47924,25623.13182,55136.12148,329167.71887,264623.11960,27466.44667,17286.57723
3,2021-11-04,28901.30191,34866.09806,59701.56973,145351.53659,109530.74154,17846.02296,46380.15235,85494.86445,99958.47685,...,48954.93564,48626.25611,84823.88987,34343.01685,25878.11514,55964.13551,329482.60972,261821.14059,27594.35175,17247.87612
4,2021-11-05,28152.93854,34873.93908,59968.39316,143505.82720,108761.77788,18078.26697,46975.70129,84943.13573,100294.82934,...,49427.01946,47063.10508,86397.65181,34062.80837,26472.65762,55323.58742,321108.35666,264131.89775,27408.36665,17492.77382
5,2021-11-29,27919.53061,34687.67346,60773.77953,142621.81539,104901.69866,16669.44797,47219.59511,85236.83317,103490.35239,...,49749.40597,51984.32294,84384.02178,36846.59270,25721.02666,53328.35033,336697.74358,262257.53831,27176.08509,17382.21919
6,2021-11-30,28750.75048,35032.65138,60312.13002,143012.92786,107216.34232,17001.59476,46672.35119,85360.32765,102788.68737,...,48923.25369,51539.56413,84739.15798,35258.22751,25330.52806,53645.46666,335662.14946,264562.23065,27415.54919,17338.52254
7,2021-12-01,28858.09563,34995.88857,60241.47041,145626.79224,111192.73342,17665.57795,45757.68352,85665.32638,102943.41908,...,48834.42854,49341.15373,85450.80606,35320.47924,25623.13182,55136.12148,329167.71887,264623.11960,27466.44667,17286.57723
8,2021-12-02,28901.30191,34866.09806,59701.56973,145351.53659,109530.74154,17846.02296,46380.15235,85494.86445,99958.47685,...,48954.93564,48626.25611,84823.88987,34343.01685,25878.11514,55964.13551,329482.60972,261821.14059,27594.35175,17247.87612
9,2021-12-03,28152.93854,34873.93908,59968.39316,143505.82720,108761.77788,18078.26697,46975.70129,84943.13573,100294.82934,...,49427.01946,47063.10508,86397.65181,34062.80837,26472.65762,55323.58742,321108.35666,264131.89775,27408.36665,17492.77382

# 예측 셋 중 public 평가 셋 만 가져오기

In [43]:
pred1 = pred.loc[:4]
pred1

,Day,000060,000080,000100,000120,000150,000240,000250,000270,000660,...,330860,336260,336370,347860,348150,348210,352820,357780,363280,950130
0,2021-11-01,27919.53061,34687.67346,60773.77953,142621.81539,104901.69866,16669.44797,47219.59511,85236.83317,103490.35239,...,49749.40597,51984.32294,84384.02178,36846.59270,25721.02666,53328.35033,336697.74358,262257.53831,27176.08509,17382.21919
1,2021-11-02,28750.75048,35032.65138,60312.13002,143012.92786,107216.34232,17001.59476,46672.35119,85360.32765,102788.68737,...,48923.25369,51539.56413,84739.15798,35258.22751,25330.52806,53645.46666,335662.14946,264562.23065,27415.54919,17338.52254
2,2021-11-03,28858.09563,34995.88857,60241.47041,145626.79224,111192.73342,17665.57795,45757.68352,85665.32638,102943.41908,...,48834.42854,49341.15373,85450.80606,35320.47924,25623.13182,55136.12148,329167.71887,264623.11960,27466.44667,17286.57723
3,2021-11-04,28901.30191,34866.09806,59701.56973,145351.53659,109530.74154,17846.02296,46380.15235,85494.86445,99958.47685,...,48954.93564,48626.25611,84823.88987,34343.01685,25878.11514,55964.13551,329482.60972,261821.14059,27594.35175,17247.87612
4,2021-11-05,28152.93854,34873.93908,59968.39316,143505.82720,108761.77788,18078.26697,46975.70129,84943.13573,100294.82934,...,49427.01946,47063.10508,86397.65181,34062.80837,26472.65762,55323.58742,321108.35666,264131.89775,27408.36665,17492.77382

# 평가지표 함수화

In [44]:
def evaluation_index(prediction_set, real_set):
    eval_set = pd.DataFrame(['MSE','RMSE','R2','NMAE','NMAE*100'], columns=['평가지표'])
    for code in tqdm(end.columns.values[1:]):
        one_eval_list = []
        real = real_set[code]
        pred = prediction_set[code]

        # MSE
        mse = ( (real - pred) ** 2 ).sum() / len(pred)
            
        # RMSE
        rmse = mse ** (1/2)
        
        # MAE
        mae = ( abs( real - pred ) ).sum() / len(pred)
        
        # R2
        real_mean = real.mean()
        upper = ( (real - pred) ** 2 ).sum()
        lower = ( (real - real_mean) ** 2 ).sum()
        if lower == 0:
            fraction = 0
        else:
            fraction = upper / lower
        r2 = 1 - fraction
        
        #NMAE(Normalized Mean Absolute Error)-정규화 평균 절대 오차 척도
        nmae = ( abs( real - pred ) / real ).sum() / len(pred)  
        
        # 평가지표 셋 만들기
        one_eval_list.append(mse)
        one_eval_list.append(rmse)
        one_eval_list.append(r2)
        one_eval_list.append(nmae)
        one_eval_list.append(nmae*100)
        eval_set[code] = one_eval_list

    # 평가지표 셋에서 전체 종목 평균 구하기
    eval_set['평가지표_평균'] = eval_set.mean(axis=1)

    # 평가지표 평균 출력
    print(eval_set[['평가지표', '평가지표_평균']])

    return eval_set

In [45]:
result = evaluation_index(pred1, end)

100%|███████████████████████████████████████████████████████████████████████████████| 370/370 [00:00<00:00, 388.88it/s]

       평가지표        평가지표_평균
0       MSE 56380357.34784
1      RMSE     3488.37136
2        R2      -49.06808
3      NMAE        0.03563
4  NMAE*100        3.56289

In [10]:
result

,평가지표,005930,000660,035420,035720,207940,005935,051910,006400,005380,...,102710,314130,035890,032620,220630,064260,287410,110790,099320,평가지표_평균
0,MSE,1511938.40000,72865139.17301,151551995.00000,37700000.00000,122200000.00000,3618810.80000,1323938204.37344,1566631560.00000,11996925.21809,...,32324.65000,4404611.35000,743.58632,213295.85000,34898.39550,7043593.36800,70540.00000,1667347.45000,37129800.84299,133733195.84905
1,RMSE,1229.60904,8536.10796,12310.64560,6140.03257,11054.41088,1902.31722,36385.96164,39580.69681,3463.65778,...,179.79057,2098.71660,27.26878,461.83964,186.81112,2653.97690,265.59367,1291.25809,6093.42275,5456.63261
2,R2,-4.14965,-144.73028,-13.80000,-8.28571,-4.61581,-15.15541,-1.72281,-9.21006,-0.45594,...,-0.01015,-3.22464,-0.11650,-8.59755,-51.39999,-46.48148,-0.00461,-43.58148,-11.02390,-28.20654
3,NMAE,0.01649,0.07995,0.02934,0.04532,0.01170,0.02808,0.04010,0.05107,0.01316,...,0.00528,0.04778,0.01272,0.05477,0.03454,0.29907,0.03265,0.03045,0.12246,0.05728
4,NMAE*100,1.64882,7.99477,2.93374,4.53219,1.16980,2.80794,4.00991,5.10728,1.31635,...,0.52756,4.77837,1.27163,5.47670,3.45374,29.90707,3.26523,3.04516,12.24607,5.72819